<div ng-controller="ViewBankAccountTransferDetailsController">
    <div class="paddedbottom10">
        <ul class="breadcrumb">
            <li><a href="#/viewloanaccount/{{entityId}}">{{'label.heading.' +entityType | translate}}</a></li>
            <li class="active">{{'label.anchor.bankaccounttransferdetails' | translate}}</li>
        </ul>
    </div>
    <h3>{{ 'label.heading.viewaccounttransferdetails' | translate}}</h3>
<div></div>
    <div ng-if="taskData" ng-include="'views/task/singletask.html'"></div>
</div>
