<div class="col-md-12" ng-controller="clientdocumentTaskController" >
<form name="clientdocumentform" novalidate="" class="row form-horizontal" 
      rc-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
        <div class="form-group">
            <div class="col-sm-2">
                <input ng-autofocus="true" type="text" id="name" name="name" ng-model="formData.name" placeholder="File name" class="form-control" required
                       late-Validate/>
            </div>

            <div class="col-sm-2">
                <textarea rows="1" cols="15" ng-model="formData.description" class="form-control" placeholder="{{'label.input.file.description'|translate}}"></textarea>
            </div>

            <div class="col-sm-2">
                <input type="file" id="file" ng-file-select="onFileSelect($files)">
            </div>

            <div class="col-sm-2">
                <form-validate valattributeform="clientdocumentform" valattribute="name"/>
            </div>

            <div class="col-md-2">
                <button id="save" type="submit" has-permission='CREATE_DOCUMENT' class="btn btn-primary">{{'label.button.upload' | translate}}</button>
            </div>
        </div>

    </fieldset>
    </form>
    <br>
    <table class="table" >
        <thead>
        <tr class="graybg">
            <th>{{'label.heading.name' | translate}}</th>
            <th>{{'label.heading.description' | translate}}</th>
            <th>{{'label.heading.filename' | translate}}</th>
            <th>{{'label.heading.actions' | translate}}</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="clientdocument in clientdocuments">
            <td>{{clientdocument.name}}</td>
            <td>{{clientdocument.description}}</td>
            <td>{{clientdocument.fileName}}</td>
            <td>
                <a target="_blank" href="{{hostUrl}}{{clientdocument.docUrl}}"><i class="icon-cloud-download"></i></a>&nbsp;
                <a ng-click="deleteDocument(clientdocument.id,$index)"><i class="icon-remove"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
