<div ng-controller="datatableTaskController" class="well">

    <!-- Submit form, new data    -->
    <div  ng-show ="status=='ADD'">
        <form class="form-horizontal well"  ng-submit="submit()">

            <div class="error" ng-show="errorStatus || errorDetails">
                <label>{{"label.error" | translate}}</label>
                <label ng-show="errorStatus">{{errorStatus}}</label>
                <label ng-hide="errorStatus" ng-repeat="error in errorDetails">
                    {{error.code | translate:error.args}}-{{error.field}}
                </label>
            </div>
            <fieldset>
                <legend>{{ 'label.heading.makedatatableentry' | translate }}</legend>
                <h3>{{ 'label.heading.datatablename' | translate }}-<strong>{{tableName}}</strong></h3>
                <hr/>
                <div class="form-group" ng-repeat="columnHeader in columnHeaders">
                    <label class="control-label col-sm-3">{{ columnHeader.columnName | prettifyDataTableColumn }}
                        <span ng-show="!columnHeader.isColumnNullable" class="required">*</span>
                    </label>

                    <div class="col-sm-3">
                        <input ng-show="fieldType(columnHeader.columnDisplayType) == 'TEXT'" type="text"
                               ng-model="formData[columnHeader.columnName]" class="form-control"/>
                        <input ng-show="fieldType(columnHeader.columnDisplayType) == 'DATE'" type="text"
                               datepicker-pop="dd MMMM yyyy" ng-model="formDat[columnHeader.columnName]"
                               is-open="opened{{$index}}" class="form-control"/>
                        <div ng-show="fieldType(columnHeader.columnDisplayType) == 'DATETIME'" class="form-inline">
                            <div class="form-group">
                                <input type="text" datepicker-pop="dd MMMM yyyy"
                                       ng-model="formDat[columnHeader.columnName].date"
                                       is-open="opened{{$index}}" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input type="time" placeholder="HH:MM:SS"
                                       ng-model="formDat[columnHeader.columnName].time" class="form-control"/>
                            </div>
                        </div>
                        <div ng-show="fieldType(columnHeader.columnDisplayType) == 'BOOLEAN'">
                            <label class="radio-inline">
                                <input type="radio" ng-model="formData[columnHeader.columnName]"
                                       value="true"/>
                                {{'label.input.true' | translate}}
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="formData[columnHeader.columnName]"
                                       value="false"/>
                                {{'label.input.false' | translate}}
                            </label>
                        </div>
                <span data-ng-switch on="columnHeader.columnDisplayType">
                    <select chosen="columnHeader.columnValues" ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
                            data-ng-switch-when="CODELOOKUP"
                            ng-model="formData[columnHeader.columnName]"
                            ng-options="columnValue.id as columnValue.value for columnValue in columnHeader.columnValues"
                            value="{{columnValue.id}}" class="form-control">
                        <option value="">{{'label.selectone' | translate}}</option>
                    </select>
                    <div  ng-show="showSelect==true">
                        <select chosen="columnHeader.columnValues" ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
                                data-ng-switch-when="CODEVALUE"
                                ng-model="formData[columnHeader.columnName]"
                                ng-options="columnValue.value as columnValue.value for columnValue in columnHeader.columnValues"
                                value="{{columnValue.id}}" class="form-control">
                            <option value="">{{'label.selectone' | translate}}</option>
                        </select>
                    </div>
                    <div ng-show="showSelect==false">
                        <select chosen="columnHeader.columnValues" ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
                                data-ng-switch-when="CODEVALUE"
                                chosen="columnHeader.columnValues"
                                ng-model="formData[columnHeader.columnName]"
                                ng-options="columnValue as columnValue.value for columnValue in columnHeader.columnValues"
                                value="{{columnValue.id}}" class="form-control"
                                ng-change="changeVillage(formData[columnHeader.columnName])">
                            <option value=""> {{'label.selectone' | translate}}</option>
                        </select>
                    </div>
                </span>
                    </div>
                </div>
                <div class="col-md-offset-3">
                    <a id="cancel" class="btn btn-default" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</a>
                    <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_{{tableName}}'>{{ 'label.button.save' | translate }}</button>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- View data    -->

    <div class="btn-group pull-right"  ng-show="status=='VIEW'">
        <a ng-click="editData()"
        <i class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
    </div>
    <div ng-show="status=='VIEW'">
        <table class="table well" >
            <thead>
            <th ng-repeat="column in datatabledetails.columnHeaders">{{column.columnName | prettifyDataTableColumn}}</th>
            </thead>
            <tbody>
            <tr class="pointer-main" ng-repeat="data in datatabledetails.data">
                <td class="pointer" ng-repeat="row in data.row track by $index"
                    ng-click="viewDataTable(clientdatatable.registeredTableName,data)">{{row}}
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered" data-ng-hide="datatabledetails.isMultirow">
            <tr ng-repeat="value in singleRow">
                <td class="graybg table-font-nav">{{value.key | prettifyDataTableColumn}}</td>
                <td><span class="padded-td">{{value.value}}</span></td>
            </tr>
        </table>
    </div>


    <!-- Edit data    -->
    <div  ng-show="status =='EDIT'">
        <form class="form-horizontal" ng-submit="editSubmit()">
            <!--<div ng-show="isViewMode">
                <h2>{{ 'label.heading.viewdatatableentry' | translate }}</h2>

                <div class="row pull-right btn-group">
                    <a ng-click="editDatatableEntry()" class="btn btn-primary" has-permission='UPDATE_{{tableName}}'><i class="icon-edit icon-white"></i>{{
                        'label.button.edit' | translate }}</a>
                    <button type="button" ng-click="deleteDatatableEntry()" class="btn btn-danger" has-permission='DELETE_{{tableName}}'><i
                            class="icon-trash icon-white"></i> {{ 'label.button.delete' | translate }}
                    </button>
                </div>
                <script type="text/ng-template" id="deletedatatable.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <api-validate></api-validate>
                        <br>
                        <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
                    </div>
                </script>
                <h3>{{ 'label.heading.datatablename' | translate }}-<strong>{{tableName}}</strong></h3>
                <hr>
                <table class="width100">
                    <tr ng-repeat="column in columnHeaders">
                        <td class="width30">{{column.columnName | prettifyDataTableColumn}}:</td>
                        <td class="width60" valign="top">{{column.value}}</td>
                    </tr>
                </table>
            </div>-->
            <div>
                <h2>{{ 'label.heading.editdatatableentry' | translate }}</h2>
                <api-validate></api-validate>
                <fieldset>
                    <legend>{{ 'label.heading.datatablename' | translate }}-<strong>{{tableName}}</strong></legend>
                </fieldset>
                <div class="form-group" ng-repeat="columnHeader in columnHeaders">
                    <label class="control-label col-sm-3">{{ columnHeader.columnName | prettifyDataTableColumn}}
                        <span ng-show="!columnHeader.isColumnNullable" class="required">*</span>
                    </label>

                    <div class="col-sm-3">
                        <input ng-show="fieldType(columnHeader.columnDisplayType) == 'TEXT'" type="text"
                               ng-model="formData[columnHeader.columnName]" class="form-control"/>
                        <input ng-show="fieldType(columnHeader.columnDisplayType) == 'DATE'" type="text"
                               datepicker-pop="dd MMMM yyyy" ng-model="formDat[columnHeader.columnName]"
                               is-open="opened{{$index}}" class="form-control"/>
                        <div ng-show="fieldType(columnHeader.columnDisplayType) == 'DATETIME'" class="form-inline">
                            <div class="form-group">
                                <input type="text" datepicker-pop="dd MMMM yyyy"
                                       ng-model="formDat[columnHeader.columnName].date"
                                       is-open="opened{{$index}}" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input type="time" placeholder="HH:MM:SS"
                                       ng-model="formDat[columnHeader.columnName].time" class="form-control"/>
                            </div>
                        </div>
                        <div ng-show="fieldType(columnHeader.columnDisplayType) == 'BOOLEAN'">
                            <label class="radio-inline">
                                <input type="radio" ng-model="formData[columnHeader.columnName]"
                                       value="true"/>
                                {{'label.input.true' | translate}}
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="formData[columnHeader.columnName]"
                                       value="false"/>
                                {{'label.input.false' | translate}}
                            </label>
                        </div>
                <span data-ng-switch on="columnHeader.columnDisplayType">
                    <select chosen="columnHeader.columnValues" ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
                            data-ng-switch-when="CODELOOKUP"
                            ng-model="formData[columnHeader.columnName]"
                            ng-options="columnValue.id as columnValue.value for columnValue in columnHeader.columnValues"
                            value="{{columnValue.id}}" class="form-control">
                        <option value="">{{'label.selectone' | translate}}</option>
                    </select>
                    <div  ng-show="showSelect==true">
                        <select chosen="columnHeader.columnValues" ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
                                data-ng-switch-when="CODEVALUE"
                                ng-model="formData[columnHeader.columnName]"
                                ng-options="columnValue.value as columnValue.value for columnValue in columnHeader.columnValues"
                                value="{{columnValue.id}}" class="form-control">
                            <option value="">{{'label.selectone' | translate}}</option>
                        </select>
                    </div>
                    <div ng-show="showSelect==false">
                        <select chosen="columnHeader.columnValues" ng-show="fieldType(columnHeader.columnDisplayType) == 'SELECT'"
                                data-ng-switch-when="CODEVALUE"
                                chosen="columnHeader.columnValues"
                                ng-model="formData[columnHeader.columnName]"
                                ng-options="columnValue as columnValue.value for columnValue in columnHeader.columnValues "
                                value="{{columnValue.id}}" class="form-control"
                                ng-change="changeVillage(formData[columnHeader.columnName])">
                            <option value=""> {{'label.selectone' | translate}}</option>
                        </select>
                    </div>
                </span>
                    </div>

                </div>
                <div class="col-md-offset-3">
                    <a id="cancel" class="btn btn-default" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</a>
                    <button id="save" type="submit" has-permission='UPDATE_{{tableName}}' class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
                </div>
            </div>
        </form>
    </div>

</div>
