<div class="col-md-12" ng-controller="InitiateBulkTransferController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' |
				translate}}</a></li>
        <li><a href="#/viewbulktransfer">{{'label.anchor.bulk.transfer' |
				translate}}</a></li>
        <li class="active">{{'label.anchor.reassign.staff' | translate}}
        </li>
    </ul>
    <form class="form-horizontal well" novalidate=""  name="staffReassignInputForm">
        <api-validate></api-validate>
        <div class="form-horizontal error" ng-if="displayError()">
                        {{labelEmptyListErrorMessage | translate}}
        </div>
        <fieldset>
        <legend>{{'label.anchor.reassign.staff' | translate}}</legend>
        <div class="text-warning">
            {{'warning.msg.changes.in.the.staff.will.also.change.staff.assigned.to.associated.entities' | translate}} 
        </div>
        <br>
            <div class="form-group">
                <table class="col-sm-10">
                    <tbody>
                        <tr>
                            <td class="width14">
                                <label class="control-label">{{'label.menu.selectoffice' | translate }}
                                    <span class="required">*</span>
                                </label>
                            </td>
                            <td class="width36 paddedbottom10">
                                <select chosen="offices" name="fromOfficeId" id="fromOfficeId" ng-model="requestData.fromOfficeId" data-ng-options="office.id as office.name for office in offices" 
                                data-ng-change="getFromStaffOptions(requestData.fromOfficeId)" class="form-control" >
                                    <option value="" >{{'label.selectoffice' | translate}}</option>
                                </select>
                                <form-validate valattributeform="staffReassignInputForm" valattribute="fromOfficeId" />
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td class="width14">
                                <label class="control-label">{{ 'label.menu.selectloanofficer' | translate }}</label>
                            </td>
                            <td class="width36 paddedbottom10">
                                <select chosen="fromStaffOptions" id="fromStaffId" name="fromStaffId" ng-model="requestData.fromStaffId" data-ng-options="officer.id as officer.displayName for officer in fromStaffOptions" class="form-control">
                                    <option value="" >{{'label.selectone' | translate}}</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="getDataForTransfer()" >{{'label.button.fetchdetails' | translate}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="width14" ng-if="showAssignToStaff">
                                <label class="control-label">{{'label.input.assign.to.staff' | translate }} </label>
                            </td>

                            <td class="width36 paddedbottom10" ng-if="showAssignToStaff">
                                <select chosen="toStaffOptions" id="toStaffId" name="toStaffId" ng-model="formData.toStaffId" data-ng-options="officer.id as officer.displayName for officer in toStaffOptions" class="form-control">
                                    <option value="" >{{'label.selectone' | translate}}</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </form>
    <form novalidate=""  name="staffReassignForm">
            <div ng-if="recordsStatus()">
                <p> {{'label.message.no.records.found' | translate}} </p>
            </div>

            <div class="row paddedleft">
                <div>
                    <div class="form-group">
                        <table ng-if="showAssignToStaff">
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" ng-model="selectAll.checked" ng-change="selectAll(selectAll.checked)" />
                                    </td>
                                    <td>
                                        <label class="col-offset-sm-1">{{'label.input.selectall' | translate}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group" data-ng-show="centers">
                        <table>
                            <tbody>
                                <tr>
                                    <hr/>
                                    <strong>{{'label.heading.centerdetails' | translate}}</strong>&nbsp;
                                    <input type="checkbox" ng-model="allCenter.checked" ng-change="selectAllCenters(allCenter.checked)" />
                                    <hr/>
                                </tr>
                                <tr ng-repeat-start="center in centers">
                                    <td>
                                        <button type="button" style="border: 0" ng-click="expandAll(center, allExpanded = !allExpanded)">
                                            <span ng-bind="allExpanded ? '-' : '+'"></span>
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td>&nbsp;&nbsp;
                                        <input class="pull-left" type="checkbox" ng-model="center.checked" ng-change="centerLevel(center.checked,center.id)">&nbsp;&nbsp;<strong>{{center.name}}</strong>
                                    </td>
                                </tr>
                                <tr ng-repeat-end ng-if="center.isExpanded">
                                    <td></td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr ng-repeat-start="group in center.groupMembers">
                                                    <td>
                                                        <button type="button" style="border: 0" ng-if="group.clientMembers" ng-click="expandGroup(group, goupExpanded = !goupExpanded)">
                                                            <span style="border: 0" ng-bind="goupExpanded ? '-' : '+'"></span>
                                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{group.name}}</strong></td>
                                                </tr>
                                                <tr ng-repeat-end ng-if="group.isExpanded">
                                                    <td></td>
                                                    <td>
                                                        <table>
                                                            <tbody>
                                                                <tr ng-repeat="client in group.clientMembers">
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{client.displayName}}</strong></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table>
                                            <tr ng-repeat="client in center.clientMembers">
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{client.displayName}}</strong></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group" data-ng-show="groups">
                        <table>
                            <tbody>
                                <tr>
                                    <hr/>
                                    <strong>{{'label.heading.groupdetails' | translate}}</strong>&nbsp;
                                    <input type="checkbox" ng-model="allGroups.checked" ng-change="selectAllGroups(allGroups.checked)">
                                    <hr/>
                                </tr>
                                <tr ng-repeat-start="group in groups">
                                    <td>
                                        <button ng-if="group.clientMembers" type="button" style="border: 0" ng-click="expandGroup(group, goupExpanded = !goupExpanded)">
                                            <span style="border: 0" ng-bind="goupExpanded ? '-' : '+'"></span>
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input class="pull-left" type="checkbox" ng-model="group.checked" ng-change="getSelectedGroupDetails(group.checked, group.id)"><strong>{{group.name}}</strong></td>
                                </tr>
                                <tr ng-repeat-end ng-if="group.isExpanded">
                                    <td></td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr ng-repeat="client in group.clientMembers">
                                                    <td><strong>{{client.displayName}}</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group" data-ng-show="clients">
                        <table>
                            <tbody>
                                <tr>
                                    <hr/>
                                    <strong>{{'label.heading.clientdetails' | translate}}</strong> &nbsp;
                                    <input type="checkbox" ng-model="allClients.checked" ng-change="selectAllClients(allClients.checked)">
                                    <hr/>
                                </tr>
                                <tr ng-repeat="client in clients">
                                    <td>
                                        <input class="pull-left" type="checkbox" ng-model="client.checked" ng-change="getSelectedClientsDetails(client.checked, client.id)">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><strong>{{client.displayName}}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group" data-ng-show="orphanGroups">
                        <table>
                            <tbody>
                                <tr>
                                    <hr/>
                                    <strong>{{'label.heading.orphan.groupdetails' | translate}}</strong>&nbsp;
                                    <input type="checkbox" ng-model="allOrphanGroups.checked" ng-change="selectAllOrphanGroups(allOrphanGroups.checked)">
                                    <hr/>
                                </tr>
                                <tr ng-repeat-start="orphanGroup in orphanGroups">
                                    <td>
                                        <button ng-if="orphanGroup.clientMembers" type="button" style="border: 0" ng-click="expandGroup(orphanGroup, goupExpanded = !goupExpanded)">
                                            <span style="border: 0" ng-bind="goupExpanded ? '-' : '+'"></span>
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input class="pull-left" type="checkbox" ng-model="orphanGroup.checked" ng-change="getSelectedOrphanGroupDetails(orphanGroup.checked, orphanGroup.id)"><strong>{{orphanGroup.name}}</strong></td>
                                </tr>
                                <tr ng-repeat-end ng-if="orphanGroup.isExpanded">
                                    <td></td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr ng-repeat="ogClient in orphanGroup.clientMembers">
                                                    <td><strong>{{ogClient.displayName}}</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group" data-ng-show="orphanClients">
                        <table>
                            <tbody>
                                <tr>
                                    <hr/>
                                    <strong>{{'label.heading.orphan.clientdetails' | translate}}</strong> &nbsp;
                                    <input type="checkbox" ng-model="allOrphanClients.checked" ng-change="selectAllOrphanClients(allOrphanClients.checked)">
                                    <hr/>
                                </tr>
                                <tr ng-repeat="oClient in orphanClients">
                                    <td>
                                        <input class="pull-left" type="checkbox" ng-model="oClient.checked" ng-change="getSelectedOrphanClientsDetails(oClient.checked, oClient.id)">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><strong>{{oClient.displayName}}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group" data-ng-show="orphanLoans">
                        <table>
                            <tbody>
                                <tr>
                                    <hr/>
                                    <strong>{{'label.heading.orphan.loandetails' | translate}}</strong> &nbsp;
                                    <input type="checkbox" ng-model="allOrphanLoans.checked" ng-change="selectAllOrphanAccounts(getSelectedOrphanLoans, orphanLoans, allOrphanLoans.checked)">
                                    <hr/>
                                </tr>
                                <tr ng-repeat="orphanLoan in orphanLoans">
                                    <td>
                                        <input class="pull-left" type="checkbox" ng-model="orphanLoan.checked" ng-change="getSelectedOrphanAccounts(getSelectedOrphanLoans, orphanLoans,orphanLoan.checked, orphanLoan.id)">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><strong>{{orphanLoan.productName}}({{orphanLoan.accountNo}})</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group" data-ng-show="orphanLoanApps">
                        <table>
                            <tbody>
                                <tr>
                                    <hr/>
                                    <strong>{{'label.heading.orphan.loanappdetails' | translate}}</strong> &nbsp;
                                    <input type="checkbox" ng-model="allOrphanLoanApps.checked" ng-change="selectAllOrphanAccounts(getSelectedOrphanLoanApps, orphanLoanApps, allOrphanLoanApps.checked)">
                                    <hr/>
                                </tr>
                                <tr ng-repeat="orphanLoanApp in orphanLoanApps">
                                    <td>
                                        <input class="pull-left" type="checkbox" ng-model="orphanLoanApp.checked" ng-change="getSelectedOrphanAccounts(getSelectedOrphanLoanApps, orphanLoanApps,orphanLoanApp.checked, orphanLoanApp.id)">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><strong>{{orphanLoanApp.productName}}({{orphanLoanApp.accountNo}})</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group" data-ng-show="orphanSavings">
                        <table>
                            <tbody>
                                <tr>
                                    <hr/>
                                    <strong>{{'label.heading.orphan.savingsdetails' | translate}}</strong> &nbsp;
                                    <input type="checkbox" ng-model="allOrphanSavings.checked" ng-change="selectAllOrphanAccounts(getSelectedOrphanSavings, orphanSavings, allOrphanSavings.checked)">
                                    <hr/>
                                </tr>
                                <tr ng-repeat="orphanSaving in orphanSavings">
                                    <td>
                                        <input class="pull-left" type="checkbox" ng-model="orphanSaving.checked" ng-change="getSelectedOrphanAccounts(getSelectedOrphanSavings, orphanSavings,orphanSaving.checked, orphanSaving.id)">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><strong>{{orphanSaving.productName}}({{orphanSaving.accountNo}})</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </div>
                <div ng-if="showAssignParentStaffCheckbox()">
                    <input id="isAssignParentStaff" type="checkbox" ng-model="formData.isAssignParentStaff">
                    <label class="control-label col-sm-2">{{'label.heading.is.assign.parent.staff' | translate}}</label>
                </div>
            </div>
            <div class="col-md-offset-3" ng-if="showAssignToStaff">
                <a href="#/viewbulktransfer">
                    <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                </a>
                <button class="btn btn-primary" class="btn btn-primary" ng-click="reassignStaff()" has-permission='SUBMIT_TRANSFER_ENTITIES'>{{'label.button.submit' | translate}}
                </button>
            </div>
        </fieldset>
    </form>
</div>