<div class="col-md-12" ng-controller="ViewBulkTransferController">
	<ul class="breadcrumb">
		<li><a href="#/organization">{{'label.anchor.organization' |
				translate}}</a></li>
		<li><a href="#/bulktransfer">{{'label.anchor.view.bulk.transfer' |
				translate}}</a></li>
		<li class="active">{{'label.anchor.bulk.transfer.request' |
			translate}}</li>
	</ul>
	<div  class="form-horizontal well" >
        <table class="table">
            <tr>
                <td class="col-sm-3" align="right">
                   <b> {{ 'label.input.from.office' | translate }}:</b>
                </td>
                <td  class="col-sm-3" align="left">
                    <label>{{bulkTransfer.fromOffice.name}}</label>
                </td>
                <td class="col-sm-3" align="right">
                   <b> {{ 'label.input.to.office' | translate }}:</b>
                </td>
                <td  class="col-sm-3" align="left">
                    <label>{{bulkTransfer.toOffice.name}}</label>
                </td>
            </tr>
            <tr >
                <td  class="col-sm-3" align="right">
                    <b>{{ 'label.heading.from.staff' | translate }}:</b>
                </td>
                <td  class="col-sm-3" align="left">
                    <label>{{bulkTransfer.fromStaff.displayName}}</label>
                </td>
                <td  class="col-sm-3" align="right">
                    <b>{{ 'label.heading.to.staff' | translate }}:</b>
                </td>
                <td  class="col-sm-3" align="left">
                    <label>{{bulkTransfer.toStaff.displayName}}</label>
                </td>

            </tr>
            <tr>
                <td  class="col-sm-3" align="right">
                    <b>{{ 'label.heading.is.transfer.staff' | translate }}:</b>
                </td>
                <td  class="col-sm-2" align="left">
                    <label><input id="activeCheckbox" type="checkbox" ng-model="bulkTransfer.isStaffTransfer" ng-disabled = "true"></label>
                </td>
                <td  class="col-sm-2"align="right">
                    <b>{{ 'label.heading.status' | translate }}:</b>
                </td>
                <td  class="col-sm-3" align="left">
                    <label>{{bulkTransfer.status.value}}</label>
                </td>
            </tr>
        </table>
	<form class="form-horizontal">
		<api-validate></api-validate>
		<fieldset>
			<legend>{{'label.heading.requested.data' |
				translate}}</legend>

			<div class="row paddedleft" ng-if="bulkTransfer.status.id==pendingState">
				<div>
					<div class="form-group" data-ng-show="centers">
						<table>
							<tbody>
								<tr> 
									<strong>{{'label.heading.centerdetails' | translate}}</strong>
									<hr/>
								</tr>
								<tr ng-repeat-start="center in centers">
									<td ng-if= "entityExists(selectedCenters, center.id)">
										<button type="button" style="border: 0"
											ng-click="expandAll(center, allExpanded = !allExpanded)">
											<span ng-bind="allExpanded ? '-' : '+'"></span>
										</button>&nbsp;&nbsp;&nbsp;&nbsp;
									</td>{{center.id}}
									<td ng-if= "entityExists(selectedCenters, center.id)">&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{center.name}}</strong>
									</td>
								</tr>
								<tr ng-repeat-end ng-if="center.isExpanded">
									<td></td>
									<td>
										<table>
											<tbody>
												<tr ng-repeat-start="group in center.groupMembers">
													<td>
														<button type="button" style="border: 0"
															ng-click="expandGroup(group, goupExpanded = !goupExpanded)">
															<span style="border: 0"
																ng-bind="goupExpanded ? '-' : '+'"></span>
														</button>&nbsp;&nbsp;&nbsp;&nbsp;
													</td>
													<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{group.name}}</strong></td>
												</tr>
												<tr ng-repeat-end ng-if="group.isExpanded">
													<td></td>
													<td>
														<table>
															<tbody>
																<tr ng-repeat="client in group.clientMembers">
																	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{client.displayName}}</strong></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
										<table>
											<tbody>
												<tr ng-repeat="client in center.clientMembers">
													<td></td>
													<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{client.displayName}}</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="form-group" data-ng-show="groups">
						<table>
							<tbody>
								<tr>
									<hr/>
									<strong>{{'label.heading.groupdetails' | translate}}</strong>
									<hr/>
								</tr>
								<tr ng-repeat-start="group in groups">
									<td ng-if= "entityExists(selectedGroups, group.id)">
										<button type="button" style="border: 0"
											ng-click="expandGroup(group, goupExpanded = !goupExpanded)">
											<span style="border: 0" ng-bind="goupExpanded ? '-' : '+'"></span>
										</button>&nbsp;&nbsp;&nbsp;&nbsp;
									</td>
									<td ng-if= "entityExists(selectedGroups, group.id)">&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{group.name}}</strong></td>
								</tr>
								<tr ng-repeat-end ng-if="group.isExpanded">
									<td></td>
									<td>
										<table>
											<tbody>
												<tr ng-repeat="client in group.clientMembers">
													<td><strong>{{client.displayName}}</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="form-group" data-ng-show="clients">
						<table>
							<tbody>
								<tr>
									<hr/>
									<strong>{{'label.heading.clientdetails' | translate}}</strong>
									<hr/>
								</tr>
								<tr ng-repeat="client in clients"  ng-if= "entityExists(selectedClients, client.id)">
								    <td ng-if= "entityExists(selectedClients, client.id)"><strong>{{client.displayName}}</strong></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-offset-3" ng-if="bulkTransfer.status.id==pendingState">
				<a>
					<button type="button" ng-click="submit('reject')" class="btn btn-default" has-permission='REJECT_TRANSFER_ENTITIES'>{{'label.button.reject'
						| translate}}</button>
				</a>
				<a class="btn btn-primary" class="btn btn-primary"
					ng-click="submit('approve')"  has-permission='APPROVE_TRANSFER_ENTITIES'>{{'label.button.approve' |
					translate}}</a>
			</div>
		
			<div class="row paddedleft" ng-if="bulkTransfer.status.id!=pendingState">
				<div>
					<div class="form-group" data-ng-show="selectedCenters">
						<table>
							<tbody>
								<tr><strong>{{'label.heading.centerdetails' | translate}}</strong>
									<hr/>
								</tr>	
								<tr ng-repeat="center in selectedCenters">
									<td><button type="button" style="border: 0"><span>-</span>
									</button></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{center.name}}</strong></td>
									</tr>							
							</tbody>
						</table>
					</div>
					<div class="form-group" data-ng-show="selectedGroups">
						<table>
							<tbody>
								<tr>
									<hr/><strong>{{'label.heading.groupdetails' | translate}}</strong><hr/>
								</tr>
								<tr ng-repeat="group in selectedGroups">
									<td><button type="button" style="border: 0"><span>-</span></button></td>	
									<td>&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{group.name}}</strong></td>
								</tr>		
							</tbody>
						</table>
					</div>
					<div class="form-group" data-ng-show="selectedClients">
						<table>
							<tbody>
								<tr><hr/><strong>{{'label.heading.clientdetails' | translate}}</strong><hr/></tr>
								<tr ng-repeat="client in selectedClients">
									<td><button type="button" style="border: 0"><span>-</span></button></td>
									<td><strong>{{client.name}}</strong></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
    </div>
</div>