<div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
            <li class="active">{{'label.anchor.notification.management' | translate}}</li>
        </ul>
        <div class="row paddedleft paddedtop">
            <div class="col-sm-6 col-md-6">
                <div class="list-group">
                    <a class="list-group-item" href="#/notification/configuration" has-permission='READ_NOTIFICATIONCONFIG'>
                        <h4 class="list-group-item-heading"><i class="icon-cogs  icon-large"></i>&nbsp;&nbsp;{{'label.anchor.notification.configuration'| translate}}</h4>
                        <p class="list-group-item-text">{{'label.anchor.notification.configuration' | translate}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>