<div class="col-md-12" data-ng-controller="TaskListController">
    <h3 class="paddedleft">
        <strong>{{'label.heading.workflow.tasks' | translate}}</strong>
    </h3>
    <hr/>
    <div class="form-group">
        <div class="col-sm-2">
            <div>
                <input type="checkbox" ng-click="toggleAll()" ng-model="formData.isAllSelected">
                <button ng-if="filterBy == 'unassigned' && hasAnyRowSelected()" class="btn btn-primary" ng-click="assignMe()">{{'label.button.assign' | translate}}</button>
                <button ng-if="(filterBy == 'assigned-workflow' || filterBy == 'assigned-nonworkflow') && hasAnyRowSelected()"
                        class="btn btn-primary" ng-click="unassignMe()">{{'label.button.unassign' | translate}}</button>
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <select chosen="offices" id="office" ng-model="formData.officeId"  class="form-control"
                        ng-options="office.id as office.name for office in offices" value="{{office.id}}" data-placeholder="Office">
                    <option value="">{{'label.alloffice' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <select chosen="parentTaskConfigs" id="workflow" ng-model="formData.parentConfigId"  class="form-control"
                        ng-options="parentTaskConfig.id as parentTaskConfig.name for parentTaskConfig in parentTaskConfigs" value="{{parentTaskConfig.id}}"
                        data-ng-change="getChildrenTaskConfigs()" data-placeholder="Workflow">
                    <option value="">{{'label.allWorkflows' | translate}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-3">
            <div>
                <select chosen="childrenTaskConfigs" id="stage" ng-model="formData.childConfigId"  class="form-control"
                        ng-options="childrenTaskConfig.id as childrenTaskConfig.name for childrenTaskConfig in childrenTaskConfigs" value="{{childrenTaskConfig.id}}"
                        data-placeholder="Stage">
                    <option value="">{{'label.allStages' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-1">
            <div>
                <button class="btn btn-primary" ng-click="getWorkFlowTasks(filterBy)"><i class="icon-refresh"></i></button>
            </div>
        </div>
    </div>
    <div id="home" class="row">
        <div class="col-md-12">
            <div class="card-content no-h-padding">
                <tabset class="paddedtop paddedbottom10" tabset-name="testOne">
                    <tab ng-repeat="taskType in taskTypes" ng-click="getWorkFlowTasks(taskType.status)" ng-init="getWorkFlowTasks(taskTypes[0].status)" active="taskType.active" >

                        <tab-heading>
                            <i class="{{taskType.icon}}"></i> {{taskType.name | translate}}
                        </tab-heading>

                        <div class="table-responsive" data-ng-show="workFlowTasks && workFlowTasks.length > 0">
                            <table id="otherTasks" class="table table-striped card-table">
                                <thead ng-if="false">
                                <tr>
                                    <th></th>
                                    <th >{{'label.title' | translate}}</th>
                                    <th >{{'label.heading.description' | translate}}</th>
                                    <th >{{'label.date' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="workFlowTask in workFlowTasks | filter:filterText | itemsPerPage: pageSize" ng-init="workFlowTask.selected = false" total-items="totalTasks" pagination-id="taskType.id"
                                >
                                    <td >
                                        <ng-form>
                                            <input type="checkbox" ng-model="workFlowTask.selected"/>
                                        </ng-form>
                                    </td>
                                    <td class=" pointer"  ng-click="goToTask(workFlowTask)">
                                        {{workFlowTask.taskName}}

                                    </td>
                                    <td class=" pointer" ng-click="goToTask(workFlowTask)">
                                        <span ng-if="workFlowTask.description">{{workFlowTask.description}}</span>
                                    </td>
                                    <td class=" pointer" ng-click="goToTask(workFlowTask)">
                                        {{workFlowTask.createdOn}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls pagination-id="taskType.id" boundary-links="false" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html" on-page-change="getResultsPage(newPageNumber)"></dir-pagination-controls>
                        </div>

                        <div class="" style="padding:10px;" data-ng-hide="workFlowTasks && workFlowTasks.length > 0">
                            <div class="alert alert-info" style="border-style: dashed;">
                                <span class="fa fa-info-circle"></span> {{'info.message.taskList.noTasks' | translate}}
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>