<div class="col-md-12" data-ng-controller="WorkFlowTasksController">
    <h3 class="paddedleft"><strong>{{'label.heading.workflow.tasks' | translate}}</strong>
        <div class = "btn-group pull-right">
            <button type = "button" class = "btn btn-default" ng-click="getWorkFlowTasks('assigneed')">Assigned</button>
            <button type = "button" class = "btn btn-default" ng-click="getWorkFlowTasks('unassigneed')">Un Assigned</button>
            <button type = "button" class = "btn btn-default" ng-click="getWorkFlowTasks('all')">All</button>
        </div>
    </h3>
    <hr/>
    <div id="home" class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Step Name</th>
                    <th>Status</th>
                    <th>Pending Action</th>
                    <th>Assigneed To</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="workFlowTask in workFlowTasks track by $index">
                        <td>{{workFlowTask.stepName}}</td>
                        <td>{{workFlowTask.stepStatus}}</td>
                        <td>{{workFlowTask.currentAction}}</td>
                        <td>{{workFlowTask.assignedTo}}</td>
                        <td>
                            <button ng-if="loggedInUserId == workFlowTask.assignedId" class="btn btn-primary" ng-click="moveToNextStep(workFlowTask)"> <i class="icon-chevron-right icon-white"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>