<div class="col-md-12" data-ng-controller="WorkflowBankApprovalListController">
    <div>
        <h3 class="paddedleft">
            <strong>{{'label.heading.kotak.credit.approval.list' | translate}}</strong>
        </h3>
    </div>
    <script type="text/ng-template" id="errorDisplay.html">
        <div class="modal-header silver">
            <h3 class="bolder"><strong>{{'label.err.code' | translate}}</strong> {{errCode}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <p><strong>{{'label.err.desc' | translate}}</strong> {{errDesc}}</p>
            <br>  
            <br>         
            <button class="btn btn-warning " ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
        </div>
    </script>
    <div ng-if="errorDetails.length>0">
        <div>
            <h3>There are exceptions click on refresh to update the records </h3>
        </div>
        <api-validate></api-validate>
        <td class="col-sm-1">
            <a id="cancel" class="btn btn-primary ng-binding" ng-click="changeInTab(tabGrouping)"> <i
                    class="icon-repeat icon-white"></i>{{'label.button.refresh' | translate}}</a>
        </td>
    </div>
    <hr/>
        <table class="table">
        <tr>
            <td class="col-md-3">
                <div>
                    <select chosen="offices" id="office" ng-model="formData.officeId" class="form-control"
                            ng-options="office.id as office.name for office in offices" value="{{office.id}}"
                            data-placeholder="Office">
                        <option value="">{{'label.alloffice' | translate}}</option>
                    </select>
                </div>
            </td>
            <td class="col-md-3">
                <div>
                    <select  id="stage" ng-model="formData.workflowLoanStatus"
                            class="form-control"
                            ng-options="status for status in workflowLoanStatusList"
                            value="{{workflow}}"
                            data-placeholder="Stage">
                        <option value="">{{'label.allStatus' | translate}}</option>
                    </select>
                </div>
            </td>
            <td class="col-md-3">
                <div ng-if="allowBcifOperations">
                    <select id="stage" ng-model="formData.crnSelectedOption" class="form-control" ng-options="crnStatuses for crnStatuses in crnSearchList"
                        value="{{crnStatuses}}" ng-change="checkForOption()" >
                    </select>
                </div>
            </td>
            <td class="col-md-3">
                    <div ng-if="allowBcifOperations" >
                        <input ng-model="formData.crnNumber" ng-if="showCrnTextBox" placeholder="Enter the Crn Number">
                        <span class="error" ng-show="showCrnMandatoryMessage">{{'label.error.required'|translate}}</span>
                    </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-3">
                <div>
                    <input type="text" autocomplete="off" id="clientId" ng-model="formData.clientId" placeholder="{{'label.placeholder.clientId' | translate}}"
                        class="form-control">
                 </div>
            </td>
            <td  class="col-md-3">
                <div>
                    <input id="taskCreatedDate" type="text" autocomplete="off" name="taskCreatedDate" 
                       datepicker-pop="{{df}}"
                       placeholder="{{'label.placeholder.task.created.date' | translate}}" 
                      ng-model="formData.taskCreatedDate" is-open="opened1" class="form-control"
                      ng-readonly = "true"/>
                </div>
            </td>
            <td  class="col-sm-3">
                <div>
                    <input id="expectedDisbursementDate" type="text" autocomplete="off" name="expectedDisbursementDate" 
                       datepicker-pop="{{df}}"
                       placeholder="{{'label.placeholder.expected.disbursement.date' | translate}}"
                     ng-model="formData.expectedDisbursementDate" is-open="opened1" 
                     ng-readonly = "true" class="form-control"/>
                </div>
            </td>
            <td  class="col-sm-3">
                <div>
                    <div>
                        <button class="btn btn-primary" ng-click="getWorkFlowBankApprovalTasks(filterBy)"><i
                                class="icon-search"></i>{{'label.button.fetchdetails' | translate}}</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <hr/>
        <tr><td ng-if="isShowBulkOperationsButton" class="col-md-1">{{'label.heading.action' | translate}}</td>
            <td ng-if="isShowBulkOperationsButton" class="col-md-3">
                <div>
                    <select id="actioncrn" ng-model="formData.actionListSelectedOption" class="form-control" ng-options="action for action in actionList"
                        value="{{actionSelected}}" ng-change="checkForSelectedAction(taskPagination.currentPageItems)">
                    </select>
                </div>
            </td>
            <td ng-if="isShowBulkOperationsButton" class="col-sm-1">
                <a id="bulkapproval" ng-disabled="disableProceedButton" class="btn btn-primary pull-right ng-binding"
                ng-click="proceedAction(approvalIdList)"
                ng-if = "true">
                 {{'label.proceed' | translate}}
             </a>
            </td>
               
            <td class="col-sm-5"></td>
        </tr>
    </table>
    <div id="home" class="row">
        <div class="col-md-12">
            <div class="card-content no-h-padding">
                <tabset class="paddedtop paddedbottom10" tabset-name="bankApprovalTabset">
                   <tab heading="{{taskType.name | translate}}" ng-repeat="taskType in taskTypes" select="changeInTab(taskType.grouping)"   ng-if = "taskType.showtab" class='{{taskType.active}}'>
                        <div class="table-responsive" 
                            data-ng-show="taskPagination.currentPageItems.length > 0">
                            <table id="bankapprovals" class="table table-striped card-table">
                                <thead>
                                <th class="col-md-1" ng-if="((taskType.grouping === 'SystemApprove' || taskType.grouping === 'ManualApprove') && (formData.showcheckbox))"><input type="checkbox" ng-model="taskPagination.isAllChecked" data-toggle="tooltip" data-placement="top" ng-change="pushAllApprovalIdIntoList(taskPagination, taskPagination.isAllChecked)" tooltip="{{'label.input.selectall' | translate}}"/></th>
                                <th class="col-md-2">{{'label.heading.officeName' | translate}}</th>
                                <th class="col-md-2">{{'label.heading.clientname' | translate}}({{'label.heading.FCSM.No' | translate}})</th>
                                <th class="col-md-1">{{'label.heading.loanproduct' | translate}}</th>
                                <th ng-if="allowBcifOperations" class="col-md-1">{{'label.crn.status' | translate}}</th> 
                                <th class="col-md-1">{{'label.heading.finfluxId' | translate}}</th> 
                                <th class="col-md-1">{{'label.heading.status' | translate}}</th>
                                <th class="col-md-2">{{'label.heading.date' | translate}}</th> 
                                </thead>
                                <tbody>
                                <tr ng-repeat="workflowBankApproval in taskPagination.currentPageItems">
                                    <td  ng-if="((taskType.grouping === 'SystemApprove' || taskType.grouping === 'ManualApprove') && (formData.showcheckbox))">
                                        <input class="pull-left" type="checkbox" ng-disabled="checkBoxDisable[$index]" ng-model="workflowBankApproval.isChecked" ng-change="
                                               pushApprovalIdIntoList(workflowBankApproval,$index,workflowBankApproval.isChecked)" ></th>
                                    </td>
                                    <td class=" pointer" ng-click="goToBankApprovalView(workflowBankApproval, taskType.grouping)">
                                        {{getOfficeName(workflowBankApproval.officeName,workflowBankApproval.officeReferenceNumber)}}
                                    </td>
                                    <td class=" pointer" ng-click="goToBankApprovalView(workflowBankApproval, taskType.grouping)">
                                     <span> {{workflowBankApproval.clientName}} 
                                     ({{workflowBankApproval.clientFCSMNumber}}) </span>
                                    </td>
                                    <td class=" pointer" ng-click="goToBankApprovalView(workflowBankApproval, taskType.grouping)">
                                      {{workflowBankApproval.productName}}({{workflowBankApproval.requestLoanAmount}})
                                    </td>
                                    <td ng-if="allowBcifOperations"><span ng-click="goToBankApprovalView(workflowBankApproval, taskType.grouping)" ng-if="getCrnStatus(workflowBankApproval)!='CRN Creation Failed' && getCrnStatus(workflowBankApproval)!='Dedupe Check Failed'">
                                        {{getCrnStatus(workflowBankApproval)}}
                                    </span>
                                    <span ng-if="getCrnStatus(workflowBankApproval)=='CRN Creation Failed' || getCrnStatus(workflowBankApproval)=='Dedupe Check Failed'"><a style="color:red" ng-click="openErrorMessage(workflowBankApproval)">{{getCrnStatus(workflowBankApproval)}}</a></span>
                                    </td>
                                    <td class=" pointer" ng-click="goToBankApprovalView(workflowBankApproval, taskType.grouping)">
                                            {{workflowBankApproval.finfluxId}}
                                        </td> 
                                    <td class=" pointer" ng-click="goToBankApprovalView(workflowBankApproval, taskType.grouping)">
                                        <i tooltip-placement="right" class="icon-circle " ng-style="getColor(workflowBankApproval.workflowLoanStatus.code)"></i>
                                        {{workflowBankApproval.workflowLoanStatus.code | translate}}
                                    </td>    
                                    <td class=" pointer" ng-click="goToBankApprovalView(workflowBankApproval, taskType.grouping)">
                                        {{workflowBankApproval.taskCreatedDate}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <ul class="pager">
                                <li class="previous">
                                    <a id="prev" ng-click="taskPagination.previous()" href=""
                                       ng-hide="!taskPagination.hasPrevious()">&larr; {{'label.button.previous' | translate}}</a>
                                </li>
                                <li class="next">
                                    <a id="next" ng-click="taskPagination.next()" href=""
                                       ng-hide="!taskPagination.hasNext()">{{'label.button.next' | translate}} &rarr;</a></li>
                            </ul>
                        </div>

                        <div class="" style="padding:10px;" data-ng-hide="taskPagination.currentPageItems && taskPagination.currentPageItems.length > 0">
                            <div class="alert alert-info" style="border-style: dashed;">
                                <span class="fa fa-info-circle"></span> {{'info.message.taskList.noTasks' | translate}}
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>