<div class="col-md-12" ng-controller="CreateSurveyController">
    <ul class="breadcrumb">
        <li>{{'label.anchor.admin' | translate}}</li>
        <li><a href="#/system">{{'system' | translate}}</a></li>
        <li><a href="#/admin/system/surveys">{{'label.anchor.surveys' | translate}}</a></li>
        <li class="active">{{'label.button.surveys.create' | translate}}</li>
    </ul>

    <form name="createsurveyform" novalidate="" class="form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.survey' | translate}} <span class="required">*</span>
                </label>
                <div class="col-sm-2">
                    <input type="text" autocomplete="off" id="surveyKey" name="surveyKey" ng-model="formData.key" placeholder="Survey Key"
                           class="form-control" required
                           late-Validate maxlength="32"/>
                </div>
                <div class="col-sm-2">
                    <input type="text" autocomplete="off" id="surveyName" name="surveyName" ng-model="formData.name"
                           placeholder="Survey Name" class="form-control" required
                           late-Validate maxlength="250"/>
                </div>
                <div class="col-sm-2">
                    <select id="entityTypeId" name="entityTypeId" ng-model="formData.entityTypeId" class="form-control"
                            ng-options="surveyEntityType.id as surveyEntityType.value for surveyEntityType in surveyEntityTypes"
                            value="{{surveyEntityType.id}}" required
                            late-Validate>
                        <option value="">--{{'label.menu.survey.for' | translate}}--</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div ng-hide="formData.key">
                        <span class="error" ng-show="submitted && createsurveyform.key.$error.required">{{'label.error.required'|translate}}</span>
                    </div>
                    <div ng-show="formData.key" && ng-hide="formData.name">
                        <span class="error" ng-show="submitted && createsurveyform.name.$error.required">{{'label.error.required'|translate}}</span>
                    </div>
                    <div ng-show="formData.key && formData.name" ng-hide="formData.entityTypeId">
                        <span class="error" ng-show="submitted && createsurveyform.entityTypeId.$error.required">{{'label.error.required'|translate}}</span>
                    </div>

                </div>
                <div class="col-sm-2 pull-right" ng-if="formData.key && formData.name && formData.entityTypeId">
                    <h4><strong>Add new component</strong>&nbsp;<a ng-click="addNewComponent()">&nbsp;<i
                            class="icon-plus icon-white"></i></a></h4>
                </div>

                
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-3">
                    <input type="checkbox" ng-model="formData.considerWeightage">&nbsp;{{'label.input.consider.survey.weightage' | translate}}
                </div>

                <label class="control-label col-sm-1"></label>
                <div class="col-sm-3">
                    <input type="checkbox" ng-model="formData.coOfficerRequired">&nbsp;{{'label.input.co.officer.required' | translate}}
                </div>
            </div>

            <div ng-if="formData.componentDatas.length > 0">
                <div class="col-md-12 well" ng-repeat="componentData in formData.componentDatas track by $index"
                     ng-init="componentIndex = $index">
                    <div class="form-group">
                        <label class="control-label col-sm-1">Component<span class="required">*</span></label>
                        
                        <div class="col-sm-3">
                            <ng-form name="formcomponentDataKey" novalidate="" rc-submit="submit()">
                                <input type="text" autocomplete="off" id="componentDataKey" name="componentDataKey"
                                    ng-model="componentData.key" class="form-control" required
                                    late-Validate maxlength="32" placeholder="Key" ng-required="true"/>
                                <span class="error"
                                    ng-show="submitted && formcomponentDataKey.componentDataKey.$error.required">{{'label.error.required'|translate}}</span>
                            </ng-form>
                        </div>
                        
                        <div class="col-sm-3">
                            <ng-form name="formcomponentDataText" novalidate="" rc-submit="submit()">
                                <input type="text" autocomplete="off" id="componentDataText" name="componentDataText"
                                       ng-model="componentData.text" class="form-control" required
                                       late-Validate maxlength="250" placeholder="Name" ng-required="true"/>
                                <span class="error"
                                    ng-show="submitted && formcomponentDataText.componentDataText.$error.required">{{'label.error.required'|translate}}</span>
                            </ng-form>
                        </div>
                        
                        <div class="col-sm-2">
                            <ng-form name="formcomponentDataWeightage" novalidate="" rc-submit="submit()">
                                <input type="number" id="componentDataWeightage" name="componentDataWeightage"
                                       ng-model="componentData.weightage" class="form-control" required
                                       late-Validate min="0"  max="99999999" placeholder="Weightage" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"/>
                                <span class="error" ng-show="submitted && formcomponentDataWeightage.componentDataWeightage.$error.required">{{'label.error.required'|translate}}</span>
                                <span class="error" ng-show="formcomponentDataWeightage.componentDataWeightage.$error.pattern">{{'invalid'|translate}}</span>
                            </ng-form>
                        </div>
                        
                        <div class="col-sm-2">
                            <h4 ng-if="componentData.key && componentData.text && componentData.weightage"><strong>Add new
                                question</strong>&nbsp;<a ng-click="addNewQuestion(componentIndex)">&nbsp;<i
                                    class="icon-plus icon-white"></i></a></h4>
                        </div>

                        <div class="col-sm-1">
                            <h4 class="pull-right">&nbsp;<a ng-click="deleteComponent(componentIndex)">&nbsp;<i
                                    class="icon-remove icon-white"></i></a></h4>
                        </div>
                    </div>

                    <div ng-if="componentData.questionDatas.length > 0">
                        <legend></legend>
                        <div class="col-md-12" ng-repeat="questionData in componentData.questionDatas track by $index"
                             ng-init="questionIndex = $index">
                            <div class="form-group">

                                <label class="control-label col-sm-1">Question<span class="required">*</span></label>

                                <ng-form name="formquestionDataKey" novalidate="" rc-submit="submit()">
                                    <div class="col-sm-3">
                                        <input type="text" autocomplete="off" id="questionDataKey" name="questionDataKey"
                                               ng-model="questionData.key" class="form-control" required
                                               late-Validate maxlength="32" placeholder="Key"/>
                                        <span class="error"
                                              ng-show="submitted && formquestionDataKey.questionDataKey.$error.required">{{'label.error.required'|translate}}</span>
                                    </div>
                                </ng-form>

                                <ng-form name="formquestionDataText" novalidate="" rc-submit="submit()">
                                    <div class="col-sm-3">
                                        <input type="text" autocomplete="off" id="questionDataText" name="questionDataText"
                                               ng-model="questionData.text" class="form-control" required
                                               late-Validate maxlength="250" placeholder="Name"/>
                                        <span class="error"
                                              ng-show="submitted && formquestionDataText.questionDataText.$error.required">{{'label.error.required'|translate}}</span>
                                    </div>
                                </ng-form>

                                <ng-form name="formquestionDataWeightage" novalidate="" rc-submit="submit()">
                                    <div class="col-sm-2">
                                        <input type="number" id="questionDataWeightage" name="questionDataWeightage"
                                               ng-model="questionData.weightage" class="form-control" required
                                               late-Validate min="0" max="99999999" placeholder="Weightage" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"/>
                                        <span class="error" ng-show="submitted && formquestionDataWeightage.questionDataWeightage.$error.required">{{'label.error.required'|translate}}</span>
                                        <span class="error" ng-show="formquestionDataWeightage.questionDataWeightage.$error.pattern">{{'invalid'|translate}}</span>
                                    </div>
                                </ng-form>

                                <div class="col-sm-2">
                                    <h4 ng-if="questionData.key && questionData.text && questionData.weightage"><strong>Add new option</strong>&nbsp;<a
                                            ng-click="addNewQuestionOptions(componentIndex, questionIndex)">&nbsp;<i
                                            class="icon-plus icon-white"></i></a></h4>
                                </div>

                                <div class="col-sm-1">
                                    <h4 class="pull-right">&nbsp;<a
                                            ng-click="deletQuestion(componentIndex, questionIndex);">&nbsp;<i
                                            class="icon-remove icon-white"></i></a></h4>
                                </div>
                            </div>

                            <div ng-if="questionData.responseDatas.length > 0">
                                <div ng-repeat="responseData in questionData.responseDatas track by $index"
                                     ng-init="responseIndex = $index">
                                    <div class="col-md-12 well">
                                        <div class="form-group">
                                            <legend><h4>Option : {{responseIndex+1}}</h4></legend>
                                            <label class="control-label col-sm-1">
                                                Name <span class="required">*</span>
                                            </label>
                                            <ng-form name="formresponseText" novalidate="" rc-submit="submit()">
                                                <div class="col-sm-2">
                                                    <input type="text" autocomplete="off" id="responseText" name="responseText"
                                                           ng-model="responseData.text" class="form-control" required
                                                           late-Validate/>
                                                <span class="error"
                                                      ng-show="submitted && formresponseText.responseText.$error.required">{{'label.error.required'|translate}}</span>
                                                </div>
                                            </ng-form>
                                           
                                            <label class="control-label col-sm-1">Score <span class="required">*</span></label>
                                            <ng-form name="formresponseValue" novalidate="" rc-submit="submit()">
                                                <div class="col-sm-2">
                                                    <input type="number" id="responseValue" name="responseValue"
                                                        ng-model="responseData.value" class="form-control" required
                                                        late-Validate min="-99999999" max="99999999" placeholder="Score" ng-pattern="/^[-]?[0-9]+(\.[0-9]{1,2})?$/"/>
                                                    <span class="error" ng-show="submitted && formresponseValue.responseValue.$error.required">{{'label.error.required'|translate}}</span>
                                                    <span class="error" ng-show="formresponseValue.responseValue.$error.pattern">{{'invalid'|translate}}</span>
                                                </div>
                                            </ng-form>

                                            <ng-form name="formresponseImage" novalidate="" rc-submit="submit()">
                                               <input class="col-sm-3" id="inputFileToLoad" type="file" ng-file-select="onFileSelect($files, componentIndex, questionIndex, responseIndex)"  accept="image/jpeg,image/jpg"/>
                                                <img ng-show="responseData.image"  ng-src="{{responseData.image}}" class="col-sm-2"/>
                                            </ng-form>

                                            <div class="col-sm-1">
                                                <h4 class="pull-right">&nbsp;<a
                                                        ng-click="deleteQuestionOptions(componentIndex, questionIndex, responseIndex);">
                                                    &nbsp;<i class="icon-remove icon-white"></i></a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <legend></legend>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-5">
                <a id="cancel" href="#/admin/system/surveys" class="btn btn-default">{{ 'label.button.cancel' |
                    translate }}</a>
                <button id="save" type="submit" ng-click="submitted=true" class="btn btn-primary">{{ 'label.button.save'
                    | translate }}
                </button>
            </div>

        </fieldset>
    </form>
</div>

<script type="text/ng-template" id="deletedata.html">
    <div class="modal-header silver">
        <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
    </div>
    <div class="modal-body">
        <api-validate></api-validate>
        <br>
        <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
        <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
    </div>
</script>
<script type="text/ng-template" id="fileuploaderror.html">
    <div class="modal-header silver">
        <h4 class="bolder">{{'label.heading.error' | translate}}</h3>
    </div>
    <div class="modal-body">
        <api-validate></api-validate>
        <h3>{{'label.message.image.upload.error' | translate}}</h3>
        <h4>{{'label.message.images.allowed' | translate}}</h4>
        <br>
        <button class="col-md-offset-5 btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
    </div>
</script>