<div class="col-md-12" ng-controller="AddressActivityController">
    <div ng-if="showform && !isTaskCompleted()">
        <form name="clientaddressform" novalidate="" class="form-horizontal" rc-submit="submit()">
            <api-validate></api-validate>
            <fieldset>
                <legend>{{'label.heading.addclientaddress' | translate}}</legend>

                <div class="form-group">
                    <label class="control-label col-sm-2">
                        {{'label.input.addresstype' | translate}} <span class="required">*</span> </label>
                    <div class="col-sm-3">
                        <select chosen="addressType" id="addresstypeId" name="addressType" ng-model="addressTypes[0]"  class="form-control"
                                ng-options="address.id as address.name for address in addressType" value="{{address.id}}" required late-validate="">
                                <option value="">{{'label.menu.addressType' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="clientaddressform" valattribute="addressType"/>
                    </div>
                </div>

                <div class="form-group" ng-if="isPopulateClientAddressFromVillages">
                    <label class="control-label col-sm-2">
                        {{'label.input.villages' | translate}} <span class="required">*</span> </label>
                    </label>
                    <div class="col-sm-3">
                        <select chosen="villages" id="villageId" name="villages" ng-model="formData.villageId" class="form-control"
                                ng-options="village.villageId as village.villageName for village in villages"
                                value="{{village.villageId}}"
                                ng-change="changeVillage(formData.villageId)"  required late-validate="" >
                            <option value="">{{'label.menu.selectVillages' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="clientaddressform" valattribute="villages"/>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="houseNo">{{'label.input.houseno' | translate}}
                    </label>

                    <div class="col-sm-3">
                        <input type="text" autocomplete="off" id="houseNo" name="houseNo" ng-model="formData.houseNo" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="streetname">{{'label.input.streetname' | translate}}
                    </label>

                    <div class="col-sm-3">
                        <input type="text" autocomplete="off" id="streetname" name="streetName" ng-model="formData.addressLineOne"  class="form-control"/>
                    </div>
                </div>

                <div class="form-group" ng-if = "!isVillageTownHidden">
                    <label class="control-label col-sm-2" for="villagename">{{'label.input.villagename' | translate}}</label>

                    <div class="col-sm-3">
                        <input type="text" autocomplete="off" id="villagename" ng-model="formData.villageTown"  class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">
                        {{'label.input.countryname' | translate}} <span class="required">*</span> </label>
                    </label>

                    <div class="col-sm-3">
                        <select chosen="countries" id="countryId" name="countries" ng-if = "!isLevelBasedAddressEnabled" ng-model="formData.countryId" class="form-control"
                            ng-options="country.countryId as country.countryName for country in countries" ng-disabled ="isCountryReadOnly" value="{{country.countryId}}"
                            ng-change="changeCountry(formData.countryId)"  required late-validate="">
                            <option value="">{{'label.menu.selectCountry' | translate}}</option>
                        </select>
                        <select chosen="countries" id="countryId" ng-if = "isLevelBasedAddressEnabled" name="countries" ng-model="formData.countryId" class="form-control"
                            ng-options="country.id as country.name for country in countries" ng-disabled ="isCountryReadOnly" value="{{country.id}}"
                            ng-change="changeCountry(formData.countryId)"  required late-validate="">
                            <option value="">{{'label.menu.selectCountry' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="clientaddressform" valattribute="countries"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">
                        {{'label.input.statename' | translate}} <span class="required">*</span> </label>
                    </label>

                    <div class="col-sm-3">
                        <select chosen="states" id="stateId" name="states" ng-if = "!isLevelBasedAddressEnabled" ng-model="formData.stateId"  class="form-control"
                            ng-options="state.stateId as state.stateName for state in states" value="{{state.stateId}}"
                            ng-change="changeState(formData.stateId)" required late-validate="">
                            <option value="">{{'label.menu.selectState' | translate}}</option>
                        </select>
                        <select chosen="states" id="stateId" name="states" ng-if = "isLevelBasedAddressEnabled" ng-model="formData.stateId"  class="form-control"
                            ng-options="state.id as state.name for state in states" value="{{state.id}}"
                            ng-change="changeState(formData.stateId)" required late-validate="">
                            <option value="">{{'label.menu.selectState' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="clientaddressform" valattribute="states"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">
                        {{'label.input.districtname' | translate}} <span ng-show="isDistrictMandatory" class="required">*</span> </label>
                    </label>

                    <div class="col-sm-3">
                        <select chosen="districts" id="districtId" name="districts" ng-if = "!isLevelBasedAddressEnabled" ng-model="formData.districtId"  class="form-control"
                            ng-options="district.districtId as district.districtName for district in districts" value="{{district.districtId}}"
                            ng-change="changeDistrict(formData.districtId)" ng-required="isDistrictMandatory">
                            <option value="">{{'label.menu.selectDistrict' | translate}}</option>
                        </select>
                        <select chosen="districts" id="districtId" name="districts" ng-if = "isLevelBasedAddressEnabled"  ng-model="formData.districtId"  class="form-control"
                            ng-options="district.id as district.name for district in districts" value="{{district.id}}"
                            ng-change="changeDistrict(formData.districtId)" ng-required="isDistrictMandatory">
                        <option value="">{{'label.menu.selectDistrict' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="clientaddressform" valattribute="districts"/>
                    </div>
                </div>

                <div ng-hide="isTalukaHidden" class="form-group">
                    <label ng-hide="isTalukaHidden" class="control-label col-sm-2">
                        {{'label.input.talukname' | translate}} <span ng-hide="isTalukaHidden" class="required">*</span> </label>
                    </label>
                    <div class="col-sm-3" ng-hide="isTalukaHidden">
                        <select chosen="talukas" id="talukaId" name="talukas"  ng-if = "!isLevelBasedAddressEnabled" ng-model="formData.talukaId"
                            ng-options="taluka.talukaId as taluka.talukaName for taluka in talukas"
                            value="{{taluka.talukaId}}" ng-required="isTalukaMandatory">
                        <option value="">{{'label.menu.selectTaluka' | translate}}</option>
                        </select>
                        <select chosen="talukas" id="talukaId" name="talukas"  ng-if = "isLevelBasedAddressEnabled" ng-model="formData.talukaId"
                            ng-options="taluka.id as taluka.name for taluka in talukas"
                            value="{{taluka.id}}"  ng-change="changeTaluka(formData.talukaId)" ng-required="isTalukaMandatory">
                        <option value="">{{'label.menu.selectTaluka' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="clientaddressform" valattribute="talukas"/>
                    </div>
                </div>
                <div class="form-group" ng-if="showWardAndVillages">
                        <label  class="control-label col-sm-2">
                                {{'label.input.wardAndVillage' | translate}}  <span ng-if="showWardAndVillages" class="required">*</span>
                        </label>
                        <div  class="col-sm-2">
                            <select chosen="wardAndVillages" id="wardAndVillageId" name="wardAndVillages" ng-model="formData.wardAndVillagesId"
                            ng-options="wardAndVillage.id as wardAndVillage.name for wardAndVillage in wardAndVillages"  
                            value="{{wardAndVillage.id}}" required late-validate="">
                            <option value="">{{'label.menu.selectward.village' | translate}}</option>
                            </select>
                        </div>
                        <div class="col-sm-1 paddinglr0px">
                            <form-validate valattributeform="clientaddressform" valattribute="wardAndVillages"/>
                        </div>
                    </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pincode">{{'label.input.pincode' | translate}}
                        <span class="required">*</span> </label>
                    </label>

                    <div class="col-sm-3">
                        <input type="text" autocomplete="off" id="pincode" name="pincode" ng-pattern= "{{regexFormats.pincodePattern}}" ng-minlength="6" maxlength="6" ng-model="formData.postalCode" class="form-control" required late-validate="" />
                        <span ng-show="clientaddressform.pincode.$error.pattern">
                            <small class="required" ng-show="clientaddressform.pincode.$error.pattern">{{'invalid.pin.code.format' | translate}}</small>
                        </span>	 
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="clientaddressform" valattribute="pincode"/>
                    </div>
                </div>

                <div class="col-md-offset-5">
                    <button id=cancel ng-click="cancel()" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                    <button id="save" type="submit" class="btn btn-primary" >{{'label.button.save' | translate}}</button>
                </div>

                </fieldset>
            </form>
        </div>
                <div class="row span" style="margin-left:1px;margin-top:20px" ng-if="!showform" ng-repeat="address in addressData">
                    <div class="col-sm-6 col-md-6">
                        <div class="span gray-head" ng-show="addressData.length > 0">
                        <span class="boldlabel">
                            <strong>{{address.addressEntityData[0].addressType.name}}</strong>
                        </span>
                        </div>
                        <table class="table table-stripped table-bordered" ng-show="addressData.length > 0">

                            <tr>
                                <th class="table-bold-loan">{{'label.heading.houseno' | translate}}</th>
                                <td>
                                    <span class="padded-td">{{address.houseNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-bold-loan">{{'label.heading.streetname' | translate}}</th>
                                <td>
                                    <span class="padded-td">{{address.addressLineOne}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-bold-loan">{{'label.heading.address.line.two' | translate}}</th>
                                <td>
                                    <span class="padded-td">{{address.addressLineTwo}}</span>
                                </td>
                                </tr>
                            <tr ng-if = "!isLevelBasedAddressEnabled">
                                <th class="table-bold-loan">{{'label.heading.villagename' | translate}}</th>
                                <td>
                                    <span class="padded-td">{{address.villageTown}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-bold-loan">{{'label.heading.countryname' | translate}}</th>
                                <td ng-if = "!isLevelBasedAddressEnabled">
                                    <span class="padded-td">{{address.countryData.countryName}}</span>
                                </td>
                                <td ng-if = "isLevelBasedAddressEnabled">
                                    <span class="padded-td">{{address.addressRegionValueData.Country.name}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-bold-loan">{{'label.heading.statename' | translate}}</th>
                                <td ng-if = "!isLevelBasedAddressEnabled">
                                    <span class="padded-td">{{address.stateData.stateName}}</span>
                                </td>
                                <td ng-if = "isLevelBasedAddressEnabled">
                                    <span class="padded-td" ng-if = address.addressRegionValueData.State.name>{{address.addressRegionValueData.State.name}}</span>
                                    <span class="padded-td" ng-if = address.addressRegionValueData.Division.name>{{address.addressRegionValueData.Division.name}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-bold-loan">{{'label.heading.districtname' | translate}}</th>
                                <td ng-if = "!isLevelBasedAddressEnabled">
                                    <span class="padded-td">{{address.districtData.districtName}}</span>
                                </td>
                                <td ng-if = "isLevelBasedAddressEnabled">
                                    <span class="padded-td" ng-if = address.addressRegionValueData.District.name>{{address.addressRegionValueData.District.name}}</span>
                                    <span class="padded-td" ng-if = address.addressRegionValueData.Township.name>{{address.addressRegionValueData.Township.name}}</span>
                            </td>
                            </tr>
                                <tr ng-if = "!isLevelBasedAddressEnabled" ng-hide="isTalukaHidden">    
                                    <th class="table-bold-loan">{{'label.heading.talukname' | translate}}</th>
                                    <td>
                                        <span class="padded-td">{{address.talukaData.talukaName}}</span>
                                    </td>
                                </tr>
                                <tr ng-if = "talukaLevelValueExists(address)">
                                    <th class="table-bold-loan">{{'label.heading.talukname' | translate}}</th>
                                    <td>
                                        <span class="padded-td" ng-if = address.addressRegionValueData.Taluka.name>{{address.addressRegionValueData.Taluka.name}}</span>
                                        <span class="padded-td" ng-if = address.addressRegionValueData.Town.name>{{address.addressRegionValueData.Town.name}}</span>
                                        <span class="padded-td" ng-if = address.addressRegionValueData.VillageTract.name>{{address.addressRegionValueData.VillageTract.name}}</span>
                                    </td>
                                </tr>
                                <tr ng-if ="address.addressRegionValueData.Ward.name || address.addressRegionValueData.Village.name">
                                    <th class="table-bold-loan">{{'label.heading.wardAndVillage' | translate}}</th>
                                    <td>
                                        <span class="padded-td" ng-if = address.addressRegionValueData.Ward.name>{{address.addressRegionValueData.Ward.name}}</span>
                                        <span class="padded-td" ng-if = address.addressRegionValueData.Village.name>{{address.addressRegionValueData.Village.name}}</span>
                                    </td>
                                </tr>
                            <tr>
                                <th class="table-bold-loan">{{'label.heading.pincode' | translate}}</th>
                                <td>
                                    <span class="padded-td">{{address.postalCode}}</span>
                                </td>
                            </tr>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-offset-5 pull-right">
                    <button id=addAddress ng-click="addAddress()" ng-if="!showform && !isTaskCompleted()" class="btn btn-default">{{'label.heading.addclientaddress' | translate}}</button>
                </div>

</div>