<div ng-controller="adhocActivityController">

  <!-- Submit form, new data    -->
  <form class="form-horizontal"  ng-submit="submit()">
    <table class="table">
    	<tr>
    		<td>
    			<label for="entityName">{{activityData.entityType}}:
				</label>
			</td>
			<td>
				<div id="entityName">
					{{activityData.entityName}}
				</div>
			</td>
		</tr>
		<tr>
			<td>
    			<label for="userName">{{'label.heading.user' | translate}}:
				</label>
			</td>
			<td>
				<div id="userName">
					{{activityData.assignedTo}}
				</div>
			</td>
    	</tr>
    	<tr>
			<td>
    			<label for="dueDate">{{'label.input.duedate' | translate}}:
				</label>
			</td>
			<td>
				<div id="dueDate">
					{{activityData.dueDate}}
				</div>
			</td>
    	</tr>
    	<tr ng-if=activityData.description>
			<td>
    			<label for="description">{{'label.heading.description' | translate}}:
				</label>
			</td>
			<td>
				<div id="description">
					{{activityData.description}}
				</div>
			</td>
    	</tr>
    </table>
  </form>

  
</div>
