<div ng-controller="banktransactionActivityController">
    <div ng-include="'views/accounttransfers/banktransferdetail.html'"></div>
    <div class="row paddedtop" ng-if="transferData.status.id == 1">
        <form name="banktransactionsubmitform" novalidate="" class="form-horizontal">
            <api-validate></api-validate>
            <fieldset>
                <div class="form-group" >
                    <label class="control-label col-sm-2">{{'label.transfer.type' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-4">

                        <select id="transferType" name="transferType" ng-model="formData.transferType" class="form-control"
                                required late-validate="" ng-options="transferType.value as (transferType.code | translate) for transferType in transferData.supportedTransferTypes">
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="banktransactionsubmitform" valattribute="transerType"/>
                    </div>
                </div>

                <div ng-if="!isTaskCompleted()" class="col-md-offset-2 paddedleft">
                    <a id="cancel" ng-if="false" ng-click="cancel()" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                    <button id="save" ng-click="submit()" ng-show="createDetail" class="btn btn-primary" has-permission="SUBMIT_BANK_TRANSACTION">{{'label.button.submit' | translate}}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
