<div ng-controller="bankaccountActivityController">

    <!-- Submit form, new data    -->
    <div class="col-md-12 col-sm-12" ng-if="isTaskCompleted()  || isSummary">
        <div class="row">
  <div ng-if="!isTaskCompleted()" class="col-md-offset-11 col-md-1">
                    <button id="edit" class="btn btn-primary" ng-click="edit()">{{'label.button.edit' | translate}}</button>
                </div>
                
        </div>
            
                <div class="row">
                    <div class="col-md-6">
                        <span><b>{{'label.input.holdername' | translate}}:&nbsp;</b></span>
                        <span>{{bankAccountData.name}}</span>
                    </div>
                    <div class="col-md-6">
                        <span><b>{{'label.input.accountnumber' | translate}}:&nbsp;</b></span>
                        <span>{{bankAccountData.accountNumber}}</span>
                    </div>
                    <div class="col-md-6">
                        <span><b>{{'label.input.accounttype' | translate}}:&nbsp;</b></span>
                        <span>{{bankAccountData.accountType.code | translate}}</span>
                    </div>
                    <div class="col-md-6">
                        <span><b>{{'label.input.ifsccode' | translate}}:&nbsp;</b></span>
                        <span>{{bankAccountData.ifscCode}}</span>
                    </div>
                    <div class="col-md-6">
                        <span><b>{{'label.input.bankname' | translate}}:&nbsp;</b></span>
                        <span>{{bankAccountData.bankName}}</span>
                    </div>
                    <div class="col-md-6">
                        <span><b>{{'label.input.bankcity' | translate}}:&nbsp;</b></span>
                        <span>{{bankAccountData.bankCity}}</span>
                    </div>
                    <div class="col-md-6">
                        <span><b>{{'label.input.mobilenumber' | translate}}:&nbsp;</b></span>
                        <span>{{bankAccountData.mobileNumber}}</span>
                    </div>
                    <div class="col-md-6">
                        <span><b>{{'label.input.email' | translate}}:&nbsp;</b></span>
                        <span>{{bankAccountData.email}}</span>
                    </div>
                    
                </div>
              
        </div>


    <form name="bankaccountdetail" novalidate="" class="form-horizontal" ng-if="!isTaskCompleted() && !isSummary">
        <fieldset>


            <div class="form-group" >
                <label class="control-label col-sm-2" >{{'label.input.holdername' | translate}}</label>

                <div class="col-sm-3">
                    <input name="bankName" ng-model="formData.name"
                           type="text" class="form-control" ng-disabled="!createDetail"/>
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-2" >{{'label.input.accountnumber' | translate}}</label>

                <div class="col-sm-3">
                    <input name="accountNumber" ng-model="formData.accountNumber"
                           type="text" class="form-control" ng-disabled="!createDetail"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.accounttype' | translate}}</label>
                <div class="col-sm-3">
                    <select id="accountType"  name = "accountType" ng-model="formData.accountTypeId" class="form-control"
                            ng-options="accountType.id as accountType.value for accountType in bankAccountTypeOptions"
                            value="{{accountType.id}}">
                    </select>
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-2" >{{'label.input.ifsccode' | translate}}</label>

                <div class="col-sm-3">
                    <input name="ifscCode" ng-model="formData.ifscCode"
                           type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-2" >{{'label.input.bankname' | translate}}</label>

                <div class="col-sm-3">
                    <input name="bankname" ng-model="formData.bankName"
                           type="text" class="form-control"/>
                </div>
            </div><div class="form-group" >
                <label class="control-label col-sm-2" >{{'label.input.bankcity' | translate}}</label>

                <div class="col-sm-3">
                    <input name="bankcity" ng-model="formData.bankCity"
                           type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-2" >{{'label.input.mobilenumber' | translate}}</label>

                <div class="col-sm-3">
                    <input name="mobileNumber" ng-model="formData.mobileNumber"
                           type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-2" >{{'label.input.email' | translate}}</label>

                <div class="col-sm-3">
                    <input name="email" ng-model="formData.email"
                           type="text" class="form-control"/>
                </div>
            </div>
            <div ng-if="!isTaskCompleted()" class="col-md-offset-2 paddedleft">
                <a id="cancel" ng-if="false" ng-click="cancel()" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                <button id="save" ng-click="submit()" ng-show="createDetail" class="btn btn-primary" has-permission='CREATE_BANKACCOUNTDETAIL'>{{'label.button.save' | translate}}</button>
                <button id="update"  ng-show="!createDetail" class="btn btn-primary" ng-click="update()" has-permission='UPDATE_BANKACCOUNTDETAIL'>{{'label.button.save' | translate}}</button>
                <button id="delete" ng-show="!createDetail" class="btn btn-primary" ng-click="delete()" has-permission='DELETE_BANKACCOUNTDETAIL'>{{'label.button.delete' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>
