<div ng-controller="BulkLoanApplicationActivityController">
	<div>
		<span style="text-align:left">{{'label.info.totalmembers' | translate}} : {{centerDetails.totalCenterMembers}}&nbsp;&nbsp;{{'label.info.activeborrowers' | translate}} : {{centerDetails.totalBorrowerMembers}}</span>
	</div>
	<div>
		<div>
			<api-validate></api-validate>
		</div>
		<div>
			<table class="table">
				<thead>
					<th class="col-md-1"> </th>
					<th class="col-md-2">{{'label.heading.name' | translate}}</th>
					<th class="col-md-2">{{'label.heading.FCSM.No' | translate}}</th>
					<th class="col-md-1">{{'label.heading.age' | translate}}</th>
					<th class="col-md-2">{{'label.heading.KYC' | translate}}</th>
					<th class="col-md-1">{{'label.heading.loanproduct' | translate}}</th>
					<th class="col-md-1">{{'label.heading.loanpack' | translate}}</th>
					<th class="col-md-1">{{'label.heading.loanpurpose' | translate}}</th>
					<th class="col-md-1">{{'label.heading.processingfee' | translate}}</th>
					<th class="col-md-1">{{'label.heading.single.double.insurance' | translate}}</th>
					<th class="col-md-1"></th>
					<th class="col-md-1">{{'label.heading.reject' | translate}}</th>
				</thead>
				<tbody ng-repeat="groupMember in centerDetails.subGroupMembers">
					<tr class="background-gold">
						<td colspan="11">
							<span>{{groupMember.fcsmNumber}}
							</span>
						</td>
						<td class="col-md-1">
								<a type="button" class="btn btn-danger btn-xs" 
                                 ng-disabled = "{{taskData.possibleActions.length == 0}}"
								 ng-click="groupRejection(groupMember)" tooltip="{{'label.button.reject' | translate}}">
									<i class="icon-remove-circle pointer"></i>
								</a>
						</td>
					</tr> 
						<tr ng-repeat="activeClientMember in groupMember.memberData" 
						 ng-class ="activeClientMember.color"
						 ng-if="!activeClientMember.isClientFinishedThisTask" >
						 <td class="col-md-1"><input type="checkbox" ng-model="isMemberChecked" ng-hide="activeClientMember.status.code == 'clientStatusType.onHold'"
							ng-disabled="activeClientMember.isClientFinishedThisTask"
							ng-change="captureMembersToNextStep(activeClientMember.id, activeClientMember.loanAccountBasicData.id, isMemberChecked, $index)"></input></td>
							<td class="col-md-2"><a href= "" ng-click= "viewMemberDetails(groupMember.id, activeClientMember)">{{activeClientMember.displayName}}</a>
							</td>
							<td class="col-md-1">{{activeClientMember.fcsmNumber}}</td>
							<td class="col-md-1">{{activeClientMember.age}}</td>
							<td class="col-md-2">{{activeClientMember.clientIdentifier.documentKey}}
							</td>
							<td class="col-md-1 cell-overflow">{{activeClientMember.loanAccountBasicData.loanProductName}}</td>
							<td class="col-md-1">{{activeClientMember.loanAccountBasicData.loanEMIPackData.sanctionAmount | number}}</td>
							<td class="col-md-2 cell-overflow">{{activeClientMember.loanAccountBasicData.loanPurposeName}}</td>
							<td class="col-md-1"><span ng-repeat="item in filterCharges(activeClientMember.loanAccountBasicData.charges,1)">{{item.amount | number}} &nbsp;</span></td>
							<td class="col-md-1"><span ng-repeat="item in filterCharges(activeClientMember.loanAccountBasicData.charges, 2)">{{item.amount | number}} &nbsp;</span>&nbsp;&nbsp;<span ng-repeat="item in filterCharges(activeClientMember.loanAccountBasicData.charges, 3)">{{item.amount | number}} &nbsp;</span></td>
							<td class="col-md-1">
								<a type="button" class="btn btn-default btn-xs" ng-click="editLoan(activeClientMember.loanAccountBasicData,groupMember.id)" tooltip="{{'label.button.edit.loan' | translate}}" ng-disabled="activeClientMember.isClientFinishedThisTask">
									<i class="icon-edit icon-white pointer"></i>
								</a>
						    </td>
							<td class="col-md-1">
								<a type="button" class="btn btn-danger btn-xs" ng-hide="activeClientMember.status.code == 'clientStatusType.onHold'" ng-click="clientRejection(activeClientMember)" tooltip="{{'label.button.reject' | translate}}" ng-disabled="activeClientMember.isClientFinishedThisTask">
									<i class="icon-remove-circle pointer"></i>
								</a>
								<a type="button" class="btn btn-danger btn-xs" ng-show="activeClientMember.status.code == 'clientStatusType.onHold'" ng-click="releaseClient(activeClientMember.id)" tooltip="{{'label.button.relase.client' | translate}}" ng-disabled="activeClientMember.isClientFinishedThisTask">
									<i class="icon-unlock pointer"></i>
								</a>
						    </td>
						</tr>
				</tbody>
			</table>
			<div class="col-md-offset-11">
				<button type="button" ng-click="moveMembersToNextStep()" class="btn btn-primary"
					>{{'label.button.save' |
					translate}}</button>
			</div>
		</div>
	</div>
	</div>