<div class="col-md-12" ng-controller="camActivityController">
    <!-- Submit form, new data    -->
    <div id="applicantdetails" class="row">
        <div class="col-md-12">
            <h3>{{'label.camactivity.heading.applicantdetails' | translate}}</h3>
            <legend></legend>
        </div>
        <div class="col-md-3">
            <h4>{{'label.heading.applicant' | translate}}</h4>
        </div>
        <div class="col-md-3">
            {{clientName}}
        </div>
    </div>
    <legend></legend>
    <div id="loanterms" class="row">
        <div class="col-md-12">
            <h3>{{'label.camactivity.loanterms' | translate}}</h3>
            <legend></legend>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <tr>
                    <td><label>{{ 'label.input.product' | translate }}<span class="required">*</span>:&nbsp;
                    </label>
                        <i class="icon-question-sign" tooltip="{{'label.tooltip.product' | translate}}"></i>
                    </td>
                    <td>{{formData.loanProductName}}</td>
                </tr>
                <tr>
                    <td><label>{{ 'label.input.loanpurpose' | translate }}:&nbsp;</label>
                        <i class="icon-question-sign"
                           tooltip="{{'label.tooltip.loanpurpose' | translate}}"></i></td>
                    <td>{{formData.loanPurpose.name}}</td>
                </tr>
                <tr>
                    <td><label>{{ 'label.input.numofrepayments' | translate }}&nbsp;<span
                            class="required"></span>:</label></td>
                    <td>{{formData.numberOfRepayments}}</td>
                </tr>
                <tr ng-if="false && loanaccountinfo.canDefineInstallmentAmount">
                    <td><label>{{ 'label.input.fixedemiamount' | translate }}:</label>&nbsp;</td>
                    <td>{{formData.fixedEmiAmount}}&nbsp;{{loanaccountinfo.currency.displaySymbol}}</td>
                </tr>
                <tr>
                    <td><label>{{ 'label.input.submittedon' | translate }}:</label>&nbsp;</td>
                    <td>{{formData.submittedOnDate | DateFormat}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <tr>
                    <td><label>{{ 'label.input.loanofficer' | translate }}:&nbsp;</label>
                        <i class="icon-question-sign"
                           tooltip="{{'label.tooltip.loanofficer' | translate}}"></i></td>
                    <td>{{formData.loanOfficerName}}</td>
                </tr>
                <tr>
                    <td><label>{{ 'label.input.requested.principal.amount' | translate }}&nbsp;<span
                            class="required">*</span>:</label></td>
                    <td>
                        {{formData.loanAmountRequested|number}}&nbsp;{{loanaccountinfo.currency.displaySymbol}}
                    </td>
                </tr>
                <tr>
                    <td><label>{{ 'label.input.loanterm' | translate }}&nbsp;<span
                            class="required"></span>:</label></td>
                    <td>{{formData.termFrequency}} : {{formData.termPeriodFrequency.value}}</td>
                </tr>
                <tr>
                    <td><label>{{ 'label.input.repaidevery' | translate }}&nbsp;<span
                            class="required"></span></label></td>
                    <td>{{formData.repayEvery}} : {{formData.repaymentPeriodFrequency.value}}</td>
                </tr>
                <tr ng-show="formData.expectedDisbursalPaymentType.name">
                    <td>{{'label.heading.preferredpaymentchannelfordisbursements' |
                        translate}}
                    </td>
                    <td><span  class="padded-td"  ng-show="formData.expectedDisbursalPaymentType">
                                    {{formData.expectedDisbursalPaymentType.name}}</span></td>
                </tr>
                <tr ng-show="formData.expectedRepaymentPaymentType.name">
                    <td>{{'label.heading.preferredpaymentchannelforrepayments' | translate}}</td>
                    <td><span class="padded-td"  ng-show="formData.expectedRepaymentPaymentType">
                                    {{formData.expectedRepaymentPaymentType.name}}</span></td>
                </tr>
                <tr>
                    <td><label>{{ 'label.input.no.of.tranche' | translate }}</label></td>
                    <td>{{formData.noOfTranche}}</td>
                </tr>
            </table>
        </div>
    </div>
    <legend></legend>
    <div id="cashflow" class="row">
        <div class="col-md-12">
            <h3>{{'label.heading.cashflow' | translate}}</h3>
            <legend></legend>
        </div>
        <div class="col-md-5">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>{{'label.input.occ.income' | translate}}:</td>
                    <td>{{totalIncomeOcc}}</td>
                </tr>
                <tr>
                    <td>{{'label.input.asset.income' | translate}}:</td>
                    <td>{{totalIncomeAsset}}</td>
                </tr>
                <tr>
                    <td>{{'label.input.household.expense' | translate}}:</td>
                    <td>{{totalHouseholdExpense}}</td>
                </tr>
                <tr>
                    <td>{{'label.input.net.surplex' | translate}}:</td>
                    <td>{{totalIncomeOcc + totalIncomeAsset - totalHouseholdExpense}}</td>
                </tr>
            </table>
        </div>
    </div>
    <legend></legend>
    <div id="existing loans" class="row">
        <div class="col-md-12">
            <h3>{{''label.camactivity.existingloans'| translate}}</h3>
            <legend></legend>
        </div>
        <div class="col-md-12"
             ng-if="isReportPresent">
            <table class="table table-bordered table-striped" ng-if="activeLoan.summaries.length > 0">
                <tr>
                    <td colspan="8">
                        <span class="boldlabel"><strong>{{'label.heading.cb.report.active.loans.summary' | translate}}</strong></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><strong>{{'label.heading.serialno' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.name.of.mfi' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.no.of.active.loans' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.total.outstanding.amount' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.total.emi.amount' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.disbursaldate' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.overdue.amount' | translate}}</strong></span>
                    </td>
                </tr>
                <tr ng-repeat="summary in activeLoan.summaries | orderBy:'-totalOutstandingAmount' track by $index"
                    ng-init="summaryIndex = $index">
                    <td>
                        <span>{{(summaryIndex+1)}}</span>
                    </td>
                    <td>
                        <span>{{summary.lenderName}}</span>
                    </td>
                    <td>
                        <span>{{summary.noOfActiveLoans}}</span>
                    </td>
                    <td>
                        <span>{{summary.totalOutstandingAmount |number}}</span>
                    </td>
                    <td>
                        <span>{{summary.totalEMIAmount |number}}</span>
                    </td>
                    <td>
                        <span>{{summary.disbursalDate |DateFormat}}</span>
                    </td>
                    <td>
                        <span>{{summary.totalOverDueAmount |number}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><strong>{{'label.heading.total' | translate}}</strong></span>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <span><strong>{{activeLoan.totalSummary.noOfActiveLoans}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{activeLoan.totalSummary.totalOutstandingAmount | number}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{activeLoan.totalSummary.totalEMIAmount | number}}</strong></span>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <span><strong>{{activeLoan.totalSummary.totalOverDueAmount | number}}</strong></span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-12" ng-if="isReportPresent">
            <table class="table table-bordered table-striped" ng-if="closedLoan.summaries.length > 0">
                <tr>
                    <td colspan="8">
                        <span class="boldlabel"><strong>{{label.heading.closedLoansSummary | translate}}</strong></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><strong>{{'label.heading.serialno' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.name.of.mfi' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.no.of,closed.loans' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.total.disbursal.amount' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.last.closure.date' | translate}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{'label.heading.write.off.amount' | translate}}</strong></span>
                    </td>
                </tr>
                <tr ng-repeat="summary in closedLoan.summaries | orderBy:'lastClosureDate' :true track by $index"
                    ng-init="summaryIndex = $index">
                    <td>
                        <span>{{(summaryIndex+1)}}</span>
                    </td>
                    <td>
                        <span>{{summary.lenderName}}</span>
                    </td>
                    <td>
                        <span>{{summary.noOfClosedLoans}}</span>
                    </td>
                    <td>
                        <span>{{summary.totalDisbursalAmount |number}}</span>
                    </td>
                    <td>
                        <span>{{summary.lastClosureDate |DateFormat}}</span>
                    </td>
                    <td>
                        <span>{{summary.totalWriteOffAmount |number}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><strong>{{'label.heading.total' | translate}}</strong></span>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <span><strong>{{closedLoan.totalSummary.noOfClosedLoans}}</strong></span>
                    </td>
                    <td>
                        <span><strong>{{closedLoan.totalSummary.totalDisbursalAmount | number}}</strong></span>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <span><strong>{{closedLoan.totalSummary.totalWriteOffAmount | number}}</strong></span>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div id="loanapproval" class="row">
        <div class="col-md-12">
            <h3>{{'label.heading.loanapproval'| translate}}</h3>
            <legend></legend>
        </div>
        <div class="form-horizontal" ng-show="status=='SUMMARY'">
            <div id="print">
                <div id="branchName" align="center" class="width100">
                    <h3>{{loanaccountinfo.group.officeName}}</h3>
                    <br>
                </div>
                <div class="pull-right">
                    <table class="table width100">
                        <tbody>
                        <tr>
                            <th>{{'label.heading.sanctiondate' | translate}}:</th>
                            <td>{{formRequestData.approvedOnDate | DateFormat}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.sanctionamount' | translate}}:</th>
                            <td>{{formRequestData.loanAmountApproved}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.disbursementdate' | translate}}:</th>
                            <td>{{formRequestData.expectedDisbursementDate | DateFormat}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.disbursementammount' | translate}}:</th>
                            <td>{{formRequestData.loanAmountApproved}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.interesttype' | translate}}:</th>
                            <td>{{loanaccountinfo.interestType.value}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.interestperannum' | translate}}:</th>
                            <td>{{loanaccountinfo.interestRatePerPeriod}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="">
                    <table id="table1" class="table width40">
                        <tbody>
                        <tr>
                            <th>{{'label.heading.reportdate' | translate}}:</th>
                            <td>{{restrictDate | DateFormat}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.customername' | translate}}:</th>
                            <td>{{clientName}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.customerid' | translate}}:</th>
                            <td>{{loanaccountinfo.clientAccountNo}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.loan.application.number' | translate}}:</th>
                            <td>{{formData.loanApplicationReferenceNo}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.centername' | translate}}:</th>
                            <td>{{loanaccountinfo.group.centerName}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.coname' | translate}}:</th>
                            <td>{{clientData.staffName}}</td>
                        </tr>

                        <tr>
                            <th>{{'label.heading.productname' | translate}}:</th>
                            <td>{{loanaccountinfo.loanProductName}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>

        <div ng-show="status=='UPDATE'">
            <form class=" form-inline" name="approveloanapplicationform" novalidate="" rc-submit="submit()">

                <h4>{{ 'label.heading.approve.loanapplication.details' | translate }}</h4>
                <div class="col-md-12">
                    <table class="width100">
                        <tr>
                            <td class="width19"><label>{{ 'label.input.approval.amount' | translate
                                }}&nbsp;<span
                                        class="required">*</span>:</label></td>
                            <td class="width31 paddedbottom10">
                                <input type="text" class="form-control" name="loanAmountApproved"
                                       ng-model="formRequestData.loanAmountApproved"
                                       number-format required/>&nbsp;{{loanaccountinfo.currency.displaySymbol}}
                            </td>
                            <td class="width19"><label>{{'label.input.expecteddisbursementon' |
                                translate}}<span
                                        class="required">*</span>:</label></td>
                            <td class="width31 paddedbottom10">
                                <input id="expectedDisbursementDate" name="expectedDisbursementDate" type="text"
                                       datepicker-pop="dd MMMM yyyy"
                                       ng-model="formRequestData.expectedDisbursementDate"
                                       is-open="opened" min="minDate"
                                       max="'2020-06-22'"
                                       class="form-control" required/>
                            </td>
                        </tr>

                        <tr>
                            <td class="width19"></td>
                            <td class="width31 paddedbottom10">
                                <label>
                                <span class="error"
                                      ng-show="issubmitted && approveloanapplicationform.loanAmountApproved.$error.required">{{'label.error.required' | translate}}</span>
                                </label>
                            </td>
                            <td class="width19"></td>
                            <td class="width31 paddedbottom10">
                                <label>
                                <span class="error"
                                      ng-show="issubmitted && approveloanapplicationform.expectedDisbursementDate.$error.required">{{'label.error.required' | translate}}</span>
                                </label>
                            </td>
                        </tr>

                        <tr>
                            <td class="width14"><label>{{ 'label.input.numofrepayments' | translate
                                }}&nbsp;<span
                                        class="required">*</span>:</label></td>
                            <td class="paddedbottom10">
                                <input id="numberOfRepayments" name="numberOfRepayments" class="form-control"
                                       type="text"
                                       ng-model="formRequestData.numberOfRepayments" required
                                       ng-change="calculateTermFrequency()"/>
                            </td>

                            <td><label>{{ 'label.input.repaidevery' | translate }}&nbsp;<span
                                    class="required">*</span></label></td>
                            <td class="paddedbottom10 ">
                                <input id="repayEvery" class="form-control input-sm" type="text"
                                       name="repayEvery"
                                       ng-model="formRequestData.repayEvery" required late-validate=""
                                       ng-change="calculateTermFrequency()"/>
                                <select id="repaymentFrequencyType" name="repaymentFrequencyType"
                                        class="form-control input-sm"
                                        ng-model="formRequestData.repaymentPeriodFrequencyEnum"
                                        ng-options="repaymentFrequencyType.id as repaymentFrequencyType.value for repaymentFrequencyType in loanaccountinfo.termFrequencyTypeOptions"
                                        value="{{repaymentFrequencyType.id}}" required="" late-validate=""
                                        ng-change="calculateTermFrequency()"/>
                            </td>
                        </tr>

                        <tr>
                            <td class="width19"></td>
                            <td class="width31 paddedbottom10">
                                <label>
                                <span class="error"
                                      ng-show="issubmitted && approveloanapplicationform.numberOfRepayments.$error.required">{{'label.error.required' | translate}}</span>
                                </label>
                            </td>
                            <td class="width19"></td>
                            <td class="width31 paddedbottom10">
                                <label>
                                <span class="error"
                                      ng-show="issubmitted && approveloanapplicationform.repayEvery.$error.required">{{'label.error.required' | translate}}</span>
                                </label>
                                <label ng-show="formRequestData.repayEvery">
                                    <label>
                                <span class="error"
                                      ng-show="issubmitted && approveloanapplicationform.repaymentFrequencyType.$error.required">{{'label.error.required' | translate}}</span>
                                    </label>
                                </label>

                            </td>
                        </tr>

                        <tr>
                            <td class="width19" ng-if="loanaccountinfo.canDefineInstallmentAmount"><label>{{
                                'label.input.fixedemiamount' | translate
                                }}:</label>&nbsp;</td>
                            <td class="width36 paddedbottom10"
                                ng-if="loanaccountinfo.canDefineInstallmentAmount">
                                <input id="fixedEmiAmount" name="fixedEmiAmount" type="text"
                                       ng-model="formRequestData.fixedEmiAmount"
                                       class="form-control" number-format/>&nbsp;{{loanaccountinfo.currency.displaySymbol}}
                            </td>

                            <td class="width19"><label>{{'label.input.approvedondate' |
                                translate}}<span
                                        class="required">*</span>:</label></td>
                            <td class="width31 paddedbottom10">
                                <input id="approvedOnDate" name="approvedOnDate" type="text"
                                       datepicker-pop="dd MMMM yyyy"
                                       ng-model="formRequestData.approvedOnDate"
                                       is-open="opened" min="minDate"
                                       max="restrictDate"
                                       class="form-control" required/>
                            </td>
                        </tr>

                        <tr>
                            <td class="width19"></td>
                            <td class="width31 paddedbottom10">
                                <label>
                                <span class="error"
                                      ng-show="issubmitted && approveloanapplicationform.approvedOnDate.$error.required">{{'label.error.required' | translate}}</span>
                                </label>
                            </td>
                            <td class="width19"></td>
                            <td class="width31 paddedbottom10">

                            </td>
                        </tr>

                        <tr>
                            <td class="width25"
                                ng-hide="response.uiDisplayConfigurations.loanAccount.isHiddenField.repaymentsStartingFromDate == true">
                                <label>{{ 'label.input.firstrepaymenton' | translate }}<span
                                        class="required"
                                        ng-show="response.uiDisplayConfigurations.loanAccount.isMandatory.repaymentsStartingFromDate">*</span>:&nbsp;
                                </label>
                                <i class="icon-question-sign"
                                   tooltip="{{'label.tooltip.firstrepaymenton' | translate}}"></i>
                            </td>
                            <td class="width25 paddedbottom10"
                                ng-hide="response.uiDisplayConfigurations.loanAccount.isHiddenField.repaymentsStartingFromDate == true">
                                <input id="repaymentsStartingFromDate" name="repaymentsStartingFromDate"
                                       type="text" datepicker-pop="dd MMMM yyyy"
                                       ng-model="formRequestData.repaymentsStartingFromDate" is-open="opened3"
                                       min="minDate" max="'2020-06-22'" class="form-control"
                                       ng-required="response.uiDisplayConfigurations.loanAccount.isMandatory.repaymentsStartingFromDate"/>
                            </td>

                            <td class="width19"></td>
                            <td class="width31 paddedbottom10"></td>
                        </tr>

                        <tr>
                            <td class="width19"></td>
                            <td class="width31 paddedbottom10">
                                    <span class="error"
                                          ng-show="issubmitted && approveloanapplicationform.repaymentsStartingFromDate.$error.required">{{'label.error.required' | translate}}</span>
                            </td>
                            <td class="width19"></td>
                            <td class="width31 paddedbottom10"></td>
                        </tr>

                        <tr>
                            <td colspan="4">&nbsp;</td>
                        </tr>
                    </table>

                    <label ng-show="loanaccountinfo.calendarOptions"><i
                            class="icon-calendar icon-white"></i>&nbsp;<strong>{{
                        'label.heading.meetingdetails' | translate }}</strong></label>
                    <table ng-show="loanaccountinfo.calendarOptions" class="width100">
                        <tr ng-repeat="calendar in loanaccountinfo.calendarOptions">
                            <td class="width14"><label>{{ 'label.heading.startdate' | translate
                                }}:</label></td>
                            <td class="width36">{{calendar.startDate | DateFormat}}</td>
                            <td class="width14"
                                ng-hide="response.uiDisplayConfigurations.loanAccount.isHiddenField.syncDisbursementDateWithMeeting">
                                <label>{{ 'label.heading.repeatson' | translate }}:</label></td>
                            <td class="width36"
                                ng-hide="response.uiDisplayConfigurations.loanAccount.isHiddenField.syncDisbursementDateWithMeeting">
                                {{calendar.humanReadable}}
                            </td>
                        </tr>
                        <tr ng-repeat="calendar in loanaccountinfo.calendarOptions">
                            <td align="center"><input type="checkbox"
                                                      ng-model="formValidationData.syncRepaymentsWithMeeting"
                                                      ng-change="syncRepaymentsWithMeetingchange()"
                                                      ng-disabled="response.uiDisplayConfigurations.loanAccount.isReadOnlyField.syncRepaymentsWithMeeting">
                            </td>
                            <td><label>{{ 'label.input.syncrepaymentswithmeeting' | translate }}</label>
                            </td>
                            <td align="center"
                                ng-hide="response.uiDisplayConfigurations.loanAccount.isHiddenField.syncDisbursementDateWithMeeting">
                                <input type="checkbox"
                                       ng-model="formValidationData.syncDisbursementWithMeeting"
                                       ng-change="syncDisbursementWithMeetingchange()"></td>
                            <td ng-hide="response.uiDisplayConfigurations.loanAccount.isHiddenField.syncDisbursementDateWithMeeting">
                                <label>{{ 'label.input.syncdisbursementdatewithmeeting' | translate
                                    }}</label>
                            </td>
                        </tr>
                    </table>

                    <div ng-show="loanaccountinfo.product.multiDisburseLoan">
                        <hr/>
                        <label>
                            <strong>{{ 'label.heading.tranchedetails' | translate }}</strong>
                        </label>

                        <table class="width100">
                            <tr>
                                <td class="width14"><label>{{'label.input.outstandingloanbalance' |
                                    translate}}:</label>
                                </td>
                                <td class="width36 paddedbottom10">
                                    <input id="maxOutstandingLoanBalance" type="text"
                                           ng-model="formRequestData.maxOutstandingLoanBalance"
                                           class="form-control"
                                           number-format/>&nbsp;
                                    <a href="javascript:void(0)"
                                       title="{{ 'label.button.addtranch' | translate }}"
                                       ng-click="addTranches()"
                                       ng-show="formRequestData.loanApplicationSanctionTrancheDatas.length < loanaccountinfo.product.maxTrancheCount">
                                        <i class="icon-plus icon-white"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>

                        <table class="table width100"
                               ng-show="formRequestData.loanApplicationSanctionTrancheDatas && formRequestData.loanApplicationSanctionTrancheDatas.length>0">
                            <thead>
                            <tr class="graybg">
                                <th>{{'label.heading.serialno' | translate}}</th>
                                <th>{{'label.input.expecteddisbursementon' | translate}}</th>
                                <th>{{'label.input.principal' | translate}}</th>
                                <th ng-if="false">{{'label.input.fixedemiamount' | translate}}</th>
                                <th>{{'label.heading.actions' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="disbursementDetail in formRequestData.loanApplicationSanctionTrancheDatas track by $index">
                                <td>{{($index+1)}}</td>
                                <td>
                                    <input id="disbursementDetail[{{$index}}].expectedTrancheDisbursementDate"
                                           name="expectedTrancheDisbursementDate" type="text"
                                           datepicker-pop="dd MMMM yyyy"
                                           placeholder="{{'label.input.expecteddisbursementon' | translate}}"
                                           ng-model="disbursementDetail.expectedTrancheDisbursementDate"
                                           is-open="'openedtranche'+$index" min="minDate" max="'2020-06-22'"
                                           class="form-control" required ng-disabled="$index == 0"/>

                                    <label>
                                <span class="error"
                                      ng-show="issubmitted && approveloanapplicationform.expectedTrancheDisbursementDate.$error.required">{{'label.error.required' | translate}}</span>
                                    </label>
                                </td>
                                <td>
                                    <input id="{{disbursementDetail[$index].trancheAmount}}"
                                           name="trancheAmount"
                                           class="input-sm form-control"
                                           number-format type="text"
                                           ng-model="disbursementDetail.trancheAmount"
                                           placeholder="{{'label.input.principal' | translate}}" required
                                           late-validate="">

                                    <label>
                                <span class="error"
                                      ng-show="issubmitted && approveloanapplicationform.trancheAmount.$error.required">{{'label.error.required' | translate}}</span>
                                    </label>
                                </td>
                                <td ng-if="false">
                                    <input id="{{disbursementDetail[$index].fixedEmiAmount}}"
                                           class="input-sm form-control" number-format type="text"
                                           ng-model="disbursementDetail.fixedEmiAmount"
                                           placeholder="{{'label.input.fixedemiamount' | translate}}">
                                </td>
                                <td><a ng-click="deleteTranches($index)"
                                       ng-show="formRequestData.loanApplicationSanctionTrancheDatas.length > 1"><i
                                        class="icon-remove icon-white"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr/>
                    <div class="col-md-12">
                        <label><strong>{{ 'label.heading.charges' | translate }}</strong></label>
                        <select ng-model="chargeFormData.chargeId"
                                ng-options="charge.id as (charge.name + ',' + charge.currency.displaySymbol) for charge in loanaccountinfo.chargeOptions|filter:loanaccountinfo.currency.code:strict"
                                value="{{charge.id}}" class="form-control width170px">
                            <option value="">{{'label.selectcharge' | translate}}</option>
                        </select>
                        <a href="javascript:void(0)" ng-click="addCharge()"><i class="icon-plus icon-white"></i></a>
                    </div>
                    <table class="table" class="width100" ng-show="charges.length>0">
                        <tr class="graybg">
                            <th>{{'label.heading.name' | translate}}</th>
                            <th>{{'label.heading.type' | translate}}</th>
                            <th>{{'label.heading.amount' | translate}}</th>
                            <th>{{'label.heading.collectedon' | translate}}</th>
                            <th>{{'label.heading.date' | translate}}</th>
                            <th>{{'label.heading.actions' | translate}}</th>
                        </tr>
                        <tr ng-repeat="charge in charges">
                            <td>{{charge.name}},{{charge.currency.displaySymbol}}</td>
                            <td>{{charge.chargeCalculationType.value}}</td>
                            <td><input id="{{charges[$index].amount}}" class="form-control" type="text"
                                       ng-model="charge.amount"
                                       placeholder="{{'label.input.amount' | translate}}" number-format></td>
                            <td>{{charge.chargeTimeType.value}}</td>
                            <td>
                                <input id="charges[{{$index}}].duedate" type="text"
                                       datepicker-pop="dd MMMM yyyy"
                                       class="form-control"
                                       placeholder="{{'label.input.duedate' | translate}}"
                                       ng-model="charge.dueDate"
                                       is-open="'openedch'+$index" min="minDate" max="'2020-06-22'"/>
                            </td>
                            <td ng-hide="charge.isMandatory == true"><a ng-click="deleteCharge($index)"><i
                                    class="icon-remove icon-white"></i></a></td>
                        </tr>
                    </table>

                    <div>
                        <button type="button" class="btn btn-primary pull-right"
                                ng-show="repaymentscheduleinfo.periods.length > 0 && response.uiDisplayConfigurations.viewLoanAccountDetails.isHiddenFeild.viewReportButton"
                                ng-click="viewRepaymentDetails()">{{'label.button.viewReport' | translate}}
                        </button>
                    </div>

                    <div ng-show="repaymentscheduleinfo.periods">
                        <table class="table width100">
                            <thead>
                            <th colspan="3" scope="col"></th>
                            <th colspan="3" scope="col">{{'label.heading.loanamountandbalance' | translate}}
                            </th>
                            <th colspan="2" scope="col">{{'label.heading.totalcostofloan' | translate}}</th>
                            <th colspan="2" scope="col"></th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#</td>
                                <td>{{'label.heading.date' | translate}}</td>
                                <td>{{'label.heading.days' | translate}}</td>
                                <td>{{'label.heading.disbursement' | translate}}</td>
                                <td>{{'label.heading.principaldue' | translate}}</td>
                                <td>{{'label.heading.principalbalance' | translate}}</td>
                                <td>{{'label.heading.interestdue' | translate}}</td>
                                <td>{{'label.heading.fees' | translate}}</td>
                                <td>{{'label.heading.penalty' | translate}}</td>
                                <td>{{'label.heading.due' | translate}}</td>
                            </tr>
                            <tr ng-repeat="period in repaymentscheduleinfo.periods">
                                <td>{{period.period}}</td>
                                <td>{{period.dueDate | DateFormat}}</td>
                                <td>{{period.daysInPeriod}}</td>
                                <td>{{period.principalDisbursed | number}}</td>
                                <td>{{period.principalDue| number}}</td>
                                <td>{{period.principalLoanBalanceOutstanding| number}}</td>
                                <td>{{period.interestDue| number}}</td>
                                <td>{{period.feeChargesDue| number}}</td>
                                <td>{{period.penaltyChargesDue| number}}</td>
                                <td>{{period.totalDueForPeriod| number}}</td>
                            </tr>
                            <tfoot class="ui-widget-header">
                            <tr>
                                <td colspan="2">{{'label.heading.total' | translate}}</td>
                                <td>{{repaymentscheduleinfo.loanTermInDays}}</td>
                                <td>{{repaymentscheduleinfo.totalPrincipalDisbursed| number}}</td>
                                <td>{{repaymentscheduleinfo.totalPrincipalExpected| number}}</td>
                                <td></td>
                                <td>{{repaymentscheduleinfo.totalInterestCharged| number}}</td>
                                <td>{{repaymentscheduleinfo.totalFeeChargesCharged| number}}</td>
                                <td>{{repaymentscheduleinfo.totalPenaltyChargesCharged| number}}</td>
                                <td>{{repaymentscheduleinfo.totalRepaymentExpected| number}}</td>
                            </tr>
                            </tfoot>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-offset-5" ng-if="false">
                        <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">
                            {{'label.button.cancel' |
                            translate}}
                        </button>
                        <button id="save" ng-click="issubmitted=true" ng-show="formData.status.id === 200"
                                type="submit"
                                has-permission='APPROVE_LOANAPPLICATIONREFERENCE'
                                class="btn btn-primary">
                            {{'label.button.approve' |
                            translate}}
                        </button>
                    </div>
                </div>
                <table class="width100">
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>