<div ng-controller="CenterDocumentActivityController">
    <div>
        <api-validate></api-validate>
    </div>
    <div class="col-md-12">
        <form name="documentuploadform" novalidate="" class="row form-horizontal" rc-submit="submitDocument()">
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-2">
                        <input id="name" name="name" type="text" placeholder="{{ 'label.input.filename' | translate }}" class="form-control" ng-disabled="true"
                            ng-model="filename" />
                        <form-validate valattributeform="documentuploadform" valattribute="name" />
                    </div>

                    <div class="col-sm-2">
                        <textarea rows="1" cols="15" ng-model="documentFormdata.description" class="form-control" placeholder="{{'label.input.file.description'|translate}}"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <select id="tagIdentifier" name="tagIdentifier" ng-model="documentFormdata.tagIdentifier" class="form-control" ng-change="setFileName()"
                            ng-options="codeValue.id as codeValue.name for codeValue in availableDocumentNames" value="{{codeValue.id}}"
                            ng-required="isUploadDocumentTagMandatory">
                            <option value="">{{'label.selectdocumenttag' | translate}}</option>
                        </select>
                        <form-validate valattributeform="documentuploadform" valattribute="tagIdentifier" />
                    </div>

                    <div class="col-sm-3">
                        <input type="file" id="file" ng-file-select="onFileSelect($files)" ng-required="isFileMandatory" />
                    </div>

                    <div class="col-md-2">
                        <button ng-show="isFileSelected" id="save" type="submit" has-permission='CREATE_DOCUMENT' class="btn btn-primary">{{'label.button.upload'
                            | translate}}</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <br>
        <div>
            <h3>{{'uploadedDocuments' | translate}}</h3>
            <table class="table">
                <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.name' | translate}}</th>
                        <th>{{'label.heading.description' | translate}}</th>
                        <th>{{'label.heading.filename' | translate}}</th>
                        <th>{{'label.heading.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="(key, value) in centerdocuments">
                    <tr ng-repeat="centerdocument in value">
                        <td>{{centerdocument.name}}</td>
                        <td>{{centerdocument.description}}</td>
                        <td>{{centerdocument.fileName}}</td>
                        <td>
                            <a ng-if="centerdocument.id" ng-click="download(centerdocument)" has-permission='DOWNLOAD_DOCUMENT'><i class="icon-cloud-download"></i></a>&nbsp;
                            <a ng-if="centerdocument.id" ng-click="deleteDoc(centerdocument,$index, key)"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-offset-11">
            <button type="button" data-ng-disabled="isAllClientFinishedThisTask" ng-click="moveMembersToNextStep()" class="btn btn-primary">{{'label.button.save'
                | translate}}
            </button>
        </div>
    </div>
</div>