<div class="col-md-12" ng-controller="CenterMeetingActivityController">
    <form ng-submit="submit()" ng-if=!isCenterMeetingAttached>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label ng-show="!isCenterMeetingEdit" class="control-label offset2">
                        <b>{{'label.heading.attachmeeting' | translate}}</b>
                    </label>
                    <label ng-show="isCenterMeetingEdit"><b>{{'label.heading.editmeeting' | translate}}
                    </b></label>
                </div>
                <div class="form-group">
                    <label class ="control-label col-sm-3 text-right"><b> {{'label.heading.expecteddisbursementdate' | translate}}</b> </label>
                    <div class="col-sm-2">
                   <input id="expectedDisbursementOnDate" type="text" name="expectedDisbursementOnDate" datepicker-pop="{{df}}" ng-model="formData.expectedDisbursementDate" is-open="opened" class="form-control"/></div>
                </div>
            </div>
            <br/>
            <div>
                <table>
                    <tr>
                        <td class="col-sm-2 text-right">
                            <label class="control-label">{{'label.input.meetingstartdate' | translate}}
                                <span class="required">*</span>
                            </label>
                        </td>
                        <td class="col-sm-2">
                            <input id="startDate" type="text" datepicker-pop="{{df}}" ng-model="first.date" is-open="opened"  min="minMeetingDate"
                                max="maxMeetingDate" class="form-control" />
                        </td>
                        <td class="col-sm-2 text-right">
                            <label class="control-label">{{'label.input.meetingtime' | translate}}
                                <span class="required"></span>
                            </label>
                        </td>
                        <td class="col-sm-2">
                            <timepicker ng-model="tempFormData.meetingTime"></timepicker>
                        </td>
                         <td class="col-sm-2 text-right">
                            <label class="control-label">{{'label.input.centermeetinglocation' |translate}}</label>
                        </td>
                        <td class="col-sm-2">
                                <select ng-model="formData.locationId" class="form-control"  ng-options="location.id as location.name for location in locationOptions"
                                value="{{location.id}}">
                               <option value=""></option>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-right">
                            <label class="control-label">{{'label.input.repeat' | translate}}</label>
                        </td>
                        <td class="col-sm-2">
                            <input type="checkbox" ng-model="formData.repeating" ng-bind="formData.repeating" ng-disabled="true">
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-show="formData.repeating">
                <label class="control-label offset2 paddedtop"><b class="paddedleft paddedtop">{{'label.heading.repeatdetails' | translate}}</b></label>
            </div>
            <table class="col-sm-8" ng-show="formData.repeating">
                <tr>
                    <td class="col-sm-2 text-right">
                        <label class="control-label">{{'label.input.repeats' | translate}}</label>
                    </td>
                    <td class="col-sm-2">
                        <select ng-model="formData.frequency" class="form-control" ng-disabled="true" ng-options="repeatsOption.id as repeatsOption.value for repeatsOption in repeatsOptions"
                            ng-change="selectedPeriod(formData.frequency)" value="{{repeatsOption.id}}">
                            <option value=""></option>
                        </select>
                    </td>
                    <td class="col-sm-2 text-right">
                        <label class="control-label">{{'label.input.repeatsevery' | translate}}</label>
                    </td>
                    <td ng-if="!showAsTextBox" class="col-sm-2">
                        <select class="form-control" ng-model="formData.interval" ng-disabled="true" ng-options="repeatsEveryOption for repeatsEveryOption in repeatsEveryOptions">{{repeatsEveryOption}}
                        </select>
                    </td>
                    <td ng-if="showAsTextBox" class="col-sm-2">
                        <input type="number" min="1" max="365" ng-model="formData.interval" class="form-control">
                    </td>
                    <td class="col-sm-2">
                        <label>{{periodValue}} </label>
                        <label ng-show="formData.frequency=='2' || formData.frequency == 3"> - on - </label>
                    </td>
                </tr>
            </table>

            <table class="col-sm-4">
                <tr ng-show="formData.frequency == 3">
                    <td class="col-sm-2">
                        <select id="repeatsOnNthDayOfMonth" class="form-control" ng-model="formData.repeatsOnNthDayOfMonth" ng-options="repeatsOnNthDayOfMonth.id as repeatsOnNthDayOfMonth.value for repeatsOnNthDayOfMonth in frequencyNthDayOptions"
                            value="{{repeatsOnNthDayOfMonth.id}}">
                            <option value=""></option>
                        </select>&nbsp;
                    </td>
                    <td class="col-sm-2" data-ng-hide="formData.repeatsOnNthDayOfMonth == -2">
                        <select id="repeatsOnLastWeekdayOfMonth" class="form-control" ng-model="formData.repeatsOnLastWeekdayOfMonth" ng-options="repeatsOnLastWeekdayOfMonth.value as repeatsOnLastWeekdayOfMonth.name for repeatsOnLastWeekdayOfMonth in frequencyDayOfWeekOptions"
                            value="{{repeatsOnLastWeekdayOfMonth.value}}">
                            <option value=""></option>
                        </select>&nbsp;
                    </td>
                    <td class="col-sm-2" data-ng-show="formData.repeatsOnNthDayOfMonth == -2">&nbsp;
                    </td>
                </tr>
            </table>
            <div class="form-group" data-ng-show="formData.frequency == 3 && formData.repeatsOnNthDayOfMonth == -2">
                <div class="col-sm-3 col-md-3 col-md-offset-1">
                    <label class="control-label col-sm-9">{{ 'label.input.availablemonthdays' | translate }}</label>
                    <select id="avilabledays" ng-model="available" name="avilabledays" class="form-control multiselectmin" multiple>
                        <option ng-repeat="onday in repeatsOnDayOfMonthOptions" value="{{onday}}">
                            {{onday}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-1 col-md-1 paddedtop25px">
                    <button type="button" class="btn btn-primary" data-ng-click="addMonthDay()">
                        <i class="icon-double-angle-right"></i>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-primary" data-ng-click="removeMonthDay()">
                        <i class="icon-double-angle-left"></i>
                    </button>
                </div>
                <div class="col-sm-3 col-md-3">
                    <label class="control-label col-sm-9">{{ 'label.input.selectedmonthdays' | translate}}</label>
                    <select id="selecteddays" ng-model="selected" name="selecteddays" class="form-control multiselectmin" multiple>
                        <option ng-repeat="onday in selectedOnDayOfMonthOptions" value="{{onday}}">
                            {{onday}}
                        </option>
                    </select>
                </div>
            </div>
                <table class="col-sm-4">
                    <tr ng-show="formData.repeating">
                        <td class="col-sm-2">
                            <select ng-show="formData.frequency=='2'" class="form-control" ng-model="formData.repeatsOnDay" ng-options="repeatsOnOption.value as repeatsOnOption.name for repeatsOnOption in repeatsOnOptions"
                                value="{{repeatsOnOption.name}}" ng-disabled="true">
                                <option value=""></option>
                            </select>
                        </td>
                        <td class="col-sm-2"></td>
                    </tr>
                </table>
        </div>
       
        <div class="col-sm-12 center paddedbottom10">
            <div>
             <br/>
                <a id="cancel" ng-if="isCenterMeetingEdit" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</a>
                <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_MEETING'>
                    {{'label.button.save' | translate}}
                </button>
            </div>
        </div>
    </form>
    <form ng-if="isCenterMeetingAttached && !isCenterMeetingEdit">
        <div class="alert alert-warning" role="alert">
            <h4>
                <strong>{{ 'label.heading.meeting' | translate }}</strong>
            </h4>
            <table class="table-minified">
                <tr>
                    <td>
                      <strong>{{'label.heading.expecteddisbursementdate' | translate}}</strong> 
                    
                    </td>
                    <td>
                        <span class="padded-td" ng-if="!isEditExpectedDisbursementDateOnly">
                            {{expectedDisbursementOnDate | DateFormat}}
                            <a ng-click="updateMeeting(centerMeetingData.collectionMeetingCalendar,false)" ng-show="centerMeetingData.collectionMeetingCalendar"
                                has-permission='UPDATE_MEETING'>
                                <i class="icon-edit icon-white"></i>
                            </a>
                        </span>
                        <input ng-if="isEditExpectedDisbursementDateOnly" id="editExpectedDisbursementOnDate" type="text" name="editExpectedDisbursementOnDate" datepicker-pop="{{df}}" ng-model="formData.expectedDisbursementDate" is-open="opened" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>{{ 'label.heading.nextmeetingon' | translate }}</strong>
                    </td>
                    <td>
                        <span class="padded-td">{{centerMeetingData.collectionMeetingCalendar.nextTenRecurringDates[0] | DateFormat}}&nbsp;
                            <a ng-click="updateMeeting(centerMeetingData.collectionMeetingCalendar,true)" ng-show="centerMeetingData.collectionMeetingCalendar"
                                has-permission='UPDATE_MEETING'>
                                <i class="icon-edit icon-white"></i>
                            </a>
                            <span class="marginleftn7px" data-ng-hide="centerMeetingData.collectionMeetingCalendar.nextTenRecurringDates[0]">{{ 'label.unassigned' | translate }}</span>
                        </span>
                    </td>
                </tr>
                <tr data-ng-show="centerMeetingData.collectionMeetingCalendar.humanReadable">
                    <td>
                        <strong>{{ 'label.heading.meetingfrequency' | translate }}</strong>
                    </td>
                    <td>
                        <span class="padded-td">{{centerMeetingData.collectionMeetingCalendar.humanReadable}}</span>
                    </td>
                </tr>
                <tr data-ng-show="center.status.value=='Closed'">
                    <td>
                        <strong>{{ 'label.heading.closedate' | translate }}</strong>
                    </td>
                    <td>
                        <span class="padded-td">{{centerMeetingData.timeline.closedOnDate | DateFormat}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>{{'label.input.meetingtime' | translate}}</strong>
                    </td>
                    <td>
                        <span class="padded-td">{{meetingTime | date:"h:mma"}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12 center paddedbottom10" ng-if="isEditExpectedDisbursementDateOnly">
            <div>
                <br/>
                <a id="cancel" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</a>
                <button id="save" type="button" ng-click="submit()" class="btn btn-primary" has-permission='CREATE_MEETING'>
                    {{'label.button.save' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>