<div class="col-md-12" ng-controller="clientdocumentActivityController" >
<form name="clientdocumentform" ng-if="!isTaskCompleted()" novalidate="" class="row form-horizontal"
      rc-submit="submit()">
    <fieldset>
        <div class="form-group">
            <div class="col-sm-2">
                <input ng-autofocus="true" type="text" id="name" name="name" ng-model="formData.name" placeholder="File name" class="form-control" required late-Validate/>
                <form-validate valattributeform="clientdocumentform" valattribute="name"/>
            </div>

            <div class="col-sm-2">
                <textarea rows="1" cols="15" ng-model="formData.description" class="form-control" placeholder="{{'label.input.file.description'|translate}}"></textarea>
            </div>

            <div class="col-sm-2">
                <select id="tagIdentifier" ng-model="formData.tagIdentifier" class="form-control"
                        ng-options="codeValue.id as codeValue.name for codeValue in documentTagOptions" value="{{codeValue.id}}">
                    <option value="">{{'label.selectdocumenttag' | translate}}</option>
                </select>
            </div>

            <div class="col-sm-2">
                <input type="file" id="file" ng-file-select="onFileSelect($files)">
            </div>

            <div class="col-md-2">
                <button id="save" type="submit" has-permission='CREATE_DOCUMENT' class="btn btn-primary">{{'label.button.upload' | translate}}</button>
            </div>
        </div>

    </fieldset>
    </form>
    <br>
    <div ng-repeat="(key, value) in clientdocuments">
        <h3>{{key | translate}}</h3>
        <table class="table" ng-show="value.length > 0">
            <thead>
            <tr class="graybg">
                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.description' | translate}}</th>
                <th>{{'label.heading.filename' | translate}}</th>
                <th>{{'label.heading.actions' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="clientdocument in value">
                <td>{{clientdocument.name}}</td>
                <td>{{clientdocument.description}}</td>
                <td>{{clientdocument.fileName}}</td>
                <td>
                    <a ng-show="clientdocument.id" target="_blank" href="{{hostUrl}}{{clientdocument.docUrl}}"><i class="icon-cloud-download"></i></a>&nbsp;
                    <a ng-if="!isTaskCompleted()" ng-show="clientdocument.id" ng-click="deleteDocument(clientdocument,$index, key)"><i class="icon-remove"></i></a>
                    <a ng-show="clientdocument.id && clientdocument.reportIdentifier" ng-click="reGenerateDocument(clientdocument)"><i class="icon-repeat"></i></a>
                    <a ng-hide="clientdocument.id" ng-click="generateDocument(clientdocument)"><i class="icon-link"></i></a>
                </td>
            </tr>
            </tbody>
        </table>    
    </div>
</div>
