<div ng-controller="CreditBureauCheckActivityController">
	<div>
		<span style="text-align:left">{{'label.info.totalmembers' | translate}} : {{centerDetails.totalCenterMembers}}&nbsp;&nbsp;{{'label.info.activeborrowers'
			| translate}} : {{centerDetails.totalBorrowerMembers}}</span>
	</div>
	<div>
		<div>
			<table class="table table-striped">
				<thead>
					<th class="col-md-2">{{'label.heading.name' | translate}}</th>
					<th class="col-md-2">{{'label.heading.FCSM.No' | translate}}</th>
					<th class="col-md-1">{{'label.heading.amount.outstanding' | translate}}</th>
					<th class="col-md-1">{{'label.heading.dpd' | translate}}</th>
					<th class="col-md-1">{{'label.heading.arrears.amount' | translate}}</th>
					<th class="col-md-1">{{'label.heading.applied.amount' | translate}}</th>
					<th class="col-md-1">{{'label.heading.recommended.amount' | translate}}</th>
					<th class="col-md-1">{{'label.heading.attendance' | translate}}</th>
					<th class="col-md-1"><a href="" ng-if = "showBulkCBInitiate" ng-click="initiateBulkCreditBureauReport()"><i class="icon-bullseye icon-large"  tooltip="{{'label.tooltip.initiate.credit.bureau' | translate}}"></i></a></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1">{{'label.heading.reject' | translate}}</th>
				</thead>
				<tbody ng-repeat="groupMember in centerDetails.subGroupMembers">
					<tr>
						<td colspan="12">
							<span>{{groupMember.fcsmNumber}}
							</span>
						</td>
						<td class="icon-remove-circle" ng-click="groupRejection(groupMember.id)" tooltip="{{'label.button.reject' | translate}}"></td>
					</tr>
					<tr ng-repeat="activeClientMember in groupMember.memberData" 
					    ng-class ="activeClientMember.color">
						<td class="col-md-2">{{activeClientMember.displayName}}
						</td>
						<td class="col-md-1">{{activeClientMember.fcsmNumber}}</td>
						<td class="col-md-1">{{activeClientMember.cbExistingLoansSummaryData.totalOutstanding}}</td>
						<td class="col-md-1">{{activeClientMember.cbExistingLoansSummaryData.totalDPD}}
						</td>
						<td class="col-md-1">
							{{activeClientMember.cbExistingLoansSummaryData.totalArrears}}
						</td>
						<td class="col-md-1">
							{{activeClientMember.loanAccountBasicData.principalAmount}}
						</td>
						<td class="col-md-1">
							{{activeClientMember.loanAccountBasicData.loanProposalReviewData.recommendedAmount}}
						</td>
						<td class="col-md-1">
							<a ng-click="editLoan(activeClientMember.loanAccountBasicData,groupMember.id)" ng-if="activeClientMember.cbExistingLoansSummaryData"
							    title="Edit Loan">
								<i class="icon-edit icon-white"></i>
							</a>
						</td>
						<td class="col-md-1">
							<a href="" ng-if="!activeClientMember.cbExistingLoansSummaryData && activeClientMember.loanAccountBasicData"
							    ng-click="initiateCreditBureauReport(activeClientMember.loanAccountBasicData.id)"><i class="icon-bullseye"  tooltip="{{'label.tooltip.initiate.credit.bureau' | translate}}"></i></a>
						</td>
						<td class="col-md-1">
							<a target="_blank" title="View CreditBureau Report" ng-if="activeClientMember.cbExistingLoansSummaryData" data-ng-click="openViewDocument(activeClientMember.cbExistingLoansSummaryData.creditBureauEnquiryId)"
							    has-permission='READ_CREDIT_BUREAU_REPORT'>
								<i class="icon-eye-open text-success"></i>
							</a>
						</td>
						<td class="col-md-1">
							<a target="_blank" ng-if="activeClientMember.clientLevelCriteriaResultData.score > 0 && 
						  activeClientMember.clientLevelCriteriaResultData.score < 5" data-ng-click="captureReviewReason(activeClientMember.loanAccountBasicData.clientId,
                                   activeClientMember.loanAccountBasicData.id,
                                   activeClientMember.loanAccountBasicData.loanProposalReviewData.id)" class="btn btn-danger">{{'label.button.review' | translate}}
							</a>
						</td>
                        <td class="col-md-1"><input type="checkbox" ng-model="isMemberChecked"
                             ng-disabled="activeClientMember.isClientFinishedThisTask"
							 ng-change="captureMembersToNextStep(activeClientMember.id, activeClientMember.loanAccountBasicData.id, isMemberChecked, $index)"></input></td>
						<td class="col-md-1"><a href="javascript:void(0)" ng-click="clientRejection(activeClientMember.id)"><i class="icon-remove-circle"></i></a></td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-offset-11">
				<button type="button" ng-click="moveMembersToNextStep()" class="btn btn-primary"
					>{{'label.button.save' |
					translate}}</button>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="viewDocument.html">
		<div style="position: fixed; top:20%; right:10%; width:600px; height: 500px;">
			<view-document-directive ng-entity-type="{{data.reportEntityType}}" ng-entity-id="{{data.enquiryId}}"></view-document-directive>
		</div>
	</script>
</div>