<div ng-controller="CreditApprovalActivityController">
	<div>
		<span style="text-align:left">{{'label.info.totalmembers' | translate}} : {{centerDetails.totalCenterMembers}}&nbsp;&nbsp;{{'label.info.activeborrowers'
			| translate}} : {{centerDetails.totalBorrowerMembers}}</span>
	</div>
	<div>
		<div>
			<api-validate></api-validate>
		</div>
		<div>
			<table class="table">
				<thead>
					<th class="col-md-2">{{'label.heading.name' | translate}}</th>
					<th class="col-md-2">{{'label.heading.FCSM.No' | translate}}</th>
					<th class="col-md-1">{{'label.heading.loanproduct' | translate}}</th>
					<th class="col-md-1">{{'label.heading.loanpack' | translate}}</th>
					<th class="col-md-2">{{'label.heading.loanpurpose' | translate}}</th>
					<th class="col-md-1">{{'label.heading.processingfee' | translate}}</th>
					<th class="col-md-1">{{'label.heading.single.double.insurance' | translate}}</th>
					<th class="col-md-1"> </th>
					<th class="col-md-1"> </th>
					<th class="col-md-1"> </th>
					<th class="col-md-1"> </th>
					<th class="col-md-1"> </th>
					<th class="col-md-1"></th>
					<th class="col-md-1">{{'label.heading.reject' | translate}}</th>
				</thead>
				<tbody ng-repeat="groupMember in centerDetails.subGroupMembers">
					<tr  class="background-gold">
						<td colspan="13">
							<span>{{groupMember.fcsmNumber}}
							</span>
						</td>
						<td class="col-md-1">
							<a type="button" class="btn btn-danger btn-xs" 
                                 ng-disabled = "{{taskData.possibleActions.length == 0}}"
								ng-click="groupRejection(groupMember.id)" tooltip="{{'label.button.reject' | translate}}">
									<i class="icon-remove-circle pointer"></i>
							</a>
						</td> 
					</tr>
					<tr ng-repeat="activeClientMember in groupMember.memberData" 
					  ng-class ="activeClientMember.color">
						<td class="col-md-2">
							<a href="" ng-click="viewMemberDetails(groupMember.id, activeClientMember)">{{activeClientMember.displayName}}</a>
						</td>
						<td class="col-md-2">{{activeClientMember.fcsmNumber}}</td>
						<td class="col-md-1 cell-overflow">{{activeClientMember.loanAccountBasicData.loanProductName}}</td>
						<td class="col-md-1">{{activeClientMember.loanAccountBasicData.loanEMIPackData.sanctionAmount | number}}</td>
						<td class="col-md-2 cell-overflow">{{activeClientMember.loanAccountBasicData.loanPurposeName}}</td>
						<td class="col-md-1">{{activeClientMember.loanAccountBasicData.charges[0].amount | number}}</td>
						<td class="col-md-1">{{activeClientMember.loanAccountBasicData.charges[1].amount | number}}&nbsp;&nbsp; {{activeClientMember.loanAccountBasicData.charges[2].amount | number}}</td>
						<td class="col-md-1">
							<a ng-if="activeClientMember.loanAccountBasicData" ng-click="showReviewHistory(activeClientMember.loanAccountBasicData.id)"
							    class="btn btn-default">
								{{'label.button.history' | translate}}</a>
						</td>
						<td class="col-md-1">
							<a type="button" class="btn btn-default btn-xs" 
							ng-click="editLoan(activeClientMember.loanAccountBasicData,groupMember.id)"
							ng-disabled="activeClientMember.isClientFinishedThisTask"
							title = "{{'label.button.edit.loan' | translate}}">
									<i class="icon-edit icon-white pointer"></i>
							</a>
						</td>
						<td class="col-md-1">
							<a type="button" ng-if="activeClientMember.clientLevelCriteriaResultData.score > 0 && 
						               activeClientMember.clientLevelCriteriaResultData.score < 5" 
                            ng-disabled="activeClientMember.isClientFinishedThisTask"
						    data-ng-click="captureReviewReason(activeClientMember.loanAccountBasicData.clientId,
                                   activeClientMember.loanAccountBasicData.id,
                                   activeClientMember.loanAccountBasicData.loanProposalReviewData.id)" class="btn btn-danger btn-xs">{{'label.button.review' | translate}}
							</a>
						</td>
						<td class="col-md-1">
							<a target="_blank" title="View CreditBureau Report" ng-if="activeClientMember.cbExistingLoansSummaryData" data-ng-click="openViewDocument(activeClientMember.cbExistingLoansSummaryData.creditBureauEnquiryId)"
							    has-permission='READ_CREDIT_BUREAU_REPORT'>
								<i class="icon-eye-open text-success"></i>
							</a>
						</td>
						<td class="col-md-1">
							<a target="_blank" title="View CreditBureau Criteria Result" 
							ng-if="activeClientMember.clientLevelCriteriaResultData" 
							data-ng-click="openViewCBCriteriaResult(activeClientMember.clientLevelCriteriaResultData.ruleResult)">
								<i class="icon-question-sign"></i>
							</a>
						</td>
						<td class="col-md-1"><input class="pull-left" type="checkbox"
                            ng-disabled = "activeClientMember.isClientFinishedThisTask"
                        ng-model="client.checked" ng-change="
                        captureMembersToNextStep(activeClientMember.id, activeClientMember.loanAccountBasicData.id, client.checked, $index)">
                        </td>
						<td class="col-mod-1" >
							<a type="button" class="btn btn-danger btn-xs" ng-click="clientRejection(activeClientMember.id)" title="{{'label.button.reject' | translate}}" ng-disabled="activeClientMember.isClientFinishedThisTask">
							    <i class="icon-remove-circle pointer"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-offset-11">
                <button type="button" ng-click="moveMembersToNextStep()" class="btn btn-primary">
                	{{'label.button.save' | translate}}
                </button>
            </div>
		</div>
	</div>
</div>