<div ng-controller="CreditBureauCheckActivityController">
	<div>
		<span style="text-align:left">{{'label.info.totalmembers' | translate}} : {{centerDetails.totalCenterMembers}}&nbsp;&nbsp;{{'label.info.activeborrowers'
			| translate}} : {{centerDetails.totalBorrowerMembers}}</span>
	</div>
	<div>
		<div>
			<table class="table">
				<thead>
					<th class="col-md-1"></th>
					<th class="col-md-2">{{'label.heading.name' | translate}}</th>
					<th class="col-md-2">{{'label.heading.FCSM.No' | translate}}</th>
					<th class="col-md-1">{{'label.heading.amount.outstanding' | translate}}</th>
					<th class="col-md-1">{{'label.heading.dpd' | translate}}</th>
					<th class="col-md-1">{{'label.heading.arrears.amount' | translate}}</th>
					<th class="col-md-1">{{'label.heading.applied.amount' | translate}}</th>
					<th class="col-md-1">{{'label.heading.recommended.amount' | translate}}</th>
					<th class="col-md-1">{{'label.heading.attendance' | translate}}</th>
					<th class="col-md-1"></th>
					<th class="col-md-1"><a href="" ng-if = "showBulkCBInitiate" ng-click="initiateBulkCreditBureauReport()"><i class="icon-bullseye icon-large"  tooltip="{{'label.tooltip.initiate.credit.bureau' | translate}}"></i></a></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1">{{'label.heading.reject' | translate}}</th>
				</thead>
				<tbody ng-repeat="groupMember in centerDetails.subGroupMembers | filter : isActiveSubGroup">
					<tr  class="background-gold">
						<td colspan="14">
							<span>{{groupMember.fcsmNumber}}
							</span>
						</td>
						<td class="col-md-1">
							<a type="button" class="btn btn-danger btn-xs" 
                                 ng-disabled = "{{taskData.possibleActions.length == 0}}"
								ng-click="groupRejection(groupMember)" tooltip="{{'label.button.reject' | translate}}">
									<i class="icon-remove-circle pointer"></i>
							</a>
						</td>
					</tr>
					<tr ng-repeat="activeClientMember in groupMember.memberData | filter : isActiveMember"
						ng-class ="activeClientMember.color"
						ng-if="!activeClientMember.isClientFinishedThisTask">
						<td class="col-md-1" ng-if="!activeClientMember.cbExistingLoansSummaryData && activeClientMember.loanAccountBasicData"><input type="checkbox" ng-model="isMemberChecked" ng-hide="activeClientMember.status.code == 'clientStatusType.onHold'"
							ng-disabled="activeClientMember.isClientFinishedThisTask" data-toggle="tooltip" data-placement="top" title="{{'label.tooltip.cb.initiation.not.done' | translate}}"
							ng-change="captureMembersToNextStep(activeClientMember.id, activeClientMember.loanAccountBasicData.id, isMemberChecked, $index)"></input></td>
						<td class="col-md-2">{{activeClientMember.displayName}}
						</td>
						<td class="col-md-1">{{activeClientMember.fcsmNumber}}</td>
						<td class="col-md-1">{{activeClientMember.cbExistingLoansSummaryData.totalOutstanding}}</td>
						<td class="col-md-1">{{activeClientMember.cbExistingLoansSummaryData.totalDPD}}
						</td>
						<td class="col-md-1">
							{{activeClientMember.cbExistingLoansSummaryData.totalArrears}}
						</td>
						<td class="col-md-1">
							{{activeClientMember.loanAccountBasicData.principalAmount}}
						</td>
						<td class="col-md-1">
							{{activeClientMember.loanAccountBasicData.loanProposalReviewData.recommendedAmount}}
						</td>
						<td class="col-md-1">
						{{activeClientMember.attendancePercentage |number}}{{'label.heading.percentage' | translate}}
						</td>
						<td class="col-md-1">
							<a type="button" class="btn btn-default btn-xs" ng-click="editLoan(activeClientMember.loanAccountBasicData,groupMember.id)"  
                            ng-if="activeClientMember.cbExistingLoansSummaryData"
							ng-disabled="activeClientMember.isClientFinishedThisTask"
							title = "{{'label.button.edit.loan' | translate}}">
									<i class="icon-edit icon-white pointer"></i>
							</a>
						</td>
						<td class="col-md-1">
							<a href=""
							 ng-if="!activeClientMember.cbExistingLoansSummaryData && activeClientMember.loanAccountBasicData"
							 ng-disabled="activeClientMember.isClientFinishedThisTask"
							 ng-click="initiateCreditBureauReport(activeClientMember.loanAccountBasicData.id)"
							 title="{{'label.tooltip.initiate.credit.bureau' | translate}}">
							 <i class="icon-bullseye"></i>
							</a>
						</td>
						<td class="col-md-1">
							<a target="_blank" title="View CreditBureau Report" ng-if="activeClientMember.cbExistingLoansSummaryData" data-ng-click="openViewDocument(activeClientMember.cbExistingLoansSummaryData.creditBureauEnquiryId)"
							    has-permission='READ_CREDIT_BUREAU_REPORT'>
								<i class="icon-eye-open text-success"></i>
							</a>
						</td>
						<td class="col-md-1">
							<a target="_blank" title="View CreditBureau Criteria Result" 
							ng-if="activeClientMember.clientLevelCriteriaResultData" 
							data-ng-click="openViewCBCriteriaResult(activeClientMember.clientLevelCriteriaResultData.ruleResult)">
								<i class="icon-question-sign"></i>
							</a>
						</td>
						<td class="col-md-1">
							<a type = "button" 
							ng-if="activeClientMember.clientLevelCriteriaResultData.score > 0 && 
						               activeClientMember.clientLevelCriteriaResultData.score < 5" 
							ng-disabled="activeClientMember.isClientFinishedThisTask"
							data-ng-click="captureReviewReason(activeClientMember.loanAccountBasicData.clientId,
                                   activeClientMember.loanAccountBasicData.id,
                                   activeClientMember.loanAccountBasicData.loanProposalReviewData.id)" class="btn btn-danger btn-xs">{{'label.button.review' | translate}}
							</a>
						</td>
						<td class="col-md-1">
                            <a type="button" class="btn btn-danger btn-xs" ng-hide="activeClientMember.status.code == 'clientStatusType.onHold'" ng-click="clientRejection(activeClientMember)" tooltip="{{'label.button.reject' | translate}}" ng-disabled="activeClientMember.isClientFinishedThisTask">
							    <i class="icon-remove-circle pointer"></i>
							</a>
							<a type="button" class="btn btn-danger btn-xs" ng-show="activeClientMember.status.code == 'clientStatusType.onHold'" ng-click="releaseClient(activeClientMember.id)" tooltip="{{'label.button.relase.client' | translate}}" ng-disabled="activeClientMember.isClientFinishedThisTask">
								<i class="icon-unlock pointer"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-offset-11">
				<button type="button" ng-click="moveMembersToNextStep()" class="btn btn-primary"
					>{{'label.button.save' |
					translate}}</button>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="viewDocument.html">
		<div style="position: fixed; top:20%; right:10%; width:600px; height: 500px;">
			<view-document-directive ng-entity-type="{{data.reportEntityType}}" ng-entity-id="{{data.enquiryId}}"></view-document-directive>
		</div>
	</script>
</div>