<div ng-controller="datatableActivityController">

    <!-- Submit form, new data    -->
    <div  ng-show ="status=='ADD'">
        <form class="form-horizontal"  ng-submit="submit()">
            <fieldset>
                <div ng-if="!isSectioned">
                    <div class="form-group" ng-repeat="columnHeader in columnHeaders">
                        <div ng-include src="'views/task/activity/datatableactivityentry.html'"></div>
                    </div>
                </div>
                <div ng-if="isSectioned">
                    <div class="form-group" ng-repeat="section in sectionedColumnHeaders | orderBy:'displayPosition'">
                        <h4 ng-if="section.columns.length > 0"><strong>{{section.displayName}}</strong></h4>
                        <hr ng-if="section.columns.length > 0" />
                        <div class="form-group" ng-repeat="columnHeader in section.columns | orderBy:'orderPosition'" ng-if="section.columns.length > 0">
                                <div ng-include src="'views/task/activity/datatableactivityentry.html'"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-3">
                    <button id="save" type="submit" has-permission='CREATE_{{tableName}}' class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- View data    -->
    <div class="row pull-right">
        <button type="button" ng-show="status!=='ADD' && datatabledetails.isMultirow == true && !isViewMultiRowTable" ng-click="addData()" class="btn btn-primary">{{'label.button.add' | translate}}</button>
        <button type="button" ng-show="!isTaskCompleted() && status=='VIEW' && datatabledetails.isMultirow == false" ng-click="editData()" class="btn btn-primary">{{'label.button.edit' | translate}}</button>
        <button type="button" ng-show="isTaskCompleted() && status=='VIEW' && datatabledetails.isMultirow == false" ng-click="editData()" has-permission="EDIT_TASK" class="btn btn-primary">{{'label.button.edit' | translate}}</button>
        <button type="button" ng-show="!isTaskCompleted() && isViewMultiRowTable" ng-click="editMultiRowDataTable()" class="btn btn-primary">{{'label.button.edit' | translate}}</button>
    </div>
    <div ng-show="status=='VIEW' && !isViewMultiRowTable">
        <table class="table" data-ng-show="datatabledetails.isMultirow">
            <thead>
            <th ng-repeat="column in datatabledetails.columnData[0].row track by $index" ng-init="multirowThIndex = $index" ng-hide="multirowThIndex == 0 || multirowThIndex == 1" >
                            <label ng-if="column.displayName != undefined && column.displayName != 'null'">{{column.displayName | prettifyDataTableColumn}} </label>
                            <label ng-if="column.displayName == undefined || column.displayName == 'null'"> {{column.columnName | prettifyDataTableColumn}} </label> 
                        </th>
            </thead>
            <tbody>
                <tr class="pointer-main" ng-repeat="data in datatabledetails.columnData">
                    <td class="pointer" ng-repeat="row in data.row track by $index" ng-init="multirowDataIndex = $index" ng-hide="multirowDataIndex == 0 || multirowDataIndex == 1" ng-click="viewMultiRowDataTable(data.row[0].value)">
                        <label ng-if="datatabledetails.columnHeaders[$index].columnDisplayType === 'DECIMAL'">{{row.value|number}}</label>
                        <label ng-if="datatabledetails.columnHeaders[$index].columnDisplayType === 'DATE'">{{row.value|DateFormat}}</label>
                        <label ng-if="datatabledetails.columnHeaders[$index].columnDisplayType !== 'DECIMAL' && datatabledetails.columnHeaders[$index].columnDisplayType !== 'DATE'">{{row.value}}</label>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row" data-ng-hide="datatabledetails.isMultirow" ng-if="!isSectioned">
            <div class="col-md-8">
                <table class="table width40">
                    <tr ng-repeat="value in singleRow">
                        <th>{{value.key | prettifyDataTableColumn}}</th>
                        <td>
                            <label ng-if="value.columnDisplayType === 'DECIMAL'">{{value.value|number}}</label>
                            <label ng-if="value.columnDisplayType === 'DATE'">{{value.value|DateFormat}}</label>
                            <label ng-if="value.columnDisplayType !== 'DECIMAL' && value.columnDisplayType !== 'DATE'">{{value.value}}</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group" ng-repeat="section in sections | orderBy:'displayPosition'" ng-if="isSectioned" data-ng-hide="datatabledetails.isMultirow">
            <h4 ng-show="section.columns.length > 0"><strong>{{section.displayName}}</strong></h4>
            <hr ng-show="section.columns.length > 0"/>
            <table class="width100">
                <tr ng-repeat="value in section.columns">
                    <td class="width30">{{value.key | prettifyDataTableColumn}}</td>
                    <td class="width60">
                        <label ng-if="value.columnDisplayType === 'DECIMAL'">{{value.value|number}}</label>
                        <label ng-if="value.columnDisplayType === 'DATE'">{{value.value|DateFormat}}</label>
                        <label ng-if="value.columnDisplayType !== 'DECIMAL' && value.columnDisplayType !== 'DATE'">{{value.value}}</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-show="isViewMultiRowTable">
        <h3>{{ 'label.heading.datatablename' | translate }}-<strong>{{tableName}}</strong></h3>
        <hr>
        <table class="width100" ng-show="!isSectioned">
            <tr ng-repeat="column in columnHeaders | orderBy:'orderPosition'">
                <td class="width30">
                    <label ng-show="column.displayName != undefined && column.displayName != 'null'">{{column.displayName | prettifyDataTableColumn}}:</label>
                    <label ng-show="column.displayName == undefined || column.displayName == 'null'">{{column.columnName | prettifyDataTableColumn}}:</label>
                </td>
                <td class="width60" valign="top"><pre class="width60">{{column.value}}</pre></td>
            </tr>
        </table>
        <div class="form-group" ng-repeat="section in sectionedColumnHeaders | orderBy:'orderPosition'" ng-show="isSectioned">
            <h4 ng-show="section.columns.length > 0"><strong>{{section.displayName}}</strong></h4>
            <hr ng-show="section.columns.length > 0" />
            <table class="width100">
                <tr ng-repeat="column in section.columns | orderBy:'orderPosition'" ng-show="section.columns.length > 0">
                    <td class="width30">
                        <label ng-show="column.displayName != undefined && column.displayName != 'null'">{{column.displayName | prettifyDataTableColumn}}:</label>
                        <label ng-show="column.displayName == undefined || column.displayName == 'null'">{{column.columnName | prettifyDataTableColumn}}:</label>
                    </td>
                    <td class="width60" valign="top">{{column.value}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Edit data    -->
    <div  ng-show="status =='EDIT'">
        <form class="form-horizontal" ng-submit="editSubmit()">
            <!--<div ng-show="isViewMode">
                <h2>{{ 'label.heading.viewdatatableentry' | translate }}</h2>

                <div class="row pull-right btn-group">
                    <a ng-click="editDatatableEntry()" class="btn btn-primary" has-permission='UPDATE_{{tableName}}'><i class="icon-edit icon-white"></i>{{
                        'label.button.edit' | translate }}</a>
                    <button type="button" ng-click="deleteDatatableEntry()" class="btn btn-danger" has-permission='DELETE_{{tableName}}'><i
                            class="icon-trash icon-white"></i> {{ 'label.button.delete' | translate }}
                    </button>
                </div>
                <script type="text/ng-template" id="deletedatatable.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <api-validate></api-validate>
                        <br>
                        <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
                    </div>
                </script>
                <h3>{{ 'label.heading.datatablename' | translate }}-<strong>{{tableName}}</strong></h3>
                <hr>
                <table class="width100">
                    <tr ng-repeat="column in columnHeaders">
                        <td class="width30">{{column.columnName | prettifyDataTableColumn}}:</td>
                        <td class="width60" valign="top">{{column.value}}</td>
                    </tr>
                </table>
            </div>-->
            <div>
                <div class="form-group" ng-repeat="columnHeader in columnHeaders" ng-if="!isSectioned">
                    <div ng-include src="'views/task/activity/editdatatableactivityentry.html'"></div>
                </div>

                <div ng-if="isSectioned">
                    <div class="form-group" ng-repeat="section in sectionedColumnHeaders | orderBy:'displayPosition'">
                        <h4 ng-show="section.columns.length > 0"><strong>{{section.displayName}}</strong></h4>
                        <hr ng-show="section.columns.length > 0" />
                        <div class="form-group" ng-repeat="columnHeader in section.columns">
                            <div ng-include src="'views/task/activity/editdatatableactivityentry.html'"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-offset-3">
                    <a ng-if="false" class="btn btn-default" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</a>
                    <button type="submit" has-permission='UPDATE_{{tableName}}' class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
                </div>
            </div>
           
        </form>
    </div>
</div>
