<div ng-controller="DisbursalActivityController">
    <api-validate></api-validate>
    <div>
        <span style="text-align:left">{{'label.info.totalmembers' | translate}} : {{summary.activeClients}}&nbsp;&nbsp;{{'label.info.activeborrowers'
            | translate}} : {{summary.activeBorrowers}}</span>
    </div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <th><input type="checkbox" ng-model="selectAllLoan" ng-change="addAllLoansToBulkDisburse(selectAllLoan)"></th>
                    <th class="col-md-2">{{'label.heading.name' | translate}}</th>
                    <th class="col-md-2">{{'label.heading.FCSM.No' | translate}}</th>
                    <th class="col-md-1">{{'label.heading.loanproduct' | translate}}</th>
                    <th class="col-md-1">{{'label.heading.loanpack' | translate}}</th>
                    <th class="col-md-2">{{'label.heading.loanpurpose' | translate}}</th>
                    <th class="col-md-1">{{'label.heading.processingfee' | translate}}</th>
                    <th class="col-md-1">{{'label.heading.single.double.insurance' | translate}}</th>
                    <th class="col-md-2">{{'label.heading.actions' | translate}}</th>
                    <th>
                        <button ng-show="isTemplateAvailable" ng-click="bulkLoanDisburse()" class="btn btn-xs btn-primary ng-binding">
                            {{'label.button.bulkdisburse' | translate}}
                        </button>
                    </th>
                </thead>
                <tbody ng-repeat="groupMember in centerDetails.subGroupMembers | orderBy : 'fcsmNumber'">
                    <tr>
                        <td colspan="11" class="background-gold">
                            <span>{{groupMember.fcsmNumber}}
                            </span>
                        </td>
                    </tr>
                    <tr ng-repeat="activeClientMember in groupMember.memberData | orderBy : 'fcsmNumber'" 
                      ng-class ="activeClientMember.color"
                      ng-if="!activeClientMember.isClientFinishedThisTask && activeClientMember.loanAccountBasicData">
                        <td><input ng-show="!activeClientMember.isClientFinishedThisTask && activeClientMember.loanAccountBasicData" type="checkbox" ng-model="activeClientMember.loanAccountBasicData.selected" ng-change="selectedLoan(activeClientMember.loanAccountBasicData.id)"></td>
                        <td class="col-md-2"> {{activeClientMember.displayName}} </td>
                        <td class="col-md-2">{{activeClientMember.fcsmNumber}}</td>
                        <td class="col-md-1 cell-overflow">{{activeClientMember.loanAccountBasicData.loanProductName}}</td>
                        <td class="col-md-1">{{activeClientMember.loanAccountBasicData.loanEMIPackData.sanctionAmount | number}}</td>
                        <td class="col-md-2 cell-overflow">{{activeClientMember.loanAccountBasicData.loanPurposeName}}</td>
                        <td class="col-md-1">{{activeClientMember.loanAccountBasicData.charges[0].amount | number}}</td>
                        <td class="col-md-1">{{activeClientMember.loanAccountBasicData.charges[1].amount|number}}&nbsp;&nbsp;{{activeClientMember.loanAccountBasicData.charges[2].amount |number}}</td>
                        <td class="col-md-2">
                                <a tooltip="{{'label.button.modifyapplication' | translate}}" ng-if="isEditApprovedLoan"
                                    ng-disabled = "activeClientMember.isClientFinishedThisTask"
                                    has-permission="UPDATE_APPROVEDLOAN"
                                    ng-click="editLoan(activeClientMember.loanAccountBasicData,groupMember.id)" class="btn btn-xs btn-primary ng-binding">
                                <i class="icon-edit icon-white"></i>
                                </a>
                                <a tooltip="{{'label.button.disburse' | translate}}" 
                                 ng-disabled = "activeClientMember.isClientFinishedThisTask"
                                ng-click="loanDisburse(groupMember.id, activeClientMember)" class="btn btn-xs btn-primary ng-binding">
                                    <i class="icon-flag icon-white"></i>
                                </a>
                            </td>
                            <td></td>
                    </tr>
                </tbody>
            </table>
            <script type="text/ng-template" id="clientvalidation.html">
				<div class="modal-header silver">
					<h3 class="bolder">{{'label.anchor.blacklist' | translate}}</h3>
				</div>
				<div class="modal-body">
					<api-validate></api-validate>
					<h4 >{{'label.message.blocked.client' | translate}}</h4>
					<br>
					<button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
					<button class="btn btn-primary" ng-click="confirm()">{{'label.button.confirm' | translate}}</button>
				</div>
			</script>
        </div>
        
    </div>
</div>