<div ng-controller="groupActivationActivityController">
    <div class="col-md-12 col-sm-12">
        <form novalidate="" class="form-horizontal" ng-submit="submit()">
            <div ng-show="!isActiveGroup" class="form-group">
                <label class="control-label col-sm-2">{{'label.heading.activationdate'| translate}}
                    <span class="required">*</span>
                </label>

                <div class="col-sm-3">
                    <input type="text" datepicker-pop="dd MMMM yyyy" id="activationDate" name="activationDate"
                           ng-model="firstdate" min="'2000-01-01'" max="restrictDate" class="form-control"/>
                </div>
                <div class="col-sm-3">
                    <button id="save" type="submit" class="btn btn-primary">{{'label.button.activate' | translate}}</button>
                </div>
            </div>

            <div ng-show="isActiveGroup" class="form-group">
                <label class="control-label col-sm-2">{{'label.heading.activatedgroup'| translate}}
                </label>
            </div>

        </form>
    </div>
</div>
