<div ng-controller="kotakApprovalActivityController">
	<div>
		<span style="text-align:left">{{'label.info.totalmembers' | translate}} : {{summary.activeClients}}&nbsp;&nbsp;{{'label.info.activeborrowers'
			| translate}} : {{summary.activeBorrowers}}</span>
	</div>
	<div>
		<div>
			<api-validate></api-validate>
		</div>
		<div>
			<table class="table">
				<thead>
					<th class="col-md-1"><input type="checkbox" ng-model="centerDetails.isAllChecked" data-toggle="tooltip" data-placement="top" ng-change="validateAllClients(centerDetails, centerDetails.isAllChecked)" tooltip="{{'label.input.selectall' | translate}}"  data-ng-disabled="isAllClientFinishedThisTask"/></th>
					<th class="col-md-2">{{'label.heading.name' | translate}}</th>
					<th class="col-md-2">{{'label.heading.FCSM.No' | translate}}</th>
					<th class="col-md-1">{{'label.heading.loanproduct' | translate}}</th>
					<th class="col-md-1">{{'label.heading.loanpack' | translate}}</th>
					<th class="col-md-2">{{'label.heading.loanpurpose' | translate}}</th>
					<th class="col-md-1">{{'label.heading.processingfee' | translate}}</th>
					<th class="col-md-1">{{'label.heading.single.double.insurance' | translate}}</th>
					<th class="col-md-1"> </th>
					<th class="col-md-1"> </th>
					<th class="col-md-2">{{'label.heading.kotak.approval.status' | translate}} </th>
					<th class="col-md-1">{{'label.heading.reject' | translate}}</th>
				</thead>
				<tbody ng-repeat="groupMember in centerDetails.subGroupMembers">
					<tr  class="background-gold">
						<td colspan="12">
							<span>{{groupMember.fcsmNumber}}
							</span>
						</td>
					</tr>
					<tr ng-repeat="activeClientMember in groupMember.memberData" 
					  ng-class ="activeClientMember.color"
					  ng-if="!activeClientMember.isClientFinishedThisTask">
					  	<td class="col-md-1"><input class="pull-left" type="checkbox" ng-hide="activeClientMember.status.code == 'clientStatusType.onHold'"
						ng-disabled = "isDisabled(activeClientMember.isClientFinishedThisTask,activeClientMember.loanAccountBasicData.isNotLoanApproved,activeClientMember.loanAccountBasicData.workflowLoanStatusEnum.code)"
						ng-model="activeClientMember.isMemberChecked" ng-change="
						captureMembersToNextStep(activeClientMember.id, activeClientMember.loanAccountBasicData.id, activeClientMember.isMemberChecked)">
						</td>
						<td class="col-md-2 cell-overflow">
							<a href="" ng-click="viewMemberDetails(groupMember.id, activeClientMember)">{{activeClientMember.displayName}}</a>
						</td>
						<td class="col-md-2 cell-overflow">{{activeClientMember.fcsmNumber}}</td>
						<td class="col-md-1 cell-overflow">{{activeClientMember.loanAccountBasicData.loanProductName}}</td>
						<td class="col-md-1 cell-overflow">{{activeClientMember.loanAccountBasicData.loanEMIPackData.sanctionAmount | number}}</td>
						<td class="col-md-2 cell-overflow">{{activeClientMember.loanAccountBasicData.loanPurposeName}}</td>
						<td class="col-md-1">{{activeClientMember.loanAccountBasicData.charges[0].amount | number}}</td>
						<td class="col-md-1">{{activeClientMember.loanAccountBasicData.charges[1].amount | number}}&nbsp;&nbsp; {{activeClientMember.loanAccountBasicData.charges[2].amount | number}}</td>
						<td class="col-md-1">
							<a ng-if="activeClientMember.loanAccountBasicData" ng-click="showReviewHistory(activeClientMember.loanAccountBasicData.id)"
							    class="btn btn-default">
								{{'label.button.history' | translate}}</a>
						</td>
						<td class="col-md-1">
							<a target="_blank" title="View Kotak Approval Criteria Result" ng-if="activeClientMember.clientLevelCriteriaResultData" data-ng-click="openViewKotakCriteriaResult(activeClientMember.clientLevelCriteriaResultData.ruleResult)">
								<i class="icon-question-sign"></i>
							</a>
						</td>
						<td class="col-md-2">{{activeClientMember.loanAccountBasicData.workflowLoanStatusEnum.code  | translate}}</td>
						<td class="col-mod-1" >
							 <a type="button" class="btn btn-danger btn-xs" ng-hide="hideClient(activeClientMember)" ng-click="clientRejection(activeClientMember)" title="{{'label.button.reject' | translate}}" ng-disabled="activeClientMember.isClientFinishedThisTask || !activeClientMember.loanAccountBasicData.isNotLoanApproved">
							    <i class="icon-remove-circle pointer"></i>
							</a>
							<a type="button" class="btn btn-danger btn-xs" ng-show="activeClientMember.status.code == 'clientStatusType.onHold'" ng-click="releaseClient(activeClientMember.id)" tooltip="{{'label.button.relase.client' | translate}}" ng-disabled="activeClientMember.isClientFinishedThisTask">
								<i class="icon-unlock pointer"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-offset-11">
                <button type="button" data-ng-disabled="isAllClientFinishedThisTask" ng-click="moveMembersToNextStep()" class="btn btn-primary">
                	{{'label.button.save' | translate}}
                </button>
            </div>
		</div>
	</div>
</div>