<div class="col-md-12" ng-controller="NewcamActivityController">
    <!-- Submit form, new data    -->
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="viewCamReport();" has-permission='READ_CREDIT_BUREAU_REPORT'>{{'label.button.view.report.file' | translate}}</button>
        </div>
    </td>
    <div id="applicantdetails" class="row">
        <div class="col-md-12 span gray-head">
            <span class="boldlabel">
                  <strong class="ng-binding">{{'label.camactivity.heading.applicantdetails' | translate}}</strong>
            </span>
        </div>
        <div class="col-md-4">
            <img ng-hide="clientData.imagePresent" ng-src="./images/client-image-placeholder.png" alt="Avatar" class="center-block">
            <img ng-show="clientData.imagePresent"  ng-src="{{image}}" alt="Avatar" title="{{'label.zoom' | translate}}" class="center-block img-responsive img-rounded" width="100%" height="100%" >
        </div>
        <div class="col-md-offset-2 col-md-6" >
            <div class="center-block">
            <h2>{{clientName}}</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h5><strong>{{'label.input.mobile' | translate}} : &nbsp;</strong> <span>{{clientData.mobileNo}}</span></h5>
                    </div>
                    <div class="col-md-6">
                        <h5><strong>{{'label.input.gender' | translate}} : &nbsp;</strong> <span>{{clientData.gender.name}}</span></h5>
                    </div>
                    <div class="col-md-6">
                        <h5><strong>{{'label.input.dateofbirth' | translate}} : &nbsp;</strong> <span>{{clientData.dateOfBirth | DateFormat}}</span></h5>
                    </div>
                    <div class="col-md-6" ng-show="document.documentKey" ng-repeat="document in identitydocuments">
                        <h5><strong>{{document.documentType.name}} :&nbsp;</strong>{{document.documentKey}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="loanterms" class="row">
        <div class="col-md-12 span gray-head">
            <span class="boldlabel">
                  <strong class="ng-binding">{{'label.camactivity.loanterms' | translate}}</strong>
            </span>
        </div>
        <div class="col-md-12">
            <table class="table loan-details">
                <thead>
                <tr>
                    <th><h5><strong>{{'label.input.principal' | translate}}</strong></h5></th>
                    <th><h5><strong>{{'label.heading.loanproduct' | translate}}</strong></h5></th>
                    <th><h5><strong>{{'label.heading.loanpurpose' | translate}}</strong></h5></th>
                    <th><h5><strong>{{'label.heading.loanTerm' | translate}}</strong></h5></th>
                    <th><h5><strong>{{'label.heading.interestperannum' | translate}}</strong></h5></th>
                    <th><h5><strong>{{'label.heading.emiamount' | translate}}</strong></h5></th>


                </tr>
                </thead>
                <tbody>
                <tr class= "client-loandetails" >
                    <td> {{formData.loanAmountRequested}}</td>
                    <td> {{formData.loanProductName}}</td>
                    <td> {{formData.loanPurpose.name}}</td>
                    <td> {{formData.termFrequency}}-{{formData.termPeriodFrequency.value}}</td>
                    <td> {{loanaccountinfo.interestRatePerPeriod}}</td>
                    <td> {{formData.fixedEmiAmount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row paddedtop10">
        <div class="col-md-12 span gray-head paddedbottom10">
            <span class="boldlabel">
                  <strong class="ng-binding">{{'label.heading.documents' | translate}}</strong>
            </span>
        </div>
        <div ng-if="identitydocuments.length > 0">
            <table class="table family-detail">
                <thead>
                    <tr>
                        <th class="col-md-3"><h5><strong>{{'label.heading.documenttype' | translate}}</strong></h5></th>
                        <th class="col-md-3"><h5><strong>{{'label.heading.name' | translate}}</strong></h5></th>
                        <th class="col-md-3"><h5><strong>{{'label.heading.filename' | translate}}</strong></h5></th>
                        <th class="col-md-3"><h5><strong>{{'label.heading.actions' | translate}}</strong></h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class= "client-family-details" ng-repeat="identitydocument in identitydocuments" >
                        <td>{{identitydocument.documentType.name}}</td>
                        <td colspan="9">
                            <table width="100%" ng-repeat="document in identitydocument.documents">
                                <tbody>
                                    <tr>
                                        <td class="col-md-4">{{document.name}}</td>
                                        <td class="col-md-4">{{document.fileName}}</td>
                                        <td class="col-md-4">
                                            <a target="_blank" ng-click = "download(document)"><i class="icon-cloud-download"></i></a>&nbsp;
                                            <a target="_blank" ng-click="viewIdentityDocument(document)">
                                                    <i class="icon-eye-open text-success"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>

    <div class="row paddedtop10">
        <div class="col-md-6">
            <div id="familydetails" class="row">
                <div class="col-md-12 span gray-head">
            <span class="boldlabel">
                  <strong class="ng-binding">{{'label.heading.familydetails' | translate}}</strong>
            </span>
                </div>
                <div class="col-md-12">
                    <table class="table family-detail">
                        <thead>
                        <tr>
                            <th ><h5><strong> {{'label.heading.name' | translate}}</strong></h5></th>
                            <th><h5><strong>{{ 'label.heading.relationship' | translate }}</strong></h5></th>
                            <th><h5><strong>{{ 'label.heading.dob' | translate }}</strong></h5></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr class= "client-family-details" ng-repeat="familyMember in familyMembers">
                            <td >{{familyMember.firstname}} {{familyMember.lastname}}</td>
                            <td >{{familyMember.relationship.name}}</td>
                            <td >{{familyMember.dateOfBirth | DateFormat}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="cashflow" class="row">
                <div class="col-md-12 span gray-head">
                    <span class="boldlabel">
                          <strong class="ng-binding">{{'label.heading.cashflow' | translate}}</strong>
                    </span>
                </div>
                <div class="col-md-12">
                    <table class="table ">
                        <tr>
                            <td><strong>{{'label.input.occ.income' | translate}}:</strong></td>
                            <td>{{totalIncomeOcc}}</td>
                        </tr>
                        <tr>
                            <td><strong>{{'label.input.asset.income' | translate}}:</strong></td>
                            <td>{{totalIncomeAsset}}</td>
                        </tr>
                        <tr>
                            <td><strong>{{'label.input.household.expense' | translate}}:</strong></td>
                            <td>{{totalHouseholdExpense}}</td>
                        </tr>
                        <tr>
                            <td><strong>{{'label.input.net.surplex' | translate}}:</strong></td>
                            <td>{{totalIncomeOcc + totalIncomeAsset - totalHouseholdExpense}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <span class="boldlabel">
        <strong class="ng-binding">{{'label.heading.creditbureau' | translate}}</strong>
  </span>
        <div class="span gray-head" ng-if="getCreditBureauReportSummary()" has-permission='READ_CREDIT_BUREAU_REPORT'>
            <div class="pull-right">
                <button type="button" class="btn btn-primary" ng-click="initiateCreditBureauEnquiry();" has-permission='READ_CREDIT_BUREAU_REPORT'>{{'label.button.initiate.credit.bureau.enquiry' | translate}}</button>
                <button ng-if= "showViewCBHistoryReport" type="button" class="btn btn-primary" ng-click="viewCreditBureauEnquiryHistory();" has-permission='READ_CREDIT_BUREAU_REPORT'>{{'label.button.view.credit.bureau.enquiry.history' | translate}}</button>
            </div>
        </div>
        <div ng-if="creditBureauEnquiries && creditBureauEnquiries.length > 0">
            <table class="border1px table horizontal-scrollbar vertical-scrollbar">
                <thead>
                <tr class="graybg">
                    <th>{{'label.heading.initiatedon' | translate}}</th>
                    <th>{{'label.heading.creditbureau' | translate}}</th>
                    <th>{{'label.heading.enquiry.id' | translate}}</th>
                    <th>{{'label.heading.loanproduct' | translate}}</th>
                    <th>{{'label.heading.amount' | translate}}</th>
                    <th>{{'label.heading.status' | translate}}</th>
                    <th>{{'label.heading.actions' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer-main" data-ng-repeat="enquiry in creditBureauEnquiries track by $index">
                    <td class="pointer" data-ng-click="routeToViewCBReport(enquiry.id,$index)">
                        {{enquiry.createdDate| DateTimeFormat}}
                    </td>
                    <td class="pointer" data-ng-click="routeToViewCBReport(enquiry.id,$index)">
                        {{enquiry.creditBureauProduct.name}}
                    </td>
                    <td class="pointer" data-ng-click="routeToViewCBReport(enquiry.id,$index)">
                        {{enquiry.id}}
                    </td>
                    <td class="pointer" data-ng-click="routeToViewCBReport(enquiry.id,$index)">
                        {{enquiry.loanProduct.name}}
                    </td>
                    <td class="pointer" data-ng-click="routeToViewCBReport(enquiry.id,$index)">
                        {{enquiry.enquiryLoanAmount| number}}
                    </td>
                    <td class="pointer" data-ng-click="routeToViewCBReport(enquiry.id,$index)">
                        {{enquiry.status.value}}
                    </td>
                    <td>
                        <a tooltip="{{'label.button.view.report.file' | translate}}" target="_blank" ng-click="viewEnquiryDocument(enquiry.id)">
                            <i ng-show ="enquiry.isReportAvailable" class="icon-eye-open text-success"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <h2 ng-if= "showHistoryHeading">{{'label.heading.creditbureau.history.report' | translate}}</h2>
        <br>
        <div ng-if="creditBureauEnquiriesHistory.currentPageItems && creditBureauEnquiriesHistory.currentPageItems.length > 0">
            <table class="border1px table horizontal-scrollbar vertical-scrollbar">
                <thead>
                <tr class="graybg">
                    <th>{{'label.heading.initiatedon' | translate}}</th>
                    <th>{{'label.heading.creditbureau' | translate}}</th>
                    <th>{{'label.heading.enquiry.id' | translate}}</th>
                    <th>{{'label.heading.loanproduct' | translate}}</th>
                    <th>{{'label.heading.amount' | translate}}</th>
                    <th>{{'label.heading.status' | translate}}</th>
                    <th>{{'label.heading.actions' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer-main" data-ng-repeat="enquiry in creditBureauEnquiriesHistory.currentPageItems track by $index">
                    <td class="pointer" data-ng-click="routeToViewCBReportHistory(enquiry.id,$index)">
                        {{enquiry.createdDate| DateTimeFormat}}
                    </td>
                    <td class="pointer" data-ng-click="routeToViewCBReportHistory(enquiry.id,$index)">
                        {{enquiry.creditBureauProduct.name}}
                    </td>
                    <td class="pointer" data-ng-click="routeToViewCBReportHistory(enquiry.id,$index)">
                        {{enquiry.id}}
                    </td>
                    <td class="pointer" data-ng-click="routeToViewCBReportHistory(enquiry.id,$index)">
                        {{enquiry.loanProduct.name}}
                    </td>
                    <td class="pointer" data-ng-click="routeToViewCBReportHistory(enquiry.id,$index)">
                        {{enquiry.enquiryLoanAmount| number}}
                    </td>
                    <td class="pointer" data-ng-click="routeToViewCBReportHistory(enquiry.id,$index)">
                        {{enquiry.status.value}}
                    </td>
                    <td>
                        <a tooltip="{{'label.button.view.report.file' | translate}}" target="_blank" ng-click="viewEnquiryDocument(enquiry.id)">
                            <i ng-show ="enquiry.isReportAvailable" class="icon-eye-open text-success"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="pager">
                <li class="previous">
                    <a id="prev" ng-click="creditBureauEnquiriesHistory.previous()" href=""
                        ng-hide="!creditBureauEnquiriesHistory.hasPrevious()">&larr; {{'label.button.previous' | translate}}
                    </a>
                </li>
                <li class="next">
                    <a id="next" ng-click="creditBureauEnquiriesHistory.next()" href=""
                        ng-hide="!creditBureauEnquiriesHistory.hasNext()">{{'label.button.next' | translate}} &rarr;
                    </a>
                </li>
            </ul>
        </div>

    <div id="creditpolicy" class="row" ng-if="false">

        <div class="col-md-12 span gray-head">
            <span class="boldlabel">
                  <strong class="ng-binding">Credit Policy</strong>
            </span>
        </div>
        <div class="col-md-12">
            <div class="row paddedtop5" ng-repeat="dimensionResult in taskData.criteriaResult.criteriaOutput.ruleResultHierarchy">
                <div class="col-md-offset-1 col-md-3"><h4><strong>{{dimensionResult.name}}</strong></h4></div>
                <div class="col-md-offset-1 col-md-7">
                    <span><i ng-repeat="r in getNumberArray(2*dimensionResult.output.value) track by $index" class="icon-circle marginleft20px"></i>
                        <i ng-repeat="r in getNumberArray(2*(5-dimensionResult.output.value)) track by $index" class="icon-circle-blank marginleft20px"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3"><h3>Final RuPie Score</h3></div>
                <div class="col-md-offset-1 col-md-7">
                    <h3><i ng-repeat="r in getNumberArray(1*taskData.criteriaResult.criteriaOutput.output.value) track by $index" class="icon-star marginleft20px"></i>
                        <i ng-repeat="r in getNumberArray(5-taskData.criteriaResult.criteriaOutput.output.value) track by $index" class="icon-star-empty marginleft20px"></i>
                    </h3>
                </div>
            </div>
            <div class="row paddedtop5">
                <div class="col-md-offset-1 col-md-3"><h5><strong>System Recommendation</strong></h5></div>
                <div class="col-md-offset-1 col-md-7">
                    <small class="marginleft20px"><i>System suggests - {{taskData.criteriaResult.status}}</i></small>
                </div>
            </div>

        </div>
    </div>
</div>