<div ng-controller="NewDatatableController">
	<api-validate></api-validate>
    <!-- Submit form, new data    -->

    <div>
        <div>
            <table class="table">
                <thead>
                    <th class="col-md-1"> <input type="checkbox" ng-model="centerDetails.isAllChecked" data-toggle="tooltip" data-placement="top" ng-change="validateAllClients(centerDetails, centerDetails.isAllChecked)" tooltip="{{'label.input.selectall' | translate}}" data-ng-disabled="isAllClientFinishedThisTask"/></th>
                    <th class="col-md-2">{{'label.heading.name' | translate}}</th>
                    <th class="col-md-2">{{'label.heading.FCSM.No' | translate}}</th>
                    <th class="col-md-1">{{'label.heading.activity' | translate}}</th>
                    <th class="col-md-2"></th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1" ></th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1">{{'label.heading.reject' | translate}}</th>
                </thead>
                <tbody ng-repeat="groupMember in centerDetails.subGroupMembers | filter : isActiveSubGroup | orderBy : 'fcsmNumber'">
                    <tr class="background-gold">
                        <td colspan="11">
                            <span>{{groupMember.fcsmNumber}}
                            </span>
                        </td>
                        <td class="col-md-1">
                                <a type="button" class="btn btn-danger btn-xs" ng-hide="eventType == 'loancycle'"
                                 ng-disabled = "{{taskData.possibleActions.length == 0}}"
                                 ng-click="groupRejection(groupMember)" tooltip="{{'label.button.reject' | translate}}">
                                    <i class="icon-remove-circle pointer"></i>
                                </a>
                        </td>
                    </tr> 
                        <tr ng-repeat="activeClientMember in groupMember.memberData | filter : isActiveMember | orderBy : 'fcsmNumber'"
                         ng-class ="activeClientMember.color"  ng-if="!activeClientMember.isClientFinishedThisTask">
                         <td class="col-md-1">
                             <input type="checkbox" ng-model="activeClientMember.isMemberChecked" ng-hide="activeClientMember.status.code == 'clientStatusType.onHold'"
                            ng-disabled="activeClientMember.isClientFinishedThisTask || !activeClientMember.isDataTableExistForMember"
                            ng-change="captureMembersToNextStep(activeClientMember.id, activeClientMember.clientLevelTaskTrackingData.loanId, activeClientMember.isMemberChecked)"></input></td>
                            <td class="col-md-2">{{activeClientMember.displayName}}
                            </td>
                            <td class="col-md-1">{{activeClientMember.fcsmNumber}}</td>
                            <td class="col-md-1"><a type="button" class="btn-primary btn-xs" ng-click="openMemeberDetailsPopUp(activeClientMember.id)" tooltip="{{'label.button.add.details' | translate}}">
                                    <i class="icon-plus-sign icon-large pointer"></i>
                                </a></td>
                            <td class="col-md-2">
                            </td>
                            <td class="col-md-1 cell-overflow"></td>
                            <td class="col-md-1"></td>
                            <td class="col-md-2 cell-overflow"></td>
                            <td class="col-md-1"></td>
                            <td class="col-md-1"></td>
                            <td class="col-md-1"></td>
                            <td class="col-md-1">
                                <a type="button" class="btn btn-danger btn-xs" ng-hide="hideClient(activeClientMember)" ng-click="clientRejection(activeClientMember)" tooltip="{{'label.button.reject' | translate}}" ng-disabled="activeClientMember.isClientFinishedThisTask">
                                    <i class="icon-remove-circle pointer"></i>
                                </a>
                                <a type="button" class="btn btn-danger btn-xs" ng-show="activeClientMember.status.code == 'clientStatusType.onHold'" ng-click="releaseClient(activeClientMember.id)" tooltip="{{'label.button.relase.client' | translate}}" ng-disabled="activeClientMember.isClientFinishedThisTask">
                                    <i class="icon-unlock pointer"></i>
                                </a>
                            </td>
                        </tr>
                </tbody>
            </table>
            <script type="text/ng-template" id="clientvalidation.html">
                <div class="modal-header silver">
                    <h3 class="bolder">{{'label.anchor.blacklist' | translate}}</h3>
                </div>
                <div class="modal-body">
                    <api-validate></api-validate>
                    <h4 >{{'label.message.blocked.client' | translate}}</h4>
                    <br>
                    <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                    <button class="btn btn-primary" ng-click="confirm()">{{'label.button.confirm' | translate}}</button>
                </div>
            </script>
            <div class="col-md-offset-11">
                <button type="button" data-ng-disabled="isAllClientFinishedThisTask" ng-click="moveMembersToNextStep()" class="btn btn-primary"
                    >{{'label.button.save' |
                    translate}}</button>
            </div>
        </div>
    </div>

</div>
