<div class="col-md-12" ng-controller="roiDiscountingActivityController">
    <api-validate></api-validate>
    <div class="override-roi-container">
        <div class="override-roi-contents">
            <div class="override-roi-content-1">
                <div class="override-roi-content-1-heading">Current ROI % Value</div>
                <div class="override-roi-content-1-value">{{currentRoiValue}}% <span class="override-roi-pa-text">pa</span></div>
            </div>
            <div class="override-roi-content-2">
                <div class="override-roi-content-2-heading">Discount ROI %</div>
                <div class="override-roi-content-2-total-discount-block">
                    <span class="override-roi-content-2-total-discount-value">Total Discount Applied : {{totalDiscountApplied === '' ? '0 %' : totalDiscountApplied}}</span>
                </div>
                <div class="override-roi-content-2-input-content" ng-if="!enableModifyBlock">
                    <div class="override-roi-content-2-input-heading">Enter the discount value</div>
                    <div class="override-roi-content-2-input-block">
                        <input type="text" class="override-roi-content-2-input" ng-model="overrideRoiForm.rateOfInterest" maxlength="5">
                        <span class="override-roi-content-2-input-sideText">% pa</span>
                    </div>
                    <div class="override-roi-content-2-input-btn-block">
                        <button class="override-roi-content-2-input-btn" ng-click="applyRoiDiscount()">Apply</button>
                    </div>
                </div>
                <div class="override-roi-content-2-input-content" ng-if="enableModifyBlock">
                    <div class="override-roi-content-2-input-heading">Modify Current Rate Of Interest (ROI)</div>
                    <div class="override-roi-content-2-input-btn-block">
                        <button class="override-roi-content-2-input-btn" style="margin-top: 0;" ng-click="enableModify()">Modify</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>