<div>
    <div class="form-horizontal" ng-hide="viewSurveyDetails">
        <h3>{{'label.button.take.new.survey' | translate}}</h3>
        <form name="takeNewSurveyFrom" novalidate="" class="form-horizontal well" rc-submit="submit()">
            <api-validate></api-validate>
            <fieldset>
                <div class="form-group"><span class="error" ng-show="!isSurveyDone">{{'lable.error.activity.survey.not.completed'|translate}}</span></div>
                <div ng-if="questionDatas && questionDatas.length > 0">
                    <legend></legend>
                    <div ng-repeat="questionData in questionDatas track by $index" ng-init="questionIndex = $index">
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{'label.survey.question' |translate}}&nbsp;:&nbsp;</label>
                            <div class="col-sm-10">{{questionData.text}} ?</div>
                        </div>
                        <div ng-if="questionData.responseDatas && questionData.responseDatas.length > 0">
                            <div class="form-group">
                                <label class="control-label col-sm-2">{{'label.survey.answers' |translate}}<span class="required">*</span>&nbsp;:&nbsp;</label>
                                <div class="col-sm-10">
                                    <div ng-repeat="responseData in questionData.responseDatas track by $index" ng-init="responseIndex = $index">
                                        <input type="radio" name="response{{questionIndex}}" value="{{responseData.id}}" ng-model="responseData.responseId">
                                        {{responseData.text}}<br>
                                    </div>
                                    <form-validate valattributeform="takeNewSurveyFrom" valattribute="response{{questionIndex}}"/>
                                </div>
                            </div>
                        </div>
                        <legend></legend>
                    </div>
                </div>

                <div class="col-md-offset-5">
                    <a id="cancel" href="" ng-show="isValidEntityType" class="btn btn-default" ng-click="closeSurveyForm()">{{ 'label.button.cancel' |
                        translate }}</a>
                    <button id="save" ng-show="isValidEntityType" type="submit" ng-click="submitSurveyDetails()" class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-12" ng-show="viewSurveyDetails">
        <div>
            <div>
                <table class="table" ng-show="surveys && surveys.length > 0">
                    <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.questionname' | translate}}</th>
                        <th>{{'label.heading.answername' | translate}}</th>
                        <th>{{'label.survey.taken.score' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="scorecard in surveys[0].scorecardValues">
                        <td>{{scorecard.questionName}}</td>
                        <td>{{scorecard.answerName}}</td>
                        <td>{{scorecard.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>