<div class="col-md-12 col-sm-12" ng-controller="surveyActivityController">
    <div ng-if="isDisplaySurveys" class="row">
        <div>
            <div class="pull-right" ng-if="surveys && surveys.length > 0">
                <div class="btn-group">
                    <a id="takesurvey" ng-if="!isTaskCompleted()" ng-click="takeNewSurvey()" class="btn btn-primary">
                        <i class="icon-edit-sign icon-white"></i>
                        {{'label.button.edit.survey' | translate}}
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-sm-12" ng-show="surveys && surveys.length > 0">
                <div class="row well">
                    <div class="row">
                        <div class="col-md-6">
                            <span>{{'label.survey.name' | translate}}:&nbsp;</span>
                                <span>{{surveys[0].surveyName}}&nbsp; 
                                    <a ng-if="!showdetails"ng-click="toggleDetailsView()">
                                        ({{ 'label.button.viewdetails' |translate }})
                                    </a>
                                    <a ng-if="showdetails"ng-click="toggleDetailsView()">
                                        ({{ 'label.button.hidedetails' |translate }})
                                    </a>
                                </span>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span>{{'label.survey.taken.date' | translate}}:&nbsp;</span>
                            <span>{{surveys[0].surveyedOn}}</span>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <span>{{'label.survey.taken.doneby' | translate}}:</span>
                        <span>&nbsp;{{surveys[0].surveyedByName}}</span>
                    </div>
                    <div class="col-md-6">
                        <span>{{'label.survey.taken.score' | translate}}:</span>
                        <span>{{surveys[0].totalScore}}</span>
                    </div>
                </div>
            </div>
            <div>
                <table class="table" ng-show="surveys && surveys.length > 0 && showdetails">
                <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.questionname' | translate}}</th>
                        <th>{{'label.heading.answername' | translate}}</th>
                        <th>{{'label.survey.taken.score' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="scorecard in surveys[0].scorecardValues">
                    <td>{{scorecard.questionName}}</td>
                    <td>{{scorecard.answerName}}</td>
                    <td>{{scorecard.value}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
    <div ng-if="!isDisplaySurveys" class="row client">
        <form name="takesurveyform" novalidate="" class="form-horizontal " rc-submit="submit()">
            <fieldset>
                <div class="form-group" >
                    <label class="control-label col-sm-2">{{'label.survey.done.by' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-2">
                        <select id="surveyedBy" name="surveyedBy" ng-model="formData.surveyedBy" class="form-control"
                                ng-options="loanOfficer.id as loanOfficer.displayName for loanOfficer in loanOfficers"
                                value="{{loanOfficer.id}}" required late-validate="">
                            <option value="">{{'label.selectloanofficer' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="takesurveyform" valattribute="surveyedBy"/>
                    </div>

                    <label class="control-label col-sm-2">{{'label.survey.done.on' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-2">
                        <input id="surveyedOn" type="text" name="surveyedOn" datepicker-pop="dd MMMM yyyy"
                               ng-model="formData.surveyedOn" is-open="opened1" class="form-control" required/>
                    </div>
                    <div class="col-sm-2">
                        <form-validate valattributeform="takesurveyform" valattribute="surveyedOn"/>
                    </div>
                </div>

                <div ng-if="questionDatas && questionDatas.length > 0">
                    <div ng-repeat="questionData in questionDatas track by $index" ng-init="questionIndex = $index">
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{'label.survey.question' |translate}}&nbsp;:&nbsp;</label>
                            <div class="col-sm-10">{{questionData.text}} ?</div>
                        </div>
                        <div ng-if="questionData.responseDatas && questionData.responseDatas.length > 0">
                            <div class="form-group">
                                <label class="control-label col-sm-2">{{'label.survey.answers' |translate}}<span class="required">*</span>&nbsp;:&nbsp;</label>
                                <div class="col-sm-10">
                                    <div ng-repeat="responseData in questionData.responseDatas track by $index" ng-init="responseIndex = $index">
                                        <input type="radio" name="response{{questionIndex}}" id="response{{responseIndex}}" value="{{responseData.id}}" ng-change="changeResponse(questionIndex, responseIndex)" ng-model="responseData.responseId">
                                        {{responseData.text}}<br>
                                    </div>
                                    <form-validate valattributeform="takesurveyform" valattribute="response{{questionIndex}}"/>
                                </div>
                            </div>
                        </div>
                        <legend></legend>
                    </div>
                </div>

                <div class="col-md-offset-5">
                    <a ng-if="false" id="cancel" ng-click="cancel()" class="btn btn-default">{{ 'label.button.cancel' |
                        translate }}</a>
                    <button id="save" type="submit" class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>