<div class="col-md-12 col-sm-12" ng-controller="takepictureActivityController">

    <div ng-if="status=='SUMMARY'">
        <button ng-click="capturePic()" class="btn btn-primary pull-right">
            {{'label.button.click.picture' | translate}}
        </button>
        <table class="table table-bordered table-striped" ng-if="images.length > 0">
                            <tr>
                                <td>
                                    <span><strong>{{'label.heading.image.name' | translate}}</strong></span>
                                </td>
                                <td>
                                    <span><strong>{{'label.createdby' | translate}}</strong></span>
                                </td>
                                <td>
                                    <span><strong>{{'label.createdon' | translate}}</strong></span>
                                </td>
                            </tr>
                            <tr class="pointer-main" ng-repeat="image in images track by $index" >
                                <td class="pointer" data-ng-click="routeToImage(image.imageId)">
                                    <span>{{image.name}}</span>
                                </td>
                                <td class="pointer" data-ng-click="routeToImage(image.imageId)">
                                    <span>{{image.createdBy}}</span>
                                </td>
                                <td class="pointer" data-ng-click="routeToImage(image.imageId)">
                                    <span>{{image.createdOn}}</span>
                                </td>
                            </tr>
                        </table>
    </div> 
    <div>
        <script type="text/ng-template" id="capturepic.html">
            <div class="modal-header silver">
                <h3 class="bolder">{{'label.heading.captureclientimage' | translate}}</h3>
            </div>
            <div class="modal-body">
                <api-validate></api-validate>
                <div ng-show="error != null" class="error">
                    {{'label.error' | translate}}: {{error}}
                </div>
                <br>
                    <div>
                        <div class="left">
                            <webcam on-streaming="onVideoSuccess()" channel="channel" video="video"
                                on-error="onVideoError(err)" video-width="320" video-height="240"></webcam>
                        </div>
                        <div class="right">
                            <canvas id="clientSnapshot" width="320" height="240"></canvas>
                        </div>
                    </div>
                    <div class="center" style="margin-top: 10px">
                        <button class="btn btn-warning" ng-click="takeScreenshot()">
                            <i class="icon-camera icon-white"></i>
                            {{'label.button.capture' | translate}}
                        </button>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                <button class="btn btn-primary" ng-click="uploadscreenshot()">{{'label.button.upload' | translate}}</button>
            </div>
        </script>
    </div>
    <div>
        <script type="text/ng-template" id="viewpic.html">
            <div class="modal-header silver">
            </div>
            <div class="modal-body">
                <api-validate></api-validate>
                <div ng-show="error != null" class="error">
                    {{'label.error' | translate}}: {{error}}
                </div>
                <br>
                    <div>
                        <div class="left">
                            <img ng-src="{{image}}" alt="Avatar" height="400" width="400" >
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            </div>
        </script>
    </div>
</div>