#circularG{
    position:relative;
    width:45px;
    height:45px}

.circularG{
    position:absolute;
    background-color:#008000 !important;
    width:10px;
    height:10px;
    -moz-border-radius:7px;
    -moz-animation-name:bounce_circularG;
    -moz-animation-duration:0.56s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:7px;
    -webkit-animation-name:bounce_circularG;
    -webkit-animation-duration:0.56s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:7px;
    -ms-animation-name:bounce_circularG;
    -ms-animation-duration:0.56s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:7px;
    -o-animation-name:bounce_circularG;
    -o-animation-duration:0.56s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:7px;
    animation-name:bounce_circularG;
    animation-duration:0.56s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#circularG_1{
    left:0;
    top:18px;
    -moz-animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
    -ms-animation-delay:0.7s;
    -o-animation-delay:0.7s;
    animation-delay:0.7s;
}

#circularG_2{
    left:5px;
    top:5px;
    -moz-animation-delay:0.63s;
    -webkit-animation-delay:0.63s;
    -ms-animation-delay:0.63s;
    -o-animation-delay:0.63s;
    animation-delay:0.63s;
}

#circularG_3{
    top:0;
    left:18px;
    -moz-animation-delay:0.56s;
    -webkit-animation-delay:0.56s;
    -ms-animation-delay:0.56s;
    -o-animation-delay:0.56s;
    animation-delay:0.56s;
}

#circularG_4{
    right:5px;
    top:5px;
    -moz-animation-delay:0.49s;
    -webkit-animation-delay:0.49s;
    -ms-animation-delay:0.49s;
    -o-animation-delay:0.49s;
    animation-delay:0.49s;
}

#circularG_5{
    right:0;
    top:18px;
    -moz-animation-delay:0.42s;
    -webkit-animation-delay:0.42s;
    -ms-animation-delay:0.42s;
    -o-animation-delay:0.42s;
    animation-delay:0.42s;
}

#circularG_6{
    right:5px;
    bottom:5px;
    -moz-animation-delay:0.35s;
    -webkit-animation-delay:0.35s;
    -ms-animation-delay:0.35s;
    -o-animation-delay:0.35s;
    animation-delay:0.35s;
}

#circularG_7{
    left:18px;
    bottom:0;
    -moz-animation-delay:0.28s;
    -webkit-animation-delay:0.28s;
    -ms-animation-delay:0.28s;
    -o-animation-delay:0.28s;
    animation-delay:0.28s;
}

#circularG_8{
    left:5px;
    bottom:5px;
    -moz-animation-delay:0.21s;
    -webkit-animation-delay:0.21s;
    -ms-animation-delay:0.21s;
    -o-animation-delay:0.21s;
    animation-delay:0.21s;
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1)}

    100%{
        -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1)}

    100%{
        -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1)}

    100%{
        -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1)}

    100%{
        -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
    0%{
        transform:scale(1)}

    100%{
        transform:scale(.3)}
}
.my-dialog .modal-dialog {
    width: 15%;
    max-width: 400px;
    position: absolute;
    margin: auto;
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
}
.cell {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    padding: 8px;
    width: 100%;
}

.cell-overflow {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis, .one-line {
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pad-left-10 {
    padding-left: 10px;
}

/* new CSS */
.ml-90-label{
  margin-left: 90px !important;
}

/* Score Card CSS */
.score-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 0px;
    padding: 20px;
    box-sizing: border-box;
    border-left: 6px solid #649729;
    border-radius: 6px;
    box-shadow: 0 2.5px 23.9px rgb(0 0 0 / 1%), 0 12.9px 33.5px rgb(0 0 0 / 4%), 0 52px 80px rgb(0 0 0 / 5%);
    min-height: 50vh;
}

.score-card-button,
.score-card-retry-button,
.roi-retry-button {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    color: white;
    border-radius: 4px;
    padding: 15px 25px;
    /* box-shadow: 2px 2px 13px 8px #e6e4e4; */
    cursor: pointer;
    background: rgb(100, 151, 42);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.score-card-retry-button:active,
.roi-retry-button:active {
    box-shadow: 2px 2px 13px 8px #eeeeee;
    background: rgb(76, 124, 21);
    -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 2s; /* Firefox < 16 */
        -ms-animation: fadeout 2s; /* Internet Explorer */
         -o-animation: fadeout 2s; /* Opera < 12.1 */
            animation: fadeout 2s;
}

@keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0.2; }
}

.score-card-button:active,
.score-card-retry-button:active {
    box-shadow: 2px 2px 13px 8px #eeeeee;
    background: rgb(76, 124, 21);
}

.score-card-img-block,
.roi-img-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.score-card-img,
.roi-img {
    max-width: 15%;
}

.score-card-desc-block,
.roi-init-block {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.score-card-heading,
.roi-heading,
.score-card-subheading,
.roi-subheading {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0px;
    font-size: inherit;
    font-size: 26px;
    font-weight: bold;
}

.score-card-subheading,
.roi-subheading {
    font-size: 16px;
    font-weight: normal;
}

.score-card-error-text,
.score-card-retry-error-text,
.roi-error-text,
.roi-retry-error-text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    position: absolute;
    top: 58%;
    color: red;
}

/* ROI CSS */
.roi-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 0px;
    padding: 20px;
    box-sizing: border-box;
    border-left: 6px solid royalblue;
    border-radius: 6px;
    box-shadow: 0 2.5px 23.9px rgb(0 0 0 / 1%), 0 12.9px 33.5px rgb(0 0 0 / 4%), 0 52px 80px rgb(0 0 0 / 5%);
    min-height: 50vh;
}

.roi-button {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    color: white;
    border-radius: 4px;
    padding: 15px 25px;
    /* box-shadow: 2px 2px 13px 8px #e6e4e4; */
    cursor: pointer;
    background: royalblue;
}

.roi-button:active {
    box-shadow: 2px 2px 13px 8px #eeeeee;
    background: rgb(45, 82, 194);
}

.roi-contents {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.roi-percent-block {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 75px;
    font-weight: bold;
    color: #404040;
}

.roi-pa-text {
    font-size: 46px;
    margin-left: 5%;
    font-weight: normal;
}

.roi-desc-block {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid grey;
    flex-wrap: wrap;
    padding: 25px 0px;
}

.roi-desc-heading,
.roi-desc-subheading {
    width: 80%;
    text-align: center;
    padding: 10px 0px;
    font-size: inherit;
    font-size: 32px;
    font-weight: bold;
    color: #404040;
}

.roi-desc-subheading {
    font-size: 22px;
    font-weight: normal;
}