<div class="col-md-12 col-sm-12" ng-controller="DeceasedOnBoardingWorkflowController">
    <ul class="breadcrumb">
        <li>
            <a href="#/viewclient/{{clientId}}">{{'label.anchor.client' | translate}}</a>
        </li>
        <li class="active">{{'label.anchor.initiate.deceased.onboarding.process' | translate}}</li>
    </ul>
    <api-validate></api-validate>
    <div ng-include="'views/policy/clientpolicydetails.html'"></div>
    <div ng-if="taskData" ng-include="'views/task/workflowtask.html'"></div>
</div>