<tabset>
    <tab heading="{{'label.anchor.clients' |translate}}" ng-click="searchnew('clients')">
        <div ng-include="'views/search/newsearch.html'"></div>
    </tab>
    <tab heading="{{'label.search.scope.groups.and.centers' | translate}}" ng-click="searchnew('groups')">
        <div ng-include="'views/search/newsearch.html'"></div>
    </tab>
    <tab heading="{{'label.button.centers' | translate}}" ng-click="searchnew('centers')">
        <div ng-include="'views/search/newsearch.html'"></div>
    </tab>
    <tab heading="{{'label.anchor.savings' | translate}}" ng-click="searchnew('savings')">
        <div ng-include="'views/search/newsearch.html'"></div>
    </tab>
    <tab heading="{{'label.anchor.loans' | translate}}" ng-click="searchnew('loans')">
        <div ng-include="'views/search/newsearch.html'"></div>
    </tab>
    <tab heading="{{'label.heading.loanapplications' | translate}}" ng-click="searchnew('loanapplications')">
            <div ng-include="'views/search/newsearch.html'"></div>
    </tab>
</tabset>