<div class="col-md-12">
	<form name="searchform">
	<table class="table">
        <tr>
	        <td colspan="4">
				<span class="finflux-alert alert-dismissible alert-danger" ng-if="isValidForm()"><small>{{'validation.msg.search.cannot.be.empty'
						| translate}}</small></span>
		    </td>
        </tr>
		<tr ng-show="showoffice">
			<td class="col-md-2">
				<label class="control-label  ">{{'label.heading.office' | translate}}</label>
			</td>
			<td colspan="3">
				<select chosen="offices" id="officeId" ng-model="formData.officeId" class="form-control" ng-options="office.id as office.name for office in offices"
					value="{{office.id}}" ng-change="getOfficeStaff()">
					<option value="">{{'label.all' | translate}}</option>
				</select>
			</td>
		</tr>
		<tr ng-show="showstaff">
			<td class="col-md-2"><label class="control-label  ">{{'label.heading.staff' | translate}}</label></td>
			<td colspan="3">
				<select chosen="staffs" id="staffId" ng-model="formData.staffId" class="form-control" ng-options="staff.id as staff.displayName for staff in staffs"
					value="{{staff.id}}">
					<option value="">{{'label.all' | translate}}</option>

				</select>
			</td>
		</tr>
		<tr ng-show="showname">
			<td class="col-md-2"><label class="control-label  "></label>{{'label.heading.name' | translate}}</label></td>
			<td colspan="3">
				<input id="fullname" autocomplete="off" name="fullname" placeholder="{{'label.heading.name' | translate}}" ng-model="formData.quer" ng-minlength="3" />
				<span class="finflux-alert alert-dismissible alert-danger" ng-if="searchform.fullname.$invalid  && submitted"><small>{{'validation.msg.search.valid.name.size' | translate}}</small></span>
			</td>
		</tr>
		<tr>
			<div>
				<td class="col-md-2" ng-show="showexternalid"><label class="control-label  ">{{'label.heading.externalid' | translate}}</label></td>
				<td ng-show="showexternalid"><input placeholder="{{'label.heading.externalid' | translate}}" autocomplete="off" ng-model="formData.externalId"></td>
			</div>
			<div>
				<td class="col-md-2" ng-show="showreferenceno"><label class="control-label  ">{{'label.input.referencenumber' | translate}}</label></td>
				<td ng-show="showreferenceno"><input placeholder="{{'label.input.referencenumber' | translate}}" autocomplete="off" data-ng-model="formData.refno"></td>
			</div>
		</tr>
		<tr>
			<div>
				<td class="col-md-2" ng-show="showaccountno"><label class="control-label  ">{{'label.heading.accountno' | translate}}</label></td>
				<td ng-show="showaccountno"><input placeholder="{{'label.heading.accountno' | translate}}" autocomplete="off" ng-model="formData.accountno"></td>
			</div>
			<div>
				<td class="col-md-2" ng-show="showmobile"><label class="control-label  ">{{'label.input.mobilenumber' | translate}}</label></td>
				<td ng-show="showmobile"><input name="mobileno" autocomplete="off" placeholder="{{'label.input.mobilenumber' | translate}}" ng-model="formData.mobileNo"/>
					<span class="finflux-alert alert-dismissible alert-danger" ng-show="searchform.mobileno.$invalid && submitted"><small>{{'validation.msg.search.valid.mobile.number' | translate}}</small></span></td>
			</div>
		</tr>
		<tr ng-show="identity">
			<td class="col-md-2"><label class="control-label  ">{{'label.input.identitydocumenttype' | translate}}</label></td>
			<td><select id="identityId" chosen="documentTypeOptions" class="form-control" value="{{documentTypeOption.id}}" ng-model="formData.identityId"
					ng-options="documentTypeOption.id as documentTypeOption.name for documentTypeOption in documentTypeOptions">
					<option value="">{{'label.all' | translate}}</option>

				</select></td>
			<td ng-if="formData.identityId != null"><input placeholder="{{'label.heading.uniqueidentification' | translate}}" autocomplete="off" data-ng-model="formData.identityNumber"></td>
		</tr>
	</table>
</form>
<div class="col-md-offset-5">
	<button  type="button" class="btn btn-primary ng-binding" ng-click="validate()"><i class="icon-search"></i>{{'label.heading.search'
			| translate}}</button>
	</div>
</div>