<div class="col-md-12" ng-controller="ViewFixedDepositAccountDetailsController">
<ul class="breadcrumb">
    <li ng-if="savingaccountdetails.groupName"><a href="#/viewgroup/{{savingaccountdetails.groupId}}">{{savingaccountdetails.groupName}}</a></li>
    <li ng-if="savingaccountdetails.clientName"><a href="#/viewclient/{{savingaccountdetails.clientId}}">{{savingaccountdetails.clientName}}</a></li>
    <li class="active">{{savingaccountdetails.savingsProductName}}({{savingaccountdetails.accountNo}})</li>
</ul>
<div>
    <div class="span gray-head">
          <span class="boldlabel">
                <strong ng-hide="savingaccountdetails.isAutoRenewAccount"><i class="icon-stop {{savingaccountdetails.status.code | StatusLookup}}"></i>&nbsp;{{savingaccountdetails.depositProductName}}(#{{savingaccountdetails.accountNo}})</strong>
                <strong ng-show="savingaccountdetails.isAutoRenewAccount"><i class="icon-stop {{savingaccountdetails.status.code | StatusLookup}}"></i>&nbsp;{{savingaccountdetails.depositProductName}}({{'label.heading.renewed'|translate}})(#{{savingaccountdetails.accountNo}})</strong>
          </span>
    </div>
    <api-validate></api-validate>
    <div class="col-md-12 primarydiv">
        <div class="pull-right">
              <span ng-repeat="button in buttons.singlebuttons">
                  <a ng-show="button.name"
                     ng-click="clickEvent(button.name.replace('button.',''), savingaccountdetails.id)"
                     class="btn btn-primary"><i class="{{button.icon}} icon-white"></i>{{'label.'+button.name |
                      translate}}</a>
              </span>
              <span ng-show="buttons.options" class="btn-group dropdown" on-toggle="toggled(open)">
                  <a class="btn btn-primary dropdown-toggle">
                      {{'label.button.more' | translate}}
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown dropdown-menu">
                      <li class="{{button.icon}}" ng-repeat="button in buttons.options">
                          <a ng-click="clickEvent(button.name.replace('button.',''), savingaccountdetails.id)">{{'label.'+button.name
                              | translate}}</a>
                      </li>
                  </ul>
              </span>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-12 paddedtop25px">

<tabset tabset-name="fixedAccountDetails">
<tab heading="{{'label.heading.summary' | translate}}">
    <div class="col-sm-12 col-md-12 paddedtop25px">
        <div class="row">
            <table class="table table-bordered view-table">
                <tr>
                    <td class="active fontnormal col-md-3">{{'label.account.deposit.date' | translate}}
                    </td>
                    <td class="col-md-3"><span class="padded-td">{{savingaccountdetails.timeline.activatedOnDate | DateFormat}}<span
                            data-ng-hide="savingaccountdetails.timeline.activatedOnDate">{{ 'label.notactivated' | translate }}</span>
                    </span>
                    </td>
                    <td class="active fontnormal col-md-3">{{'label.account.deposit.principal.amount' | translate}}
                    </td>
                    <td class="col-md-3"><span class="padded-td">{{savingaccountdetails.currency.displaySymbol}}&nbsp;{{savingaccountdetails.depositAmount}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="active fontnormal">{{'label.account.deposit.period' | translate}}
                    </td>
                    <td><span class="padded-td">{{savingaccountdetails.depositPeriod}} &nbsp; {{savingaccountdetails.depositPeriodFrequency.value}}</span>
                    </td>
                    <td class="active fontnormal">{{'label.account.rate.of.interest' | translate}}
                    </td>
                    <td><span class="padded-td">{{savingaccountdetails.nominalAnnualInterestRate}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="active fontnormal">{{'label.account.maturity.date' | translate}}
                    </td>
                    <td><span class="padded-td">{{savingaccountdetails.maturityDate | DateFormat}}</span>
                    </td>
                    <td class="active fontnormal">{{'label.account.maturity.amount' | translate}}
                    </td>
                    <td><span class="padded-td">{{savingaccountdetails.currency.displaySymbol}}&nbsp;{{savingaccountdetails.maturityAmount | number}}</span>
                    </td>
                </tr>
                <tr ng-show="savingaccountdetails.summary.totalInterestEarned">
                    <td class="active fontnormal">{{'label.totalinterestearned' |
                        translate}}
                    </td>
                    <td><span class="padded-td">{{savingaccountdetails.currency.displaySymbol}}&nbsp;{{savingaccountdetails.summary.totalInterestEarned | number}}</span>
                    </td>
                    <td class="active fontnormal">{{'label.totalinterestposted' |
                        translate}}
                    </td>
                    <td><span class="padded-td">{{savingaccountdetails.currency.displaySymbol}}&nbsp;{{savingaccountdetails.summary.totalInterestPosted | number}}</span>
                    </td>
                </tr>
                <tr ng-show="savingaccountdetails.timeline.closedOnDate || savingaccountdetails.summary.totalWithdrawals">
                    <td ng-show="savingaccountdetails.timeline.closedOnDate" class="active fontnormal">{{'label.account.closed.on.date' | translate}}
                    </td>
                    <td><span class="padded-td">{{savingaccountdetails.timeline.closedOnDate | DateFormat}}</span>
                    </td>
                    <td ng-show="savingaccountdetails.summary.totalWithdrawals" class="active fontnormal">{{'label.totalwithdarawals' |
                        translate}}
                    </td>
                    <td><span class="padded-td">{{savingaccountdetails.currency.displaySymbol}}&nbsp;{{savingaccountdetails.summary.totalWithdrawals | number}}</span>
                    </td>
                </tr>
                <tr ng-if="savingaccountdetails.autoRenewalEnabled">
                    <td class="active fontnormal">{{'label.heading.grace.period' | translate}}</td>
                    <td><span class="padded-td">{{savingaccountdetails.autoRenewalData.autoRenewalGracePeriod}}&nbsp;{{savingaccountdetails.autoRenewalData.autoRenewalGracePeriodType.value}}</span></td>
                    <td class="active fontnormal">{{'label.heading.new.accounts.interest.rate.and.tenure' | translate}}</td>
                    <td><span class="padded-td">{{savingaccountdetails.autoRenewalData.autoRenewalConfigEnum.value}}</span></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table class="table table-bordered view-table">
                <tr>
                    <td class="active fontnormal col-md-3">{{'label.interestcompoundingperiod' |
                        translate}}
                    </td>
                    <td class="col-md-3"><span
                            class="padded-td">{{savingaccountdetails.interestCompoundingPeriodType.value}}</span>
                    </td>
                    <td class="active fontnormal col-md-3">{{'label.interestpostingperiod' |
                        translate}}
                    </td>
                    <td class="col-md-3"><span class="padded-td">{{savingaccountdetails.interestPostingPeriodType.value}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="active fontnormal">{{'label.interestcalculatedusing' |
                        translate}}
                    </td>
                    <td><span class="padded-td">{{savingaccountdetails.interestCalculationType.value}}</span>
                    </td>
                    <td class="active fontnormal">{{'label.noofdaysinyear' | translate}}
                    </td>
                    <td><span
                            class="padded-td">{{savingaccountdetails.interestCalculationDaysInYearType.value}}</span>
                    </td>
                </tr>
                <tr ng-show="savingaccountdetails.preClosurePenalApplicable">
                    <td class="active fontnormal">{{'label.preclosurepenal' | translate}}
                    </td>
                    <td><span class="padded-td">{{savingaccountdetails.preClosurePenalInterest | number}} % on {{savingaccountdetails.preClosurePenalInterestOnType.value}}</span>
                    </td>
                </tr>
                <tr data-ng-show="savingaccountdetails.withHoldTax">
                    <td class="active fontnormal"> {{'label.heading.withholdtaxgroup' | translate}}</td>
                    <td><span class="padded-td">{{savingaccountdetails.taxGroup.name}}</span></td>
                </tr>
            </table>
        </div>
    </div>
    <hr class="marginbottom"/>

    <div class="col-sm-12 col-md-12">
        <hr class="marginbottom"/>
        <label><strong>{{ 'label.heading.interestchart' | translate }}</strong></label>
        <div class="row">
            <table class="table table-bordered view-table">
                <tr class="graybg">
                    <td ng-show="savingaccountdetails.accountChart.isPrimaryGroupingByAmount">{{'label.heading.interestratedetails.amount.range' | translate}}</td>
                    <td>{{'label.heading.interestratedetails.period.type' | translate}}</td>
                    <td>{{'label.heading.interestratedetails.period.from.to' | translate}}</td>
                    <td ng-hide="savingaccountdetails.accountChart.isPrimaryGroupingByAmount">{{'label.heading.interestratedetails.amount.range' | translate}}</td>
                    <td>{{'label.heading.interestratedetails.interest' | translate}}</td>
                    <td>{{'label.heading.interestratedetails.description' | translate}}</td>
                    <td>&nbsp;</td>
                </tr>

                <tr ng-repeat="chartSlab in savingaccountdetails.accountChart.chartSlabs">
                    <td ng-show="savingaccountdetails.accountChart.isPrimaryGroupingByAmount">{{chartSlab.amountRangeFrom}} - {{chartSlab.amountRangeTo}}</td>
                    <td>{{chartSlab.periodType.value}}</td>
                    <td>{{chartSlab.fromPeriod}}-{{chartSlab.toPeriod}}</td>
                    <td ng-hide="savingaccountdetails.accountChart.isPrimaryGroupingByAmount">{{chartSlab.amountRangeFrom}} - {{chartSlab.amountRangeTo}}</td>
                    <td>{{chartSlab.annualInterestRate}}</td>
                    <td>{{chartSlab.description}}</td>
                    <td>
                        <a ng-click="incentives($index)" ><i class="icon-white"></i>{{'label.incentive.row'
                            | translate}}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</tab>
<tab heading="{{'label.heading.transactions' | translate}}" ng-show="savingaccountdetails.transactions" select="convertDateArrayToObject('date')">
    <div class="pull-left col-sm-offset-9" ng-show="showAccrualTransactionOption"> <!--   -->
        <input type="checkbox" data-ng-model="viewAccrualTransaction.show">&nbsp;&nbsp;
        <label class="control-label">{{ 'label.input.hide.accrual.transactions' | translate }}</label>&nbsp;&nbsp;
    </div>
    <button class="btn btn-primary pull-right" ng-show="checkStatus()"  ng-click="viewJournalEntries()" style="margin-right: 8px;">{{'label.button.viewjournalentries' | translate}}</button><br>
    <table class="table table-bordered">
        <colgroup span="4"></colgroup>
        <thead>
        <tr>
            <th class="pointer" ng-click="changeTransactionSort('id')">{{'label.heading.id' | translate}}</th>
            <th class="pointer" ng-click="changeTransactionSort('date')">{{'label.heading.transactiondate' | translate}}</th>
            <th class="pointer" ng-click="changeTransactionSort('transactionType.value')">{{'label.heading.transactiontype' | translate}}</th>
            <th class="pointer" ng-click="changeTransactionSort('amount')">{{'label.heading.debit' | translate}}</th>
            <th class="pointer" ng-click="changeTransactionSort('amount')">{{'label.heading.credit' | translate}}</th>
            <th class="pointer" ng-click="changeTransactionSort('runningBalance')">{{'label.heading.balance' | translate}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr class="pointer-main" ng-class="{strikeoff : transaction.reversed==true}"
        ng-hide = "hideTransactions(transaction)" ng-repeat="transaction in savingaccountdetails.transactions  | orderBy:[transactionSort.column,transactionSort.columnId]:transactionSort.descending">
            <td class="pointer"
                data-ng-click="routeTo(transaction)">
                {{transaction.id}}
            </td>
            <td class="pointer"
                data-ng-click="routeTo(transaction)">
                {{transaction.date | DateFormat}}
            </td>
            <td class="pointer"
                data-ng-click="routeTo(transaction)">
                {{transaction.transactionType.value}}
            </td>
            <td class="pointer"
                data-ng-click="routeTo(transaction)">
                <div ng-show="isDebit(transaction.transactionType)">
                    {{transaction.amount | number}}
                </div>
            </td>
            <td class="pointer"
                data-ng-click="routeTo(transaction)">
                <div ng-show="!isDebit(transaction.transactionType)">
                    {{transaction.amount | number}}
                </div>
            </td>
            <td class="pointer"
                data-ng-click="routeTo(transaction)">
                {{transaction.runningBalance | number}}
            </td>
            <td> <a tooltip="{{'label.anchor.viewjournalentries' | translate}}" ng-click="viewSavingsTransactionJournalEntries(transaction.id)">
                <i class="icon-circle-arrow-right icon-large coll"></i>
            </a>
            </td>
        </tbody>
    </table>
</tab>
<tab heading="{{datatable.registeredTableName}}" ng-repeat="datatable in datatables"
     select="dataTableChange(datatable)">
     <div data-ng-show="choice" class="btn-group pull-right">
        <a ng-show="datatabledetails.isData" class="btn btn-danger pull-right"
           has-permission='DELETE_{{savingdatatable.registeredTableName}}'
           ng-click="deleteAll(datatable.registeredTableName, savingaccountdetails.id)"><i
                class="icon-trash icon-white"></i>{{'label.button.deleteall' | translate}}</a>
        <a data-ng-show="showDataTableAddButton"
           href="#/makedatatableentry/{{datatable.registeredTableName}}/{{savingaccountdetails.id}}?fromEntity=fixeddeposit"
           class="btn btn-primary" has-permission='CREATE_{{datatable.registeredTableName}}'><i
                class="icon-plus icon-white"></i>{{'label.button.add' | translate}}</a>
        <a data-ng-show="showDataTableEditButton"
           ng-href="#/viewsingledatatableentry/{{datatable.registeredTableName}}/{{savingaccountdetails.id}}?mode=edit&&fromEntity=fixeddeposit"
           class="btn btn-primary" has-permission='UPDATE_{{datatable.registeredTableName}}'><i
                class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
    </div>
    <br>
    <br>
        <div ng-show="datatabledetails.isData" ng-include="'views/system/view_datatable_data.html'"></div>
</tab>
<tab ng-show="chargeTableShow" heading="{{'label.heading.charges' | translate}}">
    <table class="table width100">
        <tr class="graybg">
            <th>{{'label.heading.name' | translate}}</th>
            <th>{{'label.heading.feeorpenalty' | translate}}</th>
            <th></th>
            <th>{{'label.heading.paymentdueat' | translate}}</th>
            <th></th>
            <th>{{'label.heading.dueasof' | translate}}</th>
            <th>{{'label.heading.repeatson' | translate}}</th>
            <th>{{'label.heading.calculationtype' | translate}}</th>
            <th></th>
            <th>{{'label.heading.due' | translate}}</th>
            <th>{{'label.heading.paid' | translate}}</th>
            <th>{{'label.heading.waived' | translate}}</th>
            <th>{{'label.heading.outstanding' | translate}}</th>
            <th></th>
            <th>{{'label.heading.actions' | translate}}</th>
            <th></th>
        </tr>
        <tr ng-repeat="charge in charges">
            <td>{{charge.name}}</td>
            <td ng-show="'charge.penalty'==true">{{"penalty"}}</td>
            <td ng-hide="'charge.penalty'==true">{{"fee"}}</td>
            <td></td>
            <td>{{charge.chargeTimeType.value}}</td>
            <td></td>
            <td>{{charge.dueDate | DateFormat}}</td>
            <td>{{charge.feeOnMonthDay | DayMonthFormat}}</td>
            <td>{{charge.chargeCalculationType.value}}</td>
            <td></td>
            <td>{{charge.currency.displaySymbol}}{{charge.amount | number}}</td>
            <td>{{charge.currency.displaySymbol}}{{charge.amountPaid | number}}</td>
            <td>{{charge.currency.displaySymbol}}{{charge.amountWaived | number}}</td>
            <td>{{charge.currency.displaySymbol}}{{charge.amountOutstanding | number}}</td>
            <td></td>
            <td>
                        <span ng-show="chargeAction">
                            <a title="{{'label.edit' | translate}}"
                               href="#/fixeddepositaccountcharge/{{savingaccountdetails.id}}/editsavingcharge/{{charge.id}}"><i
                                    class="icon-pencil icon-white"></i></a>
                            <a title="{{'label.delete' | translate}}"
                               href="#/fixeddepositaccountcharge/{{savingaccountdetails.id}}/deletesavingcharge/{{charge.id}}"><i
                                    class="icon-remove icon-white"></i></a>
                        </span>
                        <span ng-hide="chargeAction">
                            <span ng-hide="charge.amountOutstanding == 0"
                                  ng-show="charge.chargeTimeType.value == 'Monthly Fee' || charge.chargeTimeType.value == 'Annual Fee'|| charge.chargeTimeType.value == 'Specified due date'">
                                <a title="{{'label.button.paycharge' | translate}}"
                                   href="#/fixeddepositaccountcharge/{{savingaccountdetails.id}}/paycharge/{{charge.id}}"><i
                                        class="icon-check icon-white"></i></a>
                                <a title="{{'label.button.waivecharge' | translate}}"
                                   href="#/fixeddepositaccountcharge/{{savingaccountdetails.id}}/waive/{{charge.id}}"><i
                                        class="icon-flag icon-white"></i></a>
                            </span>
                        </span>
            </td>
            <td></td>
        </tr>
    </table>
</tab>
</tabset>
<script type="text/ng-template" id="incentive.html">
    <div class="modal-header silver">
        <h3 class="bolder">{{'label.heading.incentives' | translate}}</h3>
        <h3 class="bolder">{{'label.heading.customerattributes' | translate}}</h3>
        <table class="table table-bordered width100">
            <tr class="graybg">
                <td  class="width20">{{'label.heading.interestratedetails.incentive.attributename' | translate}}</td>
                <td class="width20">{{'label.heading.interestratedetails.incentive.conditiontype' | translate}}</td>
                <td class="width20">{{'label.heading.interestratedetails.incentive.attributevalue' | translate}}</td>
                <td class="width20">{{'label.heading.interestratedetails.incentive.incentivetype' | translate}}</td>
                <td class="width20">{{'label.heading.interestratedetails.incentive.amount' | translate}}</td>
            </tr>
            <tr ng-repeat="incentiveData in chartSlab.incentives">
                <td>{{incentiveData.attributeName.code | translate}}</td>
                <td>{{incentiveData.conditionType.code | translate}} </td>
                <td>{{incentiveData.attributeValueDesc}} </td>
                <td>{{incentiveData.incentiveType.code | translate}} </td>
                <td>{{incentiveData.amount | number}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">{{'label.button.close' | translate}}</button>
    </div>
</script>
</div>
</div>
</div>
