<div ng-controller="SingleTaskController">
    <div ng-if="canView">
        <div class="row">
            <div class="col-md-8">
                <h3>{{taskData.name}}</h3>
            </div>
            <div class="col-md-4">
                <div>
                    Status:&nbsp; {{taskData.status.code | translate}}
                </div>
                <div>
                    Assigned To:&nbsp; {{taskData.assignedTo}}
                </div>
                <div>
                    Created On:&nbsp; {{taskData.createdOn | DateFormat}}
                </div>

            </div>
            <legend></legend>
        </div>
        <div ng-include="getActivityView()"></div>
        <div class="row task-action">
            <span ng-repeat="action in possibleActions" class="pull-right">
                <button class="btn btn-primary" ng-click="doTaskAction(action.id)">{{action.code | translate}}</button>
            </span>
        </div>
        <div class="row client" ng-show="taskData.criteriaResult !== undefined">
            <form class="well form-inline">
                <div>
                    {{ 'label.heading.request.eligibility.tobe' | translate }} {{taskData.criteriaResult.status}}. <a ng-click="triggerCriteriaResult()">{{'label.button.show.detail' | translate}}</a>
                </div>
                <div ng-show="showCriteriaResult">
                    <div >
                        <strong>{{ 'label.heading.request.eligibility.detail' | translate }}</strong>
                    </div>
                    <div>
                        {{taskData.criteriaResult.criteriaOutput.name}} - {{taskData.criteriaResult.criteriaOutput.output.bucket}} - {{taskData.criteriaResult.criteriaOutput.output.value}} - {{taskData.criteriaResult.criteriaOutput.output.reason}} - {{taskData.criteriaResult.criteriaOutput.output.error}}
                        <ul>
                            <li ng-repeat="dimensionResult in taskData.criteriaResult.criteriaOutput.ruleResultHierarchy">
                                {{dimensionResult.name}} - {{dimensionResult.output.bucket}} - {{dimensionResult.output.value}} - {{dimensionResult.output.reason}} - {{dimensionResult.output.error}}
                                <ol>
                                    <li ng-repeat="factorResult in dimensionResult.ruleResultHierarchy">
                                        {{factorResult.name}} - {{factorResult.output.bucket}} - {{factorResult.output.value}} - {{factorResult.output.reason}} - {{factorResult.output.error}}
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-offset-4 col-sm-4"><button ng-click="doTaskAction(2)">Do Fresh Check</button></div>
            </form>
        </div>
    </div>
    <div ng-show="canView==false">
        <p> {{'label.input.do.not.have.access.to.see'| translate}} </p>
    </div>
</div>


