<div name="viewtaskForm" ng-controller="ViewTaskController">
    <div class="col-md-12 col-sm-12">
        <div>
            <ul class="breadcrumb">
                <li><a href="#/tasklist"><strong>Task List</strong></a></li>
                <li ng-if="taskData.parentId"><a href="#/viewtask/{{taskData.parentId}}"><strong>Workflow</strong></a></li>
                <li class="active">#{{taskData.id}}&nbsp;{{taskData.name}}</li>
            </ul>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="row well" ng-if="loanApplicationData.loanApplicationReferenceId">
                <div class="row">
                    <div class="col-md-4"><span> Applicant Name:&nbsp;</span><span><a href="#/viewclient/{{taskData.clientId}}"> {{clientName}}</a></span></div>
                    <div class="col-md-4"><span> Application Reference:&nbsp;</span><span><a href="#/viewloanapplicationreference/{{loanApplicationData.loanApplicationReferenceId}}"> {{loanApplicationData.loanApplicationReferenceNo}}</a></span></div>
                    <div class="col-md-4"> Relationship Officer :&nbsp; {{loanApplicationData.loanOfficerName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Loan Amount:&nbsp;{{loanApplicationData.loanAmountRequested}} {{loanApplicationData.currency.displaySymbol}}</div>
                    <div class="col-md-4"> Loan Purpose:&nbsp;{{loanApplicationData.loanPurpose.name}}</div>
                    <div class="col-md-4"> Application date:&nbsp;{{loanApplicationData.submittedOnDate | DateFormat}}</div>
                </div>
            </div>
            <div ng-if="isWorkflowTask" ng-include="'views/task/workflowtask.html'"></div>
            <div ng-if="isSingleTask" ng-include="'views/task/singletask.html'"></div>
        </div>

    </div>
</div>
