<div name="workflowForm" class="row" ng-controller="WorkflowTaskController">
    <div>
        <div ng-if="false" class="row col-md-12">
            <div class="row task-action">
                <span class="pull-right">
                    <button class="btn btn-primary" ng-click="moveToPreviousTask()" ng-class="{disabled:isPreviousButtonDisabled}"><i class="icon-chevron-left icon-white"></i></button>
                    <button class="btn btn-primary" ng-click="moveToNextTask()" ng-class="{disabled:isNextButtonDisabled}"> <i class="icon-chevron-right icon-white"></i></button>
                </span>
                <br>
            </div>
        </div>
        <div class="col-md-12">
            <ul class="nav nav-pills nav-wizard">
                <li ng-class="{active:isCurrentTask(task.id), disabled:isDisabled(task.id)}" ng-repeat="task in tasks" ><a href ng-click="showMe(task.id)" data-toggle="tab">{{task.name}}</a></li>
            </ul>
        </div>
        <div class="col-md-12 ">
            <div ng-if="isCurrentTask(taskData.id)" ng-repeat="taskData in tasks" ng-include="'views/task/singletask.html'"></div>
        </div>
    </div>
</div>
