<div name="viewsalesform" ng-controller="CenterOnboardingWorkflowController">
    <div class="col-md-12 col-sm-12">
        <div>
            <ul class="breadcrumb">
                <li ng-show="centerData.name"><a href="#/viewcenter/{{centerData.id}}"><strong>'{{centerData.name}}'</strong></a>
                </li>
                <li class="active">{{'label.heading.workflow' | translate}}</li>
            </ul>
        </div>

        <div class="row well" ng-if="centerData">
            <h3><strong>{{'label.heading.centerdetails' | translate}}<span>:</span></strong></h3>
            <div class="row">
                <div class="col-md-6"><span>{{'label.heading.centername' | translate}}:&nbsp;</span><span><a href="#/viewcenter/{{centerData.id}}"> {{centerData.name}}</a></span> &nbsp;
                    <span>
                            <small>
                                {{ 'label.heading.centerreferenceno' | translate }}: {{centerData.referenceNumber}}
                            </small>
                        </span>
                </div>
                <div class="col-md-6"><span> {{'label.input.status' | translate}} :&nbsp; {{centerData.status.value}}</span></div>
            </div>
            <div class="row">
                <div class="col-md-6"> {{'label.heading.office' | translate}}:&nbsp;{{getOfficeName(centerData.officeName,centerData.officeReferenceNumber)}}</div>
                <div class="col-md-6">{{'label.input.staff' | translate}}: &nbsp;{{centerData.staffName}}</div>
            </div>

            <div class="row">
                <a class="btn btn-info" style="text-align: right;float: right;" ng-click="getCWFClientsTaskStepsInfo(centerData.id)">
                    {{'label.button.members.steps.info' | translate}}
                </a>
            </div>
        </div>

        <div ng-if="taskData" ng-include="'views/task/workflowtask.html'"></div>
    </div>
</div>