<div ng-controller="EditExternalServicesConfigurationController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
            <li><a href="#/externalservices">{{'label.anchor.externalServices' | translate}}</a></li>
            <li class="active">{{'label.anchor.editExternalServicesConfiguration' | translate}}</li>
        </ul>
    </div>
    <form name="editExternalServicesConfigurationForm" novalidate="" class="form-horizontal well" ng-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{ 'label.anchor.editExternalServicesConfiguration' | translate }}</legend>
            <table class="table">
                <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.name' | translate}}</th>
                        <th>{{'label.heading.config.existing.value' | translate}}</th>
                        <th>{{'label.heading.config.new.value' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(names, values) in formData">
                        <td>{{names}}</td>
                        <td>{{currentConfigs[names]}}</td>
                        <td>
                            <input type="text" autocomplete="off" id="configname" name="configname" ng-model="formData[names]"
                                class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="col-md-offset-4">
                <a id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</a>
                <button id="save" type="submit" has-permission='UPDATE_EXTERNALSERVICES' class="btn btn-primary">
                    {{'label.button.save' | translate}}
                </button>
            </div>
        </fieldset>
    </form>
</div>