<div ng-controller="ExternalServicesController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
            <li class="active">{{'label.anchor.externalServices' | translate}}</li>
        </ul>
    </div>
    <div>
        &nbsp;
    </div>
    <div class="row paddedleft paddedtop">
        <div class="list-group">
            <div class="col-sm-6 col-md-6">
                <a class="list-group-item" has-permission="READ_CONFIGURATION" href="#/externalservices/S3">
                    <h4 class="list-group-item-heading"><i class="icon-large icon-cloud"></i>&nbsp;&nbsp;{{'label.anchor.externalServices'
                        | translate}}</h4>

                    <p class="list-group-item-text">{{'label.S3.description' | translate}}</p>
                </a>
            </div>
            <div class="col-sm-6 col-md-6">
                <a class="list-group-item" has-permission="READ_CONFIGURATION" href="#/externalservices/Aadhaar">
                    <h4 class="list-group-item-heading"><i class="icon-large icon-certificate"></i>&nbsp;&nbsp;{{'label.anchor.aadhaarservice'
                        | translate}}</h4>

                    <p class="list-group-item-text">{{'label.aadhaar.description' | translate}}</p>
                </a>
            </div>
            <div class="col-sm-6 col-md-6">
                <a class="list-group-item" has-permission="READ_CONFIGURATION" href="#/externalservices/SMTP">
                    <h4 class="list-group-item-heading"><i class="icon-large icon-envelope"></i>&nbsp;&nbsp;{{'label.anchor.externalServices'
                        | translate}}</h4>

                    <p class="list-group-item-text">{{'label.SMTP.description' | translate}}</p>

                </a>
            </div>
            <div class="col-sm-6 col-md-6">
                <a class="list-group-item"  has-permission="READ_CONFIGURATION" href="#/externalservicesCB/CreditBureau">
                    <h4 class="list-group-item-heading"><i class="icon-large icon-envelope"></i>&nbsp;&nbsp;{{'label.CreditBureau.description'
                        | translate}}</h4>
                    <p class="list-group-item-text">{{'label.CreditBureau.description' | translate}}</p>
                </a>
            </div>

            <div class="col-sm-6 col-md-6">
                <a class="list-group-item"  has-permission="READ_CONFIGURATION" href="#/externalservices/NACH">
                    <h4 class="list-group-item-heading"><i class="icon-large icon-envelope"></i>&nbsp;&nbsp;{{'label.anchor.NACH'
                        | translate}}</h4>
                    <p class="list-group-item-text">{{'label.NACH.description' | translate}}</p>
                </a>
            </div>

            <div class="col-sm-6 col-md-6" ng-repeat="otherExternalService in otherExternalServiceList">
                <a class="list-group-item"  has-permission="READ_CONFIGURATION" href="#/otherexternalservices/{{otherExternalService.id}}">
                    <h4 class="list-group-item-heading"><i class="icon-large icon-certificate"></i>&nbsp;&nbsp;{{otherExternalService.displayCode | translate}}</h4>
                    <p class="list-group-item-text">{{otherExternalService.type.code | translate}}</p>
                </a>
            </div>

        </div>
    </div>
</div>
