<div class="col-md-12" ng-controller="ReactivateUserController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/users">{{'label.anchor.users' | translate}}</a></li>
            <li class="active">{{'label.anchor.reactivate.user' | translate}}</li>
        </ul>
    </div>
    <form name="activateuserform" novalidate="" class="form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.anchor.reactivate.user' | translate}}</legend>

            <div class="form-group">
                <label class="control-label col-sm-2" for="username">{{'label.input.username' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input type="text" autocomplete="off" id="username" name="username" ng-model="formData.username"
                        class="form-control" required late-Validate />
                </div>
                <div class="col-sm-3">
                    <form-validate valattributeform="activateuserform" valattribute="username" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="firstname">{{'label.input.firstname' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input type="text" autocomplete="off" id="firstname" name="firstname" value="{{user.firstname}}"
                        ng-model="formData.firstname" class="form-control" required late-Validate />
                </div>
                <div class="col-sm-3">
                    <form-validate valattributeform="activateuserform" valattribute="firstname" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="lastname">{{'label.input.lastname' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input type="text" autocomplete="off" id="lastname" name="lastname" value="{{user.lastname}}"
                        ng-model="formData.lastname" class="form-control" required late-Validate />
                </div>
                <div class="col-sm-3">
                    <form-validate valattributeform="activateuserform" valattribute="lastname" />
                </div>
            </div>
            <div data-ng-switch on="formData.sendPasswordToEmail">
                <div data-ng-switch-when="true">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">{{'label.input.email' | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input type="email" id="email" autocomplete="off" name="email" class="form-control"
                                ng-model="formData.email" required late-Validate />
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="createuserform" valattribute="email" />
                        </div>
                    </div>
                </div>
                <div data-ng-switch-when="false">
                    <div class="form-group" data-ng-show="!formData.sendPasswordToEmail">
                        <label class="control-label col-sm-2" for="email1">{{'label.input.email' | translate}}</label>

                        <div class="col-sm-3">
                            <input type="email" id="email1" autocomplete="off" name="email1" class="form-control"
                                ng-model="formData.email" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.autogeneratepassword' | translate}}</label>

                <div class="col-sm-3">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="formData.sendPasswordToEmail">
                    </label>
                </div>
            </div>
            <div ng-if="!formData.sendPasswordToEmail">
                <div>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="password">{{ 'label.input.password' | translate }}
                            <span class="required">*</span>
                        </label>

                        <div class="col-sm-3">
                            <input type="password" ng-autofocus="false" id="password" name="password"
                                ng-model="formData.password" class="form-control" required late-Validate />
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="activateuserform" valattribute="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"
                            for="repeatPassword">{{ 'label.input.repeatpassword' | translate }}
                            <span class="required">*</span></label>

                        <div class="col-sm-3">
                            <input type="password" ng-autofocus="false" id="repeatPassword" name="repeatPassword"
                                ng-model="formData.repeatPassword" class="form-control" required late-Validate />
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="activateuserform" valattribute="repeatPassword" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-3">
                <a id="cancel" href="#/users">
                    <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                </a>
                <button id="save" type="submit" class="btn btn-primary"
                    has-permission='REACTIVATE_USER'>{{'label.button.save' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>