<div class="col-md-12" ng-controller="UserListController"> 
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.users' | translate}}</li>
    </ul>
<form class="form-horizontal well">
    <div class="form-group">
        <div class="col-md-11">
        <input ng-model="filterText" type="text" autocomplete="off" ng-keyup="onFilter()"
            class="span form-control" placeholder="{{'label.input.filterbynameorusername' | translate}}">
        </div>
        <div class="col-md-1">
            <a ng-click="searchData()" class="btn btn-primary  pull-right">{{'label.heading.search' | translate }}
            <i class="icon-search icon-white"></i></a>
        </div>
    </div>

    <div>
    <a href="#/createuser" class="btn btn-primary pull-right" has-permission='CREATE_USER'><i class="icon-plus icon-white"></i>{{'label.button.createuser' | translate}}</a>
    <tabset has-permission='READ_REGISTERED_DEVICE'>
        <tab heading="{{'users' | translate}}" select="fetchUsers('users')">
        </tab>
        <tab heading="{{'label.self.service.user' | translate}}" select="fetchUsers('selfServiceUser')">
        </tab>
        <tab heading="{{'label.anchor.deactivated.users' | translate}}" select="fetchUsers('deactivatedUser')">
        </tab>
    </tabset>
    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.heading.username' | translate}}</th>
            <th>{{'label.heading.name' | translate}}</th>
            <th>{{'label.heading.email' | translate}}</th>
            <th>{{'label.heading.lastlogintime' | translate}}</th>
            <th>{{'label.heading.office' | translate}}</th>
            <th ng-if="currentUserType=='deactivatedUser'">{{'label.heading.actions' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer-main" ng-repeat="user in users.currentPageItems| orderBy:'firstname':reverse ">
            <td class="pointer" data-ng-click="routeTo(user.id)">{{user.username}}</td>
            <td class="pointer" data-ng-click="routeTo(user.id)">{{user.firstname}} {{user.lastname}}</td>
            <td class="pointer" data-ng-click="routeTo(user.id)">{{user.email}}</td>
            <td class="pointer" data-ng-click="routeTo(user.id)">{{user.lastLoginDate}}</td>
            <td class="pointer" data-ng-click="routeTo(user.id)">{{user.officeName}}</td>
            <td class="pointer" ng-if="currentUserType=='deactivatedUser'"><button type="button" class="btn btn-primary"
                    data-ng-click="activateUser(user.id)" has-permission='REACTIVATE_USER'>
                    {{'label.achor.activate' | translate}}
                </button></td>
        </tr>
        <tr ng-if="users.isResponsePresent && users.currentPageItems.length == 0">
            <td>
                <div class="alert alert-info col-sm-12" style="border-style: dashed;">
                    <span class="fa fa-info-circle"></span> {{'label.message.no.data.found' | translate}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <ul class="pager">
        <li class="previous">
            <a id="prev" ng-click="users.previous()" href=""
               ng-hide="!users.hasPrevious()">&larr; {{'label.button.previous' | translate}}</a>
        </li>
        <li class="next">
            <a id="next" ng-click="users.next()" href=""
               ng-hide="!users.hasNext()">{{'label.button.next' | translate}} &rarr;</a></li>
    </ul>
</form>
</div>