<div class="col-md-12" ng-controller="ViewUserController">
    <ul class="breadcrumb">
        <li>
            <a href="#/users">{{'label.anchor.users' | translate}}</a>
        </li>
        <li class="active">{{user.firstname}}&nbsp;{{user.lastname}}</li>
    </ul>
    <br>
    <tabset>
        <tab heading="User Details">
            <div class="well">
                <div class="pull-right">
                    <div class="btn-group">
                        <a href="#/edituser/{{user.id}}" class="btn btn-primary" has-permission='UPDATE_USER'>
                            <i class="icon-edit icon-white"></i>
                            {{'label.button.edit' | translate}}</a>
                        <button type="button" ng-click="deleteuser()" class="btn btn-primary" has-permission='DELETE_USER'>
                            <i class="icon-ban-circle icon-white"></i>&nbsp;{{'label.button.deactivate' | translate}}
                        </button>
                        <button ng-show="showResetPasssword" type="button" class="btn btn-danger" data-ng-click="open()" has-permission='RESETPASSWORD_USER'>
                            <i class="icon-cog icon-white"></i>
                            {{'label.button.resetPassword' | translate}}
                        </button>
                        <button type="button" ng-hide="user.accountNonLocked" class="btn btn-primary" data-ng-click="unlockuser()" has-permission='UNLOCK_USER'>
                            <i class="icon-cog icon-white"></i>
                            {{'label.button.unlock' | translate}}
                        </button>
                    </div>
                </div>
                <h3 class="bolder">{{user.firstname}}&nbsp;{{user.lastname}}</h3>
                <div class="row">
                    <div class="col-md-5">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td>{{'label.heading.loginname' | translate}}:</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>{{'label.heading.firstname' | translate}}:</td>
                                <td>{{user.firstname}}</td>
                            </tr>
                            <tr>
                                <td>{{'label.heading.lastname' | translate}}:</td>
                                <td>{{user.lastname}}</td>
                            </tr>
                            <tr>
                                <td>{{'label.heading.email' | translate}}:</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>{{'label.heading.externalid' | translate}}:</td>
                                <td>{{user.staff.externalId}}</td>
                            </tr>
                            <tr>
                                <td>{{'label.heading.lastlogintime' | translate}}:</td>
                                <td>{{user.lastLoginDate}}</td>
                            </tr>
                            <tr>
                                <td>{{'label.heading.office' | translate}}:</td>
                                <td>{{user.officeName}}</td>
                            </tr>
                            <tr data-ng-show="user.staff">
                                <td>{{'label.heading.staff' | translate}}:</td>
                                <td>{{user.staff.displayName}}</td>
                            </tr>
                            <tr>
                                    <td>{{'label.heading.mobilenumber' | translate}}:</td>
                                    <td>{{user.mobileNo}}</td>
                            </tr>
                            <tr>
                                    <td>{{'label.heading.joiningDate' | translate}}:</td>
                                    <td>{{joiningDate}}</td>
                            </tr>
                            <tr>
                                <td valign="top">{{'label.heading.roles' | translate}}:</td>
                                <td>
                                    <table>
                                        <tr ng-repeat="role in user.selectedRoles">
                                            <td>
                                                <span style="margin-left: -20px">{{role.name}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </tab>
        <tab has-permission='READ_REGISTERED_DEVICE' heading="{{'label.anchor.linked.devices' | translate}}" select="fetchDevicesToUser()">
            <table class="table" ng-if="uiData.isFetchDevicesToUser">
                <tr>
                    <th>{{'label.device.id' | translate}}</th>
                    <th>{{'label.device.model' | translate}}</th>
                    <th>{{'label.imei.number' | translate}}</th>
                    <th>{{'label.last.login.date.time' | translate}}</th>
                    <th>{{'label.last.login.location' | translate}}</th>
                    <th>{{'label.heading.status' | translate}}</th>
                    <th>{{'label.heading.action' | translate}}</th>
                </tr>
                <tr class="pointer-main" ng-repeat="device in devicesToUser" ng-if="device.status.systemCode == 'activated'">

                    <td class="pointer" ng-click="routeToDevice(device)">{{device.deviceId}}</td>
                    <td class="pointer" ng-click="routeToDevice(device)">{{device.deviceModel}}</td>
                    <td class="pointer" ng-click="routeToDevice(device)">{{device.imeiNumber}}</td>
                    <td class="pointer" ng-click="routeToDevice(device)">{{device.registeredDeviceToUserDatas[0].lastLoggedInDate | DateTimeFormat}}</td>
                    <td>
                        <a href=http://maps.google.com/?q={{device.registeredDeviceToUserDatas[0].latitude}},{{device.registeredDeviceToUserDatas[0].longitude}}
                            target="_blank">{{'label.location' | translate }}</a>
                    </td>
                    <td ng-click="routeToDevice(device)">{{device.registeredDeviceToUserDatas[0].status.value}}</td>
                    <td ng-if="device.registeredDeviceToUserDatas[0].status.systemCode == 'pending'">
                        <a has-permission='ACTIVATE_REGISTERED_DEVICE' ng-click="deviceAction(device,'activate')">{{'label.button.activate' | translate}}</a> |
                        <a has-permission='DEACTIVATE_REGISTERED_DEVICE' ng-click="deviceAction(device,'deactivate')">{{'label.button.deactivate' | translate}}</a>
                    </td>
                    <td ng-if="device.registeredDeviceToUserDatas[0].status.systemCode == 'activated'">
                        <a has-permission='DEACTIVATE_REGISTERED_DEVICE' ng-click="deviceAction(device,'deactivate')">{{'label.button.deactivate' | translate}}</a>
                    </td>
                    <td ng-if="device.registeredDeviceToUserDatas[0].status.systemCode == 'deactivated'">
                        <a has-permission='ACTIVATE_REGISTERED_DEVICE' ng-click="deviceAction(device,'activate')">{{'label.button.activate' | translate}}</a>
                    </td>
                </tr>

                </tr>
            </table>
        </tab>
    </tabset>


    <script type="text/ng-template" id="password.html">
        <form name="changePasswordForm" novalidate="" class="form-horizontal well" rc-submit="changePassword()">
            <api-validate></api-validate>
            <fieldset>
                <div class="modal-header silver">
                    <h3 class="bolder">{{'label.heading.changepassword' | translate}}</h3>
                </div>

                <div class="modal-body form-horizontal">
                    <api-validate></api-validate>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="password">{{ 'label.input.password' | translate }}
                        </label>

                        <div class="col-sm-5">
                            <input type="password" id="password" name="password" ng-model="formData.password" class="form-control" required late-Validate/>
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="changePasswordForm" valattribute="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="repeatPassword">{{ 'label.input.repeatpassword' | translate }}</label>

                        <div class="col-sm-5">
                            <input type="password" id="repeatPassword" name="repeatPassword" ng-model="formData.repeatPassword" class="form-control"
                                required late-Validate/>
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="changePasswordForm" valattribute="repeatPassword" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer silver">
                    <button type="button" class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}
                    </button>
                    <button type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
                </div>
            </fieldset>
        </form>
    </script>

    <script type="text/ng-template" id="deleteuser.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.deactivate' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>

    <script type="text/ng-template" id="unlockuser.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.unlockuser' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="unlock()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>


</div>