   <div class="col-md-12" ng-controller="ViewWorkflowController">
        <ul class="breadcrumb">
            <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
            <li><a href="#/workflowmanagement">{{'label.anchor.workflowmanagement' | translate}}</a></li>
            <li><a href="#/workflows">{{'label.anchor.workflow' | translate}}</a></li>
            <li class="active">{{'label.anchor.viewworkflow' | translate}}</li>
        </ul>
    <api-validate></api-validate>
    <div >
         <a  class="btn btn-primary pull-right" 
         data-ng-click="editWorkflow()" has-permission='UPDATE_TASK_CONFIG'>{{'label.button.edit'| translate}} </a>
    </div>
    <h3>{{'label.heading.viewworkflow' | translate}}</h3>
    <hr>
    <div class="table-response">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="pointer">{{'label.heading.workflowname' | translate}}</td>
                    <td class="pointer">{{taskConfigData.name}}</td>
                </tr>
                <tr>
                    <td data-ng-click="routeToView()" class="pointer">{{'label.heading.shortname' | translate}}</td>
                    <td  data-ng-click="routeToView()" class="pointer">{{taskConfigData.shortName}}</td>
                </tr>
                <tr>
                    <td data-ng-click="routeToView()" class="pointer">{{'label.heading.enabled.cyclic.workflow' | translate}}</td>
                    <td  data-ng-click="routeToView()" class="pointer">{{taskConfigData.isCyclic  ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                    <td data-ng-click="routeToView()" class="pointer">{{'label.input.isActive' | translate}}</td>
                    <td  data-ng-click="routeToView()" class="pointer">{{taskConfigData.isActive  ? 'Active' : 'In Active'}}</td>
                </tr>
                <tr ng-if="isTaskConfigEntityMappingDone" >
                    <td data-ng-click="routeToView()" class="pointer">{{'label.heading.entity' | translate}}</td>
                    <td data-ng-click="routeToView()" class="pointer">{{taskConfigData.entityMappingType.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div  class="pull-right" >
         <a class="btn btn-primary"
            data-ng-click="addWorkflowSteps()" has-permission='ADD_TASK_CONFIG'>
            {{'label.button.addsteps'| translate}} </a> &nbsp;<a><i class="paddedleft icon-upload-alt icon-dark" style="font-size:15px" tooltip-placement="right" tooltip="{{ 'label.tooltip.upload.file.for.workflow' | translate}}" ng-click="upload()"></i></a>
    </div>
    <h3>{{'label.heading.manageworkflow' | translate}}</h3>
        <div class="table-response">
        <table class="table table-striped">
            <thead>
                <th>{{'label.heading.workflowsteps' | translate}}</th>
                <th>{{'label.heading.shortname' | translate}}</th>
                <th>{{'label.heading.activitytype' | translate}}</th>
                <th>{{'label.heading.criteria' | translate}}</th>
                <th>{{'label.heading.default.landing.step'| translate}}</th>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="workflowStepsDatalist">
                <tr class = "pointer" ng-repeat = "stepData in workflowStepsDatalist">
                    <td ng-click = "viewWorkflowStep(stepData.parentId,stepData.id)">{{stepData.name}}</td>
                    <td ng-click = "viewWorkflowStep(stepData.parentId,stepData.id)">{{stepData.shortName}}</td>
                    <td ng-click = "viewWorkflowStep(stepData.parentId,stepData.id)">{{stepData.taskActivityName}}</td>
                    <td ng-click = "viewWorkflowStep(stepData.parentId,stepData.id)">{{stepData.criteriaName}}</td>
                    <td><input type="radio" name="defaultlandingstep" ng-checked="stepData.isDefaultLandingStep" data-ng-click="defaultLandFunc(stepData)"></td>
                </tr>
            </tbody>
        </table>
    </div>  
    <div>
          <a  class="btn btn-primary pull-right" 
             data-ng-click="updateWorkflowStepOrder()" has-permission='UPDATE_TASK_CONFIG'>{{'label.button.update.workflowsteps.order'| translate}} </a>
    </div>
 </div>

 <script type="text/ng-template" id="defaultlandalert.html">
    <form name="popupform" novalidate="">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.alert' | translate}}</h3>
        </div>
        <div class="modal-body">
            <h3><strong class="center">{{'alert.msg.default.land.msge' | translate}}</strong></h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="submit()">{{'label.button.ok' | translate}}</button>
            <a class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</a>
        </div>
    </form>
</script>
<script type="text/ng-template" id="uploadfile.html">
    <form name="popupform" novalidate="">
    <div class="modal-header silver">
        <h3 class="bolder">{{'label.heading.uploadfile' | translate}}</h3>
    </div>
    <div class="modal-body">
        <api-validate></api-validate>
        <br>
        <input type="file" ng-file-select="onFileSelect($files)">
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
        <button class="btn btn-primary" ng-click="upload()">{{'label.button.upload' | translate}}</button>
    </div>
    </form>
    </script>