<div class="col-md-12" ng-controller="ClaimDocumentsUpload">
    <div>
        <ul class="breadcrumb">
            <li><a ng-href="#/insurancedetails/documentsupload">{{'label.anchor.insurance' | translate}}</a></li>
            <li class="active">{{'label.heading.menu.insurance.document.upload' | translate}}
            </li>
        </ul>
    </div>
    <api-validate></api-validate>
    <h2>{{'label.heading.menu.insurance.document.upload' | translate}}</h2>
    <br>
    <div class="col-md-12">
        <div ng-include="'views/insurance/insurancebasicdetailsview.html'">
        </div>
        <div class="col-md-12">
            <br> </br>
            <div ng-if="showSummary" ng-include="'views/insurance/viewnomineebankdetails.html'">
            </div>
            <div ng-if="!showSummary" ng-include="'views/insurance/createnomineebankdetails.html'">
            </div>
        </div>

        <div class="col-md-12 section">
            <br> </br>
            <br> </br>
            <button ng-if="showSummary" id="save" type="submit" ng-click="approve()"
                class="btn btn-primary col-md-offset-5" ng-hide="blockUI"
                has-permission='SUBMIT_INSURANCEDOCUMENTUPLOAD'>{{'label.heading.insurance.status.submit' | translate}}</button>
        </div>

        <div ng-click="getHistory()" class=" col-md-offset-10">
            <h4><strong><a href="">{{'label.button.insurance.history'
            | translate}}</a></strong>
        </div>
    </div>