<div class="col-md-12" ng-controller="RejecteClaimInsuranceController">
    <div>
        <ul class="breadcrumb">
            <li><a ng-href="#/insurancedetails">{{'label.anchor.insurance' | translate}}</a></li>
            <li class="active">{{'label.heading.menu.insurance.intimation.approval.pending' | translate}}
            </li>
        </ul>
    </div>
    <api-validate></api-validate>
    <h2>{{'label.heading.intimation.approval' | translate}}</h2>
    <br>
    <div ng-include="'views/insurance/insurancebasicdetailsview.html'">
    </div>
    <div class="col-md-12 section">
        <br> </br>
        <br> </br>
        <button id="save" type="submit" ng-click="delete()" class="btn btn-primary col-md-offset-5" ng-hide="blockUI"
            has-permission='APPROVE_INSURANCEINTIMATIONAPPROVAL'>{{'label.heading.insurance.status.delete' | translate}}</button>
    </div>

    <div ng-click="getHistory()" class=" col-md-offset-10">
        <h4><strong><a href="">{{'label.button.insurance.history'
            | translate}}</a></strong>
    </div>
</div>