<div class="col-md-12" ng-controller="InsuranceDetailsController">
    <div>
        <ul class="breadcrumb">
            <li>{{'label.anchor.insurance' | translate}}</a></li>
            </li>
        </ul>
    </div>
    <tabset class="tab-container">
      <tab active="intimationapprovalpending" tab-highlight select="fetchInsuranceData('intimationapprovalpending')"> <!-- the tab highlight directive -->
        <tab-heading>
          <span>{{'label.heading.menu.insurance.intimation.approval.pending' | translate}}</span> 
        </tab-heading>
      </tab>
      <tab active="documentsupload" active="documentsupload" tab-highlight select="fetchInsuranceData('documentsupload')"> <!-- the tab highlight directive -->
        <tab-heading>
          <span>{{'label.heading.menu.insurance.document.upload' | translate}}</span>
        </tab-heading>
      </tab>
      <tab active="claimverificationpending"  tab-highlight select="fetchInsuranceData('claimverificationpending')"> <!-- the tab highlight directive -->
        <tab-heading>
          <span>{{'label.heading.menu.insurance.claim.verification.pending' | translate}}</span> 
        </tab-heading>
      </tab>
      <tab  active="verifiedClaims" tab-highlight select="fetchInsuranceData('verifiedClaims')"> <!-- the tab highlight directive -->
        <tab-heading>
          <span>{{'label.heading.menu.insurance.verified.claims' | translate}}</span>
        </tab-heading>
      </tab>
      <tab  active="settlementpending"  tab-highlight select="fetchInsuranceData('settlementPending')"> <!-- the tab highlight directive -->
        <tab-heading>
          <span>{{'label.heading.menu.insurance.settelment.pending' | translate}}</span>
        </tab-heading>
      </tab>
      <tab   active="settledClaims" tab-highlight select="fetchInsuranceData('settledClaims')"> <!-- the tab highlight directive -->
        <tab-heading>
          <span>{{'label.heading.menu.insurance.setteled.claims' | translate}}</span>
        </tab-heading>
      </tab>
    </tabset>
    <div class="container-fluid" style="border:1px solid #cecece;">
      <br/>
      <api-validate></api-validate>
      <br/>
      <table class="table">
        <tr>
            <td>
                <div>
                    <select chosen="offices" id="officeId" ng-model="officeId" name="office" class="chzn-select-deselect form-control"
	                    ng-options="office.id as office.name for office in offices" value="{{office.id}}"
	                    ng-change="officeSelected(officeId)" >
	                <option value="">{{'label.selectoffice' | translate}}</option>
	            </select>
                </div>
            </td>
            <td>
                <div>
                    <select chosen="centers" id="centerId" name="center" ng-model="centerId"
	                    ng-options="center.id as center.name for center in centers" value="{{center.id}}"
	                    ng-change="centerSelected(centerId)" class="form-control">
	                <option value="">{{'label.selectcenter' | translate}}</option>
	            </select>
                </div>
            </td>
            <td ng-show="selectAllOption" >
                <div>
                  <input id="settelmentDate" type="text" autocomplete="off" placeholder="From Date" name="settelmentDate" datepicker-pop="{{df}}" ng-model="fromDate"
                  is-open="opened1" max="globalMaxDate" class="form-control"/>
                </div>
            </td>
            <td ng-show="selectAllOption" >
                <div>
                  <input id="settelmentDate" type="text" autocomplete="off" placeholder="To Date" name="settelmentDate" datepicker-pop="{{df}}" ng-model="toDate"
                  is-open="opened1" max="globalMaxDate" class="form-control"/>
                </div>
            </td>
            <td>
                <div class="col-sm-1">
                    <div>
                        <button class="btn btn-primary" ng-click="getFilteredData()"><i
                                class="icon-search"></i>{{'label.button.fetchdetails' | translate}}</button>
                    </div>
                </div>
              </td>
              <td ng-show="exportInsuredData">
                <div class="col-sm-1">
                    <div>
                      <button class="btn btn-primary" ng-click="exportVerfiedInsuranceData()"><i
                              class="icon-file icon-white"></i>{{'label.heading.export' | translate}}</button>
                  </div>
                </div>
              </td>
        </tr>
    </table>

      <tabset class="tab-container">
        <tab active="tab.active" ng-show="approvalTabToBeshown" tab-highlight ng-click="fetchIntimationapprovalpendingInsuranceData('intimationapprovalpending')"> <!-- the tab highlight directive -->
          <tab-heading  >
            <span >{{'label.heading.menu.insurance.claims.approval.pending' | translate}}</span> 
          </tab-heading>
          <table class="table well" >
              <thead>
                  <tr class="graybg">
                      <th colspan="2">
                          <span>{{'label.heading.serialno' | translate}}</span>
                      </th>
                      <th ng-show="selectAllOption" colspan="2"><input type="checkbox" ng-model="deceasedDetails.isAllChecked" ng-change="selectAllDeceased(deceasedDetails.isAllChecked)"/>
                      </th>
                      <th colspan="2">
                          <span>{{'label.heading.deceased.clientid' | translate}}</span>
                      </th>
                      <th colspan="2">
                          <span>{{'label.heading.deceased.client.name' | translate}}</span>
                      </th>
                      <th colspan="2">
                        <span>{{'label.heading.deceased.client.type' | translate}}</span>
                      </th>
                      <th colspan="2">
                          <span>{{'label.heading.death.intimation.date' | translate}}</span>
                      </th>
                      <th colspan="2">
                          <span>{{'label.heading.office' | translate}}</span>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat = "deceasedMember in insuranceData">
                      <td class="pointer" data-ng-click="routeTo(deceasedMember.deceasedId)" colspan="2"><span></span>{{$index+1}}</span></td>
                      <td ng-show="selectAllOption" class="pointer" colspan="2"><input type="checkbox" ng-model="deceasedMember.isMemberChecked" ></input></td>
                      <td class="pointer" data-ng-click="routeTo(deceasedMember.deceasedId)" colspan="2"><span>{{deceasedMember.clientId}}</span></td>
                      <td class="pointer" data-ng-click="routeTo(deceasedMember.deceasedId)" colspan="2"><span>{{deceasedMember.clientName}}</span></td>
                      <td class="pointer" data-ng-click="routeTo(deceasedMember.deceasedId)" colspan="2"><span>{{deceasedMember.clientType.value}}</span></td>
                      <td class="pointer" data-ng-click="routeTo(deceasedMember.deceasedId)" colspan="2"><span>{{deceasedMember.intimationDate | DateFormat}}</span></td>
                      <td class="pointer" data-ng-click="routeTo(deceasedMember.deceasedId)" colspan="2"><span>{{deceasedMember.office}}</span></td>
                      </tr>
              </tbody>
          </table>
          <ul class="pager">
            <li class="previous">
                <a id="prev" ng-click="previousList()" href=""
                   ng-hide="requestoffset == 0"> &larr; {{'label.button.previous' | translate}}</a>
            </li>
            <li class="next">
                <a id="next" ng-click="nextList()" href=""
                   ng-hide="insuranceData.length != limit">{{'label.button.next' | translate}} &rarr;</a></li>
        </ul>
        </tab>
        <tab  ng-show="rejectTabToBeshown" tab-highlight select="fetchRejectedInsuranceData('intimationapprovalpending')"> <!-- the tab highlight directive -->
          <tab-heading>
            <span>{{'label.heading.menu.insurance.claims.rejected' | translate}}</span>
          </tab-heading>
          <table class="table well" >
              <thead>
                  <tr class="graybg">
                      <th colspan="2">
                          <span>{{'label.heading.serialno' | translate}}</span>
                      </th>
                      <th colspan="2">
                          <span>{{'label.heading.deceased.clientid' | translate}}</span>
                      </th>
                      <th colspan="2">
                          <span>{{'label.heading.deceased.client.name' | translate}}</span>
                      </th>
                      <th colspan="2">
                        <span>{{'label.heading.deceased.client.type' | translate}}</span>
                      </th>
                      <th colspan="2">
                          <span>{{'label.heading.death.intimation.date' | translate}}</span>
                      </th>
                      <th colspan="2">
                          <span>{{'label.heading.office' | translate}}</span>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat = "deceasedMember in insuranceData">
                      <td class="pointer" data-ng-click="routeToReject(deceasedMember.deceasedId)" colspan="2"><span></span>{{$index+1}}</span></td>
                      <td class="pointer" data-ng-click="routeToReject(deceasedMember.deceasedId)" colspan="2"><span>{{deceasedMember.clientId}}</span></td>
                      <td class="pointer" data-ng-click="routeToReject(deceasedMember.deceasedId)" colspan="2"><span>{{deceasedMember.clientName}}</span></td>
                      <td class="pointer" data-ng-click="routeToReject(deceasedMember.deceasedId)" colspan="2"><span>{{deceasedMember.clientType.value}}</span></td>
                      <td class="pointer" data-ng-click="routeToReject(deceasedMember.deceasedId)" colspan="2"><span>{{deceasedMember.intimationDate | DateFormat}}</span></td>
                      <td class="pointer" data-ng-click="routeToReject(deceasedMember.deceasedId)" colspan="2"><span>{{deceasedMember.office}}</span></td>
                      </tr>
              </tbody>
          </table>
        </tab>
        </tabset>

            
            <br/>

    <div class="col-md-12 section paddedbottom10" ng-show="selectAllOption">
        <button id="save" type="submit" ng-click="submit()" class="btn btn-primary"  ng-hide="blockUI" has-permission='SUBMIT_INSURANCEVERIFIEDCLAIMS'>{{'label.heading.insurance.status.submit.selected' | translate}}</button>
    </div> 
    </div>
</div>