<div class="col-md-12" ng-controller="InsurancSetteledClaimsController">
    <div>
        <ul class="breadcrumb">
            <li><a ng-href="#/insurancedetails/settledClaims">{{'label.anchor.insurance' | translate}}</a></li>
            <li class="active">{{'label.heading.menu.insurance.setteled.claims' | translate}}
            </li>
        </ul>
    </div>
    <api-validate></api-validate>
        <h2>{{'label.heading.menu.insurance.setteled.claims' | translate}}</h2>
        <br>
    <div class="col-md-12 section">
        <div class="col-md-9"> 
            <h3>{{'label.heading.insurance.loan.details' | translate}}</h3>
            <table class="table well" >
                <thead>
                    <tr class="graybg">
                        <th colspan="2">
                            <span>{{'label.heading.serialno' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.heading.insurance.coi.number' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.heading.insurance.loan.account.number' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.heading.insurance.policy.provider' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.heading.insurance.insured.amount' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.heading.insurance.insured.loan.amount' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.heading.insurance.insured.loan.outstanding.amount' | translate}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "data in insuranceCliamDetials.insuranceLoanPolicyDatas">
                        <td colspan="2">{{$index+1}}</td>
                        <td colspan="2">{{data.coiNumber}}</td>
                        <td colspan="2">{{data.loanAccountNumber}}</td>
                        <td colspan="2">{{data.policyProvider}}</td>
                        <td colspan="2">{{data.insuranceAmount}}</td>
                        <td colspan="2">{{data.loanAmount}}</td>
                        <td colspan="2">{{data.loanOutstandingAmount}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="row graybg">
                <div class="col-md-6">
                    <h4><strong>{{'label.heading.deceased.person' | translate}}</strong> 
                    <span>   {{insuranceCliamDetials.insuredClientType.value}}</span></h4> 
                </div>
                <div class="col-md-6">
                    <h4><strong>{{'label.heading.death.date' | translate}}</strong>
                    <span class="paddingleft2px">  {{insuranceCliamDetials.deathDate | DateFormat}}</span></h4>  
                </div>
            </div>
            <br>
            <div class="row graybg ">
                <div class="col-sm-6">
                    <h4><strong>{{'label.heading.death.intimation.date' | translate}}</strong>
                    <span>  {{insuranceCliamDetials.intimationDate | DateFormat}}</span></h4> 
                </div>
                <div class="col-sm-6">
                    <h4><strong>{{'label.input.insurance.contact.number' | translate}}</strong>
                    <span>:  {{insuranceCliamDetials.contactNumber}}</span></h4> 
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <h3>{{'label.heading.insurance.applicant.details' | translate}}</h3>
            <div class="thumbnail row">
                <table class="table table-minified table-striped">
                    <tr >
                        <td ><b><span class="padded">{{'label.heading.insurance.applicant.name' | translate}}</span></b></td>
                        <td><a ng-href="#/viewclient/{{insuranceCliamDetials.clientId}}"><span class="padded-td">{{insuranceCliamDetials.clientName}}</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td ><b><span class="padded">{{'label.heading.insurance.applicant.client.id' | translate}}</span></b></td>
                        <td><a ng-href="#/viewclient/{{insuranceCliamDetials.clientId}}"><span class="padded-td">{{insuranceCliamDetials.clientId}}</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td ><b><span class="padded">{{'label.heading.insurance.applicant.age' | translate}}</span></b></td>
                        <td><span class="padded-td">{{age}}</span></td>
                    </tr>
                    <tr>
                        <td ><b><span class="padded">{{'label.heading.insurance.applicant.office' | translate}}</span></b></td>
                        <td><span class="padded-td">{{insuranceCliamDetials.office}}</span>
                        </td>
                    </tr>
                </table>    
            </div>    
        </div>
    </div>
    <div class="col-md-12 section">
        <br> </br>
        <h2>{{'label.heading.menu.insurance.settlement.details' | translate}}</h2>
              <table class="table well" >
                  <thead>
                      <tr class="graybg">
                          <th colspan="2">
                              <span>{{'label.heading.serialno' | translate}}</span>
                          </th>
                          <th colspan="2">
                              <span>{{'label.heading.policynumber' | translate}}</span>
                          </th>
                          <th colspan="2">
                              <span>{{'label.heading.insurance.loan.account.number' | translate}}</span>
                          </th>
                          <th colspan="2">
                            <span>{{'label.heading.insurance.settelement.date' | translate}}</span>
                          </th>
                          <th colspan="2">
                              <span>{{'label.heading.insurance.settelement.amount.received' | translate}}</span>
                          </th>
                          <th colspan="2">
                              <span>{{'label.heading.insurance.settelement.cheque.utr.number' | translate}}</span>
                          </th>
                          <th colspan="2">
                              <span>{{'label.heading.insurance.settelement.to.whom' | translate}}</span>
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  ng-repeat = "settlementDetail in settlementDetails">
                            <td colspan="2">{{$index+1}}</td>
                            <td colspan="2" >{{settlementDetail.policyNumber}}</td>
                            <td colspan="2">{{settlementDetail.loanAccountNumber}}<i ng-show="settlementDetail.loanStatus.value == 'Active'" class="icon-stop statusactive"></i>
                                <i ng-show="settlementDetail.loanStatus.value != 'Active'" class="icon-stop"></i></td>
                            <td colspan="2">{{settlementDetail.settlementDate | DateFormat}}
                            </td>
                            <td colspan="2">{{settlementDetail.settlementAmount}}</td>
                            <td colspan="2">{{settlementDetail.cheque}}</td>
                            <td colspan="2">{{settlementDetail.settlementType.value}}</td>
                    </tr>
                  </tbody>
              </table>
    </div>    
    
    <div ng-click="getHistory()"  class=" col-md-offset-10">
        <h4><strong><a href="" >{{'label.button.insurance.history'
            | translate}}</a></strong></div>
</div>