<div class="col-md-12" ng-controller="ViewClaimIntimationApproval">
    <div>
        <ul class="breadcrumb">
            <li><a ng-href="#/insurancedetails/intimationapprovalpending">{{'label.anchor.insurance' | translate}}</a></li>
            <li class="active">{{'label.heading.menu.insurance.intimation.approval.pending' | translate}}
            </li>
        </ul>
    </div>
    <api-validate></api-validate>
    <h2>{{'label.heading.intimation.approval' | translate}}</h2>
    <br>
    <div ng-include="'views/insurance/insurancebasicdetailsview.html'">
    </div>
    <div class="col-md-12 ">
        <h3>{{'label.input.attachments' | translate}}</h3>
        <table class="table">
            <thead>
                <tr class="graybg">
                    <th colspan="2">
                        <span>{{'label.heading.serialno' | translate}}</span>
                    </th>
                    <th colspan="3">
                        <span>{{'label.heading.insurance.documents.name' | translate}}</span>
                    </th>
                    <th colspan="2">
                        <span>{{'label.heading.insurance.documents.action' | translate}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="document in insuranceDocumentTagOptions">
                    <th colspan="2">{{$index+1}}</th>
                    <th colspan="3">{{document.name}}</th>
                    <td>
                        <a target="_blank" ng-click = "download(document)" has-permission='DOWNLOAD_DOCUMENT' ng-show="document.isDocumentAttached"><i
                            class="icon-cloud-download"></i></a>&nbsp;
                        <a data-ng-click="openViewDocument(document)" has-permission='READ_DOCUMENT' ng-show="document.isDocumentAttached"><i
                                class="icon-eye-open text-success"></i></a>&nbsp;
                </tr>
            </tbody>
        </table>
        <script type="text/ng-template" id="viewDocument.html">
            <div style="position: absolute;  width:800px; height: 600px;">
                <view-document-directive  ng-entity-type="{{data.parentEntityType}}"
                ng-entity-id="{{data.parentEntityId}}"
                ng-document-id="{{data.documentId}}"></view-document-directive>
            </div>
        </script>
    </div>
    <div class="col-md-12 section">
        <br> </br>
        <br> </br>
        <button id="save" type="submit" ng-click="approve()" class="btn btn-primary col-md-offset-5" ng-hide="blockUI"
            has-permission='APPROVE_INSURANCEINTIMATIONAPPROVAL'>{{'label.heading.insurance.status.approve' | translate}}</button>
        <a id="cancel" ng-click="reject()" class="btn btn-default"
            has-permission='REJECT_INSURANCEINTIMATIONAPPROVAL'>{{'label.heading.insurance.status.reject' | translate}}</a>
    </div>

    <div ng-click="getHistory()"  class=" col-md-offset-10">
        <h4><strong><a href="" >{{'label.button.insurance.history'
            | translate}}</a></strong></div>
    <script type="text/ng-template" id="rejectClaim.html">
                        <div class="modal-header silver">
                            <h3 class="bolder">
                                {{'label.heading.insurance.status.reject' | translate}}
                                <i class="icon-remove pointer pull-right" ng-click="cancelReject()"></i>
                            </h3>
                        </div>
                        <div class="modal-body well">
                    <form name="rejectform" novalidate="" class="row form-horizontal" 
                        rc-submit="submitReject()">
                        <api-validate></api-validate>
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label col-sm-3" >{{'label.input.specific.reason' | translate}}<span class="required">*</span></label>
                                <div class="col-sm-4">
                                    <select id = "reason" name="reason" ng-model="rejectFormData.reasonCode" 
                                    ng-options="codeValue.id as codeValue.name for codeValue in rejectReasons" value="{{codeValue.id}}" class="input-sm form-control" required>
                                    <option value="">{{'label.selectone' | translate}}</option></select>
                                </div>
                                <div class="col-sm-3">
                                    <form-validate valattributeform="rejectform" valattribute="reason"/>
                                </div>
                                <br/>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-sm-3" >{{'label.heading.reject.description' | translate}}<span class="required">*</span></label>
                                <div class="col-sm-4">
                                    <textarea  class="input-sm form-control"  id="description" name="description" ng-model="rejectFormData.reason" required />
                                </div>
                                <div class="col-sm-3">
                                    <form-validate valattributeform="rejectform" valattribute="description"/>
                                </div>
                            </div>
                            <div >
                                <button class="btn btn-warning" ng-click="cancelReject()">{{'label.button.cancel' | translate}}</button>
                                <button class="btn btn-primary" type="submit" >{{'label.button.reject' | translate}}</button>
                            </div>
                        </fieldset>
                    </form>
                    </div>
                    </script>
    <script type="text/ng-template" id="approveClaim.html">
                            <div class="modal-header silver">
                                <h3 class="bolder">
                                    {{'label.heading.insurance.status.approve' | translate}}
                                    <i class="icon-remove pointer pull-right" ng-click="cancelApprove()"></i>
                                </h3>
                            </div>
                            <div class="modal-body well">
                            <api-validate></api-validate>
        
                                <div >
                                    <button class="btn btn-warning" ng-click="cancelApprove()">{{'label.button.cancel' | translate}}</button>
                                    <button class="btn btn-primary" ng-click="submitApprove()" >{{'label.button.confirm' | translate}}</button>
                                </div>
        
                        </div>
        </script>
</div>