<div class="col-md-12" ng-controller="SearchVoucherController">
    <ul class="breadcrumb">
        <li><a href="#/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li class="active">{{'label.anchor.searchvoucher' | translate}}</li>
    </ul>
    <form name="searchvoucher" novalidate="" class="form-horizontal well">
        <div class="form-horizontal">
            <api-validate></api-validate>
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            {{'label.input.voucher.type' | translate}}</label>
                        <div class="col-sm-3">
                            <select chosen="voucherTypeOptions" name="voucherTypeId" id="voucherTypeId"
                                    data-ng-options="voucher.code as voucher.value for voucher in voucherTypeOptions"
                                    class="form-control" ng-model="voucherTypeId" late-Validate
                                    value="voucher.code">
                                <option value="">{{'label.menu.select.voucher.type' | translate}}</option>
                            </select>
                        </div>

                        <label class="control-label col-sm-1">{{ 'label.input.between' | translate }} </label>
                        <div class="col-sm-2">
                            <input id="fromDate" type="text" name="fromDate" datepicker-pop="dd MMMM yyyy"
                                   ng-model="first.fromDate" is-open="opened" min="'2000-01-01'" class="form-control"/>
                        </div>

                        <label class="control-label col-sm-1">{{ 'label.input.and' | translate }} </label>
                        <div class="col-sm-2">
                            <input id="toDate" type="text" name="toDate" datepicker-pop="dd MMMM yyyy"
                                   ng-model="first.toDate" is-open="opened" min="'2000-01-01'" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">

                        <label class="control-label col-sm-2"> {{'label.input.office' | translate}} </label>
                        <div class="col-sm-3">
                            <div>
                                <select chosen="offices" name="office" id="office" ng-model="officeId"
                                        data-ng-options="office.id as office.name for office in offices"
                                        data-ng-change="getOfficers()" class="form-control" ng-model="officeId">
                                    <option value="">{{'label.selectoffice' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.voucher.number' | translate }} </label>
                        <div class="col-sm-2">
                            <input type="text" id="vouchernumber" name="vouchernumber" class="form-control"
                                   ng-model="voucherNumber"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-1">
                            <a id="back" href="#/accounting" class="btn btn-default">{{'label.button.back' |
                                translate}}</a>
                            <button id="search" ng-click="submit()" class="btn btn-primary">{{'label.button.search' |
                                translate}}
                            </button>
                            <!--<button class="btn btn-primary" class="btn btn-primary">{{'label.button.downloadcsv' |
                                translate}}
                            </button>-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-1">&nbsp;</label>
                        <div class="col-sm-10">
                            <table class="table">
                                <thead>
                                <tr class="graybg">
                                    <th>{{'label.heading.office' | translate}}</th>
                                    <th>{{'label.heading.date' | translate}}</th>
                                    <th>{{'label.heading.type' | translate}}</th>
                                    <th>{{'label.heading.voucher.number' | translate}}</th>
                                    <th>{{'label.heading.amount' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="pointer-main" ng-repeat="voucher in vouchers"
                                    data-ng-click="routeTo(voucher)">
                                    <td class="pointer">{{voucher.journalEntryData.officeName | translate}}</td>
                                    <td class="pointer">{{voucher.journalEntryData.transactionDate | DateFormat}}</td>
                                    <td class="pointer">{{voucher.voucherType.value | translate}}</td>
                                    <td class="pointer">{{voucher.voucherNumber | translate}}</td>
                                    <td class="pointer">{{voucher.voucherAmount | number}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <label class="control-label col-sm-1">&nbsp;</label>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>