<div class="col-md-12" ng-controller="GroupCreditBureauSummaryController">
    <div class="paddedbottom10">
        <ul class="breadcrumb">
            <li><a href="#/viewgroup/{{groupId}}">{{'label.anchor.viewgroup' | translate}}</a></li>
            <li class="active">{{'label.anchor.credit.bureau.summary' | translate}}</li>
        </ul>
        <api-validate></api-validate>
    </div>
    <div class="form-horizontal well">
        <h3>{{'label.anchor.credit.bureau.summary' | translate}}</h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'label.heading.clientid' | translate }}</th>
                    <th>{{ 'label.heading.clientname' | translate }}</th>
                    <th>{{ 'label.heading.no.of.mfi' | translate }}</th>
                    <th>{{ 'label.heading.lenders.name' | translate }}</th>
                    <th>{{ 'label.heading.approvedamount' | translate }}</th>
                    <th>{{ 'label.heading.total.overdue.amount' | translate }}</th>
                    <th>{{ 'label.heading.total.outstanding.amount' | translate }}</th>
                    <th>{{ 'label.heading.customer.status' | translate }}</th>
                    <th>{{ 'label.heading.hh.status' | translate }}</th>
                    <th>{{ 'label.heading.risk.markers' | translate }}</th>
                    <th>{{'label.heading.actions' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer-main" ng-repeat="groupClientCBData in groupClientsCBDatas">
                    <td class="pointer" data-ng-click="routeTo(groupClientCBData.clientId)">{{groupClientCBData.clientId}}</td>
                    <td>{{groupClientCBData.clientName}}</td>
                    <td>{{groupClientCBData.totalLenders}}</td>
                    <td class="width25">{{groupClientCBData.lendersName}}</td>
                    <td>{{groupClientCBData.approvedAmount}}</td>
                    <td>{{groupClientCBData.totalAmountOverDue}}</td>
                    <td>{{groupClientCBData.totalOutstandingAmount}}</td>
                    <td>{{groupClientCBData.loanStatus}}</td>
                    <td>{{groupClientCBData.hhStatus}}</td>
                    <td>{{groupClientCBData.riskMarker}}</td>
                    <td >
                        <button class="btn btn-primary pull-right" ng-show="groupClientCBData.isCbReportPresent == 1" ng-click="creditBureauReportView(groupClientCBData.clientId)">{{'label.button.viewReport' | translate}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>