<div class="col-md-12" ng-controller="GroupCreditBureauSummaryController">
    <div class="paddedbottom10">
        <ul class="breadcrumb">
            <li><a href="#/viewgroup/{{groupId}}">{{'label.anchor.viewgroup' | translate}}</a></li>
            <li class="active">{{'label.anchor.credit.bureau.summary' | translate}}</li>
        </ul>
        <api-validate></api-validate>
    </div>
    <div class="form-horizontal well">
    	<h3>{{'label.anchor.credit.bureau.summary' | translate}}</h3>
    	<br>
        <table class="border1px table horizontal-scrollbar vertical-scrollbar" ng-repeat="groupClientCBData in groupClientsCBDatas" ng-if="groupClientCBData.clientId">
            <tr>
            <td>
                <table>
                    <tr>{{ 'label.heading.clientname' | translate }}:{{groupClientCBData.clientName}}</tr>
                    <tr><td><th>{{ 'label.heading.lender.name' | translate }}</th></td></tr>
                    <tr><td><th>{{ 'label.heading.disbursementdate' | translate }}</th></td></tr>
                    <tr><td><th>{{ 'label.heading.repaymentfrequency' | translate }}</th></td></tr>
                    <tr><td><th>{{ 'label.heading.approvedamount' | translate }}</th></td></tr>
                    <tr><td><th>{{ 'label.heading.installmentamount' | translate }}</th></td></tr>
                    <tr><td><th>{{ 'label.heading.total.overdue.amount' | translate }}</th></td></tr>
                    <tr><td><th>{{ 'label.heading.total.outstanding.amount' | translate }}</th></td></tr>
                </table>
            <td>

            <td ng-repeat="clientCBData in groupClientCBData.cbDetails">
                <table>
                    <tr></tr>
                    <tr></tr>
                   <tr><td>{{'label.heading.mfi' | translate}}-{{$index+1}}</td></tr>
                   <tr><td>{{clientCBData.lenderName}}</td></tr>
                   <tr><td>{{clientCBData.disbursement_date | DateFormat}}</td></tr>
                   <tr><td>{{clientCBData.frequency}}</td></tr>
                   <tr><td>{{clientCBData.approvedAmount}}</td></tr>
                   <tr><td>{{clientCBData.installmentAmount}}</td></tr>
                   <tr><td>{{clientCBData.totalAmountOverDue}}</td></tr>
                   <tr><td>{{clientCBData.totalOutstandingAmount}}</td></tr>
                </table>
            <td>
            </tr>
        </table>
    </div>
</div>