<div class="col-md-12" ng-controller="ListLoanUtilizationCheckController">
    <div class="paddedbottom10">
        <ul class="breadcrumb" ng-show="entityType=='group'">
            <li><a href="#/viewgroup/{{entityId}}">{{'label.anchor.viewgroup' | translate}}</a></li>
            <li class="active">{{'label.anchor.luc' | translate}}</li>
        </ul>
        <api-validate></api-validate>
    </div>


    <div>
        <div class="col-md-12 primarydiv">
            <div class="btn-group pull-right">
                <a href="#/group/{{entityId}}/createutilizationcheck" class="btn btn-primary"><i
                        class="icon-plus-sign-alt icon-white"></i>{{'label.button.addluc' | translate }}</a>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table">
                    <thead>
                    <tr class="graybg">
                        <th>{{ 'label.heading.group' | translate }}</th>
                        <th>{{ 'label.heading.client' | translate }}</th>
                        <th>{{ 'label.heading.loan' | translate }}</th>
                        <th>{{ 'label.heading.amount.disb' | translate }}</th>
                        <th>{{ 'label.heading.auditedby' | translate }}</th>
                        <th>{{ 'label.heading.auditedon' | translate }}</th>
                        <th>{{ 'label.heading.list.loanutilization' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="loanUtilizationdetailCheck in loanUtilizationChecks">
                        <td>{{loanUtilizationdetailCheck.loanUtilizationCheckDetailData.groupName}}</td>
                        <td>
                            {{loanUtilizationdetailCheck.loanUtilizationCheckDetailData.clientName}}-{{loanUtilizationdetailCheck.loanUtilizationCheckDetailData.clientId}}
                        </td>
                        <td>
                            {{loanUtilizationdetailCheck.loanUtilizationCheckDetailData.loanType.value}}-{{loanUtilizationdetailCheck.loanId}}
                        </td>
                        <td>{{loanUtilizationdetailCheck.loanUtilizationCheckDetailData.principalAmount}}</td>
                        <td>{{loanUtilizationdetailCheck.auditDoneByName}}</td>
                        <td>{{loanUtilizationdetailCheck.auditDoneOn | DateFormat}}</td>
                        <td>
                           <span>{{loanUtilizationdetailCheck.loanUtilizationCheckDetailData.utilizationDetailsData.loanPurposeData.name}}</span>
                            - <span>{{loanUtilizationdetailCheck.loanUtilizationCheckDetailData.utilizationDetailsData.amount}}</span>

                            <button role="button" ng-click="showEdit(loanUtilizationdetailCheck.id,loanUtilizationdetailCheck.loanId)"
                                    class="btn-link ng-binding">
                                <i class="icon-edit icon-white"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>