<div class="col-md-12" ng-controller="ViewLoanUtilizationCheckController">
    <div class="paddedbottom10">
        <ul class="breadcrumb" ng-show="entityType=='center'">
            <li><a href="#/viewcenter/{{entityId}}">{{'label.anchor.viewcenter' | translate}}</a></li>
            <li class="active">{{'label.heading.view.loanutilizationcheck' | translate}}</li>
        </ul>
        <ul class="breadcrumb" ng-show="entityType=='group'">
            <li><a href="#/viewgroup/{{entityId}}">{{'label.anchor.viewgroup' | translate}}</a></li>
            <li class="active">{{'label.heading.view.loanutilizationcheck' | translate}}</li>
        </ul>
        <api-validate></api-validate>
    </div>
    <button class="btn btn-primary pull-right" ng-if="luc.id" 
        has-permission = "UPDATE_LOANUTILIZATIONCHECK"
        ng-click="showEdit()">
           <i class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}
    </button>
    <h3>{{'label.heading.loanutilizationcheck.details' | translate}}</h3>
    <hr>
    <div class="table-response">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="pointer">{{'label.heading.group' | translate}}</td>
                    <td class="pointer">{{luc.loanUtilizationCheckDetailData.groupName}}</td>
                </tr>
                <tr>
                    <td class="pointer">{{'label.heading.client' | translate}}</td>
                    <td class="pointer">{{luc.loanUtilizationCheckDetailData.clientName}}</td>
                </tr>
                <tr>
                    <td class="pointer">{{'label.heading.loan' | translate}}</td>
                    <td class="pointer">{{luc.loanUtilizationCheckDetailData.loanType.value}}-{{luc.loanId}}</td>
                </tr>
                <tr>
                    <td class="pointer">{{'label.heading.amount.disb' | translate}}</td>
                    <td class="pointer">{{luc.loanUtilizationCheckDetailData.principalAmount}}</td>
                </tr>
                <tr>
                    <td class="pointer">{{'label.heading.auditedon' | translate}}</td>
                    <td class="pointer">{{luc.auditDoneOn | DateFormat}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <button class="btn btn-primary pull-right" 
           ng-click="uploadPic()">
           <i class="icon-plus icon-white"></i>{{'label.button.upload' | translate}}
       </button> 
        <br>  
        <div>
             <table class="table table-bordered table-striped" ng-if="images.length > 0">
                            <tr>
                                <td>
                                    <span><strong>{{'label.heading.image.name' | translate}}</strong></span>
                                </td>
                                <td>
                                    <span><strong>{{'label.createdby' | translate}}</strong></span>
                                </td>
                                <td>
                                    <span><strong>{{'label.createdon' | translate}}</strong></span>
                                </td>
                            </tr>
                            <tr class="pointer-main" ng-repeat="image in images track by $index" >
                                <td class="pointer" data-ng-click="routeToImage(image.imageId)">
                                    <span>{{image.name}}</span>
                                </td>
                                <td class="pointer" data-ng-click="routeToImage(image.imageId)">
                                    <span>{{image.createdBy}}</span>
                                </td>
                                <td class="pointer" data-ng-click="routeToImage(image.imageId)">
                                    <span>{{image.createdOn}}</span>
                                </td>
                            </tr>
            </table>   
        </div>

        <script type="text/ng-template" id="uploadpic.html">
            <div class="modal-header silver">
                <h3 class="bolder">{{'label.heading.selectclientimage' | translate}}</h3>
            </div>
            <div class="modal-body">
                <api-validate></api-validate>
                <br>
                <input type="file" ng-file-select="onFileSelect($files)">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                <button class="btn btn-primary" ng-click="upload()">{{'label.button.upload' | translate}}</button>
            </div>
        </script>

         <script type="text/ng-template" id="viewpic.html">
            <div class="modal-header silver">
            </div>
            <div class="modal-body">
                <api-validate></api-validate>
                <div ng-show="error != null" class="error">
                    {{'label.error' | translate}}: {{error}}
                </div>
                <br>
                    <div>
                        <div class="left">
                            <img ng-src="{{image}}" alt="Avatar" height="400" width="400" >
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            </div>
        </script> 
</div>


