<div class="col-md-12" ng-controller="CreateSequenceDetailsController">
    <div class="paddedbottom10">
        <ul class="breadcrumb">
            <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a> </li>
            <li><a ng-href="#/customsequences">{{ 'label.anchor.custom.sequences' | translate}}</a></li>
            <li class="active">{{'label.anchor.add.sequence.details' | translate}} </li>
        </ul>
        <form name="createsequenceform" novalidate="" class="form-horizontal well">
            <api-validate></api-validate>
            <fieldset>
                <legend>{{'label.anchor.add.sequence.details' | translate}}</legend>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">{{'label.input.name' | translate}}<span class="required">*</span></label>

                    <div class="col-sm-3">
                        <input ng-autofocus="true" type="text" id="name" name="name" ng-model="formData.name" class="form-control" required late-Validate/>
                    </div>
                    <div class="col-sm-3">
                        <form-validate valattributeform="createsequenceform" valattribute="name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="startValue">{{'label.input.sequence.start.value' | translate}}<span class="required">*</span></label>

                    <div class="col-sm-3">
                        <input name="startValue" ng-model="formData.startValue" type="text" class="form-control" required number-format late-Validate/>
                    </div>
                    <div class="col-sm-3">
                        <form-validate valattributeform="createsequenceform" valattribute="startValue" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="endValue">{{'label.input.sequence.end.value' | translate}}</label>

                    <div class="col-sm-3">
                        <input number-format name="endValue" ng-model="formData.endValue" type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="endValue">{{'label.input.sequence.prefix.type' | translate}}</label>

                    <div class="col-sm-3">
                        <select id="sequencePrefixType" name="sequencePrefixType" ng-model="formData.sequencePrefixType"
                                ng-options="type for type in sequenceType" class="form-control" required>
                            <option value="">{{'label.selectprefixtype' | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="formData.sequencePrefixType === 'PATTERN'">
                    <label class="control-label col-sm-2" for="endValue">{{'label.input.sequence.prefix.pattern' | translate}}</label>

                    <div class="col-sm-3">
                        <select id="sequencePrefixId" name="sequencePrefixId" ng-model="formData.sequencePrefixId"
                                ng-options="sequencePatternName.sequencePatternId as sequencePatternName.sequencePatternName for sequencePatternName in sequencePatternData"
                                value="{{sequencePatternName.sequencePatternId}}" class="form-control" required>
                            <option value="">{{'label.input.select.prefix.pattern' | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="formData.sequencePrefixType === 'CUSTOM'">
                    <label class="control-label col-sm-2" for="prefix">{{'label.input.sequence.prefix' | translate}}</label>

                    <div class="col-sm-3">
                        <input name="prefix" ng-model="formData.prefix" type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="endValue">{{'label.input.sequence.suffix.type' | translate}}</label>

                    <div class="col-sm-3">
                        <select id="sequenceSuffixType" name="sequenceSuffixType" ng-model="formData.sequenceSuffixType"
                                ng-options="type for type in sequenceType" class="form-control" required>
                            <option value="">{{'label.selectsuffixtype' | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="formData.sequenceSuffixType === 'PATTERN'">
                    <label class="control-label col-sm-2" for="endValue">{{'label.input.sequence.suffix.pattern' | translate}}</label>

                    <div class="col-sm-3">
                        <select id="sequenceSuffixId" name="sequenceSuffixId" ng-model="formData.sequenceSuffixId"
                                ng-options="sequencePatternName.sequencePatternId as sequencePatternName.sequencePatternName for sequencePatternName in sequencePatternData"
                                value="{{sequencePatternName.sequencePatternId}}" class="form-control" required>
                            <option value="">{{'label.input.select.suffix.pattern' | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="formData.sequenceSuffixType === 'CUSTOM'">
                    <label class="control-label col-sm-2" for="suffix">{{'label.input.sequence.suffix' | translate}}</label>

                    <div class="col-sm-3">
                        <input name="suffix" ng-model="formData.suffix" type="text" class="form-control" />
                    </div>
                </div>

                <div class="col-md-offset-2 paddedleft">
                    <a id="cancel" href="#/customsequences" class="btn btn-warning">{{'label.button.cancel' | translate}}</a>
                    <button id="save" type="submit" ng-click="submit()" class="btn btn-primary" has-permission='CREATE_SEQUENCE'>{{'label.button.save' | translate}}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>