<div class="col-md-12" ng-controller="SequenceEntityAssociationCommonController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/sequencemanagement">{{'label.anchor.sequence.management' | translate}}</a></li>
            <li><a href="#/sequenceassociations">{{'label.anchor.sequence.associations' | translate}}</a></li>
            <li class="active">{{'label.view.sequences.to.entity.association' | translate}}</li>
        </ul>
    </div>
    <form name="sequenceEntityMappingForm" novalidate="" class="form-horizontal well">
        <api-validate></api-validate>
        <fieldset>
            <h3>{{'label.view.sequences.to.entity.association' | translate}}</h3>
            <hr>
            <div class="form-group">
                <label class="control-label col-sm-2">{{ 'label.input.entity' | translate }}<span class="required">*</span></label>
                <div class="col-sm-3">
                    <select id="entityType" ng-model="entityType" class="form-control" ng-options="entityType.id as entityType.value for entityType in entityTypes" value="{{entityType.id}}" ng-disabled="true" ng-change="changeEntityType()">
                        <option value="">{{label.menu.selectentity | translate }}</option>
                    </select>
                </div>
                <div ng-if="productIdApplicableFor.indexOf(entityType)>-1 || staffIdApplicableFor.indexOf(entityType)>-1">
                    <label class="control-label col-sm-2" ng-if="entityNames">{{ 'label.heading.entityname' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3" ng-if="entityNames">
                        <select id="entityName" name="entityName" ng-model="entityName" class="form-control" ng-options="entityName for entityName in entityNames" ng-disabled="true" late-validate>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{ 'label.heading.applicable.field' | translate }}<span class="required">*</span></label>
                <div class="col-sm-3">
                    <select id="applicableColumn" ng-model="applicableColumn" class="form-control" ng-options="applicableColumn.id as applicableColumn.value for applicableColumn in applicableColumns" value="{{applicableColumn.id}}" ng-disabled="true">
                        <option value="">{{label.menu.selectcolumn}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-if="sequenceAssociationsDetails.sequenceEntityIdentifier">
                <label class="control-label col-sm-2">{{'label.heading.sequenceentityidentifier' | translate}}</label>
                <div class="col-sm-3">
                    <span>{{sequenceAssociationsDetails.sequenceEntityIdentifier}}</span>
                </div>
                <label class="control-label col-sm-2">{{'label.heading.sequenceentityvalue' | translate}}</label>
                <div class="col-sm-3">
                    <span>{{sequenceAssociationsDetails.sequenceEntityValue}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"><span><b>{{ 'label.input.available.sequences' | translate }}</b></span></label>
                <div class="col-sm-3">
                    <select id="availableSequences" ng-model="selectedSequence" name="availableSequences" class="form-control multiselectmin" multiple>
                        <option ng-repeat="sequenceDetail in availableSequences" value="{{sequenceDetail.id}}">
                            {{sequenceDetail.name}}
                        </option>
                    </select>
                </div>    
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" data-ng-click="addSequence()">{{'label.button.add' | translate}}</button>
                </div>
                <label class="control-label col-sm-1"><span><b>{{ 'label.input.selected.sequences' | translate }}</b></label>
                <div  class="col-sm-3">
                    <table class="table table-striped well">
                            <tbody ui-sortable="sortableOptions" ng-model="selectedSequences">
                                <tr class="pointer" ng-repeat="selectedSequence in selectedSequences">
                                    <td>{{selectedSequence.name}}</td>
                                    <td class="col-sm-1"><a ng-click="removeSequence($index)"><i class="icon-remove icon-white"></i></a></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
                
            </div>

            <div class="col-md-offset-5 paddedtop">
                <button id="cancel" type="reset" class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                <button id="save" type="submit" class="btn btn-primary" ng-click="submit()" has-permission='UPDATE_SEQUENCE_ENTITY_ASSOCIATION'>{{'label.button.save' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>