<div class="col-md-12" ng-controller="SequenceDetailsListController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/sequencemanagement">{{'label.anchor.sequence.management'|
                translate}}</a></li>
            <li class="active">{{'label.anchor.custom.sequences' | translate}}
            </li>
        </ul>
    </div>
    <a href="#/customsequence/addsequence" class="btn btn-primary pull-right" has-permission='CREATE_SEQUENCE'>
        <i class="icon-plus icon-white"></i>{{'label.button.add.sequence' | translate}}
    </a>
    <div class="span grey-head">
        <h3>
                <strong>{{'label.heading.sequence.details' | translate}}</strong>
            </h3>
    </div>
    <div ng-if="sequenceDetails.length > 0">
        <table class="table">
            <thead>
                <tr class="graybg">
                    <th>{{'label.heading.serialno' | translate}}</th>
                    <th>{{'label.heading.name' | translate}}</th>
                    <th>{{'label.heading.status' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer-main" ng-repeat="record in sequenceDetails">
                    <td class="pointer" data-ng-click="routeTo(record.id)">{{$index+1}}</td>
                    <td class="pointer" data-ng-click="routeTo(record.id)">{{record.name}}</td>
                    <td class="pointer" data-ng-click="routeTo(record.id)">{{record.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>