<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.sequence.management' | translate}}</li>
    </ul>
    <div class="row paddedleft paddedtop">
        <div class="col-sm-6 col-md-6">
            <div class="list-group">
                <a class="list-group-item" href="#/sequencepattern" has-permission='READ_SEQUENCE_PATTERN'>
                    <h4 class="list-group-item-heading"><i class="icon-edit-sign  icon-large"></i>&nbsp;&nbsp;{{'label.anchor.sequence.pattern'| translate}}</h4>
                    <p class="list-group-item-text">{{'label.anchor.sequence.pattern' | translate}}</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="list-group">
                <a class="list-group-item" href="#/customsequences" has-permission='READ_SEQUENCES'>
                    <h4 class="list-group-item-heading"><i class="icon-cog icon-large"></i>&nbsp;&nbsp;{{'label.heading.sequence.details'| translate}}</h4>
                    <p class="list-group-item-text">{{'label.heading.sequence.details' | translate}}</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="list-group">
                <a class="list-group-item" href="#/sequenceassociations" has-permission='READ_SEQUENCE_ENTITY_ASSOCIATION'>
                    <h4 class="list-group-item-heading"><i class="icon-sitemap icon-large"></i>&nbsp;&nbsp;{{'label.anchor.sequence.associations'| translate}}</h4>
                    <p class="list-group-item-text">{{'label.anchor.sequence.associations' | translate}}</p>
                </a>
            </div>
        </div>
    </div>
</div>