<div class="col-md-12" ng-controller="ViewSequenceEntityAssociationController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/sequencemanagement">{{'label.anchor.sequence.management' | translate}}</a></li>
            <li><a href="#/sequenceassociations">{{'label.anchor.sequence.associations' | translate}}</a></li>
            <li class="active">{{'label.view.sequences.to.entity.association' | translate}}</li>
        </ul>
    </div>
    <legend>{{'label.view.sequences.to.entity.association' | translate}}</legend>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group paddedtop">
                    <span><b>{{'label.heading.entity' | translate}}:&nbsp;</b></span>
                    <span>{{sequenceAssociationsDetails.entityType.value}}</span>
                </div>
                <div class="form-group paddedtop" ng-if="sequenceAssociationsDetails.entityName">
                    <span><b>{{'label.heading.entityname' | translate}}:&nbsp;</b></span>
                    <span>{{sequenceAssociationsDetails.entityName}}</span>
                </div>
                <div class="form-group paddedtop">
                    <span><b>{{'label.heading.applicable.field' | translate}}:&nbsp;</b></span>
                    <span>{{sequenceAssociationsDetails.sequenceForField.value}}</span>
                </div>
                <div class="form-group paddedtop">
                    <span><b>{{'label.input.status' | translate}}:&nbsp;</b></span>
                    <span>{{sequenceAssociationsDetails.status.value}}</span>
                </div>
                <div class="form-group paddedtop">
                    <span><b>{{'label.heading.selected.sequences' | translate}}:&nbsp;</b></span><span>
                  <table class="table width100">
                     <tr ng-repeat="record in sequenceAssociationsDetails.selectedSequences">
                        <td class="col-sm-1" ></td>
                        <td class="col-sm-3" >{{record.name}}</td>
                     </tr>
                  </table>
               </span>
                </div>
                <div class="form-group paddedtop" ng-if= "sequenceAssociationsDetails.sequenceEntityIdentifier">
                    <span><b>{{'label.heading.sequenceentityidentifier' | translate}}:&nbsp;</b></span>
                    <span>{{sequenceAssociationsDetails.sequenceEntityIdentifier}}</span>
                </div>
                <div class="form-group paddedtop" ng-if= "sequenceAssociationsDetails.sequenceEntityValue">
                    <span><b>{{'label.heading.sequenceentityvalue' | translate}}:&nbsp;</b></span>
                    <span>{{sequenceAssociationsDetails.sequenceEntityValue}}</span>
                </div>

            </div>
        </div>
        <div class="col-md-offset-2 paddedleft paddedtop">
            <a id="cancel" href="#/sequenceassociations" class="btn btn-warning">{{'label.button.cancel' | translate}}</a>
            <a id="edit" ng-click="edit()" class="btn btn-primary" has-permission='UPDATE_SEQUENCE_ENTITY_ASSOCIATION'>{{'label.button.edit' | translate}}</a>
            <a id="changeStatus" ng-click="changeStatus()" class="btn btn-primary" has-permission='UPDATE_SEQUENCE_ENTITY_ASSOCIATION'>{{'label.button.'+labelStatus | translate}}</a>
        </div>
    </div>
</div>