<div class="col-md-12" ng-controller="ClientDeceasedController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/viewclient/{{clientId}}">{{'label.input.client' | translate}}</a></li>
            <li class="active">{{'label.menu.death.details' | translate}}
            </li>
        </ul>
    </div>
    <form name="createdeceaseddetailsform" novalidate="" class="form-horizontal well" rc-submit="submit()" ng-show="isCreateDeceasedDetailsShow">
        <api-validate></api-validate>
        <fieldset >
            <legend>{{'label.heading.create.deceased' | translate}}</legend>
        
            <div class=" table well">
                <div class="row">
                    <div class="col-md-4">
                        <span><strong>{{'label.heading.clientno' | translate}}:&nbsp;</strong></span><span>
                            {{clientData.accountNo}}</a></span> &nbsp;</div>
                    <div class="col-md-4"><span><strong>{{ 'label.heading.clientname' | translate }}:</strong>
                            {{clientData.displayName}}</span></div>
                    <div class="col-md-4" ng-show="clientData.referenceNumber">
                        <strong>{{'label.heading.clientreferenceno' | translate}}:&nbsp;</strong>{{clientData.referenceNumber}}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6" ng-if="insuredDocumentTagOptions.length > 0">
                     <h4>{{'label.heading.insured.document.upload' | translate}}</h4> 
                    <div class="thumbnail">
                        <table class="table table-minified table-striped">
                            <thead>
                                <tr class="graybg">
                                    <th colspan="3">
                                        <span>{{'label.heading.insurance.documents.name' | translate}}</span>
                                    </th>
                                    <th colspan="2">
                                        <span>{{'label.heading.insurance.documents.action' | translate}}</span>
                                    </th>
        
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in insuredDocumentTagOptions">
                                    <th colspan="3">{{data.name}} <span ng-show="data.mandatory" class="required">*</span></th>
                                    <td colspan="2"><a ng-click="uploadDoument(data)" ng-show="!data.isDocumentAttached"
                                            has-permission='CREATE_DOCUMENT'><i class="icon-cloud-upload"></i></a>&nbsp;
                                        <a ng-click="openViewDocument(data)" has-permission='READ_DOCUMENT'
                                            ng-show="data.isDocumentAttached"><i
                                                class="icon-eye-open text-success"></i></a>&nbsp;
                                        <a ng-click="deleteInsuredDocument(data)" has-permission='READ_DOCUMENT'
                                            ng-show="data.allowDeleteDocument && data.isDocumentAttached"><i
                                                class="icon-remove"></i></a>&nbsp;</td>
                                </tr>
                            </tbody>
        
                        </table>
                    </div>
                </div>
                <div class="col-md-6" ng-if="coInsuredDocumentTagOptions.length > 0">
                    <h4>{{'label.heading.coinsured.document.upload' | translate}}</h4> 
                    <div class="thumbnail">
                        <table class="table table-minified table-striped">
                            <thead>
                                <tr class="graybg">
                                    <th colspan="3">
                                        <span>{{'label.heading.insurance.documents.name' | translate}}</span>
                                    </th>
                                    <th colspan="2">
                                        <span>{{'label.heading.insurance.documents.action' | translate}}</span>
                                    </th>
        
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in coInsuredDocumentTagOptions">
                                    <th colspan="3">{{data.name}} <span ng-show="data.mandatory" class="required">*</span></th>
                                    <td colspan="2"><a ng-click="uploadDoument(data)" ng-show="!data.isDocumentAttached"
                                            has-permission='CREATE_DOCUMENT'><i class="icon-cloud-upload"></i></a>&nbsp;
                                        <a ng-click="openViewDocument(data)" has-permission='READ_DOCUMENT'
                                            ng-show="data.isDocumentAttached"><i
                                                class="icon-eye-open text-success"></i></a>&nbsp;
                                        <a ng-click="deleteCoInsuredDocument(data)" has-permission='READ_DOCUMENT'
                                            ng-show="data.allowDeleteDocument && data.isDocumentAttached"><i
                                                class="icon-remove"></i></a>&nbsp;</td>
                                </tr>
                            </tbody>
        
                        </table>
                    </div>
                </div>
            </div>
            <table class="table well">
                <thead>
                    <tr class="graybg">
                        <th colspan="2">
                            <span>{{'label.menu.select' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.heading.deceased.person' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.heading.death.date' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.heading.death.intimation.date' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.input.insurance.cause.of.death' | translate}}</span>
                        </th>
                        <th colspan="2">
                            <span>{{'label.input.insurance.place.of.death' | translate}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <span> <small class="required" ng-show="noClientSelected">
                            {{'label.insurance.select.deceased.person' | translate}}
                        </small></span>
                    <tr ng-repeat="deceased in deceasedDetailsData">
                        <td colspan="2"><input id="select" ng-checked="selectall" type="checkbox" name="select"
                                ng-model="deceased.selected" />
                        </td>
                        <td colspan="2">{{deceased.clientType}}</td>
                        <td colspan="2"><input id="deceasedDate" type="text" autocomplete="off" name="deceasedDate" datepicker-pop="{{df}}" ng-model="deceased.deathDate" is-open="opened1" max="globalMaxDate"
                                class="form-control" />
                        </td>
                        <td colspan="2"><input id="deceasedDate" type="text" autocomplete="off" name="deceasedDate"
                                datepicker-pop="{{df}}" ng-model="deceased.deathIntimationDate" is-open="opened1" max="globalMaxDate"
                                class="form-control" disabled=true /></td>
                        <td colspan="2">
                            <select id="causeOfDeathId" name="causeOfDeathId" ng-model="deceased.causeOfDeathId"
                                ng-options="type.id as type.name for type in causeOfDeath" class="form-control">
                                <option value="{{type.id}}">{{'label.insurance.nominee.select.cause.of.death' | translate}}</option>
                            </select>
                        </td>
                        <td colspan="2">
                            <input name="placeOfDeath" ng-model="deceased.placeOfDeath" type="text" autocomplete="off"
                                class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row well">
                <div class="row graybg form-group">
                    <div class="col-md-4">
                        <h4><strong>{{'label.input.insurance.nominee.relationship' | translate}}</strong><span class="required">*</span></h4>
                        <select id="contactPersonRelationshipId" name="contactPersonRelationshipId" ng-model="formData.contactPersonRelationshipId"
                            ng-options="type.id as type.name for type in relationships" class="form-control" required>
                            <option value="{{type.id}}">{{'label.insurance.nominee.select.relationship' | translate}}</option>
                        </select>
                        <div class="col-md-6">
                            <form-validate valattributeform="createdeceaseddetailsform" valattribute="contactPersonRelationshipId" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4><strong>{{'label.input.insurance.contact.name' | translate}}</strong><span class="required">*</span></h4>
                        <input name="contactPersonName" ng-model="formData.contactPersonName" type="text" autocomplete="off"
                                class="form-control" required late-Validate />
    
                        <div class="col-md-6">
                            <form-validate valattributeform="createdeceaseddetailsform" valattribute="contactPersonName" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4><strong>{{'label.input.insurance.contact.number' | translate}}</strong><span class="required">*</span></h4>
                        <input type="text" autocomplete="off" id="mobileNo" name="mobileNo" ng-model="formData.mobileNo"
                        ng-pattern="{{mobileNumberPattern}}" class="form-control" required />
                        <div class="col-md-6">
                            <span ng-show="createdeceaseddetailsform.mobileNo.$invalid && createdeceaseddetailsform.mobileNo.$dirty">
                                <small class="required" ng-show="createdeceaseddetailsform.mobileNo.$error.pattern">
                                    {{'label.mustbenumeric.and.valid' | translate}}
                                </small>
                            </span>
                            <form-validate valattributeform="createdeceaseddetailsform" valattribute="mobileNo"/>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-offset-5">
                <button id="save" type="submit" class="btn btn-primary"
                    has-permission='CREATE_DECEASED_DETAILS'>{{'label.button.save' | translate}}</button>
            </div>
        </fieldset>
    </form>

    <div ng-show="isDeceasedDetailsCreated">
        <!-- <a role="button" ng-hide="taskData.status.code==statusCompleted" has-permission="UPDATE_DECEASED_DETAILS" ng-click="editDeceasedDetails()" class="btn btn-primary pull-right">
            <i class="icon-edit icon-white"></i>
        </a> -->
        <legend>{{'label.heading.deceaseddetails' | translate}}</legend>

        <table class="table well">
            <thead>
                <tr class="graybg">
                    <th colspan="2">
                        <span>{{'label.heading.serialno' | translate}}</span>
                    </th>
                    <th colspan="2">
                        <span>{{'label.heading.deceased.person' | translate}}</span>
                    </th>
                    <th colspan="2">
                        <span>{{'label.heading.death.date' | translate}}</span>
                    </th>
                    <th colspan="2">
                        <span>{{'label.heading.death.intimation.date' | translate}}</span>
                    </th>
                    <th colspan="2">
                        <span>{{'label.input.insurance.cause.of.death' | translate}}</span>
                    </th>
                    <th colspan="2">
                        <span>{{'label.input.insurance.place.of.death' | translate}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in deceasedDetails">
                    <td colspan="2">{{$index+1}}</td>
                    <td colspan="2">{{data.clientType.value}}</td>
                    <td colspan="2">{{data.deathDate | DateFormat}}</td>
                    <td colspan="2">{{data.deathIntimationDate | DateFormat}}</td>
                    <td colspan="2">{{data.causeOfDeath.name}}</td>
                    <td colspan="2">{{data.placeOfDeath}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <script type="text/ng-template" id="viewDocument.html">
        <div style="position: fixed; top:20%; right:10%; width:600px; height: 500px;">
            <view-document-directive  ng-entity-type="{{data.parentEntityType}}"
            ng-entity-id="{{data.parentEntityId}}"
            ng-document-id="{{data.documentId}}"></view-document-directive>
        </div>
    </script>
    <script type="text/ng-template" id="deleteDocument.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="createsubgroup.html">
        <div class="modal-header silver">
                <h3 class="bolder">
                    {{'label.heading.insurance.document.upload' | translate}}
                    <i class="icon-remove pointer pull-right" ng-click="close()"></i>
                </h3>
            </div>
            <div class="modal-body well">
        <form name="clientdocumentform" novalidate="" class="row form-horizontal" 
            rc-submit="submit()">
            <api-validate></api-validate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">{{'label.input.name' | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <input ng-autofocus="true" type="text" autocomplete="off" id="name" name="name" ng-model="formData.name" class="form-control" required
                            late-Validate/>
                    </div>
                    <div class="col-sm-3">
                        <form-validate valattributeform="clientdocumentform" valattribute="name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{'label.input.description' | translate}}</label>

                    <div class="col-sm-3">
                        <textarea rows="2" ng-model="formData.description" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">{{'label.input.documentTag' | translate}}</label>

                    <div class="col-sm-3">
                            <label class="control-label col-sm-2">{{codeValue.name}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="file">{{'label.input.selectfile' | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="file" id="file" ng-file-select="onFileSelect($files)">
                    </div>
                </div>

                <div class="col-md-offset-3">
                    <button id="save" type="submit" has-permission='CREATE_DOCUMENT' class="btn btn-primary">{{'label.button.save' | translate}}</button>
                </div>
            </fieldset>
        </form>
        </div>
    </script>

</div>