<div class="col-md-12" ng-controller="ClientBankAccountDetailsController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
            <li><a href="#/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
            <li class="active">{{'label.anchor.bankaccountdetails'|translate}}</li>
        </ul>
    </div>
    <div class="pull-right">
        <button type="button" id="buttonEnabled" ng-show="false" data-ng-click="populateDetails('all')"
            class="btn btn-ex-lg btn-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off">
            <div class="handle"></div>
        </button>

        <button type="button" id="buttonDisabled" ng-show="false" data-ng-click="populateDetails('active')"
            class="btn btn-ex-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
            <div class="handle"></div>
        </button>

        <a href="#/clients/{{entityId}}/addbankaccountdetail" class="btn btn-primary"
            has-permission='CREATE_BANKACCOUNTDETAIL' ng-show="showAddBankAccountsButton">
            <i class="icon-plus icon-white"></i>{{'label.button.add.bankaccountdetails' | translate}}
        </a>
    </div>

    <div class="span grey-head">
        <h3>
            <strong>{{'label.heading.bank.account.details' | translate}}</strong>
        </h3>
    </div>

    <table class="table">
        <thead>
            <tr class="graybg">
                <th>{{'label.heading.serialno' | translate}}</th>
                <th>{{'label.heading.bank.account.holder.name' | translate}}</th>
                <th>{{'label.heading.bank.account.number' | translate}}</th>
                <th>{{'label.heading.ifsc' | translate}}</th>
                <th>
                    {{'label.heading.status' | translate}}
                    <span class="btn-group dropdown" on-toggle="toggled(open)">
                        <a class="btn btn-default dropdown-toggle"><span class="caret"></span></a>
                        <ul class="dropdown dropdown-menu dropdown-menu-right">
                            <li ng-repeat="bankAccountDetailsStatus in bankAccountDetailsStatusList">
                                <a
                                    data-ng-click="populateDetails(bankAccountDetailsStatus)">{{bankAccountDetailsStatus.charAt(0).toUpperCase() + bankAccountDetailsStatus.slice(1) | translate}}</a>
                            </li>
                        </ul>
                    </span>
                </th>
                <th>{{'label.heading.verified' | translate}}</th>
                <th>{{'label.heading.verified.status' | translate}}</th>
                <th>{{'label.heading.lastupdatedon' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer-main" ng-repeat="record in bankAccountDetails">
                <td class="pointer" data-ng-click="routeTo(record)">{{$index+1}}</td>
                <td class="pointer" data-ng-click="routeTo(record)">{{record.name}}</td>
                <td class="pointer" data-ng-click="routeTo(record)">{{record.accountNumber}}</td>
                <td class="pointer" data-ng-click="routeTo(record)">{{record.ifscCode}}</td>
                <td class="pointer" data-ng-click="routeTo(record)"><i
                        class="icon-stop  {{record.status.code | StatusLookup}}"></i>
                    {{record.status.value.charAt(0).toUpperCase() + record.status.value.slice(1) | translate}}</td>
                <td class="pointer" data-ng-click="routeTo(record)">{{record.isVerified ? 'Yes' : 'No'}}</td>
                <td class="pointer" data-ng-click="routeTo(record)">
                    {{record.verificationStatus.value == 'Invalid' ? 'Not Verified' : record.verificationStatus.value}}
                </td>
                <td class="pointer" data-ng-click="routeTo(record)">{{record.lastModifiedDate | DateTimeFormat}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
