<div class="col-md-12" ng-controller="ClientLoansPaymentSettlementController">

    <div>
        <ul class="breadcrumb">
            <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
            <li><a href="#/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
            <li class="active">{{'label.anchor.client.loans.payment.settlement' | translate}}</li>
        </ul>
    </div>

    <form name="clientLoansPaymentSettlementForm" novalidate="" class="well form-horizontal" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.client.loans.payment.settlement' | translate}}</legend>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.paymenttype' | translate}}<span
                        class="required">*</span></label>
                <div class="col-sm-3">
                    <select id="paymentTypeId" name="paymentTypeId" class="form-control"
                        ng-options="paymentType.id as paymentType.name for paymentType in paymentTypes"
                        ng-model="formData.paymentTypeId" required late-Validate>
                        <option value="">{{'label.selectone' | translate}}</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <form-validate valattributeform="clientLoansPaymentSettlementForm" valattribute="paymentTypeId" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" >{{ 'label.input.transactionamount' | translate}}<span class="required">*</span></label>
                <div class="col-sm-3">
                    <input id="clientLoansPaymentSettlementAmount" type="text" autocomplete="off" name="clientLoansPaymentSettlementAmount"
                        ng-model="formData.clientLoansPaymentSettlementAmount" number-format required late-Validate class="form-control">
                </div>
                <div class="col-sm-3">
                    <form-validate valattributeform="clientLoansPaymentSettlementForm" valattribute="clientLoansPaymentSettlementAmount" />
                </div>
            </div>


            <div class="col-md-offset-2">
                <a id="cancel" href="#/viewclient/{{clientId}}">
                    <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                </a>
                <button id="save" type="submit" class="btn btn-primary"
                    has-permission='LOANS_PAYMENT_SETTLEMENT'>{{'label.button.submit' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>