<div class="row" ng-controller="EditWfSuperLimitController">
    <div style="height:250px" class="modal-body">
        <api-validate></api-validate>
        <div class="clearfix">
            <form name="editSuperLimit" novalidate="" class="form-horizontal well" rc-submit="submit()">
                <fieldset>
                    <legend>{{'label.view.edit.superlimit' | translate}}</legend>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="superlimit">{{'label.input.superlimit' | translate
                        }}<span class="required">*</span></label>

                        <div class="col-sm-3">
                            <input ng-autofocus="false" type="text" autocomplete="off" id="superlimit" name="superlimit"
                                placeholder="{{edit.superlimit}}" ng-model="formData.superlimit" class="form-control"
                                required late-Validate />
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="editSuperLimit" valattribute="superlimit" />
                        </div>
                    </div>
                    <div class="col-md-offset-3">
                        <a id="cancel" ng-click="cancel()">
                            <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                        </a>
                        <button id="save" type="submit"
                            class="btn btn-primary">{{'label.button.save' | translate}}</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

</div>