<div class="col-md-12" ng-controller="ListFamilyDetailController">
    <ul class="breadcrumb">
        <li><a href="#/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
        <li class="active">{{'label.anchor.family.details' | translate}}</li>
    </ul>
    <div class="clearfix"></div>

    <a href="#/createfamilydetails/{{clientId}}" class="btn btn-primary pull-right"><i
            class="icon-plus icon-white"></i>
        {{'label.button.create.familymembers' | translate}}</a>

    <script type="text/ng-template" id="deletefamilydetail.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>


    <div class="form-horizontal well">
        <h2>{{'label.heading.familymember' | translate}}</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'label.heading.name' | translate }}</th>
                <th>{{ 'label.heading.relationship' | translate }}</th>
                <th>{{ 'label.heading.dob' | translate }}</th>
                <th>{{ 'label.heading.age' | translate }}</th>
                <th>{{ 'label.heading.dependent' | translate }}</th>
                <th>{{ 'label.heading.medical.condition' | translate }}</th>
                <th>{{ 'label.heading.occupation' | translate }}</th>
                <th>{{ 'label.heading.deceased' | translate }}</th>
                <th>{{ 'label.heading.existing.customer' | translate }}</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="pointer-main" ng-repeat="familyMember in familyMembers">
                <td class="pointer" data-ng-click="routeTo(familyMember.id)">{{familyMember.firstname}} {{familyMember.lastname}}</td>
                <td class="pointer" data-ng-click="routeTo(familyMember.id)">{{familyMember.relationship.name}}</td>
                <td class="pointer" data-ng-click="routeTo(familyMember.id)">{{familyMember.dateOfBirth | DateFormat}}</td>
                <td class="pointer" data-ng-click="routeTo(familyMember.id)">{{familyMember.age}}</td>
                <td class="pointer" data-ng-click="routeTo(familyMember.id)">{{familyMember.isDependent == true ? 'Yes' : 'No'}}</td>
                <td class="pointer" data-ng-click="routeTo(familyMember.id)">{{familyMember.isSeriousIllness == true ? 'Yes' : 'No'}}</td>
                <td class="pointer" data-ng-click="routeTo(familyMember.id)">{{familyMember.occupation.name}}</td>
                <td class="pointer" data-ng-click="routeTo(familyMember.id)">{{familyMember.isDeceased == true ? 'Yes' : 'No'}}</td>
                <td class="pointer" ng-class="familyMember.isExistingCustomer == true ?'glyphicon glyphicon-user':'glyphicon'" data-ng-click="routeToClientDetails(familyMember)">
 
                <td class="pull-right">
                    <a ng-click="showEdit(familyMember.id)" >
                        <i class="icon-edit"></i>
                    </a>

                    <a role="button" ng-click="deleteFamilyDetail(familyMember.id)">
                        <i class="icon-remove"></i>
                    </a>

                </td>

            </tr>
            </tbody>
        </table>
        <br>
        <div>
            <h3>{{'label.heading.family.member.of' | translate}}</h3>
           <table class="table table-condensed">
             <thead>
                 <tr>
                 <th>{{ 'label.heading.customername' | translate }}</th>
                  <th>{{ 'label.heading.customer.accountno' | translate }}</th>
                 <th>{{ 'label.heading.claimed.relation' | translate }}</th>
                </tr>
            </thead> 
             <tbody>
               <tr class="pointer-main" ng-repeat="familyMember in familyMemberOf">
               <td class="pointer" data-ng-click="routeToClient(familyMember.memberClientId)">      {{familyMember.displayName}}
               </td>
               <td class="pointer" data-ng-click="routeToClient(familyMember.memberClientId)">
                     {{familyMember.accountNo}}
               </td>
               <td class="pointer" data-ng-click="routeToClient(familyMember.memberClientId)">      {{familyMember.relationship.name}}
               </td>
            </tbody>
           </table>
        </div>
    </div>
    <a href="#/createfamilydetailsummary/{{clientId}}" class="btn btn-primary pull-right"><i
            class="icon-arrow-right icon-white"></i>
        {{'label.button.next' | translate}}</a>

</div>