<div class="col-md-12" ng-controller="CreateGroupBankAccountController">
  <div>
    <ul class="breadcrumb">
      <li>
        <a ng-href="#/viewoffice/{{groupData.officeId}}">{{groupData.officeName}}</a>
      </li>
      <li ng-if="groupData.centerName">
        <a ng-href="#/viewcenter/{{groupData.centerId}}">{{groupData.centerName}}</a>
      </li>
      <li>
        <a ng-href="#/viewgroup/{{groupData.id}}">{{groupData.name}}</a>
      </li>
      <li>
        <a ng-href="#/groups/{{groupData.id}}/bankaccountdetails">{{'label.anchor.bankaccountdetails' | translate}}</a>
      </li>
    </ul>
    <legend>{{'label.anchor.bankaccountdetails' | translate}}</legend>
  </div>
  <div ng-include="'views/groups/bankaccountdetails/modifygroupbankaccountdetail.html'"></div>
</div>