<div class="col-md-12" ng-controller="GroupBankAccountDetailsController">
    <div ng-if="allowBankAccountForGroups">
        <div>
            <ul class="breadcrumb">
                <li>
                    <a ng-href="#/viewoffice/{{groupData.officeId}}">{{groupData.officeName}}</a>                    <a ng-href="#/viewgroup/{{groupId}}">{{'label.heading.group' | translate}}</a>
                </li>   
                <li ng-if="groupData.centerName">   
                    <a ng-href="#/viewcenter/{{groupData.centerId}}">{{groupData.centerName}}</a>   
                </li>   
                <li>    
                    <a ng-href="#/viewgroup/{{groupData.id}}">{{groupData.name}}</a>
                </li>
                <li>{{'label.anchor.bankaccountdetails'|translate}}</li>
            </ul>
        </div>
        <a href="#/groups/{{groupId}}/addbankaccountdetail" class="btn btn-primary pull-right" has-permission='CREATE_GROUP_BANKACCOUNTDETAIL' ng-show="showAddBankAccountsButton">
            <i class="icon-plus icon-white"></i>{{'label.button.add.bankaccountdetails' | translate}}
        </a>
        <div class="span grey-head">
            <h3>
                <strong>{{'label.heading.bank.account.details' | translate}}</strong>
            </h3>
        </div>
        <div ng-if="bankAccountDetails.length > 0">
            <table class="table">
                <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.serialno' | translate}}</th>
                        <th>{{'label.heading.holdername' | translate}}</th>
                        <th>{{'label.heading.purpose' | translate}}</th>
                        <th>{{'label.heading.accountnumber' | translate}}</th>
                        <th>{{'label.heading.ifsc' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer-main"  ng-repeat="record in bankAccountDetails">
                        <td class="pointer" data-ng-click="routeTo(record.groupBankAccountDetailAssociationId)">{{$index+1}}</td>
                        <td class="pointer" data-ng-click="routeTo(record.groupBankAccountDetailAssociationId)">{{record.bankAccountDetails.name}}</td>
                        <td class="pointer" data-ng-click="routeTo(record.groupBankAccountDetailAssociationId)">{{record.loanPurpose}}</td>
                        <td class="pointer" data-ng-click="routeTo(record.groupBankAccountDetailAssociationId)">{{record.bankAccountDetails.accountNumber}}</td>
                        <td class="pointer" data-ng-click="routeTo(record.groupBankAccountDetailAssociationId)">{{record.bankAccountDetails.ifscCode}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>