<div class="col-md-12" ng-controller="AddLoanEMIPacksController">
    <div class="paddedbottom10">
        <ul class="breadcrumb">
            <li><a href="#/products">{{'label.anchor.products' | translate}}</a></li>
            <li><a href="#/loanemipacks">{{'label.anchor.loanemipacks' | translate}}</a></li>
            <li class="active">{{loanTemplate.loanProductName}}</li>
        </ul>
        <form name="createloanemipack" novalidate="" class="form-horizontal well"
              rc-submit="submit()">
            <api-validate></api-validate>
            <fieldset>
                <legend>{{'label.heading.addloanemipack' | translate}}</legend>

                <div class="form-group">
                    <label class="control-label col-sm-2" >{{'label.heading.sanctionAmount' | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <input name="sanctionAmount" ng-model="formData.sanctionAmount"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="repaymentEvery">{{'label.heading.repaymentEvery' | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <input ng-autofocus="true" id="repaymentEvery" name="repaymentEvery" ng-model="formData.repaymentEvery" class="form-control" required
                               late-Validate/>
                    </div>
                    <div class="col-sm-3">
                        <select id="repaymentFrequencyType" class="form-control"
                                ng-model="formData.repaymentFrequencyType"
                                ng-options="repaymentFrequencyType.id as repaymentFrequencyType.value for repaymentFrequencyType in loanTemplate.repaymentFrequencyTypeOptions"
                                value="{{repaymentFrequencyType.id}}"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" >{{'label.heading.numberOfRepayments' | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <input name="numberOfRepayments" ng-model="formData.numberOfRepayments"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" >{{'label.heading.fixedEmi' | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <input name="fixedEmi" ng-model="formData.fixedEmi"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group" ng-show="loanTemplate.multiDisburseLoan">
                    <label class="control-label col-sm-2" >{{'label.heading.disbursalAmount1' | translate}}</label>

                    <div class="col-sm-3">
                        <input name="disbursalAmount1" ng-model="formData.disbursalAmount1"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group" ng-show="loanTemplate.multiDisburseLoan && loanTemplate.maxTrancheCount > 1">
                    <label class="control-label col-sm-2" >{{'label.heading.disbursalAmount2' | translate}}</label>

                    <div class="col-sm-3">
                        <input name="disbursalAmount2" ng-model="formData.disbursalAmount2"
                               class="form-control"/>
                    </div>
                    <label class="control-label col-sm-2" >{{'label.heading.disbursalEmi2' | translate}}</label>

                    <div class="col-sm-3">
                        <input name="disbursalEmi2" ng-model="formData.disbursalEmi2"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group" ng-show="loanTemplate.multiDisburseLoan && loanTemplate.maxTrancheCount > 2">
                    <label class="control-label col-sm-2" >{{'label.heading.disbursalAmount3' | translate}}</label>

                    <div class="col-sm-3">
                        <input name="disbursalAmount3" ng-model="formData.disbursalAmount3"
                               class="form-control"/>
                    </div>
                    <label class="control-label col-sm-2" >{{'label.heading.disbursalEmi3' | translate}}</label>

                    <div class="col-sm-3">
                        <input name="disbursalEmi3" ng-model="formData.disbursalEmi3"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group" ng-show="loanTemplate.multiDisburseLoan && loanTemplate.maxTrancheCount > 3">
                    <label class="control-label col-sm-2" >{{'label.heading.disbursalAmount4' | translate}}</label>

                    <div class="col-sm-3">
                        <input name="disbursalAmount4" ng-model="formData.disbursalAmount4"
                               class="form-control"/>
                    </div>
                    <label class="control-label col-sm-2" >{{'label.heading.disbursalEmi4' | translate}}</label>

                    <div class="col-sm-3">
                        <input name="disbursalEmi4" ng-model="formData.disbursalEmi4"
                               class="form-control"/>
                    </div>
                </div>

                <div class="col-md-offset-2 paddedleft">
                    <a id="cancel" href="#/viewloanemipacks/{{loanTemplate.loanProductId}}" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                    <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_LOANEMIPACKS'>{{'label.button.save' | translate}}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
