<div ng-controller="CreateTaskConfigTemplateController">
	<div class="col-md-12">
	    <ul class="breadcrumb">
	        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
	        <li><a href="#/taskconfigtemplate">{{'label.anchor.taskconfigtemplate' | translate}}</a></li>
	        <li class="active">{{'label.anchor.taskconfigtemplate.create' | translate}}</li>
	    </ul>
   </div>
   <div class="row paddedtop"/>
   <div class="row paddedtop paddedleft">
   		<div class="col-md-12">
   			<form novalidate="" name="createTask" class="form-horizontal" rc-submit="submit()">
				<api-validate></api-validate>
				<fieldset>
					<div class="form-group">
						<label class="control-label col-sm-2" for="taskName">{{'label.view.taskName' | translate}}
							<span class="required">*</span>
						</label>
		   				<div class="col-sm-3">
		   					<input id="taskName" name="taskName" class="form-control" ng-model="formData.taskName" type="text" autocomplete="off" required late-validate/>
		   				</div>
		   				<div class="col-sm-2">
							<form-validate valattributeform="createTask" valattribute="taskName"/>
						</div>
	   				</div>
	   				<div class="form-group">
	   					<label class="control-label col-sm-2" for="shortName">{{'label.input.product.shortname' | translate}}
	   						<span class="required">*</span>
						</label>
		   				<div class="col-sm-3">
		   					<input id="shortName" name="shortName" class="form-control" ng-model="formData.shortName" type="text" autocomplete="off" required late-validate />
		   				</div>
		   				<div class="col-sm-2">
							<form-validate valattributeform="createTask" valattribute="shortName"/>
						</div>
		   			</div>
		   			<div class="form-group">
	   					<label class="control-label col-sm-2" for="entityType">{{'label.heading.entity' | translate}}
	   						<span class="required">*</span>
						</label>
		   				<div class="col-sm-3">
		   					<select id="entityType" name="entityType" ng-model="formData.entity_id" ng-options="entity.id as entity.value for entity in entityOptions" required late-validate></select>
		   				</div>
		   				<div class="col-sm-2">
							<form-validate valattributeform="createTask" valattribute="entityType"/>
						</div>
		   			</div>
		   			<div class="col-sm-5 col-md-offset-2">
		   				<button id="save" type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
		   			</div>
				</fieldset>
   			</form>
	   	</div>
	</div>
</div>