<div ng-controller="EditTaskConfigTemplateController">
	<div class="col-md-12">
	    <ul class="breadcrumb">
	        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
	        <li><a href="#/taskconfigtemplate">{{'label.anchor.taskconfigtemplate' | translate}}</a></li>
	        <li class="active">{{'label.anchor.taskconfigtemplate.edit' | translate}}</li>
	    </ul>
   </div>
   <div class="row paddedtop"/>
   <div class="row paddedtop paddedleft">
   		<div class="col-md-12">
   			<form novalidate="" class="form-horizontal" rc-submit="submit()">
   				<div class="form-group">
					<label class="control-label col-sm-2" for="taskName">{{'label.view.taskName' | translate}}
						<span class="required">*</span>
					</label>
		   			<div class="col-sm-3">
		   				<input id="taskName" class="form-control" ng-model="formdata.taskName" type='text' required late-validate />
		   			</div> 
	   			</div>
	   			<div class="form-group">
	   				<label class="control-label col-sm-2" for="shortName">{{'label.input.product.shortname' | translate}}
	   					<span class="required">*</span>
					</label>
		   			<div class="col-sm-3">
		   				<input id="shortName" class="form-control" ng-model="formdata.shortName" type='text' required late-validate />
		   			</div> 
		   		</div>
		   		<div class="form-group">
	   				<label class="control-label col-sm-2" for="entityType">{{'label.heading.entity' | translate}}
					</label>
		   			<div class="col-sm-3">
		   				<select id="entityType" ng-model="formdata.entity" ng-options="entity.id as entity.value for entity in entityOptions"></select>
		   			</div> 
		   		</div>
	   			<div class="col-sm-5 col-md-offset-2">
		   			<a id="cancel" href="#/taskconfigtemplate" class="btn btn-default">{{'label.button.cancel' |
                        translate}}</a>
                    
		   			<button id="save" type="submit" ng-click="submit()" class="btn btn-primary">
                        {{'label.button.update' | translate}}
                    </button>
		   		</div>
	   		</form>
	   	</div>
	</div>
</div>