<div name="workflowForm" class="row well" ng-controller="WorkflowExecutionController">
        <div>
            <div class="col-md-12">
                <ul class="nav nav-pills nav-wizard">
                    <li ng-class="{active:isCurrentStep(step.id), disabled:isDisabled(step.id)}" ng-repeat="step in workflow.steps" ><a href ng-click="showMe(step.id)" data-toggle="tab">{{step.name}}</a></li>
                </ul>
            </div>
            <div class="col-md-12 top-buffer">
                <div ng-show="isCurrentStep(step.id)" ng-repeat="step in workflow.steps" ng-include="'views/workflow/workflowstepexecution.html'"></div>
            </div>
        </div>
</div>
