<div>
	<div class="modal-header silver">
		<h3 class="bolder">
			{{'label.heading.create.subgroup' | translate}}
			<i class="icon-remove pointer pull-right" ng-click="close()"></i>
		</h3>
	</div>
	<div class="modal-body well">
			<div class="margin-plus-10px">
	<form name="createsubgroupform" novalidate="" class="form-horizontal" rc-submit="submit()">
		<api-validate></api-validate>
		<fieldset>
			<div class="form-group">
				<label class="control-label col-sm-2">
					{{'label.input.office' | translate}}
				</label>
				<div class="col-sm-3">
					<p class="form-control-static">{{officeName}}</p>
				</div>
				<!-- <label class="control-label col-sm-3">
					{{'label.input.groupexternalid' | translate}}</label>
				<div class="col-sm-3">
					<input type="text" autocomplete="off" name="externalid" id="externalId" ng-model="subGroupFormData.externalId" class="form-control" />
				</div> -->
			</div>
				<div class="form-group">
				<!-- <label class="control-label col-sm-2" for="name">{{'label.input.name' | translate}}
					<span class="required">*</span>
				</label>
				<div class="col-sm-3">
					<input type="text" autocomplete="off" id="name" name="name" ng-model="subGroupFormData.name" class="form-control" required late-Validate/>
				</div>
				<div class="col-sm-1">
					<form-validate valattributeform="createsubgroupform" valattribute="name" />
				</div>  -->
				<label class="control-label col-sm-2">{{'label.input.submittedon' | translate}}:</label>
				<div class="col-sm-3">
					<input id="submittedon" type="text" autocomplete="off" name="submittedon" datepicker-pop="{{df}}" ng-model="first.submitondate" is-open="opened1"
					min="'2000-01-01'" max="restrictDate" class="form-control" ng-disabled="disableCreateSubGroupDate" ng-readonly="isDatePickerReadOnly" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="staffId">
					{{'label.input.staff' | translate}}</label>
				<div class="col-sm-3">
					<p class="form-control-static">{{staffName}}</p>
				</div>
			</div>
			<div class="col-md-offset-5">
				<a id="cancel" ng-click="cancel()" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
				<button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_GROUP'>{{'label.button.save' | translate}}</button>
			</div>
		</fieldset>
	</form>
	</div>
	</div>
</div>
