<div>
	<div class="modal-header silver">
		<h3 class="bolder">
			{{'label.heading.create.member' | translate | translate}}
			<i class="icon-remove pointer pull-right" ng-click="close()"></i>
		</h3>
	</div>
	<div class="modal-body well">
		<div class="margin-plus-10px">
			<api-validate></api-validate>
			<div>
				<form name="creatememberform" novalidate="" class="form-horizontal well" rc-submit="submit()">
						<div class="alert alert-success" role="alert" ng-show="newClientId">{{'label.alert.member.create.message' | translate}}:<a ng-click="routeToNewClient(newClientId)">{{newClientId}}</a></div>
						<api-validate></api-validate>
						<fieldset>
						<div class="form-group">
							<label class="control-label col-sm-2">
								{{'label.input.office' | translate}}
								<span ng-show="forceOffice == null" class="required">*</span>
							</label>
							<div class="col-sm-3">
								<div ng-show="forceOffice == null">
									<select chosen="offices" id="officeId" ng-model="formData.officeId" class="form-control" ng-options="office.id as office.name for office in offices"
									 value="{{office.id}}" ng-change="changeOffice(formData.officeId)"></select>
								</div>
								<div ng-show="forceOffice != null">
									<p class="form-control-static">{{forceOffice.name}}</p>
								</div>
							</div>
							<label class="control-label col-sm-2" ng-show="showStaff">{{'label.input.staff' | translate}}
								<span ng-show="isStaffMandatory" class="required">*</span>
							</label>
							<div class="col-sm-3" ng-show="showStaff">
								<select chosen="staffs" id="staffId" ng-model="formData.staffId" ng-disabled="response.uiDisplayConfigurations.createClient.isReadOnlyField.staff == true && formData.staffId != null"
								 class="form-control" ng-options="staff.id as staff.displayName for staff in staffs" ng-change="validateStaff()" value="{{staff.id}}">
									<option value="">{{'label.menu.selectloanofficer' | translate}}</option>
								</select>
							</div>
							<span class="error" ng-show="isStaffRequired">{{'label.error.required' | translate}}</span>
						</div>

						<div class="form-group" ng-if="showLegalForm">
							<label class="control-label col-sm-2">{{'label.input.legalForm' | translate}}</label>
							<div class="col-sm-3">
								<select id="legalFormId" ng-model="formData.legalFormId" class="form-control" ng-options="legalForm.id as legalForm.value for legalForm in clientLegalFormOptions"
								 value="{{legalForm.id}}" ng-change="displayPersonOrNonPersonOptions(formData.legalFormId)">
									<option value="">{{'label.menu.legalForm' | translate}}</option>
								</select>
							</div>
						</div>

						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="false">
								<div class="form-group">
									<label class="control-label col-sm-2" for="firstname">{{ 'label.input.applicantname' | translate }}
										<span class="required">*</span>
									</label>
									<div class="col-sm-3">
										<input placeholder="FIRST NAME" type="text" autocomplete="off" id="firstname" name="firstname" ng-model="formData.firstname" class="form-control"
										ng-pattern="{{regexFormats.namePattern}}"  required late-validate/>
										<span class="error" ng-show="creatememberform.firstname.$error.required && rc.creatememberform.attempted">{{'label.error.required'|translate}}</span>
									    <span class="error" ng-show="!creatememberform.firstname.$error.required && creatememberform.firstname.$invalid">{{'label.only.text' | translate}}</span>
									</div>
									<div class="col-sm-3" ng-show="showMiddleName">
										<input placeholder="MIDDLE NAME" type="text" autocomplete="off" id="middlename" name="middlename" ng-model="formData.middlename" class="form-control"
										ng-pattern="{{regexFormats.namePattern}}"/>
									    <span class="error" ng-show="rc.creatememberform.attempted && creatememberform.middlename.$invalid">{{'label.only.text' | translate}}</span>
									</div>									
									<div class="col-sm-3">
										<input placeholder="LAST NAME" type="text" autocomplete="off" id="lastname" name="lastname"
										ng-pattern="{{regexFormats.namePattern}}" ng-model="formData.lastname" class="form-control" ng-required="isElemMandatoryField('lastName')"/>
										<span class="error small" ng-show="createclientform.lastname.$error.required && rc.createclientform.attempted">{{'label.error.required'|translate}}</span>
										<span class="error small" ng-show="!createclientform.lastname.$error.required && createclientform.lastname.$invalid">{{'label.only.text.lname' | translate}}</span>
									</div>
								</div>
							</div>
						</div>
						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="true">
								<div class="form-group">
									<label class="control-label col-sm-2" for="fullname">{{'label.input.fullname' | translate}}
										<span class="required">*</span>
									</label>

									<div class="col-sm-3">
										<input type="text" autocomplete="off" id="fullname" name="fullname" ng-model="formData.fullname" class="form-control" required late-Validate/>
									</div>
									<div class="col-sm-2">
										<form-validate valattributeform="creatememberform" valattribute="fullname" />
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div>
								<label class="control-label col-sm-2" ng-hide="showNonPersonOptions">{{'label.input.dateofbirth' | translate}}
									<span ng-show="isDateOfBirthMandatory" class="required">*</span>
								</label>
								<label class="control-label col-sm-2" ng-show="showNonPersonOptions">{{'label.input.incorporationdate' | translate}}</label>
								<div class="col-sm-3">
									<input id="dateofbirth" type="text" autocomplete="off" name="dateofbirth" datepicker-pop="{{df}}" ng-model="first.dateOfBirth" 
									  is-open="opened1" class="form-control" ng-required="isDateOfBirthMandatory" ng-readonly="isDatePickerReadOnly" />
									<span class="error" ng-show="dateOfBirthNotInRange">{{'label.input.dob.not.range' | translate}} {{minAge}} {{'label.input.and' | translate}} {{maxAge}} {{'label.input.year'
										| translate}}</span>
								</div>
								<div class="col-sm-2">
									<label class="control-label col-sm-1" ng-show="displayAge">{{'label.input.age' | translate}}{{":"}}{{age}}</label>
									<span class="error" ng-show="(submitted || uiData.enableCreateClientLoop) && creatememberform.dateofbirth.$error.required">{{'label.error.required'|translate}}</span>
								</div>

								<div calss="row" data-ng-switch on="showNonPersonOptions">
									<div data-ng-switch-when="false">
										<label class="control-label col-sm-1">{{'label.input.gender' | translate}}
											<span ng-show="isGenderMandatory" class="required">*</span>
										</label>

										<div class="col-sm-3">
											<select id="genderId" ng-model="formData.genderId" class="form-control" name="gender" ng-options="gender.id as gender.name for gender in genderOptions"
											 value="{{gender.id}}" ng-required="isGenderMandatory">
												<option value="">{{'label.menu.gender' | translate}}</option>
											</select>
										</div>
										<div class="col-sm-1">
											<form-validate valattributeform="creatememberform" valattribute="gender" />
										</div>
									</div>
								</div>
							</div>
							<div data-ng-switch on="showNonPersonOptions">
								<div data-ng-switch-when="true">
									<label class="control-label col-sm-2">{{'label.input.incorpValidityTillDate' | translate}}</label>

									<div class="col-sm-3">
										<input id="incorpValidityTillDate" type="text" autocomplete="off" name="incorpValidityTillDate" datepicker-pop="{{df}}" ng-model="first.incorpValidityTillDate"
										 is-open="opened1" max="globalMaxDate" class="form-control" ng-readonly="isDatePickerReadOnly" />
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div data-ng-switch on="showNonPersonOptions">
								<div data-ng-switch-when="false">
									<label class="control-label col-sm-2">{{'label.input.marital.status' | translate}}
										<span ng-show="isMaritalStatusMandatory" class="required">*</span>
									</label>

									<div class="col-sm-3">
										<select id="maritalStatusId" ng-model="formData.maritalStatusId" name="maritalStatus" class="form-control" ng-options="maritalStatus.id as maritalStatus.name for maritalStatus in maritalStatusOptions"
										 value="{{maritalStatus.id}}" ng-required="isMaritalStatusMandatory">
											<option value="">{{'label.menu.marital.status' | translate}}
											</option>
										</select>
									</div>
									<div class="col-sm-2">
										<span class="error" ng-show="(submitted || uiData.enableCreateClientLoop) && creatememberform.maritalStatus.$error.required">{{'label.error.required'|translate}}</span>
									</div>	
								</div>
							</div>
							<label class="control-label col-sm-2" for="externalId" ng-show="showExternalId">{{'label.input.externalid' | translate}}
								<span ng-show="isExternalIdMandatory" class="required">*</span>
							</label>
							<div class="col-sm-3" ng-show="showExternalId">
								<input type="text" autocomplete="off" id="externalId" name="external" ng-model="formData.externalId" class="form-control" ng-required="isExternalIdMandatory"
								/>
							</div>
							<div class="col-sm-2 paddinglr0px">
								<form-validate valattributeform="creatememberform" valattribute="external" />
							</div>
						</div>

						<div class="form-group">
							<label ng-hide="isHideclientType" class="control-label col-sm-2">{{'label.input.clienttype' | translate}}</label>

							<div class="col-sm-3" ng-if="!isHideclientType">
								<select id="clienttypeId" ng-model="formData.clientTypeId" class="form-control" ng-options="clienttype.id as clienttype.name for clienttype in clienttypeOptions"
								 value="{{clienttype.id}}">
									<option value="">{{'label.menu.clienttype' | translate}}</option>
								</select>
							</div>

							<label ng-hide="hideClientClassification" class="control-label col-sm-2">{{'label.input.clientclassification' | translate}}
								<span ng-show="isClientClassificationMandatory" class="required">*</span>
							</label>
							<div class="col-sm-3" ng-if="!hideClientClassification">
								<select id="clientClassificationId" name="clientClassificationId" ng-model="formData.clientClassificationId" class="form-control"
								 ng-options="clientClassification.id as clientClassification.name for clientClassification in clientClassificationOptions"
								 ng-required="isClientClassificationMandatory" value="{{clientClassification.id}}">
									<option value="">{{'label.menu.clientclassification' | translate}}</option>
								</select>
							</div>
							<div ng-if="!hideClientClassification" class="col-sm-2">
								<form-validate valattributeform="creatememberform" valattribute="clientClassificationId" />
							</div>
						</div>

						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="true">
								<div class="form-group">
									<label class="control-label col-sm-2" for="incorpNumber">{{'label.input.incorpNumber' | translate}}</label>

									<div class="col-sm-3">
										<input type="text" autocomplete="off" id="incorpNumber" ng-model="formData.clientNonPersonDetails.incorpNumber" class="form-control" />
									</div>

									<label class="control-label col-sm-2">{{'label.input.mainBusinessLine' | translate}}</label>

									<div class="col-sm-3">
										<select id="mainBusinessLineId" ng-model="formData.clientNonPersonDetails.mainBusinessLineId" class="form-control" ng-options="mainBusinessLine.id as mainBusinessLine.name for mainBusinessLine in clientNonPersonMainBusinessLineOptions"
										 value="{{mainBusinessLine.id}}">
											<option value="">{{'label.menu.mainBusinessLine' | translate}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="true">
								<div class="form-group">
									<label class="control-label col-sm-2">{{'label.input.constitution' | translate}}
										<span class="required">*</span>
									</label>

									<div class="col-sm-3">
										<select id="constitutionId" name="constitution" ng-model="formData.clientNonPersonDetails.constitutionId" class="form-control"
										 ng-options="constitution.id as constitution.name for constitution in clientNonPersonConstitutionOptions" value="{{constitution.id}}"
										 required late-Validate>
											<option value="">--{{'label.menu.constitution' | translate}}--</option>
										</select>
									</div>
									<div class="col-sm-2">
										<form-validate valattributeform="creatememberform" valattribute="constitution" />
									</div>
								</div>
							</div>
						</div>

						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="true">
								<div class="form-group">
									<label class="control-label col-sm-2" for="remarks">{{'label.input.remarks' | translate}}</label>

									<div class="col-sm-3">
										<textarea type="text" autocomplete="off" id="remarks" ng-model="formData.clientNonPersonDetails.remarks" rows="4" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="mobileNo">{{'label.input.mobilenumber' | translate}}
								<span ng-show="isMobileNumberMandatory" class="required">*</span>
							</label>

							<div class="col-sm-3">
								<input type="text" autocomplete="off" id="mobileNo" name="mobileNo" ng-model="formData.mobileNo" ng-pattern="{{regexFormats.mobileNumberPattern}}" ng-required="isMobileNumberMandatory"
								 class="form-control" />
								<span ng-show="creatememberform.mobileNo.$invalid && creatememberform.mobileNo.$dirty">
									<small class="required" ng-show="creatememberform.mobileNo.$error.pattern">
										{{'label.invalid.mobileNumber' | translate}}</small>
								</span>
								<span ng-show="isMobileNumberMandatory">
									<form-validate valattributeform="creatememberform" valattribute="mobileNo" />
								</span>
							</div>
							<label class="control-label col-sm-2" for="alternateMobileNo">{{'label.input.alternateMobilenumber' | translate}}</label>

							<div class="col-sm-3">
								<input type="text" autocomplete="off" id="alternateMobileNo" name="alternateMobileNo" ng-model="formData.alternateMobileNo" ng-pattern="{{regexFormats.mobileNumberPattern}}"
								 class="form-control"/>
								<span ng-show="creatememberform.alternateMobileNo.$invalid && creatememberform.alternateMobileNo.$dirty">
									<small class="required" ng-show="creatememberform.alternateMobileNo.$error.pattern">
										{{'label.invalid.mobileNumber' | translate}}</small>
								</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2">{{'label.input.email' | translate}}
								<span ng-show="isEmailIdMandatory" class="required">*</span>
							</label>

							<div class="col-sm-3">
								<input name="email" ng-model="formData.email" placeholder="EMAIL ID" type="email" autocomplete="off" ng-required="isEmailIdMandatory" class="form-control"
								/>
								<form-validate valattributeform="creatememberform" valattribute="email" />
							</div>
						</div>

						<div class="form-group" ng-show="showSubmittedOn">
							<label class="control-label col-sm-2">{{'label.input.submittedon' | translate}}</label>

							<div class="col-sm-3">
								<input id="submittedon" type="text" autocomplete="off" name="submittedon" datepicker-pop="{{df}}" ng-model="first.submitondate" is-open="opened1"
								 max="restrictDate" class="form-control" ng-readonly="isDatePickerReadOnly" />
							</div>
						</div>
						<div class="form-group" ng-show="showSavingOptions && showOpenSavingsProduct">
							<label class="control-label col-sm-2">{{ 'label.input.opensavingsproduct' | translate }}&nbsp;</label>

							<div class="col-sm-3">
								<input id="opensavingsproduct" type="checkbox" ng-model="opensavingsproduct" ng-true-value="true" ng-false-value="false">
							</div>
							<div ng-show="opensavingsproduct">
								<label class="control-label col-sm-2">{{'label.input.savingproduct' | translate}}</label>

								<div class="col-sm-3">
									<select id="savingsProductId" ng-model="formData.savingsProductId" ng-options="savingProduct.id as savingProduct.name for savingProduct in savingproducts"
									 value="{{savingProduct.id}}" class="form-control">
										<option value="">{{'label.menu.selectsavingproduct' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-offset-5">
							<a id="cancel" ng-click="cancel()" class="btn btn-default">
								{{'label.button.cancel' | translate}}</a>
							<button id="save" type="submit" ng-click="submitted=true" class="btn btn-primary" has-permission='CREATE_CLIENT'>{{'label.button.save' | translate}}</button>
							<button id="saveandcontinue" type="submit" ng-click = "uiData.enableCreateClientLoop = true" class="btn btn-primary"  ng-hide="blockUI" has-permission='CREATE_CLIENT' >{{'label.button.save.enableCreateClientLoop' | translate}}</button>
							<button class="btn btn-info" ng-show="blockUI"><strong>{{'label.button.processing' | translate}}</strong></button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>