<div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.reject' | translate}}</h3>
        </div> 
        <div class="modal-body">
            <api-validate></api-validate>
           
            <div ng-show="error != null" class="error">
                {{'label.error' | translate}}: {{error}}
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" >{{'label.input.rejectionreason' | translate}}<span ng-if="isRejectReasonMandatory" class="required">*</span></label>
                <div class="col-sm-4">
                    <select  id="reasonCode" name="reasonCode" ng-model="code.selectedReason" ng-options="code.name as code.name for code in codes" value="{{code.name}}" 
                    class="input-sm form-control" data-ng-change="getDependentCodeValues(code.selectedReason)">
                    <option value="">{{'label.selectone' | translate}}</option></select>
                </div>
                <br/>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-3" >{{'label.input.specific.reason' | translate}}<span ng-if="isRejectReasonMandatory" class="required">*</span></label>
                <div class="col-sm-4">
                    <select id = "reason" name="reason" ng-model="rejectFormData.reasonCode" 
                    ng-options="codeValue.id as codeValue.description for codeValue in values" value="{{codeValue.id}}" class="input-sm form-control" data-ng-change="initDescription(rejectFormData.reasonCode)">
                    <option value="">{{'label.selectone' | translate}}</option></select>
                </div>
                <br/>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-3" >{{'label.heading.reject.description' | translate}}<span class="required">*</span></label>
                <div class="col-sm-4">
                    <textarea  class="input-sm form-control"  id="description" name="description" ng-model="rejectFormData.description"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancelReject()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-if ="rejectioReasonsAvailable" ng-click="submitReject()">{{'label.button.reject' | translate}}</button>
            <button class="btn btn-primary" ng-if ="!rejectioReasonsAvailable" ng-click="submitReject()">{{'label.button.confirm' | translate}}</button>
        </div>