<div class="modal-header silver">
    <h3 class="bolder">
        {{'label.heading.kotak.criteria.result' | translate}}
        <i class="icon-remove pointer pull-right" ng-click="close()"></i>
    </h3>
</div>
<div class="modal-body well">
    <span class="badge {{ 'bucket'+kotakCriteriaResult.output.value | StatusLookup}}">{{kotakCriteriaResult.output.value}}</span>
    {{kotakCriteriaResult.output.bucket}}&nbsp;[{{kotakCriteriaResult.name}}]
    <span ng-if="kotakCriteriaResult.output.error"> - {{kotakCriteriaResult.output.error}}</span>
    <ul>
        <li ng-repeat="dimensionResult in kotakCriteriaResult.ruleResultHierarchy">
            <span class="badge {{ 'bucket'+dimensionResult.output.value | StatusLookup}}">{{dimensionResult.output.value}}</span>
            {{dimensionResult.output.bucket}}&nbsp;[{{dimensionResult.name}}]
            <span ng-if="dimensionResult.output.error">
                - {{dimensionResult.output.error}}</span>
            <ol>
                <li ng-repeat="factorResult in dimensionResult.ruleResultHierarchy">
                    <span class="badge {{ 'bucket'+factorResult.output.value | StatusLookup}}">{{factorResult.output.value}}</span>
                    {{factorResult.output.bucket}}&nbsp;[{{factorResult.name}}]
                    <span ng-if="factorResult.output.error">
                        - {{factorResult.output.error}}</span>
            </ol>
        </li>
    </ul>
</div>