<div ng-controller="CreditBureauReportController">
    <div>
        <ul class="breadcrumb">
            <li ng-show="groupName"><a href="#/viewgroup/{{formData.groupId}}"><strong>'{{groupName}}'</strong></a></li>
            <li ng-show="clientName"><a href="#/viewclient/{{formData.clientId}}"><strong>'{{clientName}}'</strong></a></li>
            <li class="active">{{'label.anchor.creditbureauteport' | translate}}</li>
        </ul>
    </div>
    <api-validate></api-validate>
    <div class="col-md-12 col-sm-12">
        <div class="row primarydiv">
            <div class="pull-right">
                <span ng-if="entityType === 'loanapplication' && formData.status.id < 400">
                  <a class="btn btn-primary" data-ng-click="rejectApprovalLoanAppRef();"
                     has-permission='REJECT_LOANAPPLICATIONREFERENCE'><i
                          class="icon-remove-circle icon-white"></i>{{'label.button.reject' | translate}}</a>
                </span>
            </div>
        </div>
        <div class="row client">
            <form class="well form-inline">
                <div class="span gray-head">
                    <span class="boldlabel">
                          <strong>{{'label.anchor.creditbureauteport' | translate}}</strong>
                    </span>
                    <div class="pull-right" ng-if="loansSummary.cbStatus.value == 'SUCCESS'">
                        <button type="button" class="btn btn-primary" ng-click="creditBureauReportView();" has-permission='READ_CREDIT_BUREAU_REPORT'>{{'label.button.view.report.file' | translate}}</button>
                    </div>
                </div>
                <div class="col-md-12 well">
                    <div class="col-md-12 pull-right">
                        <div ng-hide="isResponPresent == true && loansSummary && loansSummary.cbStatus">
                            <button id="creditBureauReport" type="button" class="btn btn-primary" ng-click="creditBureauReport();"  has-permission='READ_INITIATE_CREDIT_BUREAU_ENQUIRY'>{{'label.button.initiatecreditbureauenquiry' | translate}}</button>
                        </div>
                        <div class="row" ng-show="false && viewCreditBureauReport == false && loansSummary && loansSummary.cbStatus">
                            <div class="col-md-7">
                                <h3 ng-show="loansSummary && loansSummary.cbStatus" class="bolder">
                                    {{'label.credit.bureau.enquiry.initiated' | translate}} on {{loansSummary.cbInitiatedDateTime}} .
                                </h3>
                            </div>
                            <div class="col-md-5">
                                <button id="getCreditBureauReport" type="button" class="btn btn-primary" ng-click="viewCreditBureauReport = true">{{'label.button.get.report' | translate}}</button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="isResponPresent == true">
                        <div class="col-md-12" ng-if="loansSummary && loansSummary.cbStatus && loansSummary.cbStatus.value != 'SUCCESS'">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td colspan="2"><span class="boldlabel"><strong>{{'label.input.credit.bureau.response.message' | translate}}</strong></span></td>
                                </tr>
                                <tr ng-show="loansSummary.cbStatus.value == 'SUCCESS'">
                                    <td ng-if="loansSummary.cbResponse">{{convertByteToString(loansSummary.cbResponse, loansSummary.cbStatus.value != 'SUCCESS')}}</td>
                                    <td ng-if="loansSummary.cbLoanEnqResponse">{{convertByteToString(loansSummary.cbLoanEnqResponse, loansSummary.cbStatus.value != 'SUCCESS')}}</td>
                                </tr>
                                <tr ng-show="loansSummary.cbStatus.value != 'SUCCESS'">
                                    <td ng-if="loansSummary.cbResponse" class="error">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td ng-show="cbResponseError">
                                                    {{'label.error' | translate}}<br>
                                                    {{convertByteToString(loansSummary.cbResponse, loansSummary.cbStatus.value != 'SUCCESS')}}
                                                </td>
                                            </tr>
                                            <tr ng-show="!cbResponseError"><td>{{'label.error' | translate}}<br></td></tr>
                                            <tr ng-show="!cbResponseError" ng-repeat="error in convertByteToString(loansSummary.cbResponse, loansSummary.cbStatus.value != 'SUCCESS')">
                                                <td>{{error.description}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td ng-if="loansSummary.cbLoanEnqResponse" class="error">
                                        <table>
                                            <tbody>
                                            <tr >
                                                <td ng-show="cbLoanEnqResponseError">
                                                    {{'label.error' | translate}}<br>
                                                    {{convertByteToString(loansSummary.cbLoanEnqResponse, loansSummary.cbStatus.value != 'SUCCESS')}}
                                                </td>
                                            </tr>
                                            <tr><td ng-show="!cbLoanEnqResponseError">{{'label.error' | translate}}<br></td></tr>
                                            <tr ng-show="!cbLoanEnqResponseError" ng-repeat="error in convertByteToString(loansSummary.cbLoanEnqResponse, loansSummary.cbStatus.value != 'SUCCESS')">
                                                <td>{{'label.error' | translate}}<br>
                                                    {{error.description}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                     </td>
                                </tr>
                            </table>
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <span>
                                        <button type="button" class="btn btn-primary" ng-click="creditBureauReport();" has-permission='READ_INITIATE_CREDIT_BUREAU_ENQUIRY'>{{'label.button.re.initiatecreditbureauenquiry' | translate}}</button>
                                    </span>
                                    <span ng-show="creditbureauLoanProduct.skipCreditcheckInFailure == true">
                                        <button type="button" class="btn btn-primary" ng-click="proceedToNext();">{{'label.button.skip' | translate}}</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="isReportPresent && loansSummary && loansSummary.cbStatus.value == 'SUCCESS'">
                            <table class="table table-bordered table-striped" ng-if="activeLoan.summaries.length > 0">
                                <tr>
                                    <td colspan="8">
                                        <span class="boldlabel"><strong>{{'label.heading.cb.report.active.loans.summary' | translate}}</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.serialno' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.name.of.mfi' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.customer.since' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.no.of.active.loans' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.total.outstanding.amount' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.total.emi.amount' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.disbursaldate' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.overdue.amount' | translate}}</strong></span>
                                    </td>
                                </tr>
                                <tr ng-repeat="summary in activeLoan.summaries | orderBy:'-totalOutstandingAmount' track by $index" ng-init="summaryIndex = $index">
                                    <td>
                                        <span>{{(summaryIndex+1)}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.lenderName}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.customerSince |DateFormat}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.noOfActiveLoans}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.totalOutstandingAmount |number}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.totalEMIAmount |number : 2}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.disbursalDate |DateFormat}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.totalOverDueAmount |number}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.total' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <span><strong>{{activeLoan.totalSummary.noOfActiveLoans}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{activeLoan.totalSummary.totalOutstandingAmount | number:0}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{activeLoan.totalSummary.totalEMIAmount | number:0}}</strong></span>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <span><strong>{{activeLoan.totalSummary.totalOverDueAmount | number}}</strong></span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-12" ng-if="loansSummary && loansSummary.cbStatus.value == 'SUCCESS'">
                            <table class="table table-bordered table-striped" ng-if="closedLoan.summaries.length > 0">
                                <tr>
                                    <td colspan="8">
                                        <span class="boldlabel"><strong>Closed Loans Summary</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.serialno' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.name.of.mfi' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.customer.since' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.no.of,closed.loans' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.total.disbursal.amount' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.last.closure.date' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{'label.heading.write.off.amount' | translate}}</strong></span>
                                    </td>
                                </tr>
                                <tr ng-repeat="summary in closedLoan.summaries | orderBy:'lastClosureDate' :true track by $index" ng-init="summaryIndex = $index">
                                    <td>
                                        <span>{{(summaryIndex+1)}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.lenderName}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.customerSince |DateFormat}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.noOfClosedLoans}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.totalDisbursalAmount |number}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.lastClosureDate |DateFormat}}</span>
                                    </td>
                                    <td>
                                        <span>{{summary.totalWriteOffAmount |number}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.total' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <span><strong>{{closedLoan.totalSummary.noOfClosedLoans}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{closedLoan.totalSummary.totalDisbursalAmount | number}}</strong></span>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <span><strong>{{closedLoan.totalSummary.totalWriteOffAmount | number}}</strong></span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-12" ng-if="loansSummary && loansSummary.cbStatus.value == 'SUCCESS'">
                            <table class="table">
                                <tr>
                                    <td colspan="2">
                                        <div class="pull-right">
                                            <span>
                                               <button type="button" class="btn btn-primary" ng-click="creditBureauReport();">{{'label.button.re.initiatecreditbureauenquiry' | translate}}</button>
                                            </span>
                                            <span><button type="button" class="btn btn-primary" ng-click="proceedToNext();">{{'label.button.approve' | translate}}</button></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-8" ng-if="false && loansSummary && loansSummary.cbStatus.value == 'SUCCESS'">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td colspan="2">
                                        <span class="boldlabel"><strong>{{'label.input.other.institute.loans.summary' | translate}}</strong></span>
                                        <div class="pull-right" ng-if="loansSummary.totalAmountBorrowed > 0">
                                            <button id="viewReportFile" type="button" class="btn btn-primary" ng-click="creditBureauReportView();" has-permission='READ_CREDIT_BUREAU_REPORT'>{{'label.button.view.report.file' | translate}}</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>{{'label.input.total.amount.borrowed' | translate}}</label></td>
                                    <td>{{loansSummary.totalAmountBorrowed |number}}</td>
                                </tr>
                                <tr>
                                    <td><label>{{'label.input.total.current.outstanding' | translate}}</label></td>
                                    <td>{{loansSummary.totalCurrentOutstanding |number}}</td>
                                </tr>
                                <tr>
                                    <td><label>{{'label.input.total.amount.overdue' | translate}}</label></td>
                                    <td>{{loansSummary.totalAmtOverdue |number}}</td>
                                </tr>
                                <tr>
                                    <td><label>{{'label.input.total.installment.amount' | translate}}</label></td>
                                    <td>{{loansSummary.totalInstallmentAmount |number}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="pull-right">
                                            <span>
                                               <button type="button" class="btn btn-primary" ng-click="creditBureauReport();">{{'label.button.re.initiatecreditbureauenquiry' | translate}}</button>
                                            </span>
                                            <span><button type="button" class="btn btn-primary" ng-click="proceedToNext();">{{'label.button.approve' | translate}}</button></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" ng-if="loansSummary && loansSummary.cbStatus.value == 'SUCCESS'">
                    <table class="width100">
                        <tr>
                            <td colspan="0">&nbsp;</td>
                        </tr>
                    </table>
                </div>

                <table class="width100">
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>