<div class="col-md-12" ng-controller="LoanForeclosureController">
    <ul class="breadcrumb">
        <li><a href="#/viewloanaccount/{{accountId}}">{{'label.anchor.viewloanaccount' | translate}}</a></li>
        <li class="active">{{'label.heading.foreclosure' | translate}}</li>
    </ul>
    <loan-header-details></loan-header-details>
    <form class="form-horizontal well" novalidate="" name="foreclosureform" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.loan.foreclosure' | translate}}</legend>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.transactiondate' | translate}}<span
                        class="required">*</span></label>
                <div class="col-sm-3">
                    <input id="transactionDate" name="transactionDate" class="form-control" type="text" autocomplete="off" sort datepicker-pop="{{df}}"
                           ng-model="formData.transactionDate" max="globalMaxDate" is-open="opened" ng-readonly="isDatePickerReadOnly"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{ 'label.heading.principal' | translate }}<span class="required"></span></label>
                <div class="col-sm-3">
                    <input type="text" autocomplete="off" id="outstandingPrincipalPortion" name="outstandingPrincipalPortion" ng-model="formData.outstandingPrincipalPortion" class="form-control" number-format readonly/>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{ 'label.heading.interest' | translate }}<span class="required"></span></label>
                <div class="col-sm-3">
                    <input type="text" autocomplete="off" id="outstandingInterestPortion" name="outstandingInterestPortion" ng-model="formData.outstandingInterestPortion" class="form-control" number-format readonly/>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.heading.fee.amount' | translate}}<span class="required"></span></label>
                <div class="col-sm-3">
                    <input type="text" autocomplete="off" id="outstandingFeeChargesPortion" name="outstandingFeeChargesPortion" ng-model="formData.outstandingFeeChargesPortion" class="form-control" number-format readonly/>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.heading.penalty.amount' | translate}}<span class="required"></span></label>
                <div class="col-sm-3">
                    <input type="text" autocomplete="off" id="outstandingPenaltyChargesPortion" name="outstandingPenaltyChargesPortion" ng-model="formData.outstandingPenaltyChargesPortion" class="form-control" number-format readonly/>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.heading.excess.amount.paid' | translate}}<span class="required"></span></label>
                <div class="col-sm-3">
                    <input type="text" autocomplete="off" id="excessAmountPaymentPortion" name="excessAmountPaymentPortion" ng-model="formData.excessAmountPaymentPortion" class="form-control" number-format readonly/>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.heading.transactionamount' | translate}}<span class="required"></span></label>
                <div class="col-sm-3">
                    <input type="text" autocomplete="off" ng-model="formData.transactionAmount" class="form-control" number-format readonly/>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div data-ng-switch on="isPaymentTypeHidden">
                <div data-ng-switch-when="false">
                        <div class="form-group">
                                <label class="control-label col-sm-2" for="paymentTypeId">{{ 'label.input.paymentmode' | translate}}<span ng-show="isPaymentModeMandatory" class="required">*</span></label>
                            
                                <div class="col-sm-3">
                                    <select id="paymentMode" name="paymentMode" ng-model="paymentMode" ng-options="paymentModeOption.id as paymentModeOption.value for paymentModeOption in paymentModeOptions"
                                        class="form-control"  ng-change="getPaymentTypeOtions(paymentMode)" ng-required="isPaymentModeMandatory" late-validate>
                                        <option value="">{{'label.selectone' | translate}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <form-validate valattributeform="foreclosureform" valattribute="paymentMode"/>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="paymentTypeId">{{ 'label.input.paymenttype' | translate}}<span ng-show="isPaymentTypeMandatory" class="required">*</span></label>
                            
                                <div class="col-sm-3">
                                    <select id="paymentTypeId" name="paymentTypeId" ng-model="formData.paymentTypeId" class="form-control" ng-options="paymentType.id as paymentType.name for paymentType in paymentTypeOptions"  ng-required="isPaymentTypeMandatory" required>
                                        <option value="">{{'label.selectone' | translate}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <form-validate valattributeform="foreclosureform" valattribute="paymentTypeId"/>
                                </div>
                            </div>
                            <div class="form-group" ng-if="showPaymentTypeForRepaymentAtDisbursement">
                                <label class="control-label col-sm-2" for="paymentTypeIdForRepaymentAtDisbursement">{{ 'label.input.payment.type.for.repayment.at.disbursement' | translate}}</label>
                    
                                <div class="col-sm-3">
                                    <select id="paymentTypeId" ng-model="formData.paymentTypeIdForRepaymentAtDisbursement" class="form-control"
                                            ng-options="paymentType.id as paymentType.name for paymentType in paymentTypes"
                                            value="{{paymentType.id}}"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label ng-hide="isRecieptNumbermandatory" class="control-label col-sm-2">{{ 'label.anchor.showpaymentdetails' | translate}}</label>
                    
                                <div ng-hide="isRecieptNumbermandatory" class="col-sm-3">
                                    <a class="btn btn-primary" ng-click="showPaymentDetails=!showPaymentDetails">
                                        <i ng-show="showPaymentDetails" class="icon-minus icon-white"></i>
                                        <i ng-show="!showPaymentDetails" class="icon-plus icon-white"></i>
                                    </a>
                                </div>
                                <div ng-show="isRecieptNumbermandatory" class="col-sm-3">
                                    <h3>{{ 'label.heading.paymentdetails' | translate}}</h3>
                                </div>
                            </div>
                            <div ng-show="showPaymentDetails || isRecieptNumbermandatory">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="accountNumber">{{ 'label.input.accnum' | translate}}</label>
                    
                                    <div class="col-sm-3">
                                        <input id="accountNumber" type="text" class="form-control" ng-model="formData.accountNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="checkNumber">{{ 'label.input.checknumber' |
                                        translate}}</label>
                    
                                    <div class="col-sm-3">
                                        <input id="checkNumber" class="form-control" type="text" ng-model="formData.checkNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="routingCode">{{ 'label.input.routingcode' |
                                        translate}}</label>
                    
                                    <div class="col-sm-3">
                                        <input id="routingCode" class="form-control" type="text" ng-model="formData.routingCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="receiptNumber">{{ 'label.input.receiptnumber' |
                                        translate}}<span ng-if="isRecieptNumbermandatory" class="required">*</span></label>
                    
                                    <div class="col-sm-3">
                                        <input id="receiptNumber" name="receiptNumber" class="form-control" type="text"
                                               ng-model="formData.receiptNumber" ng-required="isRecieptNumbermandatory">
                                    </div>
                                    <div class="col-sm-3">
                                        <form-validate valattributeform="loanactionform" valattribute="receiptNumber"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="bankNumber">{{ 'label.input.banknumber' | translate}}</label>
                    
                                    <div class="col-sm-3">
                                        <input id="bankNumber" class="form-control" type="text" ng-model="formData.bankNumber">
                                    </div>
                                </div>
                            </div>
                </div>
                
            </div>
            <div class="form-group"  ng-if="showPaymentTypeForRepaymentAtDisbursement && !isPaymentTypeHidden ">
                <label class="control-label col-sm-2" for="paymentTypeIdForRepaymentAtDisbursement">{{ 'label.input.payment.type.for.repayment.at.disbursement' | translate}}</label>

                <div class="col-sm-3">
                    <select id="paymentTypeId" ng-model="formData.paymentTypeIdForRepaymentAtDisbursement" class="form-control"
                            ng-options="paymentType.id as paymentType.name for paymentType in paymentTypes"
                            value="{{paymentType.id}}"></select>
                </div>
            </div>

            <div class="form-group" ng-if="showPreclosureReason">
                <label class="control-label col-sm-2" >{{'label.input.preclosure.reason' | translate}}<span  class="required" >*</span></label>
                 <div class="col-sm-3">
                    <select  id="codeReasonId" name="codeReasonId" ng-model="formData.codeReasonId" ng-options="code.id as code.name for code in preclosureReasonList" value="{{code.name}}" 
                    class="input-sm form-control" ng-change="getPreclosureReasonValues(formData.codeReasonId)" required late-Validate>
                    <option value="">{{'label.selectone' | translate}}</option></select>
                </div>
                <div class="col-sm-3">
                    <form-validate valattributeform="foreclosureform" valattribute="codeReasonId"/>
                </div>
            </div>
            <div class="form-group" ng-if="showReasonDescription()" >
                <label class="control-label col-sm-2" >{{'label.input.reason.description' | translate}}<span  class="required">*</span></label>
                 <div class="col-sm-3">
                    <input name="reasonDescription" id="reasonDescription"
                         ng-model="formData.reasonDescription" type="text" autocomplete="off" value = "{{reasonDescription}}" class="form-control" required late-Validate />
                </div>
                <div class="col-sm-3">
                    <form-validate valattributeform="foreclosureform" valattribute="reasonDescription"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.notes' | translate}}<span ng-show="backDatedTxn" class="required"></span></label>
                <div class="col-sm-3">
                    <textarea id="note" type="text" autocomplete="off" rows="2" name="note" ng-model="formData.note" class="form-control" ng-change="checkNote()"></textarea>
                </div>
                <div class="col-sm-3" ng-show="backDatedTxnError==true">
                    <span class="error">{{'label.requiredfield' | translate}}</span>
                </div>
            </div>
            <br/>
            <div class="col-md-offset-3">
                <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</button>
                <button id="save" type="submit" has-permission='FORECLOSURE_LOAN' class="btn btn-primary">{{ 'label.button.foreclosure' | translate }}</button>
            </div>
        </fieldset>
    </form>
</div>