<div ng-controller="UpdateLoanApplicationReference">
    <div>
        <ul class="breadcrumb">
            <li ng-show="groupName"><a href="#/viewgroup/{{formData.groupId}}"><strong>'{{groupName}}'</strong></a></li>
            <li ng-show="clientName"><a href="#/viewclient/{{formData.clientId}}"><strong>'{{clientName}}'</strong></a>
            </li>
            <li class="active">{{'label.anchor.modifyloanapplication' | translate}}</li>
        </ul>
    </div>
    <api-validate></api-validate>
    <form name="updateloanapplicationform" novalidate="" rc-submit="submit()" class="well form-inline">
        <table class="width100">
            <tr>
                <td class="width14">
                    <label>{{ 'label.input.product' | translate }}<span class="required">*</span>:&nbsp;</label>
                    <i class="icon-question-sign" tooltip="{{'label.tooltip.product' | translate}}"></i>
                </td>
                <td class="width36 paddedbottom10">
                    <select id="loanProductId" name="loanProductId" ng-model="formData.loanProductId"
                            class="form-control width170px"
                            ng-options="product.id as product.name for product in loanaccountinfo.productOptions"
                            value="{{product.id}}"
                            required ng-change="loanProductChange(formData.loanProductId,true)">
                        <option style="display:none" value="">{{'label.selectloanproduct' | translate}}</option>
                    </select>
                    <form-validate valattributeform="updateloanapplicationform" valattribute="loanProductId"/>
                </td>
                <td class="width14">
                    <label>{{ 'label.input.loanofficer' | translate }}:&nbsp;</label>
                    <i class="icon-question-sign" tooltip="{{'label.tooltip.loanofficer' | translate}}"></i>
                </td>
                <td class="width36 paddedbottom10">
                    <select id="loanOfficerId" name="loanOfficerId" ng-model="formData.loanOfficerId"
                            ng-options="loanOfficer.id as loanOfficer.displayName for loanOfficer in loanaccountinfo.loanOfficerOptions | orderBy:'displayName':reverse"
                            class="form-control width170px" value="{{loanOfficer.id}}" ng-disabled="response.uiDisplayConfigurations.loanAccount.isReadOnlyField.displayName == true">
                        <option value="">{{'label.selectloanofficer' | translate}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label>{{ 'label.input.loanpurpose' | translate }}<span class="required">*</span>:&nbsp;</label>
                    <i class="icon-question-sign" tooltip="{{'label.tooltip.loanpurpose' | translate}}"></i></td>
                <td class="paddedbottom10">
                    <select id="loanPurposeId" name="loanPurposeId" ng-model="formData.loanPurposeId"
                            ng-options="loanPurpose.id as loanPurpose.name for loanPurpose in loanaccountinfo.loanPurposeOptions | orderBy:'name':reverse"
                            class="form-control width170px" value="{{loanPurpose.id}}" required>
                        <option value="">{{'label.selectpurpose' | translate}}</option>
                    </select>
                    <form-validate valattributeform="updateloanapplicationform" valattribute="loanPurposeId"/>
                </td>

                <td class="width19" ng-hide="loanaccountinfo.loanEMIPacks"><label>{{ 'label.input.principal' | translate }}&nbsp;<span
                        class="required">*</span>:</label></td>
                <td class="width31 paddedbottom10" ng-hide="loanaccountinfo.loanEMIPacks">
                    <input type="text" class="form-control" id="loanAmountRequested" name="loanAmountRequested"
                           ng-model="formData.loanAmountRequested"
                           ng-change="updateSlabBasedCharges()"
                           number-format />&nbsp;{{loanaccountinfo.currency.displaySymbol}}
                    <form-validate valattributeform="updateloanapplicationform" valattribute="loanAmountRequested"/>
                </td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr ng-hide="loanaccountinfo.loanEMIPacks">
                <td class="width14"><label>{{ 'label.input.numofrepayments' | translate }}&nbsp;<span
                        class="required">*</span>:</label></td>
                <td class="width36 paddedbottom10">
                    <input id="numberOfRepayments" name="numberOfRepayments" class="form-control" type="text"
                           ng-model="formData.numberOfRepayments"  ng-change="calculateTermFrequency()"/>&nbsp;
                    <form-validate valattributeform="updateloanapplicationform" valattribute="numberOfRepayments"/>
                </td>

                <td><label>{{ 'label.input.repaidevery' | translate }}&nbsp;<span class="required">*</span></label></td>
                <td class="paddedbottom10 width500px">
                    <input id="repayEvery" name="repayEvery" class="form-control" type="text"
                           ng-model="formData.repayEvery" ng-change="calculateTermFrequency()"/>
                    <select id="repaymentFrequencyType" class="form-control"
                            ng-model="formData.repaymentPeriodFrequencyEnum"
                            ng-options="termFrequencyType.id as termFrequencyType.value for termFrequencyType in loanaccountinfo.termFrequencyTypeOptions"
                            value="{{termFrequencyType.id}}" ng-change="calculateTermFrequency()"/>
                    <form-validate valattributeform="updateloanapplicationform" valattribute="repayEvery"/>
                </td>
            </tr>
            <tr ng-show="loanaccountinfo.loanEMIPacks" class="width100">
                <td colspan="4">
                    <label><strong>{{ 'label.heading.chooseloanemipack' | translate }}</strong></label>
                </td>
            </tr>
            <tr ng-show="loanaccountinfo.loanEMIPacks" class="width100">
                <td colspan="4">
                    <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control width100" placeholder="{{'label.input.filterbytext' | translate}}"/>
                </td>
            </tr>
            <tr ng-show="loanaccountinfo.loanEMIPacks" class="width100">
                <td colspan="4">
                    <div>
                        <table class="table  table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{{ 'label.heading.sanctionAmount' | translate }}</th>
                                <th>{{ 'label.heading.repaymentEvery' | translate }}</th>
                                <th>{{ 'label.heading.numberOfRepayments' | translate }}</th>
                                <th>{{ 'label.heading.fixedEmi' | translate }}</th>
                                <th ng-show="loanaccountinfo.multiDisburseLoan">{{ 'label.heading.disbursalAmount1' | translate }}</th>
                                <th ng-show="loanaccountinfo.multiDisburseLoan && loanaccountinfo.product.maxTrancheCount > 1">{{ 'label.heading.disbursalAmount2' | translate }}</th>
                                <th ng-show="loanaccountinfo.multiDisburseLoan && loanaccountinfo.product.maxTrancheCount > 2">{{ 'label.heading.disbursalAmount3' | translate }}</th>
                                <th ng-show="loanaccountinfo.multiDisburseLoan && loanaccountinfo.product.maxTrancheCount > 3">{{ 'label.heading.disbursalAmount4' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="loanEMIPack in loanaccountinfo.loanEMIPacks | filter:filterText">
                                <td class="col-md-1">
                                    <input type="radio" ng-model="formData.loanEMIPackId" ng-change="updateSlabBasedAmountOnChangePrincipalOrRepaymentForEmiPack()" value="{{loanEMIPack.id}}"/>
                                </td>
                                <td class="col-md-1">
                                    <span>{{loanEMIPack.sanctionAmount}}</span>
                                </td>
                                <td class="col-md-1">
                                    <span>{{loanEMIPack.combinedRepayEvery}}</span>
                                </td>
                                <td class="col-md-1">
                                    <span>{{loanEMIPack.numberOfRepayments}}</span>
                                </td>
                                <td class="col-md-1">
                                    <span>{{loanEMIPack.fixedEmi}}</span>
                                </td>
                                <td class="col-md-1" ng-show="loanaccountinfo.multiDisburseLoan">
                                    <span>{{loanEMIPack.disbursalAmount1}}</span>
                                </td>
                                <td class="col-md-1" ng-show="loanaccountinfo.multiDisburseLoan && loanaccountinfo.product.maxTrancheCount > 1">
                                    <span>{{loanEMIPack.disbursalAmount2}}</span>
                                </td>
                                <td class="col-md-1" ng-show="loanaccountinfo.multiDisburseLoan && loanaccountinfo.product.maxTrancheCount > 2">
                                    <span>{{loanEMIPack.disbursalAmount3}}</span>
                                </td>
                                <td class="col-md-1" ng-show="loanaccountinfo.multiDisburseLoan && loanaccountinfo.product.maxTrancheCount > 3">
                                    <span>{{loanEMIPack.disbursalAmount4}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
             <tr>
                    <td class="width19">
                        <label>{{ 'label.button.disbursalmode' | translate }}<span ng-show="isMandatoryDisbursementPaymentMode" class="required">*</span>:</label>
                    </td>
                    <td class="width31 paddedbottom10">
                        <select id="disbursementMode" name="disbursementMode" ng-model="disbursementMode"
                            ng-options="paymentModeOption.id as paymentModeOption.value for paymentModeOption in paymentModeOptions"
                            value="{{paymentModeOption.id}}" ng-change="changePaymentMode(formData.paymentMode)" class="form-control"
                            ng-required="isMandatoryDisbursementPaymentMode">
                            <option value="">{{'label.selectone' | translate}}</option>
                       </select>
                        <form-validate valattributeform="updateloanapplicationform" valattribute="disbursementMode"/>
                    </td>
                    <td>
                        <label>{{ 'label.button.repaymentsmode' | translate }}:</label>
                    </td>
                    <td class="width31">
                        <select id="repaymentMode" ng-model="repaymentMode"
                                ng-options="paymentModeOption.id as paymentModeOption.value for paymentModeOption in paymentModeOptions"
                            value="{{paymentModeOption.id}}" n class="form-control width170px"
                                value="{{paymentOption.id}}">
                            <option value="">{{'label.menu.selectone' | translate}}</option>
                        </select>
                    </td>
                </tr>
            <tr>

            <tr>
                <td class="width19">
                    <label>{{ 'label.button.disbursal' | translate }}<span ng-show="isMandatoryDisbursementPaymentMode" class="required">*</span>:</label>
                </td>
                <td class="width31 paddedbottom10">
                    <select id="expectedDisbursalPaymentType" name="expectedDisbursalPaymentType" ng-model="formData.expectedDisbursalPaymentType"
                            ng-options="paymentOption.id as paymentOption.name for paymentOption in disbursementTypeOption " class="form-control width170px"
                            value="{{paymentOption.id}}" ng-required="isMandatoryDisbursementPaymentMode">
                        <option value="">{{'label.menu.selectone' | translate}}</option>
                    </select>
                    <form-validate valattributeform="updateloanapplicationform" valattribute="expectedDisbursalPaymentType"/>
                </td>
                <td>
                    <label>{{ 'label.button.repayments' | translate }}:</label>
                </td>
                <td class="width31">
                    <select id="expectedRepaymentPaymentType" ng-model="formData.expectedRepaymentPaymentType"
                            ng-options="paymentOption.id as paymentOption.name for paymentOption in repaymentTypeOption " class="form-control width170px"
                            value="{{paymentOption.id}}">
                        <option value="">{{'label.menu.selectone' | translate}}</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td class="width14" ng-if="false && loanaccountinfo.canDefineInstallmentAmount" ng-hide="loanaccountinfo.loanEMIPacks"><label>{{
                    'label.input.fixedemiamount' | translate }}:</label>&nbsp;</td>
                <td class="width36 paddedbottom10" ng-if="false && loanaccountinfo.canDefineInstallmentAmount" ng-hide="loanaccountinfo.loanEMIPacks">
                    <input id="fixedEmiAmount" name="fixedEmiAmount" type="text" ng-model="formData.fixedEmiAmount"
                           class="form-control" number-format/>&nbsp;{{loanaccountinfo.currency.displaySymbol}}
                </td>

                <td class="width14">
                    <label>{{ 'label.input.submittedon' | translate }}<span class="required">*</span>:&nbsp;</label>
                </td>
                <td class="width36 paddedbottom10">
                    <input id="submittedOnDate" name="submittedOnDate" sort type="text" datepicker-pop="dd MMMM yyyy"
                           class="form-control"
                           ng-model="formData.submittedOnDate" is-open="opened" min="'2000-01-01'" max="restrictDate"
                           required/>
                    <form-validate valattributeform="updateloanapplicationform" valattribute="submittedOnDate"/>
                </td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>

            <tr>
                <td class="width14"><label>{{ 'label.input.externalid' | translate }} One:</label>&nbsp;</td>
                <td class="width36 paddedbottom10">
                    <input type="text" id="externalIdOne" name="externalIdOne" ng-model="formData.externalIdOne"
                           class="form-control"/>
                </td>

                <td class="width14"><label>{{ 'label.input.externalid' | translate }} Two:</label>&nbsp;</td>
                <td class="width36 paddedbottom10">
                    <input type="text" id="externalIdTwo" name="externalIdTwo" ng-model="formData.externalIdTwo"
                           class="form-control"/>
                </td>
            </tr>

             <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr data-ng-show="loanaccountinfo.product.isFlatInterestRate && !loanaccountinfo.product.multiDisburseLoan">
                <td ><label>{{ 'label.input.discountondisbursalamount' | translate }}</label></td>
                <td class="paddedbottom10">
                    <input id="discountOnDisbursalAmount" type="text" ng-model="formData.discountOnDisbursalAmount" class="form-control" number-format/>
                </td>
            </tr>

            <tr data-ng-show="!loanaccountinfo.loanEMIPacks">
                <td>
                    <label>{{ 'label.input.amountforupfrontcollection' | translate }}</label>
                </td>
                <td>
                    <input id="amountForUpfrontCollection" type="text" ng-model="formData.amountForUpfrontCollection"
                           class="form-control" number-format/>
                </td>
            </tr>
            <tr>
                <td class="width14" ng-hide="isHiddenExpectedDisbursementDate"><label>{{ 'label.input.expecteddisbursementon' | translate }}:<span class="required" ng-show="isMandatoryExpectedDisbursementDate">*</span>
                </label>&nbsp;</td>
                <td class="width36 paddedbottom10" ng-hide="isHiddenExpectedDisbursementDate">
                    <input id="expectedDisbursementDate" name="expectedDisbursementDate" sort type="text" datepicker-pop="dd MMMM yyyy" class="form-control" ng-model="formData.expectedDisbursementDate" is-open="opened" min="minDate" ng-required="isMandatoryExpectedDisbursementDate"/>
                    <form-validate valattributeform="updateloanapplicationform" valattribute="expectedDisbursementDate"/>
                </td>

                <td class="width14" ng-hide="isHiddenFirstRepaymentDate"><label>{{ 'label.input.firstrepaymenton' | translate }}:</label>&nbsp;</td>
                <td class="width36 paddedbottom10" ng-hide="isHiddenFirstRepaymentDate">
                    <input id="repaymentsStartingFromDate" name="repaymentsStartingFromDate" sort type="text" datepicker-pop="dd MMMM yyyy" class="form-control" ng-model="formData.repaymentsStartingFromDate" is-open="opened" ng-required="isMandatoryFirstRepaymentDate" min="minDate" />
                </td>
            </tr>
            <tr ng-if="!loanaccountinfo.loanEMIPacks">
                <td ng-hide="isHiddenRateOfInterest"><label>{{ 'label.input.nominalinterestrate' | translate }}&nbsp;<span
                        class="required" ng-show="isMandatoryRateOfInterest">*</span></label></td>
                <td class="paddedbottom10" ng-hide="isHiddenRateOfInterest">
                    <input id="interestRatePerPeriod" class="form-control" type="text" name="nominalinterestrate" ng-required="isMandatoryRateOfInterest" ng-model="formData.interestRatePerPeriod" ng-if = "!interestRatesListAvailable"/> 
                    &nbsp;&nbsp;{{loanaccountinfo.interestRateFrequencyType.value}}
                    <form-validate valattributeform="updateloanapplicationform" valattribute="nominalinterestrate"/>
                </td>
            </tr>

            <tr ng-if="loanaccountinfo.multiDisburseLoan === true">
                <td class="width14"><label>Max no of Tranches:</label>&nbsp;</td>
                <td class="width36 paddedbottom10">
                    <input id="noOfTranche" name="noOfTranche" type="text" ng-model="formData.noOfTranche"
                           class="form-control" number-format maxlength="2" ng-disabled="true"/>&nbsp;
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
        </table>

        <div ng-show="loanaccountinfo.product.multiDisburseLoan && !isHiddenTrancheData">
                <hr/>
                <label><strong>{{ 'label.heading.tranchedetails' | translate }}</strong></label>
             <table class="width100">
                <tr>
                    <td class="width14"><label>{{'label.input.outstandingloanbalance' | translate}}:</label></td>
                    <td class="width36 paddedbottom10">
                        <input id="maxOutstandingLoanBalance" type="text" class="form-control" ng-model="formData.maxOutstandingLoanBalance" number-format>&nbsp;
                        <a title="{{ 'label.button.addtranch' | translate }}" ng-click="addTranches()"
                        ng-show="formData.disbursementData.length < formData.noOfTranche"><i
                                class="icon-plus icon-white"></i></a>
                    </td>
                </tr>
            </table>
            <table class="table width100" ng-show="formData.disbursementData && formData.disbursementData.length>0">
                <thead>
                <tr class="graybg">
                    <th>{{'label.input.expecteddisbursementon' | translate}}</th>
                    <th>{{'label.input.principal' | translate}}</th>
                    <th data-ng-show="loanaccountinfo.product.isFlatInterestRate">{{'label.input.discountondisbursalamount' | translate}}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="disbursementDetail in formData.disbursementData track by $index">
                    <td>
                        <input id="disbursementDetail[{{$index}}].expectedTrancheDisbursementDate" type="text"
                               datepicker-pop="dd MMMM yyyy" class="form-control"
                               placeholder="{{'label.input.expecteddisbursementon' | translate}}"
                               ng-model="disbursementDetail.expectedTrancheDisbursementDate" is-open="'openedtranche'+$index"
                               min="minDate" max="'2020-06-22'"/>
                    </td>
                    <td>
                        <input id="{{disbursementDetail[$index].trancheAmount}}" class="form-control" number-format type="text" ng-model="disbursementDetail.trancheAmount" name="trancheAmount" required=""placeholder="{{'label.input.principal' | translate}}">
                        <form-validate valattributeform="UpdateLoanApplicationReference" valattribute="trancheAmount"/>
                    </td>
                    <td data-ng-show="loanaccountinfo.product.isFlatInterestRate">
                        <input id="{{disbursementDetail[$index].discountOnDisbursalAmount}}"  class="form-control" number-format type="text"
                               ng-model="disbursementDetail.discountOnDisbursalAmount"
                               name="discountOnDisbursalAmount"
                               placeholder="{{'label.input.discountondisbursalamount' | translate}}">
                    </td>
                    <td><a ng-click="deleteTranches($index)"><i class="icon-remove icon-white"></i></a></td>
                </tr>
                </tbody>
            </table>
            </div>
        
        <div class="col-md-12" ng-if="canDisburseToGroupsBanks()">
            <hr/>
            <div class="form-group">
                <label class="control-label col-sm-3">{{'label.heading.groups' | translate}}
                    <span ng-if="parentGroups.length > 1" class="required">*</span></label>
                <div class="col-sm-3" ng-if="parentGroups.length > 1">
                    <select id="groupId"  name = "groupId" ng-model="formData.groupId" class="form-control"
                            ng-options="parentGroup.id as parentGroup.name for parentGroup in parentGroups"
                            value="{{parentGroup.id}}" required>
                      <option value="">{{'label.menu.selectgroup' | translate}}</option>
                    </select>
                     <form-validate valattributeform="updateloanapplicationform" valattribute="groupId"/>
                </div>
                <div class="col-sm-3" ng-if="parentGroups.length == 1">
                    <input type="text" value="{{parentGroups[0].name}}" 
                    class="form-control" ng-model = "formData.groupId" ng-init="formData.groupId = parentGroups[0].id" readonly/> 
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr/>
            <label><strong>{{ 'label.heading.charges' | translate }}</strong></label>
            <select ng-model="chargeFormData.chargeId"
                    ng-options="charge.id as (charge.name + ',' + charge.currency.displaySymbol) for charge in loanaccountinfo.chargeOptions|filter:loanaccountinfo.currency.code:strict"
                    value="{{charge.id}}" class="form-control width170px">
                <option value="">{{'label.selectcharge' | translate}}</option>
            </select>
            <a ng-click="addCharge()"><i class="icon-plus icon-white"></i></a>
        </div>
        <table class="table" class="width100" ng-show="charges.length>0">
            <tr class="graybg">
                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.type' | translate}}</th>
                <th>{{'label.heading.amount' | translate}}</th>
                <th>{{'label.heading.collectedon' | translate}}</th>
                <th>{{'label.heading.date' | translate}}</th>
                <th>{{'label.heading.actions' | translate}}</th>
            </tr>
            <tr ng-repeat="charge in charges">
                <td>{{charge.name}},{{charge.currency.displaySymbol}}</td>
                <td>{{charge.chargeCalculationType.value}}</td>
                <td><input id="{{charges[$index].amount}}" class="form-control" type="text" ng-model="charge.amount"
                           placeholder="{{'label.input.amount' | translate}}" ng-readonly="!hasPermission('UPDATE_LOANCHARGE') || isChargeAmountNonEditable(charge)"></td>
                <td>{{charge.chargeTimeType.value}}</td>
                <td>
                    <input id="charges[{{$index}}].duedate" type="text" datepicker-pop="dd MMMM yyyy"
                           class="form-control"
                           placeholder="{{'label.input.duedate' | translate}}" ng-model="charge.dueDate"
                           is-open="'openedch'+$index" min="minDate" max="'2020-06-22'"/>
                </td>
                <td ng-hide="charge.isMandatory == true" has-permission='DELETE_LOANCHARGE'><a ng-click="deleteCharge($index)"><i class="icon-remove icon-white"></i></a></td>
            </tr>
        </table>

        <div ng-show="previewRepayment" ng-include="'views/loans/loanrepaymentpreview.html'" />
        
        <div class="col-md-offset-5">
            <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' |
                translate}}
            </button>
            <button id="save" type="submit" has-permission='UPDATE_LOANAPPLICATIONREFERENCE' class="btn btn-primary">
                {{'label.button.modifyapplication' |
                translate}}
            </button>
            <a ng-show="showPreviewRepayments()" class="btn btn-primary" ng-click="previewRepayments()">{{'label.button.schedulepreview' | translate}}</a>
            <a ng-show="showBackToPreviewRepayments()" class="btn btn-primary" ng-click="previewRepayment=!previewRepayment">{{'label.anchor.backtoloaninfo'
            | translate}}</a>
        </div>
    </form>
</div>