<div ng-controller="AddSavingsProductGSTMappingController">
        <ul class="breadcrumb">
                <li><a href="#/gstmapping">{{'label.anchor.gstmapping' | translate}}</a></li>
            <li><a href="#/gstmapping/savingsproducts">{{'label.anchor.savingsproductgstmapping' | translate}}</a></li>
            <li class="active">{{'label.anchor.addgstmapping' | translate}}</li>
        </ul>
    <form name="savingsproductgstMapping" novalidate="" class="well form-inline" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.anchor.addgstmapping'
                | translate}}&nbsp;</legend>
            <div class="pull-right">
                <a id="add" type="submit" ng-click="add()" class="btn btn-primary">{{'label.button.add'
                    | translate}}&nbsp;</a>
            </div>

            <table class="table" class="width100">
                <tr class="graybg">
                    <th>{{'label.heading.products' | translate}}</th>
                    <th>{{'label.heading.provisioningpercentage' | translate}}</th>
                    <th>{{'label.input.taxgroup' | translate}}</th>
                </tr>
                <!-- <tr ng-repeat="product  in products">-->
                <tr ng-repeat="savingsOption in savings">
                    <th> <select ng-model="savingsOption.savingsId" ng-options="savingsProduct.id as savingsProduct.name  for savingsProduct in savingsProductOptions"
                            value="{{savingsProduct.id}}" class="form-control width170px">
                            <option value="">{{'label.selectproduct' | translate}}</option>
                        </select></th>
                    <th> <input type="text" class="form-control" ng-model="savingsOption.percentage" /></th>
                    <th>
                        <select ng-model="savingsOption.taxGroupId" ng-options="taxGroup.id as taxGroup.name  for taxGroup in taxGroupOptions"
                            value="{{taxGroup.id}}" class="form-control width170px">
                            <option value="">{{'label.input.selecttaxgroup' | translate}}</option>
                        </select>
                        &nbsp;<a ng-click="removeSavingsProduct($index)">&nbsp;<i class="icon-remove icon-white"></i></a>
                    </th>
                </tr>
            </table>
            <div class="pull right">
                <a id="next" type="submit" ng-click="submit()" class="btn btn-primary">{{'label.button.save'
                    | translate}}&nbsp;</a>
            </div>
            <div class="pull left"><a id="next" type="submit" ng-click="back()" class="btn btn-primary">{{'label.button.back'
                    | translate}}&nbsp;</a></div>
        </fieldset>
    </form>
</div>