<div class="row paddedleft paddedtop">
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" has-permission='READ_TRANSACTION_TYPE_MAPPING' href="#/transactiontypemapping">
                <h4 class="list-group-item-heading"><i class="icon-money"> </i>&nbsp;&nbsp;{{
                    'label.anchor.transactiontypemapping' | translate }}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenformappingtransactiontypes' | translate}}</p>
            </a>
        </div>
        <div class="list-group">
            <a class="list-group-item"  has-permission='READ_TRANCHE' href="#/viewtranche">
                <h4 class="list-group-item-heading"><i class="icon-money"></i>&nbsp;&nbsp;{{'label.anchor.fldg' |
                    translate}}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenforfldg' | translate}}</p>
            </a>
        </div>
        <div class="list-group" ng-if="false">
            <a class="list-group-item" href="#/operationalaccounting">
                <h4 class="list-group-item-heading"><i class="icon-money"></i>&nbsp;&nbsp;{{'label.anchor.APSC' |
                    translate}}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenforapsc' | translate}}</p>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" has-permission='READ_BATCH_ACCOUNTING_TRANSACTIONS' href="#/operationalaccounting">
                <h4 class="list-group-item-heading"><i class="icon-money"></i>&nbsp;&nbsp;{{'label.anchor.operationalaccounting'
                    | translate}}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenforoperationalaccounting' | translate}}</p>
            </a>
        </div>
        <div class="list-group">
            <a class="list-group-item" href="#/gstinvoicing">
                <h4 class="list-group-item-heading"><i class="icon-money"></i>&nbsp;&nbsp;{{'label.anchor.gstinvoicing'
                    | translate}}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenforgstinvoicing' | translate}}</p>
            </a>
        </div>
        <div class="list-group" has-permission='READ_TAX_CONFIGURATION'>
            <a class="list-group-item" href="#/gstmapping">
                <h4 class="list-group-item-heading"><i class="icon-money"></i>&nbsp;&nbsp;{{'label.anchor.gstmapping'
                    |
                    translate}}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenforgstmapping'
                    | translate}}</p>
            </a>
        </div>
    </div>
</div>