<div ng-controller="ChargesGSTMappingController">
        <ul class="breadcrumb">
            <li><a href="#/bc">{{'label.anchor.bc' | translate}}</a></li>
            <li><a  href="#/gstmapping">{{'label.anchor.gstmapping' | translate}}</a></li>
            <li class="active">{{'label.anchor.chargesgstmapping' | translate}}</a></li>
        </ul>
    <form name="chargesgstMapping" novalidate="" class="well form-inline" rc-submit="submit()">
        <api-validate></api-validate>

        <legend>{{'label.anchor.chargesgstmapping'
            | translate}}&nbsp;</legend>
        <div class="pull-right">
            <a id="add" type="submit" has-permission='CREATE_TAX_CONFIGURATION' ng-click="addCharge()" class="btn btn-primary">{{'label.button.add'
                | translate}}&nbsp;</a>
        </div>
        <br>
        <br>
        <div>
            <table class="table" class="width100">
                <tr class="graybg">
                    <th>{{'label.heading.charges' | translate}}</th>
                    <th>{{'label.heading.provisioningpercentage' | translate}}</th>
                    <th>{{'label.input.taxgroup' | translate}}</th>
                    <th>{{'label.heading.actions' | translate}}</th>
                </tr>
                <tr ng-repeat="charge in chargesData">
                    <th>{{charge.name}}</th>
                    <th>{{charge.percentage}}</th>
                    <th>{{charge.taxGroupName}}</th>
                    <th style="padding-left: 25px"><a ng-click="edit(charge.id)"><i class="icon-edit icon-white"></i></a></th>
                </tr>
        </div>
        </fieldset>
    </form>
</div>