<div class="col-md-12" ng-controller="CreateGLMappingsController">
    <ul class="breadcrumb">
        <li><a href="#/bc">{{'label.anchor.bc' | translate}}</a></li>
        <li><a href="#/accountingstatemappings">{{'label.anchor.viewAccountingStateMappings' | translate}}</a></li>
        <li><a href="#/viewaccountingmappingsdetails/{{mappingId}}">{{'label.anchor.viewAccountingMappingDetails' |
                translate}} </a></li>
        <li><a href="#/viewaccountingglmappings/{{mappingId}}/accstate/{{accStateId}}">{{'label.anchor.GLMappings' |
                translate}}</a></li>
        <li class="active">{{'label.anchor.createGLMappings' | translate}}</li>
    </ul>
    <form name="createGLMappingsForm" novalidate="" class="form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.anchor.createGLMappings'|translate}}</legend>
            <div class="col-md-12">
                <div class="form-group">
                    <h4>{{"label.heading.assets" | translate}}</h4>
                    <label class="control-label col-sm-2">{{ 'label.input.fundsource' | translate }}<span class="required">*</span></label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.fundsource' | translate}}"></i>

                    <div class="col-sm-3">
                        <select id="fundSourceAccountId" ng-model="formData.fundSourceAccountId" chosen="assetAccountOptions"
                            ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in assetAccountOptions"
                            value="{{assetAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-2">{{ 'label.input.loanportfolio' | translate }}<span class="required">*</span></label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.loanportfolio' | translate}}"></i>
                    <div class="col-sm-3">
                        <select id="loanPortfolioAccountId" class="form-control" ng-model="formData.loanPortfolioAccountId"
                            chosen="assetAccountOptions" ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in assetAccountOptions"
                            value="{{assetAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'label.input.receivableinterest' | translate }}</label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.receivableinterest' | translate}}"></i>

                    <div class="col-sm-3">
                        <select id="receivableInterestAccountId" class="form-control" ng-model="formData.receivableInterestAccountId"
                            chosen="assetAccountOptions" ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in assetAndLiabilityAccountOptions"
                            value="{{assetAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-2">{{ 'label.input.receivablefees' | translate }}</label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.receivablefees' | translate}}"></i>
                    <div class="col-sm-3">
                        <select id="receivableFeeAccountId" ng-model="formData.receivableFeeAccountId" chosen="assetAccountOptions"
                            ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in assetAccountOptions"
                            value="{{assetAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'label.input.receivablepenalties' | translate }}</label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.receivablepenalties' | translate}}"></i>

                    <div class="col-sm-3">
                        <select id="receivablePenaltyAccountId" ng-model="formData.receivablePenaltyAccountId" chosen="assetAccountOptions"
                            ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in assetAccountOptions"
                            value="{{assetAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                    <div>
                        <label class="control-label col-sm-2">{{ 'label.input.interest.receivable.and.due' | translate
                            }}</label>
                        <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.overdueloanportfolio' | translate}}"></i>
                        <div class="col-sm-3">
                            <select id="interestReceivableAndDueAccountId" ng-model="formData.interestReceivableAndDueAccountId"
                                chosen="assetLiabilityAndIncomeAccountOptions" ng-options="assetLiabilityAndIncomeAccount.id as (assetLiabilityAndIncomeAccount.name +' ('+ assetLiabilityAndIncomeAccount.glCode +')') for assetLiabilityAndIncomeAccount in assetLiabilityAndIncomeAccountOptions"
                                value="{{assetLiabilityAndIncomeAccount.id}}">
                                <option value="">{{'label.menu.selectone'| translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'label.input.transfersinsuspense' | translate }}<span
                            class="required">*</span></label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.transfersinsuspense' | translate}}"></i>
                    <div class="col-sm-3">
                        <select id="transfersInSuspenseAccountId" ng-model="formData.transfersInSuspenseAccountId"
                            chosen="assetAccountOptions" ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in assetAccountOptions"
                            value="{{assetAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-2">{{ 'label.input.valuedatesuspense' | translate }}</label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.valuedatesuspense' | translate}}"></i>
                    <div class="col-sm-3">
                        <select id="valueDateSuspenseAccountId" ng-model="formData.valueDateSuspenseAccountId" chosen="assetAccountOptions"
                            ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in assetAccountOptions"
                            value="{{assetAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <h4>{{"label.heading.income" | translate}}</h4>
                    <label class="control-label col-sm-2">{{ 'label.input.incomefrominterest' | translate }}<span class="required">*</span></label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.incomefrominterest' | translate}}"></i>

                    <div class="col-sm-3">
                        <select id="interestOnLoanAccountId" ng-model="formData.interestOnLoanAccountId" chosen="incomeAccountOptions"
                            ng-options="incomeAccount.id as (incomeAccount.name +' ('+ incomeAccount.glCode +')') for incomeAccount in incomeAccountOptions"
                            value="{{incomeAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-2">{{ 'label.input.incomefromfees' | translate }}<span class="required">*</span></label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.incomefromfees' | translate}}"></i>
                    <div class="col-sm-3">
                        <select id="incomeFromFeeAccountId" ng-model="formData.incomeFromFeeAccountId" chosen="incomeAccountOptions"
                            ng-options="incomeAccount.id as (incomeAccount.name +' ('+ incomeAccount.glCode +')') for incomeAccount in incomeAccountOptions"
                            value="{{incomeAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'label.input.incomefrompenalties' | translate }}<span
                            class="required">*</span></label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.incomefrompenalties' | translate}}"></i>

                    <div class="col-sm-3">
                        <select id="incomeFromPenaltyAccountId" ng-model="formData.incomeFromPenaltyAccountId" chosen="incomeAccountOptions"
                            ng-options="incomeAccount.id as (incomeAccount.name +' ('+ incomeAccount.glCode +')') for incomeAccount in incomeAccountOptions"
                            value="{{incomeAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-2">{{ 'label.input.recoverypayments' | translate }}<span class="required">*</span></label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.recoverypayments' | translate}}"></i>
                    <div class="col-sm-3">
                        <select id="incomeFromRecoveryAccountId" ng-model="formData.incomeFromRecoveryAccountId" chosen="incomeAccountOptions"
                            ng-options="incomeAccount.id as (incomeAccount.name +' ('+ incomeAccount.glCode +')') for incomeAccount in incomeAccountOptions"
                            value="{{incomeAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'label.input.lossandgainfromadjustment' | translate }}<span
                            class="required">*</span></label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.lossandgainfromadjustment' | translate}}"></i>
                    <div class="col-sm-3">
                        <select id="lossGainWithAdjustmentAccountId" ng-model="formData.lossGainWithAdjustmentAccountId"
                            chosen="incomeAccountOptions" ng-options="incomeAccount.id as (incomeAccount.name +' ('+ incomeAccount.glCode +')') for incomeAccount in incomeAccountOptions"
                            value="{{incomeAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <h4>{{"label.heading.expenses" | translate}}</h4>
                    <label class="control-label col-sm-2">{{ 'label.input.loseswrittenoff' | translate }}<span class="required">*</span></label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.loseswrittenoff' | translate}}"></i>

                    <div class="col-sm-3">
                        <select id="writeOffAccountId" ng-model="formData.writeOffAccountId" chosen="expenseAccountOptions"
                            ng-options="expenseAccount.id as (expenseAccount.name +' ('+ expenseAccount.glCode +')') for expenseAccount in expenseAccountOptions"
                            value="{{expenseAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <h4>{{"label.heading.liabilities" | translate}}</h4>
                    <label class="control-label col-sm-2">{{ 'label.input.overpaymentliability' | translate }}<span
                            class="required">*</span></label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.overpaymentliability' | translate}}"></i>

                    <div class="col-sm-3">
                        <select id="overpaymentLiabilityAccountId" ng-model="formData.overpaymentLiabilityAccountId"
                            chosen="liabilityAccountOptions" ng-options="liabilityAccount.id as (liabilityAccount.name +' ('+ liabilityAccount.glCode +')') for liabilityAccount in liabilityAccountOptions"
                            value="{{liabilityAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-2">{{
                        'label.input.npainterestsuspense' | translate }}</label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.npainterestsuspense' | translate}}"></i>

                    <div class="col-sm-3">
                        <select id="npaInterestSuspenseAccountId" ng-model="formData.npaInterestSuspenseAccountId"
                            chosen="incomeAndLiabilityAccountOptions" ng-options="incomeAccount.id as (incomeAccount.name +' ('+ incomeAccount.glCode +')') for incomeAccount in incomeAndLiabilityAccountOptions"
                            value="{{incomeAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">

                    <label class="control-label col-sm-2">{{ 'label.input.npafeessuspense' | translate }}</label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.npafeessuspense' | translate}}"></i>
                    <div class="col-sm-3">
                        <select id="npaFeeSuspenseAccountId" ng-model="formData.npaFeeSuspenseAccountId" chosen="incomeAndLiabilityAccountOptions"
                            ng-options="incomeAccount.id as (incomeAccount.name +' ('+ incomeAccount.glCode +')') for incomeAccount in incomeAndLiabilityAccountOptions"
                            value="{{incomeAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>

                    <label class="control-label col-sm-2">{{ 'label.input.npapenaltiessuspense' | translate }}</label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.npapenaltiessuspense' | translate}}"></i>

                    <div class="col-sm-3">
                        <select id="npaPenaltySuspenseAccountId" ng-model="formData.npaPenaltySuspenseAccountId" chosen="incomeAndLiabilityAccountOptions"
                            ng-options="incomeAccount.id as (incomeAccount.name +' ('+ incomeAccount.glCode +')') for incomeAccount in incomeAndLiabilityAccountOptions"
                            value="{{incomeAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'label.input.valuedatesuspensepayable' | translate }}</label>
                    <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.valuedatesuspensepayable' | translate}}"></i>

                    <div class="col-sm-3">
                        <select id="valueDateSuspensePayableAccountId" ng-model="formData.valueDateSuspensePayableAccountId"
                            chosen="liabilityAccountOptions" ng-options="liabilityAccount.id as (liabilityAccount.name +' ('+ liabilityAccount.glCode +')') for liabilityAccount in liabilityAccountOptions"
                            value="{{liabilityAccount.id}}">
                            <option value="">{{'label.menu.selectone'| translate }}</option>
                        </select>
                    </div>
                </div>

                <hr>
                <div ng-if="false" class="form-group">
                    <h3>{{'label.heading.subsidy' | translate}}
                    </h3>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.subsidyFundSource' | translate }}<span
                                class="required">*</span></label>
                        <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.input.subsidyFundSource' | translate}}"></i>
                        <div class="col-sm-2">
                            <select id="subsidyFundSource" ng-model="formData.subsidyFundSourceId" chosen="liabilityAccountOptions"
                                ng-options="liabilityAccount.id as (liabilityAccount.name +' ('+ liabilityAccount.glCode +')') for liabilityAccount in liabilityAccountOptions"
                                value="{{liabilityAccount.id}}">
                                <option value="">{{'label.menu.selectone'| translate }}</option>
                            </select>
                        </div>
                        <label class="control-label col-sm-3 col-sm-offset-1">{{ 'label.input.subsidyAccount' |
                            translate }}<span class="required">*</span></label>
                        <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.input.subsidyAccount' | translate}}"></i>
                        <div class="col-sm-2">
                            <select id="subsidyAccount" ng-model="formData.subsidyAccountId" chosen="assetAccountOptions"
                                ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in assetAccountOptions"
                                value="{{assetAccount.id}}">
                                <option value="">{{'label.menu.selectone'| translate }}</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="form-group">
                    <h3>{{'label.heading.overdue' | translate}}
                    </h3>

                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.overdue.loan.portfolio' | translate }}</label>
                        <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.overdueloanportfolio' | translate}}"></i>
                        <div class="col-sm-3">
                            <select id="overdueLoanPortfolioAccountId" ng-model="formData.overdueLoanPortfolioAccountId"
                                chosen="assetLiabilityAndIncomeAccountOptions" ng-options="assetLiabilityAndIncomeAccount.id as (assetLiabilityAndIncomeAccount.name +' ('+ assetLiabilityAndIncomeAccount.glCode +')') for assetLiabilityAndIncomeAccount in assetLiabilityAndIncomeAccountOptions"
                                value="{{assetLiabilityAndIncomeAccount.id}}">
                                <option value="">{{'label.menu.selectone'| translate }}</option>
                            </select>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.overdue.interest.on.loans' | translate }}</label>
                        <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.overdueloanportfolio' | translate}}"></i>
                        <div class="col-sm-3">
                            <select id="overdueReceivableInterestAccountId" ng-model="formData.overdueReceivableInterestAccountId"
                                chosen="assetLiabilityAndIncomeAccountOptions" ng-options="assetLiabilityAndIncomeAccount.id as (assetLiabilityAndIncomeAccount.name +' ('+ assetLiabilityAndIncomeAccount.glCode +')') for assetLiabilityAndIncomeAccount in assetLiabilityAndIncomeAccountOptions"
                                value="{{assetLiabilityAndIncomeAccount.id}}">
                                <option value="">{{'label.menu.selectone'| translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.overdue.income.from.fees' | translate }}</label>
                        <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.overdueloanportfolio' | translate}}"></i>
                        <div class="col-sm-3">
                            <select id="overdueReceivableFeeAccountId" ng-model="formData.overdueReceivableFeeAccountId"
                                chosen="assetLiabilityAndIncomeAccountOptions" ng-options="assetLiabilityAndIncomeAccount.id as (assetLiabilityAndIncomeAccount.name +' ('+ assetLiabilityAndIncomeAccount.glCode +')') for assetLiabilityAndIncomeAccount in assetLiabilityAndIncomeAccountOptions"
                                value="{{assetLiabilityAndIncomeAccount.id}}">
                                <option value="">{{'label.menu.selectone'| translate }}</option>
                            </select>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.overdue.income.from.penalties' |
                            translate }}</label>
                        <i class="icon-question-sign col-sm-1 icon-white" tooltip="{{'label.tooltip.overdueloanportfolio' | translate}}"></i>
                        <div class="col-sm-3">
                            <select id="overdueReceivablePenaltyAccountId" ng-model="formData.overdueReceivablePenaltyAccountId"
                                chosen="assetLiabilityAndIncomeAccountOptions" ng-options="assetLiabilityAndIncomeAccount.id as (assetLiabilityAndIncomeAccount.name +' ('+ assetLiabilityAndIncomeAccount.glCode +')') for assetLiabilityAndIncomeAccount in assetLiabilityAndIncomeAccountOptions"
                                value="{{assetLiabilityAndIncomeAccount.id}}">
                                <option value="">{{'label.menu.selectone'| translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>


                <div class="col-md-12" ng-show="showOrHideValue == 'hide'">
                    <h4>{{'label.heading.advancedaccountingrules' | translate}}[<a ng-click="showOrHide(showOrHideValue)">{{showOrHideValue}}</a>]
                    </h4>
                    <div class="col-md-8">{{'label.heading.configurefundsourcesforpaymentchannels' | translate}}</div>
                    <div class="col-md-4">
                        <a class="btn btn-primary" ng-click="addConfigureFundSource()">{{ 'label.button.add' |
                            translate }}</a>
                    </div>
                    <table class="table" data-ng-show="frFlag">
                        <tr class="graybg">
                            <th class="width30">{{'label.heading.paymenttype' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.fundsource' | translate}}</th>
                            <th></th>
                            <th class="width30"></th>
                            <th></th>
                            <th class="width30">{{'label.heading.actions' | translate}}</th>
                        </tr>
                        <tr ng-repeat="configureFundOption in configureFundOptions">
                            <td class="width30">
                                <select id="configureFundOptions[{{$index}}].paymentTypeId" class="form-control"
                                    ng-model="configureFundOption.paymentTypeId" ng-options="paymentType.id as paymentType.name for paymentType in configureFundOption.paymentTypeOptions"
                                    value="{{paymentType.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                                <select id="configureFundOptions[{{$index}}].fundSourceAccountId" ng-model="configureFundOption.fundSourceAccountId"
                                    chosen="configureFundOption.assetAccountOptions" ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in configureFundOption.assetAccountOptions"
                                    value="{{assetAccount.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                            </td>
                            <td></td>
                            <td class="width30">
                                <a ng-click="deleteFund($index)"><i class="icon-remove icon-white"></i></a>
                            </td>
                        </tr>
                    </table>
                    <div class="col-md-8">{{'label.heading.mapfeestoincomeaccounts' | translate}}</div>
                    <div class="col-md-4">
                        <a class="btn btn-primary" ng-click="mapFees()">{{ 'label.button.add' | translate }}</a>
                    </div>
                    <table class="table width100" data-ng-show="fiFlag">
                        <tr class="graybg">
                            <th class="width30">{{'label.heading.fees' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.incomeaccount' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.fundsource' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.actions' | translate}}</th>
                        </tr>
                        <tr ng-repeat="specificMapping in specificIncomeAccountMapping">
                            <td class="width30">
                                <select id="specificIncomeAccountMapping[{{$index}}].chargeId" ng-model="specificMapping.chargeId"
                                    class="form-control" ng-options="charge.id as charge.name for charge in chargeOptions"
                                    value="{{charge.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                                <select id="specificIncomeAccountMapping[{{$index}}].incomeAccountId" ng-model="specificMapping.incomeAccountId"
                                    chosen="incomeAndLiabilityAccountOptions" ng-options="account.id as (account.name +' ('+ account.glCode +')') for account in incomeAndLiabilityAccountOptions"
                                    value="{{account.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                                <select id="specificIncomeAccountMapping[{{$index}}].incomeAccountId" ng-model="specificMapping.fundSourceAccountId"
                                    chosen="assetAccountOptions" ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in assetAccountOptions"
                                    value="{{assetAccount.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                                <a ng-click="deleteFee($index)"><i class="icon-remove icon-white"></i></a>
                            </td>
                        </tr>
                    </table>
                    <div class="col-md-8">{{'label.heading.mappenaltiestospecificincomeaccounts' | translate}}</div>
                    <div class="col-md-4">
                        <a class="btn btn-primary" ng-click="mapPenalty()">{{ 'label.button.add' | translate }}</a>
                    </div>
                    <table class="table" data-ng-show="piFlag">
                        <tr class="graybg">
                            <th class="width30">{{'label.heading.penalty' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.incomeaccount' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.fundsource' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.actions' | translate}}</th>
                        </tr>
                        <tr ng-repeat="penaltySpecificIncomeaccount in penaltySpecificIncomeaccounts">
                            <td class="width30">
                                <select id="penaltySpecificIncomeaccounts[{{$index}}].chargeId" class="form-control"
                                    ng-model="penaltySpecificIncomeaccount.chargeId" ng-options="charge.id as charge.name for charge in penaltyOptions"
                                    value="{{charge.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                                <select id="penaltySpecificIncomeaccounts[{{$index}}].incomeAccountId" class="form-control"
                                    ng-model="penaltySpecificIncomeaccount.incomeAccountId" ng-options="account.id as (account.name +' ('+ account.glCode +')') for account in incomeAccountOptions"
                                    value="{{account.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                                <select id="penaltySpecificIncomeaccounts[{{$index}}].fundSourceAccountId" ng-model="penaltySpecificIncomeaccount.fundSourceAccountId"
                                    chosen="assetAccountOptions" ng-options="assetAccount.id as (assetAccount.name +' ('+ assetAccount.glCode +')') for assetAccount in assetAccountOptions"
                                    value="{{assetAccount.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30"><i class="icon-remove" ng-click="deletePenalty($index)"></i></td>
                        </tr>
                    </table>
                    <!-- code value added for write of account-->
                    <div class="col-md-8">{{'label.heading.mapwriteoffreasontoexpenseaccounts' | translate}}</div>
                    <div class="col-md-4">
                        <a class="btn btn-primary" ng-click="mapWriteOffReason()">{{ 'label.button.add' | translate }}</a>
                    </div>
                    <table class="table width100" data-ng-show="writeOffFlag">
                        <tr class="graybg">
                            <th class="width30">{{'label.heading.writeoffreason' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.expenseaccount' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.actions' | translate}}</th>
                        </tr>
                        <tr ng-repeat="codeValueAccountMapping in codeValueSpecificAccountMappings">
                            <td class="width30">
                                <select id="codeValueSpecificAccountMappings[{{$index}}].codeValueId" ng-model="codeValueAccountMapping.codeValueId"
                                    class="form-control" ng-options="writeOffReasonOption.id as writeOffReasonOption.name for writeOffReasonOption in writeOffReasonOptions"
                                    value="{{writeOffReasonOption.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                                <select id="codeValueSpecificAccountMappings[{{$index}}].expenseAccountId" ng-model="codeValueAccountMapping.expenseAccountId"
                                    chosen="expenseAccountOptions" ng-options="account.id as (account.name +' ('+ account.glCode +')') for account in expenseAccountOptions"
                                    value="{{account.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                                <a ng-click="deleteCodeValue($index)"><i class="icon-remove icon-white"></i></a>
                            </td>
                        </tr>
                    </table>
                    <!-- code value end for write of amount -->
                    <div class="col-md-8">{{'label.heading.mapTransactionTypeToPortfolio' | translate}}</div>
                    <div class="col-md-4">
                        <a class="btn btn-primary" ng-click="mapTransaction()">{{ 'label.button.add' | translate }}</a>
                    </div>
                    <table class="table width100" data-ng-show="tlFlag">
                        <tr class="graybg">
                            <th class="width30">{{'label.heading.transactionType' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.loanPortfolio.account' | translate}}</th>
                            <th></th>
                            <th class="width30">{{'label.heading.actions' | translate}}</th>
                        </tr>
                        <tr ng-repeat="transactionTypeMapping in transactionTypeMappings">
                            <td class="width30">
                                <select id="transactionTypeMapping[{{$index}}].transactionTypeId" ng-model="transactionTypeMapping.transactionTypeId"
                                    class="form-control" ng-options="transactionType.id as transactionType.value for transactionType in transactionTypeOptions"
                                    value="{{transactionType.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                                <select id="transactionTypeMapping[{{$index}}].loanPortfolioAccountId" ng-model="transactionTypeMapping.loanPortfolioAccountId"
                                    chosen="assetAndLiabilityAccountOptions" ng-options="account.id as (account.name +' ('+ account.glCode +')') for account in assetAndLiabilityAccountOptions"
                                    value="{{account.id}}">
                                    <option value="">{{'label.menu.selectone'| translate }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td class="width30">
                                <a ng-click="deleteTransaction($index)"><i class="icon-remove icon-white"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="center">
                    <button id="cancel" ng-click="routeTo()" type="reset" class="btn btn-warning">{{'label.button.cancel'
                        | translate}}
                    </button>
                    <button id="save" type="submit" class="btn btn-primary" has-permission=''>{{'label.button.save'
                        | translate}}
                    </button>
                </div>
        </fieldset>
    </form>
</div>