<div class="col-md-12" ng-controller="EditTransactionTypeController">
    <ul class="breadcrumb">
        <li><a href="#/bc">{{'label.anchor.bc' | translate}}</a></li>
        <li><a href="#/transactiontypemapping">{{'label.anchor.transactiontypes' | translate}}</a></li>
        <li><a ng-click="routeTO(template.id)">{{'label.anchor.viewtransactiontype' | translate}}</a></li>
        <li class="active">{{'label.anchor.edittransactiontype' | translate}}</li>
    </ul>
    <form name="edittransactiontype" novalidate="" class="form-horizontal well" rc-submit="submit(template.id)">
        <api-validate></api-validate>
        <legend>{{'label.anchor.edittransactiontype' | translate}}</legend>
        <fieldset>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.heading.transactionType' | translate}} <span class="required">*</span>
                </label>

                <div class="col-sm-3">
                    <div>
                        <select chosen="transactionTypeOptions" id="transactionTypeId" ng-model="formData.transactionTypeId"
                            class="form-control" ng-options="transactionTypeOption.id as transactionTypeOption.value for transactionTypeOption in transactionTypeOptions"
                            value="{{transactionTypeOption.id}}" ng-disabled="true"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.heading.accounting.level' | translate}} <span class="required">*</span>
                </label>

                <div class="col-sm-3">
                    <select chosen="accountLevelTypeOptions" id="accountingLevelId" name="accountingLevel" ng-model="formData.accountingLevelId"
                        class="form-control" ng-options="accountLevelTypeOption.id as accountLevelTypeOption.value for accountLevelTypeOption in accountLevelTypeOptions"
                        value="{{accountLevelTypeOption.id}}">
                        <option value="">{{'label.menu.selectone' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.heading.productTypeOptions' | translate}} <span class="required">*</span>
                </label>

                <div class="col-sm-3">
                    <div>
                        <select chosen ="productTypeOptions" id="productTypeId" name="productType" ng-model="formData.productTypeId" class="form-control" ng-options="productTypeOption.id as productTypeOption.value for productTypeOption in productTypeOptions"
                            value="{{productTypeOption.id}}" ng-change="changeProductType(formData.productTypeId)" required late-validate>
                            <option value="">{{'label.menu.selectone' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                        <form-validate valattributeform="edittransactiontype" valattribute="productType" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.heading.productOptions' | translate}} <span class="required">*</span>
                </label>

                <div class="col-sm-3">
                    <div>
                        <select chosen ="productOptions" name="product" id="productId" ng-model="formData.productId" class="form-control" ng-options="productOption.id as productOption.name for productOption in productOptions"
                            value="{{productOption.id}}" required late-validate>
                            <option value="">{{'label.menu.selectone' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                        <form-validate valattributeform="edittransactiontype" valattribute="product" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.input.classification' | translate}}
                </label>
            
                <div class="col-sm-3">
                    <div>
                        <select chosen="bcAccountingTypeOptions" id="bcAccountingTypeId" ng-model="formData.bcAccountingTypeId"
                            class="form-control" ng-options="accountingType.id as accountingType.value for accountingType in bcAccountingTypeOptions"
                            value="{{accountingType.id}}">
                            <option value="">{{'label.menu.selectone' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.istransfer' | translate }}</label>
                <div class="col-sm-2">
                    <label class="checkbox control-label">
                        <input id="istransfer" type="checkbox" ng-model="formData.istransfer">
                    </label>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{'label.heading.account.mapping' | translate}}
                </label>

                <div class="col-sm-3">
                    <div>
                        <a class="btn btn-primary" ng-click="addMapping()"><i class="icon-plus-sign icon-large"></i></a>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <table class="table" data-ng-show="showAcounting">
                <tr class="graybg">
                    <th class="width30">{{'label.heading.transactiontype' | translate}}</th>
                    <th class="width30">{{'label.heading.creditaccount' | translate}}</th>
                    <th class="width30">{{'label.heading.debitaccount' | translate}}</th>
                    <th class="width30">{{'label.heading.actions' | translate}}</th>
                </tr>
                <tr ng-repeat="transactionTypeMapping in transactionTypeMappings">
                    <td class="width30">
                        <select chosen ="transactionMappingOptions"  id="transactionTypeMapping[{{$index}}].mappingTypeId" name="mappingType" ng-model="transactionTypeMapping.mappingTypeId"
                        class="form-control" ng-options="transactionMappingOption.id as transactionMappingOption.value for transactionMappingOption in transactionMappingOptions"
                        value="{{transactionMappingOption.id}}">
                        <option value="">{{'label.menu.selectone' | translate}}</option>
                    </select>
                    </td>
                    <td class="width30">
                        <select chosen ="glAccounts" id="transactionTypeMapping[{{$index}}].creditGlId" name="creditGlId" ng-model="transactionTypeMapping.creditGlId"
                            class="form-control" ng-options="glAccount.id as (glAccount.name +' ('+ glAccount.glCode +')') for glAccount in glAccounts"
                            value="{{glAccount.id}}" >
                            <option value="">{{'label.menu.selectone' | translate}}</option>
                        </select>
                    </td>
                    <td class="width30">
                        <select chosen ="glAccounts" id="transactionTypeMapping[{{$index}}].debitGlId" name="debitGlId" ng-model="transactionTypeMapping.debitGlId"
                            class="form-control" ng-options="glAccount.id as (glAccount.name +' ('+ glAccount.glCode +')') for glAccount in glAccounts"
                            value="{{glAccount.id}}">
                            <option value="">{{'label.menu.selectone' | translate}}</option>
                        </select>
                    </td>
                    <td class="width30">
                        <a ng-click="deleteMaping($index)"><i class="icon-remove icon-white"></i></a>
                    </td>
                </tr>
                </table>
            </div>
            <div class="col-md-offset-5">
                <a id="cancel" ng-click="routeTO(template.id)" class="btn btn-default">{{'label.button.cancel' |
                    translate}}</a>
                <button id="save" type="submit" class="btn btn-primary" ng-hide="blockUI" has-permission='UPDATE_TRANSACTION_TYPE_MAPPING'>{{'label.button.save'
                    | translate}}</button>
                <button class="btn btn-info" ng-show="blockUI"><strong>{{'label.button.processing' | translate}}</strong></button>
            </div>
        </fieldset>
    </form>
</div>