<div class="row paddedleft paddedtop">
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" has-permission='' href="#/viewtranche">
                <h4 class="list-group-item-heading"><i class="icon-money"> </i>&nbsp;&nbsp;{{
                    'label.anchor.createtranche' | translate }}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenfortranchecreation' | translate}}</p>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/">
                <h4 class="list-group-item-heading"><i class="icon-money"></i>&nbsp;&nbsp;{{'label.anchor.fldgsettlement'
                    | translate}}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenforfldgsettlement' | translate}}</p>
            </a>
        </div>
    </div>
</div>