<ul class="breadcrumb">
    <li><a href="#/bc">{{'label.anchor.bc' | translate}}</a></li>
    <li class="active">{{'label.anchor.gstmapping' | translate}}</li>
</ul>
<div class="row paddedleft paddedtop">
    <br>
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/gstmapping/loanproducts">
                <h4 class="list-group-item-heading"><i class="icon-money"> </i>&nbsp;&nbsp;{{
                    'label.anchor.loanproductgstmapping'
                    | translate }}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenforloanproductgstmapping'
                    | translate}}</p>
            </a>
        </div>
        <div class="list-group">
            <a class="list-group-item" href="#/gstmapping/savingsproducts">
                <h4 class="list-group-item-heading"><i class="icon-money"> </i>&nbsp;&nbsp;{{
                    'label.anchor.savingsproductgstmapping'
                    | translate }}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenforsavingsproductgstmapping'
                    | translate}}</p>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/gstmapping/charges">
                <h4 class="list-group-item-heading"><i class="icon-money"> </i>&nbsp;&nbsp;{{
                    'label.anchor.chargesgstmapping'
                    | translate }}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenforchargesgstmapping'
                    | translate}}</p>
            </a>
        </div>
        <div class="list-group">
            <a class="list-group-item" href="#/gstmapping/officeMappings">
                <h4 class="list-group-item-heading"><i class="icon-money"> </i>&nbsp;&nbsp;{{
                                'label.anchor.officeTaxMappings'
                                | translate }}</h4>
                <p class="list-group-item-text">{{'label.anchor.screenforOfficeTaxMappings'
                                | translate}}</p>
            </a>
        </div>
    </div>
</div>