<div>
    <div>
        <!--class="span gray-head"-->
        <div>
            <div>
                <h4>{{ 'label.heading.fromtime' | translate}}:&nbsp;&nbsp;<span>{{savingsFromTime}}</span>
                    <div class="pull right">{{ 'label.heading.totime' | translate}}:&nbsp;&nbsp;<span>{{savingsToTime}}</span></div>
                </h4>
            </div>
            <div>
                <h4>{{ 'label.heading.office' | translate}}:&nbsp;&nbsp;<span>{{savingsOfficeName}}</span>
                    <div class="pull right"> {{ 'label.heading.date' | translate}}:&nbsp;&nbsp;<span>{{savingsToTime |
                            DateFormat}}</span>
                </h4>
            </div>
        </div>
    </div>
    <!---- ng-repeat="product in products" -->
    <div>
        <h3>{{ 'label.anchor.APSC' | translate }}:</h3>
        <table class="table-bordered table view-table">
            <thead>
                <tr class="graybg">
                    <th>{{'label.heading.loanProductName' | translate}}</th>
                    <th>{{'label.heading.type' | translate}}</th>
                    <th>{{'label.heading.glcode' | translate}}</th>
                    <th>{{'label.heading.debit' | translate}}</th>
                    <th>{{'label.heading.credit' | translate}}</th>
                </tr>
            </thead>
            <tbody ng-repeat="saving in savings">
                <!---- ng-repeat="productdetail in productdetails" -->
                <tr ng-repeat="savingDetail in saving.details">
                    <td>{{saving.productDetail.name}}</td>
                    <td>{{savingDetail.type.value}}</td>
                    <td>{{savingDetail.gLAccountData.name}}&nbsp;({{savingDetail.gLAccountData.glCode}})</td>
                    <td align="right">
                        <span ng-if="savingDetail.type.value=='DEBIT'">{{savingDetail.amount | number:2}}</span>
                    </td>
                    <td align="right">
                        <span ng-if="savingDetail.type.value=='CREDIT'">{{savingDetail.amount | number:2}}</span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                <tr>
                    <td colspan="3">{{'label.input.total' | translate }}</td>
                    <td align="right">{{drSavingsTotal | number:2}}</td>
                    <td align="right">{{crSavingsTotal | number:2}}</td>
                </tr>
                </tr>
            </tfoot>
        </table>
    </div>
    <div ng-if="false" class="pull-right">
        <a id="save" type="submit" has-permission='CREATE_BATCH_ACCOUNTING_TRANSACTIONS' ng-click="submit()" class="btn btn-primary">{{'label.button.save'
            | translate}}</a>
    </div>
    <div class="pull-left">
        <a id="previous" type="submit" ng-click="previous()" class="btn btn-primary"><i class="icon-arrow-left"></i>&nbsp;{{'label.button.previous'
            | translate}}</a>
    </div>
</div>