<div>
    <div>
        <!--class="span gray-head"-->
        <div>
            <div>
                <h4>{{ 'label.heading.fromtime' | translate}}:&nbsp;&nbsp;<span>{{fromTime}}</span>
                    <div class="pull right">{{ 'label.heading.totime' | translate}}:&nbsp;&nbsp;<span>{{toTime}}</span></div>
                </h4>
            </div>
            <div>
                <h4>{{ 'label.heading.office' | translate}}:&nbsp;&nbsp;<span>{{officeName}}</span>
                    <div class="pull right"> {{ 'label.heading.date' | translate}}:&nbsp;&nbsp;<span>{{toTime |
                            DateFormat}}</span>
                </h4>
            </div>
        </div>
    </div>
    <!---- ng-repeat="product in products" -->
    <h3>{{ 'label.heading.disbursements' | translate }}:</h3>
    <div>
        <table class="table-bordered table view-table">
            <thead>
                <tr class="graybg">
                    <th>{{'label.heading.loanProductName' | translate}}</th>
                    <th>{{'label.heading.type' | translate}}</th>
                    <th>{{'label.heading.glcode' | translate}}</th>
                    <th>{{'label.heading.debit' | translate}}</th>
                    <th>{{'label.heading.credit' | translate}}</th>
                </tr>
            </thead>
            <tbody ng-repeat="disbursement in disbursements">
                <!---- ng-repeat="disbursementDetail in disbursementDetails" -->
                <tr ng-repeat="disbursementDetail in disbursement.details">
                    <td>{{disbursement.productDetail.name}}</td>
                    <td>{{disbursementDetail.type.value}}</td>
                    <td>{{disbursementDetail.gLAccountData.name}} ({{disbursementDetail.gLAccountData.glCode}})</td>
                    <td align="right">
                        <span ng-if="disbursementDetail.type.value=='DEBIT'">{{disbursementDetail.amount | number:2}}</span>
                    </td>
                    <td align="right">
                        <span ng-if="disbursementDetail.type.value=='CREDIT'">{{disbursementDetail.amount | number:2}}</span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">{{'label.input.total' | translate }}</td>
                    <td align="right">{{drDisbursemtsTotal | number:2}}</td>
                    <td align="right">{{crDisbursemtsTotal | number:2}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <div ng-if="isProcessingFee">
            <h3>{{ 'label.anchor.loanprocessingfee' | translate }}:</h3>
            <table class="table-bordered table view-table">
                <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.loanProductName' | translate}}</th>
                        <th>{{'label.heading.type' | translate}}</th>
                        <th>{{'label.heading.glcode' | translate}}</th>
                        <th>{{'label.heading.debit' | translate}}</th>
                        <th>{{'label.heading.credit' | translate}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="disbursementCharge in disbursementCharges" ng-if="disbursementCharge.chargeType == 'PROCESSING_FEES'">
                    <!---- ng-repeat="productdetail in productdetails" -->
                    <tr ng-repeat="disbursementChargeDetail in disbursementCharge.details">
                        <td>{{disbursementCharge.productDetail.name}}</td>
                        <td>{{disbursementChargeDetail.type.value}}</td>
                        <td>{{disbursementChargeDetail.gLAccountData.name}}
                            ({{disbursementChargeDetail.gLAccountData.glCode}})</td>
                        <td align="right">
                            <span ng-if="disbursementChargeDetail.type.value=='DEBIT'">{{disbursementChargeDetail.amount
                                | number:2}}</span>
                        </td>
                        <td align="right">
                            <span ng-if="disbursementChargeDetail.type.value=='CREDIT'">{{disbursementChargeDetail.amount
                                | number:2}}</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">{{'label.input.total' | translate }}</td>
                        <td align="right">{{drProcessingFeeTotal | number:2}}</td>
                        <td align="right">{{crProcessingFeeTotal | number:2}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div ng-if="isSingleInsurance">
            <h3>{{ 'label.anchor.singleinsurancefee' | translate }}:</h3>
            <table class="table-bordered table view-table">
                <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.loanProductName' | translate}}</th>
                        <th>{{'label.heading.type' | translate}}</th>
                        <th>{{'label.heading.glcode' | translate}}</th>
                        <th>{{'label.heading.debit' | translate}}</th>
                        <th>{{'label.heading.credit' | translate}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="disbursementCharge in disbursementCharges" ng-if="disbursementCharge.chargeType == 'SINGLE_INSURANCE_CHARGES'">
                    <!---- ng-repeat="productdetail in productdetails" -->
                    <tr ng-repeat="disbursementChargeDetail in disbursementCharge.details">
                        <td>{{disbursementCharge.productDetail.name}}</td>
                        <td>{{disbursementChargeDetail.type.value}}</td>
                        <td>{{disbursementChargeDetail.gLAccountData.name}}
                            ({{disbursementChargeDetail.gLAccountData.glCode}})</td>
                        <td align="right">
                            <span ng-if="disbursementChargeDetail.type.value=='DEBIT'">{{disbursementChargeDetail.amount
                                | number:2}}</span>
                        </td>
                        <td align="right">
                            <span ng-if="disbursementChargeDetail.type.value=='CREDIT'">{{disbursementChargeDetail.amount
                                | number:2}}</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">{{'label.input.total' | translate }}</td>
                        <td align="right">{{drSingleInsuranceTotal | number:2}}</td>
                        <td align="right">{{crSingleInsuranceTotal | number:2}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div ng-if="isDoubleInsurance">
            <h3>{{ 'label.anchor.doubleinsurancefee' | translate }}:</h3>
            <table class="table-bordered table view-table">
                <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.loanProductName' | translate}}</th>
                        <th>{{'label.heading.type' | translate}}</th>
                        <th>{{'label.heading.glcode' | translate}}</th>
                        <th>{{'label.heading.debit' | translate}}</th>
                        <th>{{'label.heading.credit' | translate}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="disbursementCharge in disbursementCharges" ng-if="disbursementCharge.chargeType == 'DOUBLE_INSURANCE_CHARGES'">
                    <!---- ng-repeat="productdetail in productdetails" -->
                    <tr ng-repeat="disbursementChargeDetail in disbursementCharge.details">
                        <td>{{disbursementCharge.productDetail.name}}</td>
                        <td>{{disbursementChargeDetail.type.value}}</td>
                        <td>{{disbursementChargeDetail.gLAccountData.name}}</td>
                        <td align="right">
                            <span ng-if="disbursementChargeDetail.type.value=='DEBIT'">{{disbursementChargeDetail.amount
                                | number:2}}</span>
                        </td>
                        <td align="right">
                            <span ng-if="disbursementChargeDetail.type.value=='CREDIT'">{{disbursementChargeDetail.amount
                                | number:2}}</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">{{'label.input.total' | translate }}</td>
                        <td align="right">{{drDoubleInsuranceTotal | number:2}}</td>
                        <td align="right">{{crDoubleInsuranceTotal | number:2}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <div class="pull-right">
            <a id="next" type="submit" has-permission='' ng-click="next()" class="btn btn-primary"></i>{{'label.button.next'
                | translate}}&nbsp;<i class="icon-arrow-right"></i></a>
        </div>
    </div>