<div ng-controller="SavingsProductGSTMappingController">
    <ul class="breadcrumb">
            <li><a  href="#/gstmapping">{{'label.anchor.gstmapping' | translate}}</a></li>
            <li class="active">{{'label.anchor.savingsproductgstmapping' | translate}}</a></li>
    </ul>
    <form name="savingsproductgstMapping" novalidate="" class="well form-inline" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.anchor.savingsproductgstmapping'
                | translate}}&nbsp;</legend>
            <div class="pull-right">
                <a id="add" type="submit" has-permission='CREATE_TAX_CONFIGURATION' ng-click="addSavingProduct()" class="btn btn-primary">{{'label.button.add'
                    | translate}}&nbsp;</a>
            </div>
            <br>
            <br>
            <div>
                <table class="table" class="width100">
                    <tr class="graybg">
                        <th>{{'label.heading.products' | translate}}</th>
                        <th>{{'label.heading.provisioningpercentage' | translate}}</th>
                        <th>{{'label.input.taxgroup' | translate}}</th>
                        <th>{{'label.heading.actions' | translate}}</th>
                    </tr>
                    <tr ng-repeat="savingsproduct in savingsProductData">
                        <th>{{savingsproduct.name}}</th>
                        <th>{{savingsproduct.percentage}}</th>
                        <th>{{savingsproduct.taxGroupName}}</th>
                        <th style="padding-left: 25px"><a ng-click="edit(savingsproduct.id)"><i class="icon-edit icon-white"></i></a></th>
                    </tr>
            </div>
        </fieldset>
    </form>
</div>