<div class="col-md-12" ng-controller="TransactionTypeMappingController">
    <ul class="breadcrumb">
        <li><a href="#/bc">{{'label.anchor.bc' | translate}}</a></li>
        <li class="active">{{'label.anchor.transactiontypes' | translate}}</li>
    </ul>
    <a href="#/createtransactiontype" has-permission='READ_TRANSACTION_TYPE_MAPPING' class="btn btn-primary pull-right"><i
            class="icon-plus icon-white"></i>{{'label.button.createtransactiontype'
        | translate}}</a>
        <form name="transactiontypeform" novalidate="" class="form-horizontal well" rc-submit="submit()">
            <api-validate></api-validate>
            <fieldset>
                <legend>{{'label.input.searchtransactiontype' | translate}}</legend>
                <div class="form-group">
                    <label class="control-label col-sm-2">
                        {{'label.heading.transactionType' | translate}}
                    </label>
        
                    <div class="col-sm-3">
                        <select  chosen="transactionTypeOptions" id="transactionTypeId" ng-autofocus="true" name="transactionTypeId" ng-model="formData.transactionTypeId"
                            class="form-control" ng-options="transactionTypeOption.id as transactionTypeOption.value for transactionTypeOption in transactionTypeOptions"
                            value="{{transactionTypeOption.id}}">
                            <option value="">{{'label.all' | translate}}</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-2">
                        {{'label.heading.accounting.level' | translate}}
                    </label>
                    <div class="col-sm-3">
                        <select chosen="accountLevelTypeOptions" id="accountingLevelId" ng-autofocus="true" name="accountingLevel" ng-model="formData.accountingLevelId"
                            class="form-control" ng-options="accountLevelTypeOption.id as accountLevelTypeOption.value for accountLevelTypeOption in accountLevelTypeOptions"
                            value="{{accountLevelTypeOption.id}}">
                            <option value="">{{'label.all' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">
                        {{'label.heading.productTypeOptions' | translate}}
                    </label>
        
                    <div class="col-sm-3">
                        <div>
                            <select chosen="productTypeOptions" id="productTypeId" ng-autofocus="true" ng-model="formData.productTypeId" class="form-control"
                                ng-options="productTypeOption.id as productTypeOption.value for productTypeOption in productTypeOptions"
                                value="{{productTypeOption.id}}" ng-change="changeProductType()">
                                <option value="">{{'label.all' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <label class="control-label col-sm-2">
                        {{'label.heading.productOptions' | translate}}
                    </label>
        
                    <div class="col-sm-3">
                        <div>
                            <select chosen="productOptions" id="productId" ng-autofocus="true" ng-model="formData.productId" class="form-control"
                                ng-options="productOption.id as productOption.name for productOption in productOptions" value="{{productOption.id}}">
                                <option value="">{{'label.all' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">
                        {{'label.input.classification' | translate}}
                    </label>
        
                    <div class="col-sm-3">
                        <div>
                            <select chosen="bcAccountingTypeOptions" id="bcAccountingTypeId" ng-autofocus="true" ng-model="formData.bcAccountingTypeId"
                                class="form-control" ng-options="accountingType.id as accountingType.value for accountingType in bcAccountingTypeOptions"
                                value="{{accountingType.id}}" ng-change="getPaymentOptions()">
                                <option value="">{{'label.all' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- <label class="control-label col-sm-2">
                        {{'label.input.transactionEntryType' | translate}}
                    </label>
        
                    <div class="col-sm-3">
                        <div>
                            <select chosen="transactionEntryTypeOptions" id="transactionEntryTypeId" ng-autofocus="true" ng-model="formData.transactionEntryTypeId"
                                class="form-control" ng-options="transactionEntryType.id as transactionEntryType.value for transactionEntryType in transactionEntryTypeOptions"
                                value="{{transactionEntryType.id}}">
                                <option value="">{{'label.all' | translate}}</option>
                            </select>
                        </div>
                    </div> -->
                    <label class="control-label col-sm-2">
                        {{'label.heading.paymenttype' | translate}}
                    </label>
                    <div class="col-sm-3">
                        <div>
                            <select chosen="paymentTypeOptions" id="accSubTypeId" ng-autofocus="true" ng-model="formData.accSubTypeId"
                                class="form-control" ng-options="paymentType.id as paymentType.name for paymentType in paymentTypeOptions"
                                value="{{paymentType.id}}">
                                <option value="">{{'label.all' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>&nbsp;
                <div class="center">
                    <a ng-click="clearFilters()" class="btn btn-warning btn-lg">Clear Filters&nbsp;<i class="icon-remove-sign"></i></a>
                    <a ng-click="searchTransaction()" class="btn btn-primary btn-lg">Search
                        <i class="icon-search icon-white"></i></a>
                </div>
            </fieldset>
        </form>
        <table ng-if ="transactionTypeMappings.length>0" class="table">
            <thead>
                <tr class="graybg">
                    <th>{{'label.heading.transactionType' | translate}}</th>
                    <th>{{'label.heading.accounting.level' | translate}}</th>
                    <th>{{'label.heading.productTypeOptions' | translate}}</th>
                    <th>{{'label.heading.productOptions' | translate}}</th>
                    <th>{{'label.input.classification' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer-main" ng-repeat="transactionTypeMapping in transactionTypeMappings">
                    <td class="pointer" data-ng-click="routeTo(transactionTypeMapping.id)">{{transactionTypeMapping.transactionType.value}}</td>
                    <td class="pointer" data-ng-click="routeTo(transactionTypeMapping.id)">{{transactionTypeMapping.accountLevelType.value}}</td>
                    <td ng-if ="transactionTypeMapping.productType.value!='Invalid'" class="pointer" data-ng-click="routeTo(transactionTypeMapping.id)">{{transactionTypeMapping.productType.value}}</td>
                    <td ng-if ="transactionTypeMapping.productType.value =='Invalid'"></td>
                    <td class="pointer" data-ng-click="routeTo(transactionTypeMapping.id)">{{transactionTypeMapping.productData.name}}</td>
                    <td ng-if ="transactionTypeMapping.accountingType.value!='invalid'" class="pointer" data-ng-click="routeTo(transactionTypeMapping.id)">{{transactionTypeMapping.accountingType.value}}</td>
                </tr>
            </tbody>
        </table>
</div>