<div ng-controller="ViewTransactionTypeController">
    <ul class="breadcrumb">
        <li><a href="#/bc">{{'label.anchor.bc' | translate}}</a></li>
        <li><a href="#/transactiontypemapping">{{'label.anchor.transactiontypes' | translate}}</a></li>
        <li class="active">{{'label.anchor.viewtransactiontype' | translate}}</li>
    </ul>
    <br>
    <api-validate></api-validate>
    <legend>{{'label.heading.transactiontypedetails' | translate}}</legend>
    <div class="pull-right">
        <a id="edit" has-permission='UPDATE_TRANSACTION_TYPE_MAPPING' ng-click="edit(transactionTypeMapping.id)" class="btn btn-primary">{{'label.button.edit'
            | translate}}</a>
    </div>
    <div class="col-md-5">
        <table class="table-bordered table view-table">
            <tr>
                <td>{{'label.heading.transactionType' | translate}}:</td>
                <td>{{transactionTypeMapping.transactionType.value}}</td>
            </tr>
            <tr>
                <td>{{'label.heading.accounting.level' | translate}}:</td>
                <td>{{transactionTypeMapping.accountLevelType.value}}</td>
            </tr>
            <tr ng-if="display">
                <td>{{'label.heading.productTypeOptions' | translate}}:</td>
                <td>{{transactionTypeMapping.productType.value}}</td>
            </tr>
            <tr ng-if="display">
                <td>{{'label.heading.productOptions' | translate}}:</td>
                <td>{{transactionTypeMapping.productData.name}}</td>
            </tr>
            <tr ng-if="transactionTypeMapping.accountingType.code!='bcAccountingType.invalid'">
                <td>{{'label.input.classification' | translate}}:</td>
                <td>{{transactionTypeMapping.accountingType.value}}</td>
            </tr>
            <tr ng-if ="false">
                <td>{{'label.input.istransfer' | translate}}:</td>
                <td>{{transactionTypeMapping.isTransfer}}</td>
            </tr>
            <tr ng-if ="displaySubType">
                <td>{{'label.anchor.accountingSubType' | translate}}:</td>
                <td>{{transactionTypeMapping.paymentType.name}}</td>
            </tr>
        </table>

    </div>
    <div class="col-sm-12">
        <table class="table" data-ng-show="transactionTypeMapping.bcTransactionTypeGLMapping.length>0">
            <tr class="graybg">
                <th class="width30">{{'label.heading.transactiontype' | translate}}</th>
                <th class="width30">{{'label.heading.creditaccount' | translate}}</th>
                <th class="width30">{{'label.heading.debitaccount' | translate}}</th>
            </tr>
            <tr ng-repeat="accountMapping in transactionTypeMapping.bcTransactionTypeGLMapping">
                <td class="width30">
                    <span>{{accountMapping.transactionMappingType.value}}</span>
                </td>
                <td class="width30">
                        <span>{{accountMapping.creditAccount.name}}({{accountMapping.creditAccount.glCode}})</span>
                </td>
                <td class="width30">
                    <span>{{accountMapping.debitAccount.name}}({{accountMapping.debitAccount.glCode}})</span>
                </td>
            </tr>
            </table>
    </div>
    
</div>