<div ng-controller="CreateTrancheController">
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.fldgtranche' | translate}}</li>
    </ul>
    <form name="viewtranche" novalidate="" class="well form-inline" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.anchor.fldgtranche'
                | translate}}&nbsp;</legend>
            <div class="pull-right">
                <a id="add" type="submit" has-permission='CREATE_TRANCHE' ng-click="createTranche()" class="btn btn-primary">{{'label.button.create'
                    | translate}}&nbsp;</a>
            </div>
            <table class="table-bordered table view-table" class="width100">
                <tr class="graybg">
                    <th>{{'label.heading.name' | translate}}</th>
                    <th>{{'label.heading.disbursementammount' | translate}}</th>
                    <th>{{'label.heading.provisioningpercentage' | translate}}</th>
                    <th>{{'label.input.trancheamount' | translate}}</th>
                    <th>{{'label.input.fromdate' | translate}}</th>
                    <th>{{'label.input.todate' | translate}}</th>
                    <th>{{'label.createdon' |translate}}</th>
                </tr>
                <tr ng-repeat="tarnche in ViewTranches">
                    <td  class="pointer" data-ng-click="routeTo(tarnche.id)">{{tarnche.name | translate}}</td>
                    <td align="right" class="pointer"  data-ng-click="routeTo(tarnche.id)">{{tarnche.disbursementAmount | number:2}}</td>
                    <td align="right" class="pointer" data-ng-click="routeTo(tarnche.id)">{{tarnche.percentage | number:2}}</td>
                    <td  align="right" class="pointer"  data-ng-click="routeTo(tarnche.id)">{{tarnche.trancheAmount | number:2}}</td>
                    <td align="right" class="pointer" data-ng-click="routeTo(tarnche.id)">{{tarnche.fromDate | DateFormat}}</td>
                    <td  align="right" class="pointer" data-ng-click="routeTo(tarnche.id)">{{tarnche.toDate | DateFormat}}</td>
                    <td align="right" class="pointer" data-ng-click="routeTo(tarnche.id)">{{tarnche.createdTime| DateFormat}}</td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>