<div class="col-md-12">
	<ul class="breadcrumb">
	    <li class="active">{{'label.button.collectionsheet' | translate}}</li>
	</ul>
	<form name="collectionsheetform" novalidate="" class="form-horizontal well" ng-controller="CollectionSheetController" rc-submit="submit()">
	<api-validate></api-validate>
	<h2><strong ng-show="noData" style="padding-top: 400px !important;">{{'label.norepaymentsanddisbursalareavailable' |
	    translate}}</strong></h2>
	
	<h2><strong ng-show="val" class="display-save-message">{{'label.savecollectionsheetsuccessfully' |
	    translate}}</strong></h2>
	<fieldset ng-hide="val || noData">
	<tabset>
		<tab heading="{{'label.heading.collectionsheet' | translate}}" select="isProductiveColectionSheet(false)"></tab>
		<tab heading="{{'label.heading.productive.collectionsheet' | translate}}" select="isProductiveColectionSheet(true)"></tab>
	</tabset>
	<br>
	<div>
	    <div class="form-group">
	        <label class="control-label col-sm-2">{{ 'label.input.branchoffice' | translate }}<span
	                class="required">*</span></label>
	
	        <div class="col-sm-3">
	            <select chosen="offices" id="officeId" ng-model="officeId" name="office" class="chzn-select-deselect form-control"
	                    ng-options="office.id as office.name for office in offices" value="{{office.id}}"
	                    ng-change="officeSelected(officeId)" required>
	                <option value="">{{'label.selectoffice' | translate}}</option>
	            </select>
	        </div>
	        <div class="col-sm-8">
	            <form-validate valattributeform="collectionsheetform" valattribute="office"/>
	        </div>
	    </div>
	
	    <div class="form-group">
	        <label class="control-label col-sm-2">{{ 'label.input.meetingcalendar' | translate }}<span
	                class="required">*</span></label>
	
	        <div class="col-sm-3">
	            <input type="text" autocomplete="off" id="transactionDate" name="transactiondate" datepicker-pop="{{df}}"
	                   ng-model="date.transactionDate" is-open="opened" class="form-control" ng-readonly="isDatePickerReadOnly" required/>
	        </div>
			<div class="col-sm-8">
				<form-validate valattributeform="collectionsheetform" valattribute="transactiondate"/>
			</div>
	    </div>

		<div class="form-group" ng-hide="isHiddenNewTransactionDate">
			<label class="control-label col-sm-2">{{ 'label.input.transactiondate' | translate }}</label>

			<div class="col-sm-3">
				<input type="text" autocomplete="off" id="newtransactionDate" name="newtransactionDate" datepicker-pop="{{df}}"
					   ng-model="date.newtransactionDate" is-open="opened" class="form-control" ng-readonly="isDatePickerReadOnly"/>
			</div>
		</div>
	
	    <div class="form-group">
	        <label class="control-label col-sm-2">{{ 'label.input.staff' | translate }}</label>
	
	        <div class="col-sm-3">
	            <select chosen="loanOfficers" id="loanOfficerId" ng-model="loanOfficerId" name="loanOfficer"
	                    ng-options="loanOfficer.id as loanOfficer.displayName for loanOfficer in loanOfficers | filter: 'true'  "
	                    value="{{loanOfficer.id}}" ng-change="loanOfficerSelected(loanOfficerId)" class="form-control">
	                <option value="">{{'label.selectloanofficer' | translate}}</option>
	            </select>
	        </div>
			<div class="col-sm-3" ng-show="isStaffMandotory">
				<span class="error">{{'label.error.required'|translate}}</span>
			</div>
	    </div>
	
	    <div class="form-group" ng-show="isProductive">
	    	<div class="col-sm-2">
		        <button class="btn btn-primary" ng-click="productiveCollectionSheet()">
		            {{'label.button.fetchdetails' | translate}}
					<i class="icon-circle-arrow-right"></i></button>
			</div>
	    </div>
	
	
	    <div class="form-group" ng-hide="isProductive">
	        <label class="control-label col-sm-2">{{ 'label.input.center' | translate }}</label>
	
	        <div class="col-sm-3">
	            <select chosen="centers" id="centerId" name="center" ng-model="centerId"
	                    ng-options="center.id as center.name for center in centers" value="{{center.id}}"
	                    ng-change="centerSelected(centerId)" class="form-control">
	                <option value="">{{'label.selectcenter' | translate}}</option>
	            </select>
	        </div>
	    </div>
	
	    <div class="form-group" ng-hide="isProductive">
	        <label class="control-label col-sm-2">{{ 'label.input.group' | translate }}</label>
	
	        <div class="col-sm-3">
	            <select chosen="groups" id="groupId" ng-model="groupId" ng-options="group.id as group.name for group in groups"
	                    value="{{group.id}}" ng-change="groupSelected(groupId)" class="form-control">
	                <option value="">{{'label.selectgroup' | translate}}</option>
	            </select>
	        </div>
	    </div>
	
	    <div class="form-group" ng-hide="isProductive">
	    	<div class="col-sm-2">
		        <a class="btn btn-primary" ng-click="previewCollectionSheet()">{{'label.button.fetchdetails' |translate}}
					<i class="icon-circle-arrow-right"></i></a>
			</div>
	    </div>
	</div>
	<div ng-hide="isProductive">
	<div class="paddedbottom"></div>
	<div ng-show="showEmiAmountTotalDueButton && collectionsheetdata"> 
		<div ng-hide="showEmiAmountOverTotalDue">
		    <a type="button" class="btn btn-primary" ng-click="populateEmiAmount(collectionsheetdata)">{{'label.button.populate.emi.amount' | translate}}</a>
		</div>
		<div ng-show="showEmiAmountOverTotalDue">
		    <a type="button" class="btn btn-primary" ng-click="populateTotalDue()">
		    {{'label.button.populate.totalDue.amount' | translate}}</a>
		</div>
	</div>
	<br>
	<div class="span">
		<div class="col-sm-3 col-md-3" ng-hide="noData" ng-show="collectionsheetdata"
			 style="float:left; width:100%;overflow-x:auto !important; white-space:normal;">
			<div>
				<table class="table table-bordered table-fixed" ng-show="collectionsheetdata" data-anchor>
					<thead>
					<tr>
						<td>{{'label.heading.borrowername' | translate}}</td>
						<th class="highlightcol" scope="colgroup"
							colspan="{{collectionsheetdata.loanProducts.length}}">{{'label.heading.duecollections' |
							translate}}
						</th>
						<th class="highlightcol" scope="colgroup"
							colspan="{{collectionsheetdata.savingsProducts.length}}">
							{{'label.heading.due.savings.collections' |
							translate}}
						</th>
						<th  scope="colgroup"  colspan="1">{{'label.heading.client.charge' |
							translate}}</th>
						<th class="empty" scope="colgroup">{{'label.heading.attendance' | translate}}</th>
					</tr>
					<tr>
						<td>
							{{'label.heading.groups/clients' | translate}}
						</td>

						<th scope="colgroup" ng-show="collectionsheetdata.loanProducts==undefined || collectionsheetdata.loanProducts.length==0">
						</th>
						<th scope="colgroup" ng-hide="collectionsheetdata.loanProducts==undefined || collectionsheetdata.loanProducts.length==0" ng-repeat="loanproduct in collectionsheetdata.loanProducts" >
							{{loanproduct.name}}/{{'label.heading.charges' | translate}}
						</th>
						<th scope="colgroup" ng-show="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0">
						</th>
						<th scope="colgroup" ng-hide="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0" ng-repeat="savingproduct in collectionsheetdata.savingsProducts" >
							{{savingproduct.name}}/{{'label.heading.deposit' | translate}}/{{'label.heading.withdraw' | translate}}
						</th>
						<th  scope="colgroup" ></th>
						<th></th>
					</tr>
					</thead>
					<tbody ng-repeat="group in collectionsheetdata.groups track by $index" ng-init="superParentIndex = $index">
					<tr class="graybg">
						<td>
							<b>{{group.groupName}}</b>
						</td>

						<td scope="colgroup" colspan="{{collectionsheetdata.loanProducts.length}}">&nbsp;</td>
						<td scope="colgroup" colspan="{{collectionsheetdata.savingsProducts.length}}">&nbsp;</td>
						<td colspan="1"   scope="colgroup">&nbsp;</td>
						<td colspan="1" scope="colgroup">&nbsp;</td>
					</tr>
					<tr ng-repeat="client in group.clients track by $index" ng-init="parentIndex = $index" data-ng-hide="(client.loans == undefined || client.loans.length == 0) && hideClientForNoRepayments">
						<td>
							<div style="word-wrap: break-word">
								{{client.clientName}}({{client.clientId}})
							</div>
						</td>

						<td scope="colgroup" ng-show="collectionsheetdata.loanProducts==undefined || collectionsheetdata.loanProducts.length==0">
						</td>
						<td ng-hide="collectionsheetdata.loanProducts==undefined || collectionsheetdata.loanProducts.length==0" ng-repeat="loanproduct in collectionsheetdata.loanProducts">

							<span ng-repeat="loan in client.loans track by $index" ng-show="loanproduct.id == loan.productId">
								<div  class="form-group">
									<label data-ng-hide="hideLoanAccountNumber" class="control-label col-sm-6" style="font-size: 12px;">{{'label.heading.loanaccountno' | translate}}:({{loan.accountId}}) </label>
									<div  class="col-sm-8">
										<input data-ng-hide="loan.accountSubStatusId == 104" style="font-weight: bold;" id="total" type="text" autocomplete="off" number-format
										   ng-model="loan.totalDue" class="input-sm form-control"
										   ng-change="sumTotalDueCollection();validateAmount(superParentIndex,parentIndex,$index,loan.totalDue);resetCollectionReasons(loan.totalDue,loan.loanId);">
										<label data-ng-show="loan.accountSubStatusId == 104" class="control-label col-sm-4" style="font-size: 12px;"><b>{{loan.totalDue | number}} ({{'label.heading.loan.deceased' | translate}})</b> </label>
									</div>
									<br/>
								</div>
								<div class="form-group" ng-if="loan.isShowReasonDropDown && showRejectReason">
	                                <label class="col-sm-8" >{{'label.input.reasontype' | translate}}<span  class="required" ng-if="isRejectReasonMandatory">*</span></label>
	                             	<div class="col-sm-8">
	                                    <select  id="loanRejectReason[loan.loanId].codeReasonId" name="loanReasonCodeType" ng-model="loanRejectReason[loan.loanId].codeReasonId" ng-options="code.id as code.name for code in collectionReasonList" value="{{code.name}}" 
	                                    class="input-sm form-control" data-ng-change="getLoanSubReasonValues(loan.loanId,loanRejectReason[loan.loanId].codeReasonId)" ng-required="isRejectReasonMandatory">
	                                    <option value="">{{'label.selectone' | translate}}</option></select>
									</div>
									<div class="col-sm-8">
										<form-validate valattributeform="collectionsheetform" valattribute="loanReasonCodeType"/>
									</div>
	                                <br/>
	                            </div>
	                            <div class="form-group" ng-if="loanRejectReason[loan.loanId].codeReasonId && showRejectReason">
	                                <label class="col-sm-8" >{{'label.input.reason' | translate}}<span  class="required" ng-if="isRejectReasonMandatory">*</span></label>
	                                <div class="col-sm-8">
	                                    <select id = "loanRejectReason[loan.loanId].reasonId" name="loanReasonCode" ng-model="loanRejectReason[loan.loanId].reasonId" 
										ng-options="codeValue.id as codeValue.name for codeValue in loanRejectReason[loan.loanId].codeValueOptions" value="{{codeValue.id}}" class="input-sm form-control" 
										data-ng-change="isDescriptionAvailable(loanRejectReason[loan.loanId])" ng-required="isRejectReasonMandatory">
	                                    <option value="">{{'label.selectone' | translate}}</option></select>
									</div>
									<div class="col-sm-8">
										<form-validate valattributeform="collectionsheetform" valattribute="loanReasonCode"/>
									</div>
	                                <br/>
	                            </div>
	                            <div class="form-group" ng-if="showRejectReason && (isDescriptionAvailable(loanRejectReason[loan.loanId])==true)">
	                                <label class="col-sm-8" >{{'label.input.description' | translate}}<span  class="required" ng-if="isRejectReasonMandatory">*</span></label>
	                                <div class="col-sm-8">
										<textarea row="3" col="3" id="loanRejectReason[loan.loanId].reason" name="loanReasonDescription" ng-model="loanRejectReason[loan.loanId].reason"  class="form-control" 
										ng-required="isRejectReasonMandatory" required late-validate></textarea>
									</div>
									<div class="col-sm-8">
										<form-validate valattributeform="collectionsheetform" valattribute="loanReasonDescription"/>
									</div>
	                                <br/>
	                            </div>
							</span>
						</td>

						<td scope="colgroup" ng-show="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0">
						</td>
						<td ng-hide="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0"  ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
							<div class="col-md-4">
							<div ng-repeat="savings in client.savings"
								  ng-show="savingsproduct.id === savings.productId" class="col-md-4">
								<div >
									<span data-ng-hide="hideSavingsAccountNumber" style="font-size: 12px;">{{'label.heading.savingaccountno' | translate}}:({{savings.accountId}}) </span>
									<input id="dueAmount" number-format type="text" autocomplete="off" number-format placeholder="{{'label.heading.deposit' | translate}}"
										   ng-model="savings.dueAmount"
										   ng-change="sumTotalDueCollection()" ng-disabled="isFDAccount(savings)">
								</div>
								<div ng-show="isWithDrawForSavingsIncludedInCollectionSheet" >
									<span style="font-size: 12px;">  </span>
									<input id="withdrawAmount" number-format type="text" autocomplete="off" number-format
										   ng-model="savings.withdrawAmount" placeholder="{{'label.heading.withdraw' | translate}}"
										   ng-change="sumTotalDueCollection()">
								</div>
							</div>
							</div>
						</td>
						<td >
							<div class="col-md-5 paddinglr0px">
								<span style="font-size: 12px;"></span>
								<input ng-show = "isClientChargesIncludedInCollectoonSheet" style="font-weight: bold;" id="charge" type="text" autocomplete="off" number-format
									   ng-model="client.charge"
									   ng-change="sumTotalChargeCollection(client,group)">
							</div>
						</td>
						<td>
							<div class="form-group" >
								<div class="col-sm-12">
                                    <select id="client.attendanceType"
										ng-model="client.attendanceType" ng-init=" client.attendanceType = defaultClientAttendanceType"  class="input-sm form-control"
										ng-options="attendance.id as attendance.value for attendance in collectionsheetdata.attendanceTypeOptions"  data-ng-change="setvaluesByClient(client)"
										value="{{attendance.id}}">
									</select>
                                </div>								
							</div>
							<div class="form-group" ng-if="attendenceListForReason.indexOf(client.attendanceType)>-1 && showRejectReason">
                                <label class="col-sm-9" >{{'label.input.reasontype' | translate}}<span ng-if="isRejectReasonMandatory" class="required">*</span></label>
                                <div class="col-sm-12">
                                    <select  id="client.codeReasonId" name="attendanceReasonCodeType" ng-model="client.codeReasonId" ng-options="code.id as code.name for code in reasonAttendenceList" value="{{code.name}}" 
                                    class="input-sm form-control" data-ng-change="getValuesByClient(client, client.codeReasonId)" ng-required="isRejectReasonMandatory">
                                    <option value="">{{'label.selectone' | translate}}</option></select>
								</div>
								<div class="col-sm-8">
									<form-validate valattributeform="collectionsheetform" valattribute="attendanceReasonCodeType"/>
								</div>
                                <br/>
							</div>

							 <div class="form-group" ng-if="client.codeReasonId && showRejectReason">
                                <label class="col-sm-3" >{{'label.input.reason' | translate}}<span ng-if="isRejectReasonMandatory" class="required">*</span></label>
                                <div class="col-sm-12">
                                    <select id = "client.reasonId" name="attendanceReasonCode" ng-model="client.reasonId" 
									ng-options="codeValue.id as codeValue.name for codeValue in client.codeValueOptions" value="{{codeValue.id}}" class="input-sm form-control"
									data-ng-change="initDescription(rejectFormData.reasonCode)" ng-required="isRejectReasonMandatory">
                                    <option value="">{{'label.selectone' | translate}}</option></select>
								</div>
								<div class="col-sm-8">
									<form-validate valattributeform="collectionsheetform" valattribute="attendanceReasonCode"/>
								</div>
                                <br/>
							</div>
							
                            <div class="form-group" ng-if="isTextAvailable(client) && showRejectReason">
						        <label class="col-sm-3" >{{'label.input.description' | translate}}<span ng-if="isRejectReasonMandatory" class="required">*</span></label>
							    <div class="col-sm-12">
                                    <textarea row="3" col="3" id="client.reason" name="attendanceReasonDescription" ng-model="client.reason"  class="form-control" ng-required="isRejectReasonMandatory" required late-validate></textarea>
								</div>
								<div class="control-label col-sm-8">
									<form-validate valattributeform="collectionsheetform" valattribute="attendanceReasonDescription"/>
								</div>
                                <br/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="graybg" style="height:30px" ng-show="collectionsheetdata.loanProducts">
							{{'label.input.grouptotal' | translate}}
						</td>
						<td scope="colgroup" ng-show="collectionsheetdata.loanProducts==undefined || collectionsheetdata.loanProducts.length==0">
						</td>
						<td  ng-repeat="loanproduct in collectionsheetdata.loanProducts">
							  <span ng-repeat="grouptotal in loanGroupsTotal"
									ng-show="grouptotal.groupId === group.groupId && loanproduct.id === grouptotal.productId">
								  <input style="font-weight: bold;" type="text" autocomplete="off"
										 number-format ng-model="grouptotal.dueAmount" disabled="disabled">
							  </span>
						</td>
						<td scope="colgroup" ng-show="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0">
						</td>
						<td ng-hide="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0"  ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
							  <span ng-repeat="grouptotal in savingsGroupsTotal"
									ng-show="grouptotal.groupId === group.groupId && savingsproduct.id === grouptotal.productId">
								  <input style="font-weight: bold;" class="col-md-5" type="text" autocomplete="off"
										 number-format ng-model="grouptotal.dueAmount" disabled="disabled">
								  <input ng-show="isWithDrawForSavingsIncludedInCollectionSheet" style="font-weight: bold;" class="col-md-5" type="text" autocomplete="off"
										 number-format ng-model="grouptotal.withdrawAmount" disabled="disabled">
							  </span>
						</td>
						<td ><input ng-show="isClientChargesIncludedInCollectoonSheet" type="text" autocomplete="off" disabled="disabled"
								   number-format ng-model="group.totalClientCharges" ></td>
						<td></td>
					</tr>
					</tbody>
					<tfoot>
					<tr>
						<td class="graybg" style="height:30px" ng-show="collectionsheetdata.loanProducts">
							{{'label.input.total' | translate}}
						</td>
						<td scope="colgroup" ng-show="collectionsheetdata.loanProducts==undefined || collectionsheetdata.loanProducts.length==0">
						</td>
						<td style="height:30px " ng-hide="collectionsheetdata.loanProducts==undefined || collectionsheetdata.loanProducts.length==0" class="width20" ng-repeat="loanproduct in collectionsheetdata.loanProducts">
							  <span ng-repeat="total in loansTotal" ng-show="loanproduct.id == total.productId">
								<input type="text" autocomplete="off"  number-format ng-model="total.dueAmount"
									   disabled="disabled">
							  </span>
						</td>

						<td scope="colgroup" ng-show="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0">
						</td>
						<td  style="height:30px" ng-hide="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0" ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
							  <span ng-repeat="total in savingsTotal" ng-show="savingsproduct.id == total.productId">
								<input class="col-md-5" type="text" autocomplete="off"  number-format ng-model="total.dueAmount"
									   disabled="disabled">
								<input ng-show="isWithDrawForSavingsIncludedInCollectionSheet" class="col-md-5" type="text" autocomplete="off" class="input-sm" number-format ng-model="total.withdrawAmount"
										 disabled="disabled">
							  </span>
						</td>
						<td ><input ng-show="isClientChargesIncludedInCollectoonSheet" type="text" autocomplete="off" class="input-sm" disabled="disabled"
								   number-format ng-model="groupsTotalClientcharges" ></td>
						<td></td>
					</tr>

					</tfoot>
				</table>
			</div>
		</div>
	    <br>
	    <br>
	</div>
	<div ng-hide="noData" ng-if="collectionsheetdata" class="col-sm-3 col-md-3 paddedtop10">
	    <strong><h4 style="background-color: #D6D6C2">{{'label.heading.totalduecollections' | translate}}</h4>
	    </strong>
	
	    <div class="templatekeys" style="background-color:#8585FF!important"
	         ng-repeat="loanDueTotalCollection in totalDueCollection">
			{{loanDueTotalCollection.totalDue | number}}&nbsp;&nbsp;
	        {{loanDueTotalCollection.currencySymbol}}
		</div>

		<strong><h4 style="background-color: #D6D6C2">{{'label.heading.deceasedtotalduecollections' | translate}}</h4>
	    </strong>
		<div class="templatekeys" style="background-color:#8585FF!important">
			{{deceasedPrincipalInterestDue | number}}&nbsp;&nbsp;
			{{currencySymbol}}
		</div>
	</div>
    <div ng-show="showPaymentDetails && collectionsheetdata"
         style="float:left; max-width:800px; min-width:700px; overflow-x:auto!important; white-space:nowrap;">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>{{ 'label.input.paymenttype' | translate}}</td>
                <td ng-show="paymentDetail.paymentTypeId">{{ 'label.input.accnum' | translate}}</td>
                <td ng-show="paymentDetail.paymentTypeId">{{ 'label.input.checknumber' | translate}}</td>
                <td ng-show="paymentDetail.paymentTypeId">{{ 'label.input.routingcode' | translate}}</td>
                <td ng-show="paymentDetail.paymentTypeId">{{ 'label.input.receiptnumber' | translate}}<span ng-if="isReceiptNumberMendatory" class="required">*</span></td>
                <td ng-show="paymentDetail.paymentTypeId">{{ 'label.input.banknumber' | translate}}</td>
                <td>{{'label.heading.actions' | translate}}</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><select ng-model="paymentDetail.paymentTypeId"
                            class="form-control"
                            ng-options="paymentType.id as paymentType.name for paymentType in collectionsheetdata.paymentTypeOptions"
                            value="{{paymentType.id}}"></select></td>
                <td ng-show="paymentDetail.paymentTypeId"><input type="text" autocomplete="off" class="form-control"
                           ng-model="paymentDetail.accountNumber"></td>
                <td ng-show="paymentDetail.paymentTypeId"><input class="form-control" type="text" autocomplete="off"
                           ng-model="paymentDetail.checkNumber"></td>
                <td ng-show="paymentDetail.paymentTypeId"><input class="form-control" type="text" autocomplete="off"
                           ng-model="paymentDetail.routingCode"></td>
                <td ng-show="paymentDetail.paymentTypeId"><input name="receipt" class="form-control" type="text" autocomplete="off"
                           ng-model="paymentDetail.receiptNumber" ng-required="isReceiptNumberMendatory">
						   <form-validate valattributeform="collectionsheetform" valattribute="receipt"/></td>
                <td ng-show="paymentDetail.paymentTypeId"><input class="form-control" type="text" autocomplete="off"
                           ng-model="paymentDetail.bankNumber"></td>
                <td>
                    <a class="btn btn-default" ng-show="showPaymentDetails"
                        data-ng-click="removePaymentDetails()"
                        >{{'label.button.removepaymentdetail'| translate}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
	</div>
	<div class="col-sm-12 col-md-12 paddedtop10">
	    <div class="col-md-offset-3 paddedtop">
			<button id="cancel" type="reset"  ng-show="collectionsheetdata" class="btn btn-default" ng-click="reset()">{{'label.button.reset' |
	            translate}}
	        </button>

            <a class="btn btn-default" ng-show="collectionsheetdata && !showPaymentDetails"
                    data-ng-click="showPaymentDetailsFn()"
                    >{{'label.button.addpaymentdetail'| translate}}
			</a>
	        <button id="save" class="btn btn-primary" ng-show="collectionsheetdata">
				{{'label.button.save' | translate}}
	        </button>
			<button id="save" class="btn btn-warning" ng-show="forcedSubmit">
				{{'label.button.forcedsubmit' | translate}}
			</button>
	    </div>
	</div>
    </div>
	</fieldset>
	</form>
</div>