<div ng-controller="ProductiveCollectionSheetController">
    <ul class="breadcrumb">
        <li><a href="#/entercollectionsheet">{{'label.anchor.collectionsheet' | translate}}</a></li>
    </ul>
    <form name="productivecollectionsheetform" novalidate="" class="form-horizontal well" rc-submit="submit()">
    <api-validate></api-validate>
    <script type="text/ng-template" id="submitCollectionSheet.html">
            <div class="modal-header silver">
                <h3 class="bolder">{{'label.anchor.collectionsheet' | translate}}</h3>
            </div>
            <br>
            <div class="modal-body">
                <label class="control-label col-sm-3" >{{'label.input.paymenttype' | translate}}<span class="required">*</span></label>
                <div class="col-sm-4">
                    <select  id="paymentTypeId" name="paymentTypeId" ng-model="paymentDetail.paymentTypeId" ng-options="paymenttype.id as paymenttype.name for paymenttype in paymentTypeOptions" value="{{paymenttype.id}}" 
                    class="input-sm form-control"   required late-Validate>
                    <option value="">{{'label.selectone' | translate}}</option></select>
                </div>                
                
                <div class="col-sm-5" ng-show="isRequired">
                    <span class="error">{{'label.requiredfield' | translate}}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>

                <button class="btn btn-primary" ng-click="submitCollectionSheet()">{{'label.button.confirm' | translate}}</button>
            </div>
        </script>
    <div>
        <div class="col-md-offset-9 paddedtop">
            <button class="btn btn-primary" ng-click="viewFullScreen()">{{'label.button.viewfullscreen' | translate}}
            </button>
        </div>
        <div id="productive_sheet" class="whitebg paddedtop" style="width:950px; height:850px; overflow: auto;">
            <div class="paddedtop">
                <span>{{'label.heading.branch' | translate}}&nbsp;:{{officeName}}</span>
                <span class="paddedleft90">{{'label.input.meetingdate' | translate}}&nbsp;:{{meetingDate}}</span>
            </div>
            <div ng-if = "showErrMsg()" class="error">
                    {{"label.error.no.centers.are.available.for.the.provided.meeting.date"| translate}}
            </div>
            <div class="tabbable tabs-below paddedtop">
                <ul class="nav nav-tabs nav-pills">
                    <li ng-class="{statusactive: selectedTab == center.id}" ng-repeat="center in staffCenterData">
                        <a ng-click="getAllGroupsByCenter(center.id, center.collectionMeetingCalendar.id)">
                            {{center.name}}
                            <i ng-show="selectedTab == center.id && !center.submitted" class="icon-circle statusprogresstab"></i>
                            <i ng-show="selectedTab != center.id && !center.submitted" class="icon-circle statusprogresspendingtab"></i>
                            <i ng-show="center.submitted" class="icon-circle statusprogresscompletedtab"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <span>
                    <button id="add" class="btn btn-primary" ng-click="detailsShow()">
                        <i class="icon-plus-sign-alt icon-white" ng-hide="details"></i>
                        <i class="icon-minus-sign-alt icon-white" ng-show="details"></i>
                    </button>
                </span>
                <span class="graybg" ng-show="collectionsheetdata.loanProducts">
                    {{'label.anchor.centerloantotal' |
                        translate}}
                </span>
                <span style="height:30px" ng-repeat="loanproduct in collectionsheetdata.loanProducts">
                    <span ng-repeat="total in loansTotal" ng-show="loanproduct.id == total.productId">
                        <input type="text" autocomplete="off" class="input-sm" number-format ng-model="total.dueAmount" disabled="disabled">
                    </span>
                </span>
                
                <span class="graybg" ng-show="collectionsheetdata.savingsProducts">
                    {{'label.anchor.centersavingstotal' |
                    translate}}
                </span>
                <td style="height:30px" ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
                    <span ng-repeat="total in savingsTotal">
                        <input class="input-sm" type="text" autocomplete="off" number-format ng-model="total.totalsavings" disabled="disabled">
                    </span>
                </td>
                <span class="graybg" ng-show="totalDueCollection">
                    {{'label.input.centertotal' |
                    translate}}
                </span>
                <span style="height:30px">
                    <span ng-repeat="loanDueTotalCollection in totalDueCollection">
                        <input type="text" autocomplete="off" class="input-sm" number-format ng-model="loanDueTotalCollection.totalDue"
                            disabled="disabled">
                    </span>
                </span>
                </div>
            <div ng-show="details">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th scope="colgroup" ng-repeat="loanproduct in collectionsheetdata.loanProducts">
                            {{loanproduct.name}}/{{'label.heading.charges' | translate}}
                        </th>
                        <th scope="colgroup" ng-show="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0">
                        </th>
                        <th scope="colgroup" ng-hide="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0"
                            ng-repeat="savingproduct in collectionsheetdata.savingsProducts">
                            {{savingproduct.name}}/{{'label.heading.deposit' | translate}}/{{'label.heading.withdraw' | translate}}
                        </th>
                        <th colspan="2">{{'label.heading.attendance' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="group in collectionsheetdata.groups track by $index" ng-init="superParentIndex = $index">
                    <tr>
                        <td class="graybg">
                            <b>{{group.groupName}}</b>
                        </td>
                        <td scope="colgroup" colspan="{{collectionsheetdata.loanProducts.length}}">&nbsp;</td>
                        <td scope="colgroup" colspan="{{collectionsheetdata.savingsProducts.length}}">&nbsp;</td>
                        <td colspan="1" scope="colgroup">&nbsp;</td>
                    </tr>
                    <tr ng-repeat="client in group.clients track by $index" ng-init="parentIndex = $index" data-ng-hide="(client.loans == undefined || client.loans.length == 0) && hideClientForNoRepayments">
                        <td>({{client.clientId}}){{client.clientName}}</td>
                        <td ng-repeat="loanproduct in collectionsheetdata.loanProducts">
    	                  <span ng-repeat="loan in client.loans track by $index" ng-show="loanproduct.id == loan.productId">
                            <div class="form-group">
                                <div ng-class="(loan.totalDue==0)?'col-sm-8 col-sm-offset-4':'col-sm-8'">
                                    <input id="total" type="text" autocomplete="off" class="form-control" ng-model="loan.totalDue" number-format
                                        ng-change="sumTotalDueCollection();resetCollectionReasons(loan.totalDue,loan.loanId);validateAmount(superParentIndex,parentIndex,$index,loan.totalDue);">
                                </div>
                                <br/>
                            </div>                            
                            <div class="form-group" ng-show="loanRejectReason[loan.loanId].error">
                                <span class="error"><small>{{loanRejectReason[loan.loanId].error}}</small></span>
                                
                            </div>
                            <div class="form-group" ng-if="loan.isShowReasonDropDown && showRejectReason ">
                                <label class="control-label col-sm-4" >{{'label.input.reasontype' | translate}}<span  class="required">*</span></label>
                                <div class="col-sm-5">
                                    <select  id="loanRejectReason[loan.loanId].codeReasonId"  name="loanReasonCodeType" ng-model="loanRejectReason[loan.loanId].codeReasonId" ng-options="code.id as code.name for code in collectionReasonList" value="{{code.name}}" 
                                    class="input-sm form-control" data-ng-change="getLoanSubReasonValues(loan.loanId,loanRejectReason[loan.loanId].codeReasonId)" ng-required="isRejectReasonMandatory">
                                    <option value="">{{'label.selectone' | translate}}</option></select>
                                </div>
                                <div class="col-sm-2">
                                    <form-validate valattributeform="productivecollectionsheetform" valattribute="loanReasonCodeType"/>
                                </div>
                                <br/>
                                <br/>
                            </div>
                            <div class="form-group" ng-if="loanRejectReason[loan.loanId].codeReasonId && showRejectReason">
                                <label class="control-label col-sm-4" >{{'label.input.reason' | translate}}<span  ng-if="isRejectReasonMandatory" class="required">*</span></label>
                                <div class="col-sm-8">
                                    <select id = "loanRejectReason[loan.loanId].reasonId" name="loanReasonCode" ng-model="loanRejectReason[loan.loanId].reasonId" 
                                    ng-options="codeValue.id as codeValue.name for codeValue in loanRejectReason[loan.loanId].codeValueOptions" value="{{codeValue.id}}" 
                                    class="input-sm form-control" data-ng-change="isDescriptionAvailable(loanRejectReason[loan.loanId])" ng-required="isRejectReasonMandatory" required late-validate>
                                    <option value="">{{'label.selectone' | translate}}</option></select>
                                </div>
                                <div class="col-sm-2">
                                    <form-validate valattributeform="productivecollectionsheetform" valattribute="loanReasonCode"/>
                                </div>
                                <br/>
                            </div>
                            <div class="form-group" ng-show="loan.totalDue==0 && showText && showRejectReason">
                                <label class="control-label col-sm-3" >{{'label.input.description' | translate}}<span ng-if="isRejectReasonMandatory" class="required">*</span></label>
                                <div class="col-sm-8">
                                    <textarea row="3" col="3" id="loanRejectReason[loan.loanId].reason" name="loanRejectReason[loan.loanId].reason" ng-model="loanRejectReason[loan.loanId].reason"  class="form-control"></textarea>
                                </div>
                                <br/>
                            </div>

                        </span>
                        </td>
                        <td scope="colgroup" ng-show="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0">
                        </td>
                        <td style="height:30px" ng-hide="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0"
                            ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
                            <div class="form-group" ng-repeat="savings in client.savings" ng-show="savingsproduct.id === savings.productId">
                                <div ng-class="(savings.dueAmount==0)?'col-sm-8':'col-sm-8'">
                                    <span data-ng-hide="hideSavingsAccountNumber" style="font-size: 12px;">{{'label.heading.savingaccountno' |
                                        translate}}:({{savings.accountId}}) </span>
                                    <input id="dueAmount" class="form-control" number-format type="text" autocomplete="off" number-format
                                        placeholder="{{'label.heading.deposit' | translate}}" ng-model="savings.dueAmount" ng-change="sumTotalDueCollection()"
                                        ng-disabled="isFDAccount(savings)">
                                </div>
                                <br>
                                <!-- ng-show="isWithDrawForSavingsIncludedInCollectionSheet" -->
                                <div ng-show="isWithDrawForSavingsIncludedInCollectionSheet" ng-class="(savings.withdrawAmount==0)?'col-sm-8 col-sm-offset-3':'col-sm-8'">
                                    <span style="font-size: 12px;"> </span>
                                    <input id="withdrawAmount" number-format type="text" class="form-control" autocomplete="off" number-format
                                        placeholder="{{'label.heading.withdraw' | translate}}" ng-model="savings.withdrawAmount" ng-change="sumTotalDueCollection()"
                                        ng-disabled="isFDAccount(savings)">
                                </div>
                            </div>
                        </td>
                        <td>

                            <div  class="form-group">
                                    <div class="form-group">
                                            <div ng-class="(attendenceListForReason.indexOf(client.attendanceType)>-1 && showRejectReason)?'col-sm-6 col-sm-offset-4':'col-sm-12'">
                                                <select id="client.attendanceType" ng-model="client.attendanceType" ng-init=" client.attendanceType = defaultClientAttendanceType" class="col-sm-12"
                                                        ng-options="attendance.id as attendance.value for attendance in collectionsheetdata.attendanceTypeOptions"
                                                        value="{{attendance.id}}" data-ng-change="setvalues(client.clientId)">
                                                </select>
                                            </div>
                                            <br/>
                                        </div>
                                        <div class="form-group" ng-show="clientsAttendance[$index].error">
                                            <span class="error"><small>{{clientsAttendance[$index].error}}</small></span>
                                            
                                        </div>

                                        <div class="form-group" ng-if="attendenceListForReason.indexOf(client.attendanceType)>-1 && showRejectReason">
                                            <label class="control-label col-sm-4" >{{'label.input.reasontype' | translate}}<span ng-if="isRejectReasonMandatory" class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <select  id="client.codeReasonId" name="attendanceReasonCodeType" ng-model="client.codeReasonId" ng-options="code.id as code.name for code in reasonAttendenceList" value="{{code.name}}" 
                                                class="form-control" data-ng-change="getValues(client.clientId, client.codeReasonId)" ng-required="isRejectReasonMandatory" required late-validate>
                                                <option value="">{{'label.selectone' | translate}}</option></select>
                                            </div>
                                            <div class="col-sm-2">
                                                <form-validate valattributeform="productivecollectionsheetform" valattribute="attendanceReasonCodeType"/>
                                            </div>
                                            <br/>
                                            <br/>
                                        </div>

                                        <div class="form-group" ng-if="client.codeReasonId && showRejectReason">
                                            <label class="control-label col-sm-4" >{{'label.input.reason' | translate}}<span ng-if="isRejectReasonMandatory" class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <select id = "client.reasonId" name="attendanceReasonCode" ng-model="client.reasonId" 
                                                ng-options="codeValue.id as codeValue.name for codeValue in client.codeValueOptions" value="{{codeValue.id}}" class="form-control"
                                                 data-ng-change="initDescription(rejectFormData.reasonCode)" ng-required="isRejectReasonMandatory" required late-validate>
                                                <option value="">{{'label.selectone' | translate}}</option></select>
                                            </div>
                                            <div class="col-sm-2">
                                                <form-validate valattributeform="productivecollectionsheetform" valattribute="attendanceReasonCode"/>
                                            </div>
                                            <br/>
                                        </div>
                                        
                                        <div class="form-group" ng-show="isTextAvailable(client) && showRejectReason">
                                            <label class="control-label col-sm-3" >{{'label.input.description' | translate}}<span ng-if="isRejectReasonMandatory" class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <textarea row="3" col="3" id="client.reason" name="client.reason" ng-model="client.reason"  class="form-control"></textarea>
                                            </div>
                                            <br/>
                                        </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td class="graybg" ng-show="collectionsheetdata.loanProducts">{{'label.input.grouptotal' |
                            translate}}
                        </td>
                        <td ng-repeat="loanproduct in collectionsheetdata.loanProducts">
                            <span ng-repeat="grouptotal in loanGroupsTotal" ng-show="grouptotal.groupId === group.groupId && loanproduct.id === grouptotal.productId">
                                <input style="font-weight: bold;" type="text" autocomplete="off" number-format ng-model="grouptotal.dueAmount"
                                    disabled="disabled">
                            </span>
                        </td>
                        <td scope="colgroup" ng-show="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0">
                        </td>
                        <td ng-hide="collectionsheetdata.savingsProducts==undefined || collectionsheetdata.savingsProducts.length==0" ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
                            <span ng-repeat="grouptotal in savingsGroupsTotal" ng-show="grouptotal.groupId === group.groupId && savingsproduct.id === grouptotal.productId">
                                <input class="form-group" class="col-md-5" type="text" autocomplete="off" number-format ng-model="grouptotal.dueAmount"
                                    disabled="disabled">
                                <!-- ng-show="isWithDrawForSavingsIncludedInCollectionSheet" -->
                                <input ng-show="isWithDrawForSavingsIncludedInCollectionSheet" class="form-group" type="text" autocomplete="off"
                                    number-format ng-model="grouptotal.withdrawAmount" disabled="disabled">
                            </span>
                        </td>
                        <td></td>
                        </tr>
                        </tbody>
                        </table>
            </div>
            <div class="col-md-offset-9 paddedtop">
                <button id="save" type="submit" class="btn btn-primary" ng-disabled="productivecollectionsheetform.$invalid == true" ng-show="submitNextShow" ng-click="submitCollection()">
                    {{'label.button.submitandnextcenter' | translate}}
                </button>
                <button id="save" type="submit" ng-disabled="productivecollectionsheetform.$invalid == true"  class="btn btn-primary" ng-show="submitShow" ng-click="submitCollection()">
                    {{'label.button.save' | translate}}
                </button>
                <button id="save" type="submit" class="btn btn-warning" ng-disabled="productivecollectionsheetform.$invalid == true"  ng-show="forcedSubmit" ng-click="submitCollection()">
                    {{'label.button.forcedsubmit' | translate}}
                </button>
            </div>
        </div>
    </div>
    </form>
</div>
