<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.bulkReschedule' | translate}}</li>
    </ul>
    <div class="row paddedleft paddedtop">
        <div class="col-sm-6 col-md-6">
            <div class="list-group">
                <a class="list-group-item" href="#/bulkLoanReschedule">
                    <h4 class="list-group-item-heading"><i class="icon-large icon-double-angle-right"></i>&nbsp;&nbsp;
                    {{'label.anchor.bulkLoanReschedule' | translate}}</h4>

                    <p class="list-group-item-text">{{'label.define.bulkLoanReschedule' | translate}}
                    </p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="list-group" has-permission="RESCHEDULE_SAVINGSINSTALLMENT">
                <a class="list-group-item" href="#/reschedulesavingsinstallmentduedate">
                    <h4 class="list-group-item-heading"><i class="icon-large icon-double-angle-right"></i>&nbsp;&nbsp;{{'label.anchor.bulkSavingsReschedule'| translate}}</h4>
                    <p class="list-group-item-text">{{'label.define.bulkSavingsReschedule' | translate}}</p>
                </a>
            </div>
        </div>
    </div>
</div>