<div class="col-md-12" ng-controller="ViewOfficeController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/offices">{{'label.anchor.manageoffices' | translate}}</a></li>
        <li class="active">{{office.name}}</li>
    </ul>
    <tabset class="overflowhidden marginbottom0" tabset-name="officeTabset">
        <tab heading="{{'label.heading.general' | translate}}">
            <div class="col-md-12 col-sm-12">
                <div class="row primarydiv">
                    <div class="pull-right">
                        <div class="btn-group">
                            <a href="#/editoffice/{{office.id}}" ng-hide="office.status.id == 400" class="btn btn-primary" has-permission='UPDATE_OFFICE'><i class="icon-edit icon-white"></i>{{
                                'label.button.edit' | translate }}</a>
                            <a ng-show="office.status.id == 100 && !office.isWorkflowEnabled" class="btn btn-primary" has-permission='REJECT_OFFICE' ng-click="rejectOffice()"><i class="icon-remove-circle icon-white"></i>{{
                                'label.button.reject' | translate }}</a>
                            <a ng-show="office.status.id == 100 && !office.isWorkflowEnabled" class="btn btn-primary" has-permission='ACTIVATE_OFFICE' ng-click="activateOffice()"><i class="icon-ok-sign icon-white"></i>{{
                                'label.button.activate' | translate }}</a>
                        </div>
                        <span class="btn-group dropdown" on-toggle="toggled(open)">
						    <a class="btn btn-primary dropdown-toggle">
                                {{ 'label.button.more' | translate}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#/offices/{{office.id}}/surveys">{{'label.button.view.surveys' |
                                        translate }}</a>
                                </li>
                            </ul>
						</span>
                    </div>
                </div>
                <h3><strong><i class="icon-circle {{office.status.code | StatusLookup}}"></i>&nbsp;{{office.name}}</strong></h3>
                <table class="table-bordered table view-table" style="width: 350px">
                    <tr>
                        <td>{{ 'label.heading.parentoffice' | translate }}</td>
                        <td>{{office.parentName}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.openedon' | translate }}</td>
                        <td>{{office.openingDate | DateFormat}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.namedecorated' | translate }}</td>
                        <td>{{office.nameDecorated | DotRemove}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.officeexternalid' | translate }}</td>
                        <td>{{office.externalId}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.office.code' | translate }}</td>
                        <td>{{office.officeCodeId}}</td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="{{datatable.registeredTableDisplayName == null ? datatable.registeredTableName : datatable.registeredTableDisplayName}}" ng-repeat="datatable in datatables"
             select="dataTableChange(datatable)" has-permission='READ_{{datatable.registeredTableName}}'>
            <div>
                <div class="btn-group pull-right">
                    <a ng-show="datatabledetails.isData" class="btn btn-danger pull-right"
                       ng-click="deleteAll(datatable.registeredTableName, office.id)" has-permission='DELETE_{{datatable.registeredTableName}}'><i
                            class="icon-trash icon-white"></i>{{'label.button.deleteall' | translate}}</a>
                    <a data-ng-show="showDataTableAddButton"
                       ng-href="#/makedatatableentry/{{datatable.registeredTableName}}/{{office.id}}?fromEntity=office"
                       class="btn btn-primary" has-permission='CREATE_{{datatable.registeredTableName}}'><i
                            class="icon-plus icon-white"></i>{{'label.button.add' | translate}}</a>
                    <a data-ng-show="showDataTableEditButton"
                       ng-href="#/viewsingledatatableentry/{{datatable.registeredTableName}}/{{office.id}}?mode=edit&&fromEntity=office"
                       class="btn btn-primary" has-permission='UPDATE_{{datatable.registeredTableName}}'><i
                            class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
                </div>
                <br>
                <br>

                <div ng-show="datatabledetails.isData" ng-include="'views/system/view_datatable_data.html'">

                </div>
            </div>
        </tab>
    </tabset>
    <script type="text/ng-template" id="activateOffice.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.activate' | translate}}</h3>
        </div>
        <div class="modal-body">
            <api-validate></api-validate>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="activate()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="rejectOffice.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.reject' | translate}}</h3>
        </div>
        <div class="modal-body">
            <api-validate></api-validate>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="reject()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
</div>