<div class="col-md-12" ng-controller="ViewOfficeController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/offices">{{'label.anchor.manageoffices' | translate}}</a></li>
        <li class="active">{{office.name}}</li>
    </ul>
    <tabset class="overflowhidden marginbottom0" tabset-name="officeTabset">
        <tab heading="{{'label.heading.general' | translate}}">
            <div class="col-md-12 col-sm-12">
                <div class="row primarydiv">
                    <div class="pull-right">
                        <div class="btn-group">
                            <a href="#/editoffice/{{office.id}}" ng-hide="office.status.id == 400" class="btn btn-primary" has-permission='UPDATE_OFFICE'><i class="icon-edit icon-white"></i>{{
                                'label.button.edit' | translate }}</a>
                            <a ng-show="office.status.id == 100 && !(office.isWorkflowEnabled && office.isWorkflowEnableForBranch)" class="btn btn-primary" has-permission='REJECT_OFFICE' ng-click="rejectOffice()"><i class="icon-remove-circle icon-white"></i>{{
                                'label.button.reject' | translate }}</a>
                            <a ng-show="office.status.id == 100 && !(office.isWorkflowEnabled && office.isWorkflowEnableForBranch)" class="btn btn-primary" has-permission='ACTIVATE_OFFICE' ng-click="activateOffice()"><i class="icon-ok-sign icon-white"></i>{{
                                'label.button.activate' | translate }}</a>
                            <a ng-show="office.isWorkflowEnabled == true && office.workflowId && office.isWorkflowEnableForBranch" href="#/officeworkflow/{{office.id}}/workflow" class="btn btn-primary"><i class="icon-white"></i>{{'label.heading.view.workflow' | translate}}</a>
                            <a ng-show="office.status.code == 'officeStatus.pending' && (office.isWorkflowEnabled == true && office.isWorkflowEnableForBranch) && office.workflowId == undefined" ng-click="initiateWorkflow(office.id)" class="btn btn-primary"><i class="icon-white"></i>{{'label.button.initiateworkflow' | translate}}</a>
                        </div>
                        <span class="btn-group dropdown" on-toggle="toggled(open)">
						    <a class="btn btn-primary dropdown-toggle">
                                {{ 'label.button.more' | translate}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#/offices/{{office.id}}/surveys">{{'label.button.view.surveys' |
                                        translate }}</a>
                                </li>
                            </ul>
						</span>
                    </div>
                </div>
                <h3><strong><i class="icon-circle {{office.status.code | StatusLookup}}"></i>&nbsp;{{office.name}}</strong></h3>
                <table class="table-bordered table view-table" style="width: 350px">
                    <tr>
                        <td>{{ 'label.heading.parentoffice' | translate }}</td>
                        <td>{{office.parentName}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.openedon' | translate }}</td>
                        <td>{{office.openingDate | DateFormat}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.namedecorated' | translate }}</td>
                        <td>{{office.nameDecorated | DotRemove}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.officeexternalid' | translate }}</td>
                        <td>{{office.externalId}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.heading.office.code' | translate }}</td>
                        <td>{{office.officeCodeId}}</td>
                    </tr>
                    <tr data-ng-show = "showReferenceNo">
                        <td>{{ 'label.heading.officereferenceno' | translate }}</td>
                        <td>{{office.referenceNumber}}</td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="{{'label.heading.address'|translate}}" has-permission='READ_ADDRESSES' ng-if="enableOfficeAddress" select="fetchEntityAddress()">
            <div class="pull-right">
                <a href="#/addofficeaddress/{{office.id}}" class="btn btn-primary" has-permission='CREATE_ADDRESSES'>
                    <i class="icon-plus icon-white"></i>
                    {{'label.button.add'|translate}}
                </a>
                </a>
            </div>
            <br>

            <div class="row span" style="margin-left:1px;margin-top:20px" ng-repeat="address in addressData">
                <div class="col-sm-6 col-md-6">
                    <div class="span gray-head" ng-show="addressData.length > 0">
                        <span class="boldlabel">
                            <strong ng-repeat="addressEntityType in address.addressEntityData">{{addressEntityType.addressType.name | translate}}
                                <span ng-hide="$last">|</span>
                            </strong>
                            <button type="button" ng-click="deleteAddress(address.addressId)" class="pull right btn btn-primary" has-permission='DELETE_ADDRESSES'>
                                <i class="icon-trash icon-white"></i>{{'label.button.delete' | translate}}
                            </button>
                            <a href="#/editofficeaddress/{{office.id}}/{{address.addressId}}"
                                class="pull right btn btn-primary" has-permission='UPDATE_ADDRESSES'>
                                <i class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}
                            </a>
                        </span>
                    </div>
                    <table class="table table-stripped table-bordered" ng-show="addressData.length > 0">

                        <tr>
                            <th class="table-bold-loan">{{'label.heading.houseno' | translate}}</th>
                            <td>
                                <span class="padded-td">{{address.houseNo}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-bold-loan">{{'label.heading.streetname' | translate}}</th>
                            <td>
                                <span class="padded-td">{{address.addressLineOne}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-bold-loan">{{'label.heading.address.line.two' | translate}}</th>
                            <td>
                                <span class="padded-td">{{address.addressLineTwo}}</span>
                            </td>
                        </tr>
                        <tr  ng-if = "!isLevelBasedAddressEnabled">
                            <th class="table-bold-loan">{{'label.heading.villagename' | translate}}</th>
                            <td> 
                                <span class="padded-td">{{address.villageTown}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-bold-loan">{{'label.heading.countryname' | translate}}</th>
                            <td ng-if = "!isLevelBasedAddressEnabled">
                                <span class="padded-td">{{address.countryData.countryName}}</span>
                            </td>
                            <td ng-if = "isLevelBasedAddressEnabled">
								<span class="padded-td">{{address.addressRegionValueData.Country.name}}</span>
							</td>
                        </tr>
                        <tr>
                            <th class="table-bold-loan">{{'label.heading.statename' | translate}}</th>
                            <td ng-if = "!isLevelBasedAddressEnabled">
                                <span class="padded-td">{{address.stateData.stateName}}</span>
                            </td>
                            <td ng-if = "isLevelBasedAddressEnabled">
								<span class="padded-td" ng-if = address.addressRegionValueData.State.name>{{address.addressRegionValueData.State.name}}</span>
								<span class="padded-td" ng-if = address.addressRegionValueData.Division.name>{{address.addressRegionValueData.Division.name}}</span>
							</td>
                        </tr>
                        <tr>
                            <th class="table-bold-loan">{{'label.heading.districtname' | translate}}</th>
                            <td ng-if = "!isLevelBasedAddressEnabled">
                                <span class="padded-td">{{address.districtData.districtName}}</span>
                            </td>
                            <td ng-if = "isLevelBasedAddressEnabled">
								<span class="padded-td" ng-if = address.addressRegionValueData.District.name>{{address.addressRegionValueData.District.name}}</span>
								<span class="padded-td" ng-if = address.addressRegionValueData.Township.name>{{address.addressRegionValueData.Township.name}}</span>
							</td>
                        </tr>
                        <tr ng-if = "!isLevelBasedAddressEnabled">    
                                <th class="table-bold-loan">{{'label.heading.talukname' | translate}}</th>
                                <td>
                                    <span class="padded-td">{{address.talukaData.talukaName}}</span>
                                </td>
                        </tr>
                        <tr ng-if = "talukaLevelValueExists(address)">
							<th class="table-bold-loan">{{'label.heading.talukname' | translate}}</th>
							<td>
								<span class="padded-td" ng-if = address.addressRegionValueData.Taluka.name>{{address.addressRegionValueData.Taluka.name}}</span>
								<span class="padded-td" ng-if = address.addressRegionValueData.Town.name>{{address.addressRegionValueData.Town.name}}</span>
								<span class="padded-td" ng-if = address.addressRegionValueData.VillageTract.name>{{address.addressRegionValueData.VillageTract.name}}</span>
							</td>
						</tr>
						<tr ng-if ="address.addressRegionValueData.Ward.name || address.addressRegionValueData.Village.name">
							<th class="table-bold-loan">{{'label.heading.wardAndVillage' | translate}}</th>
							<td>
								<span class="padded-td" ng-if = address.addressRegionValueData.Ward.name>{{address.addressRegionValueData.Ward.name}}</span>
								<span class="padded-td" ng-if = address.addressRegionValueData.Village.name>{{address.addressRegionValueData.Village.name}}</span>
							</td>
						</tr>
                        <tr ng-if="!pincode">
                            <th class="table-bold-loan">{{'label.heading.pincode' | translate}}</th>
                            <td>
                                <span class="padded-td">{{address.postalCode}}</span>
                            </td>
                        </tr>
                        </tr>
                    </table>
                </div>
            </div>
            <script type="text/ng-template" id="deleteaddress.html">
                <div class="modal-header silver">
                    <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
                </div>
                <div class="modal-body ">
                    <api-validate></api-validate>
                    <br>
                    <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}
                    </button>
                    <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}
                    </button>
                </div>
            </script>
        </tab>
        <tab heading="{{datatable.registeredTableDisplayName == null ? datatable.registeredTableName : datatable.registeredTableDisplayName}}" ng-repeat="datatable in datatables"
             select="dataTableChange(datatable)" has-permission='READ_{{datatable.registeredTableName}}'>
            <div>
                <div class="btn-group pull-right">
                    <a ng-show="datatabledetails.isData" class="btn btn-danger pull-right"
                       ng-click="deleteAll(datatable.registeredTableName, office.id)" has-permission='DELETE_{{datatable.registeredTableName}}'><i
                            class="icon-trash icon-white"></i>{{'label.button.deleteall' | translate}}</a>
                    <a data-ng-show="showDataTableAddButton"
                       ng-href="#/makedatatableentry/{{datatable.registeredTableName}}/{{office.id}}?fromEntity=office"
                       class="btn btn-primary" has-permission='CREATE_{{datatable.registeredTableName}}'><i
                            class="icon-plus icon-white"></i>{{'label.button.add' | translate}}</a>
                    <a data-ng-show="showDataTableEditButton"
                       ng-href="#/viewsingledatatableentry/{{datatable.registeredTableName}}/{{office.id}}?mode=edit&&fromEntity=office"
                       class="btn btn-primary" has-permission='UPDATE_{{datatable.registeredTableName}}'><i
                            class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
                </div>
                <br>
                <br>

                <div ng-show="datatabledetails.isData" ng-include="'views/system/view_datatable_data.html'">

                </div>
            </div>
        </tab>
    </tabset>
    <script type="text/ng-template" id="activateOffice.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.activate' | translate}}</h3>
        </div>
        <div class="modal-body">
            <api-validate></api-validate>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="activate()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="rejectOffice.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.reject' | translate}}</h3>
        </div>
        <div class="modal-body">
            <api-validate></api-validate>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="reject()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
</div>