<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.workingDays' | translate}}</li>
    </ul>
    <form class="form-horizontal well" ng-controller="EditWorkingDaysController" ng-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.workingDays' | translate}}</legend>
            <label class="control-label col-sm-2 width20">{{ 'label.input.workingDays' | translate }}</label>
            <div class="form-group" ng-repeat="workingDay in workingDays">
                <label class="control-label col-sm-2 width20" ng-show="showLabel(workingDay.day)" style="padding-right: 214px;"></label>

                    <input class="control-label" id="workingDay.value" type="checkbox" value="workingDay.value" ng-model="workingDay.value">

                <label>{{''+workingDay.code+'' | translate}}</label>

            <br/>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 width20" >{{ 'label.input.paymentsDueOnHolidays' | translate }}</label>
                <div class="col-sm-3">
                    <select id="selectedRepaymentType" ng-model="selectedRepaymentType"
                            data-ng-options="repaymentRescheduleType.id as repaymentRescheduleType.value for repaymentRescheduleType in repaymentRescheduleOptions"
                            value="{{repaymentRescheduleType.id}}" class="form-control">
                    </select>
                </div>
            </div>
            <hr>
<h4>{{'label.heading.advancedsetting' | translate}}[<a ng-click="showOrHideAdvancedSettings()">{{isShowAdvancedSettingForWorkingDays == true ? 'label.heading.show' : 'label.heading.hide' | translate}}</a>]
</h4>
<div class="col-md-12" ng-show="isShowAdvancedSettingForWorkingDays == false">
<div class="form-group">
    <label class="control-label col-sm-2 width20" >{{ 'label.input.non.working.days' | translate }}</label>
    <div class="col-sm-3">
        <select id="fromWeekDay" ng-model="fromWeekDay" class="form-control"
            ng-options="nonworkingdays.name as nonworkingdays.day for nonworkingdays in workingDays | filter:value==false;"
            value="{{nonworkingdays.name}}" >
            <option value="">{{'label.selectnonworkingday' | translate}}</option>
        </select>
    </div>
    <label class="control-label col-sm-2 width20" >{{ 'label.input.paymentsDueOnHolidays' | translate }}</label>
    <div class="col-sm-3">
        <select id="advancedRepaymentRescheduleType" ng-model="advancedRepaymentRescheduleType"
            data-ng-options="repaymentRescheduleTypeoption as repaymentRescheduleTypeoption.value for repaymentRescheduleTypeoption in repaymentRescheduleOptionsForAdvancedReschedule" value="{{repaymentRescheduleTypeoption}}" class="form-control">
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-2 width20" >
    <span data-ng-show="advancedRepaymentRescheduleType && (advancedRepaymentRescheduleType.id==6 ||        advancedRepaymentRescheduleType.id==7)">
        {{ 'label.input.working.days' | translate }}
        </span>
    </label>
    <div class="col-sm-3">
        <select id="toWeekDay" ng-model="toWeekDay" class="form-control"
            ng-options="workingday.name as workingday.day for workingday in workingDays | filter:!value" 
            data-ng-show="advancedRepaymentRescheduleType && (advancedRepaymentRescheduleType.id==6 ||        advancedRepaymentRescheduleType.id==7)">
            <option value="">{{'label.selectworkingday' | translate}}</option>
        </select>
    </div>
    <div class="col-sm-3">
    <button type="button" class="btn btn-primary"
        ng-click="addAdvancedDetail()">{{ 'label.button.addreschedule' | translate }}
    </button>
</div>
</div>


 <table class="table" class="width100" ng-show="advancedRescheduleDetail.length>0">
        <tr class="graybg">
                    <th>{{'label.heading.non.working.days' | translate}}</th>
                    <th>{{'label.heading.paymentdueon' | translate}}</th>
                    <th>{{'label.heading.working.days' | translate}}</th>
                    <th>{{'label.heading.actions' | translate}}</th>
        </tr>
         <tr ng-repeat="detail in advancedRescheduleDetail">
                    <td>{{displayValue(detail.fromWeekDay)}}</td>
                    <td ng-if="!detail.toWeekDay">{{detail.repaymentReschedulingType.value}}</td>
                    <td ng-if="detail.toWeekDay">{{detail.repaymentReschedulingType.value}}</td>
                    <td>{{displayValue(detail.toWeekDay)}}</td>
                   <td><a ng-click="deleteDetail($index)"><i class="icon-remove icon-white"></i></a></td>
        </tr>
 </table>

</div>
<hr>
            <div class="form-group">
                <label class="control-label col-sm-2 width20" >{{ 'label.input.extendTermForDailyRepayments' | translate }}</label>
                <div class="col-sm-3">
                    <input type="checkbox" ng-model="extendTermForDailyRepayments">
                </div>
            </div>

            <div class="col-md-offset-5">
                <a href="#/organization">
                    <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                </a>
                <button type="submit" class="btn btn-primary" has-permission='UPDATE_WORKINGDAYS'>{{'label.button.save' | translate}}</button>
            </div>
            </fieldset>
        </form>
    </div>