<div class="row paddedleft paddedtop">
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
           <a class="list-group-item" href="#/bulkcollection" has-permission='READ_BANKSTATEMENT'>
            	<h4 class="list-group-item-heading"><i class="icon-cog icon-large"></i>&nbsp;&nbsp;{{
                'label.anchor.bulkportfoliotransaction' | translate}}</h4>

            	<p class="list-group-item-text">{{ 'label.perform.bulkoperations' | translate}}</p>
        	</a>
        </div>
    </div>    
</div>