<div class="col-md-12" ng-controller="ViewFileProcessController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/fileprocess">{{'label.anchor.fileprocess' | translate}}</a></li>
        <li class="active">{{'label.anchor.view.fileprocess' | translate}}</li>
    </ul>
    <api-validate></api-validate>
    <div class="clearfix"></div>
    <div class="paddedtop10">
        <input class="col-md-4" ng-autofocus="true" ng-model="filterText" type="text" autocomplete="off"
            class="span form-control" placeholder="{{'label.input.filterbyfilenameorstatus' | translate}}">
    </div>
    <table class="table">
        <thead>
            <tr class="graybg">
                <th>{{'label.heading.filename' | translate}}</th>
                <th>{{'label.heading.status' | translate}}</th>
                <th>{{'label.heading.pendingrecords' | translate}}</th>
                <th>{{'label.heading.successedrecords' | translate}}</th>
                <th>{{'label.heading.failedrecords' | translate}}</th>
                <th>{{'label.heading.totalrecords' | translate}}</th>
                <th>{{'label.heading.uploadedDate' | translate}}</th>
                <th>{{'label.heading.actions' | translate}}</th>
            </tr>
        </thead>
    
        <tbody>
            <tr class="pointer-main"
                dir-paginate="fileProcess in fileProcesses | filter:filterText | itemsPerPage: recordsPerPage"
                total-items="totalRecords">
                <td>{{fileProcess.fileName}}</td>
                <td>{{fileProcess.status.value}}</td>
                <td>{{fileProcess.totalPendingRecords}}</td>
                <td>{{fileProcess.totalSuccessRecords}}</td>
                <td>{{fileProcess.totalFailureRecords}}</td>
                <td>{{fileProcess.totalRecords}}</td>
                <td>{{fileProcess.createdDate | DateFormat}}</td>
                <td>
                    <a target="_blank" ng-click="download(fileProcess)" has-permission='DOWNLOAD_DOCUMENT'><i
                            class="icon-cloud-download"></i></a>&nbsp;
                    <a ng-click="fetchUpdatedData(fileProcess)"><i class="icon-refresh"></i></a>
                </td>
            </tr>
        </tbody>
    
    </table>
<dir-pagination-controls boundary-links="true"
    template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"
    on-page-change="getResultsPage(newPageNumber)"></dir-pagination-controls>
</div>