<div class="col-md-12" data-ng-controller="AddAccountNumberPreferencesController">
    <ul class="breadcrumb">
        <li><a href="#/accountnumberpreferences">{{'label.anchor.accountNumberPreferences' | translate}}</a></li>
        <li class="active">{{'label.anchor.addAccountNumberPreferences' | translate}}</li>
    </ul>
    <form name="addprefform" novalidate="" class="form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.addAccountNumberPreferences' | translate}}</legend>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.accountType' | translate}}<span class="required">*</span></label>

                <div class="col-sm-3">
                    <select chosen="accountTypeOptions" id="accountType" ng-model="formData.accountType"  class="form-control"
                            ng-options="accountType.id as accountType.value for accountType in accountTypeOptions" value="{{accountType.id}}"
                            ng-change="getPrefixTypeOptions(formData.accountType)">
                        <option value="">--{{'label.menu.selectAccountType' | translate}}--</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.generationtype' | translate}}<span class="required">*</span></label>

                <div class="col-sm-3">
                    <select id="generationType" name="generationType" ng-model="formData.generationType"
                                ng-options="type for type in generationType" class="form-control" required>
                        <option value="">{{'label.input.generationtype' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-show="formData.generationType == 'ID_BASED'">
                <label class="control-label col-sm-2">{{'label.input.prefixField' | translate}}</label>
                <div class="col-sm-3">
                    <select chosen="prefixTypeOptions" id="accountNumberPrefixType" ng-model="formData.prefixType"  class="form-control"
                            ng-options="accountNumberPrefixType.id as accountNumberPrefixType.value for accountNumberPrefixType in prefixTypeOptions" value="{{accountType.id}}">
                        <option value="">--{{'label.menu.selectPrefixField' | translate}}--</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-show="formData.generationType == 'SEQUENCE_BASED'">
                <label class="control-label col-sm-2">{{'label.input.sequencedetail' | translate}}<span class="required">*</span></label>
                <div class="col-sm-3">
                    <select chosen="sequenceDetails" id="sequenceDetail" ng-model="formData.sequenceDetailId"  class="form-control"
                            ng-options="sequenceDetail.id as sequenceDetail.name for sequenceDetail in sequenceDetails" value="{{sequenceDetail.id}}">
                        <option value="">--{{'label.menu.selectedSequencedetail' | translate}}--</option>
                    </select>
                </div>
            </div>

            <div class="col-md-offset-5">
                <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                <button id="submit" type="button" class="btn btn-primary" ng-click="submit()" has-permission='CREATE_ACCOUNTNUMBERFORMAT'>{{'label.button.save' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>