<div class="col-md-12" ng-controller="EditHookController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
            <li><a href="#/hooks">{{'label.anchor.managehooks' | translate}}</a></li>
            <li><a href="#/viewhook/{{hookId}}">{{hook.name}}</a></li>
            <li class="active">{{'label.anchor.edithook' | translate}}</li>
        </ul>
    </div>
     <form name="edithookform" novalidate="" class="form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.edithook' | translate}}</legend>

            <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.hooktemplate' | translate}}<span class="required">*</span></label>
    
                <div class="col-sm-3">
                    <input type="text" autocomplete="off" id="templateName" name="templateName" ng-model="formData.name" class="form-control" required late-Validate disabled="disabled" />
                </div>
            </div>
            
            <div class="form-group">
            <label class="control-label col-sm-2" for="displayname">{{'label.input.displayname' | translate}}<span
                        class="required">*</span></label>
                        
                <div class="col-sm-3">
                    <input type="text" autocomplete="off" id="displayname" name="displayname" ng-model="formData.displayName" class="form-control" required late-Validate/>
                </div>
                <div class="col-sm-3">
                    <form-validate valattributeform="edithookform" valattribute="displayname"/>
                </div>
            </div>
            
            <div class="form-group">
            <label class="control-label col-sm-2">{{'label.input.active' | translate}}</label>
                <div class="col-sm-3">
                    <input type="checkbox" ng-model="formData.isActive"/>
                </div>
            </div>
            
            <div class="form-group" ng-repeat="s in template.schema">
            <label class="control-label col-sm-2" ng-if="s.optional">{{s.fieldName}}</label>
            <label class="control-label col-sm-2" ng-if="s.optional == false">{{s.fieldName}} <span class="required">*</span></label>
                <div class="col-sm-3" ng-switch on="s.fieldType" ng-if="s.optional">
                    <input ng-switch-when="string" type="text" autocomplete="off" id="{{s.fieldName}}" name="{{s.fieldName}}" class="form-control" ng-model="schemaInputs[$index]" />
                    <input ng-switch-when="password" type="password" id="{{s.fieldName}}" name="{{s.fieldName}}" class="form-control" ng-model="schemaInputs[$index]" />
                    <input ng-switch-when="boolean" type="checkbox" id="{{s.fieldName}}" name="{{s.fieldName}}" class="form-control" ng-model="schemaInputs[$index]" />
                </div>
                <div class="col-sm-3" ng-switch on="s.fieldType" ng-if="!s.optional">
                    <input ng-switch-when="string" type="text" autocomplete="off" id="{{s.fieldName}}" name="{{s.fieldName}}" class="form-control" ng-model="schemaInputs[$index]" required late-Validate />
                    <input ng-switch-when="password" type="password" id="{{s.fieldName}}" name="{{s.fieldName}}" class="form-control" ng-model="schemaInputs[$index]" required late-Validate />
                    <input ng-switch-when="boolean" type="checkbox" id="{{s.fieldName}}" name="{{s.fieldName}}" class="form-control" ng-model="schemaInputs[$index]" required late-Validate />
                </div>
            </div>

            <div class="form-group" ng-show="showUgdTemplatesDropdown">
                <label class="control-label col-sm-2">{{'label.input.ugdtemplate' | translate}}</label>
                <div class="col-sm-3">
                    <select ng-model="ugdTemplate"
                            ng-options="ugdTemplate as ugdTemplate.name for ugdTemplate in ugdTemplates | filter:filterText"
                            value="{{ugdTemplate.name}}" class="form-control">
                        <option style="display:none" value="">{{'label.selectugdtemplate' | translate}}</option>
                    </select>
                </div>
            </div>

            <hr/>
               

            <div class="col-md-offset-3">
                <a id="cancel" href="#/viewhook/{{hookId}}">
                    <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
                </a>
                <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_HOOK'>{{'label.button.save' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>

