<div class="col-md-12" ng-controller="ViewDataTableController">
    <div id="viewlptop">
        <div class="paddedbottom10">
            <ul class="breadcrumb">
                <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
                <li><a href="#/datatables">{{'label.anchor.managedatatables' | translate}}</a></li>
                <li class="active">{{datatable.registeredTableName}}</li>
            </ul>
        </div>
        <div>
            <div class="pull-right">
                <div class="btn-group">
                    <a href="#/editdatatable/{{datatable.registeredTableName}}" class="btn btn-primary" has-permission='UPDATE_DATATABLE'><i
                            class="icon-edit icon-white"></i> {{'label.button.edit' | translate}}</a>
                    <button type="button" class="btn btn-warning" ng-click="deleteTable()" has-permission='DELETE_DATATABLE'><i
                            class="icon-trash icon-white"></i> {{'label.button.delete' | translate}}
                    </button>
                </div>
            </div>
            <script type="text/ng-template" id="deletetable.html">
                <div class="modal-header silver">
                    <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
                </div>
                <div class="modal-body ">
                    <api-validate></api-validate>
                    <br>
                    <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                    <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
                </div>
            </script>
            <legend>{{datatable.registeredTableName}}</legend>
                       
            <h4 ng-show ="datatable.registeredTableDisplayName">{{'label.heading.displayName'| translate}}: {{datatable.registeredTableDisplayName}}</h4>
            <strong>{{'label.heading.associatedwith' | translate}}</strong>&nbsp;&nbsp;{{datatable.applicationTableName}}
            <table class="table width100">
                <tr class="form-group">
                    <td class="width100">
                        <table class="table width100">
                            <thead>
                            <tr>
                                <th class="col-sm-2">{{'label.heading.fieldname' | translate}}</th>
                                <th class="col-sm-2">{{'label.heading.type' | translate}}</th>
                                <th class="col-sm-2">{{'label.heading.length' | translate}}</th>
                                <th class="col-sm-2">{{'label.heading.code' | translate}}</th>
                                <th class="col-sm-2">{{'label.heading.mandatory' | translate}}</th>
                                <th class="col-sm-2"></th>
                            </tr>
                        </table>
                        <div class="horizontal"  ng-repeat="column in datatable.columnHeaderData" class="width100">
                            <div  class="width100"  ng-init="columnArray[$index].isVisible = false;">
                                <table class="table width100">
                                    <tr>
                                        <td class="col-sm-2">{{column.columnName}}</td>
                                        <td class="col-sm-2">{{column.columnDisplayType}}</td>
                                        <td class="col-sm-2">{{column.columnLength}}</td>
                                        <td class="col-sm-2">{{column.columnCode}}</td>
                                        <td class="col-sm-2">{{!column.isColumnNullable}}</td>
                                        <td class="col-sm-2">
                                            <button type="button" ng-click="columnArray[$index].isVisible = !columnArray[$index].isVisible;">
                                                <span ng-bind="columnArray[$index].isVisible ? '-' : '+'"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div  class="blockquoteresult width100" ng-show="columnArray[$index].isVisible">
                                <fieldset>
                                    <label>{{ 'label.heading.columnsmetadata' | translate }}</label>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-3">{{ 'label.heading.displayname' | translate }}</label>
                                        <div class="col-sm-9">
                                            <label ng-show="column.displayName != undefined && column.displayName != 'null'">
                                                {{column.displayName | prettifyDataTableColumn}}
                                            </label>
                                            <label ng-show="column.displayName == undefined || column.displayName == 'null'">
                                                {{column.columnName | prettifyDataTableColumn}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" ng-show="column.orderPosition != undefined && column.orderPosition != 'null'">
                                        <label class="col-sm-3">{{ 'label.heading.displayposition' | translate }}</label>
                                        <div class="col-sm-9">
                                            <label>{{column.orderPosition}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" ng-show="column.dependsOnColumnName != undefined && column.dependsOnColumnName !='null'">
                                        <label class=" col-sm-3">{{ 'label.heading.associatewith' | translate }}</label>
                                        <div class=" col-sm-9">
                                            <label>{{column.dependsOnColumnName}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" ng-show="column.visible != undefined && column.visible != 'null'">
                                        <label class=" col-sm-3">{{ 'label.heading.visible' | translate }}</label>
                                        <div class=" col-sm-9">
                                            <label>{{column.visible}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" ng-show="column.mandatoryIfVisible != undefined && column.mandatoryIfVisible !='null'">
                                        <label class=" col-sm-3">{{ 'label.heading.mandatoryifvisible' | translate }}</label>
                                        <div class=" col-sm-9">
                                            <label>{{column.mandatoryIfVisible}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" ng-show="column.visibilityCriteria != undefined && column.visibilityCriteria !='null'">
                                        <label class=" col-sm-3">{{ 'label.input.showwhen' | translate }}</label>

                                        <label class=" col-sm-3">{{column.visibilityCriteria[0].columnName}}</label>

                                        <label class=" col-sm-3">{{ 'label.heading.hasvalue' | translate }}</label>

                                        <label class=" col-sm-3">{{column.visibilityCriteria[0].columnValue[0].value}}</label>

                                </div>
                                </fieldset>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-group" ng-show="datatable.scopeCriteriaData != undefined && datatable.scopeCriteriaData != ''">
                <div class="form-group">
                    <label>{{'label.input.restrictscope' | translate}}</label>
                    <div class="form-group">
                        <div  ng-repeat="scope in datatable.scopeCriteriaData">
                            <label>{{scope.name}}</label>
                            <div class="form-group">
                                <div class="col-sm-3 col-md-3">
                                    <select multiple ng-model="availableClients" class="form-control clear" >
                                        <option ng-repeat="allowedValue in scope.allowedValueOptions" value="{{allowedValue.id}}">{{allowedValue.id}} | {{allowedValue.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
