<div class="col-md-12" ng-controller="CreateBankAccountDetailController">
    <div class="paddedbottom10">
        <ul class="breadcrumb">
            <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
            <li><a href="#/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
            <li class="active">{{'label.anchor.bankaccountdetails' | translate}}</li>
        </ul>
        <apivalidate></apivalidate>
        <div ng-if="viewUIConfig.isInitiated && !viewUIConfig.isTask" class="row" ng-include="'views/bankaccountdetails/common/bank_account_common.html'"></div>
        <div ng-if="viewUIConfig.isInitiated && viewUIConfig.sTask" class="row" ng-include="'views/task/viewtask.html'"></div>
    </div>
</div>