<div ng-controller="ReviewBankAccountCommonController">
    <div><api-validate></api-validate></div>
    <div class="col-md-12 paddedtop">
        <img ng-src="{{documentImg}}" width="600"/>
    </div>
    <div ng-if="bankAccountDocuments.length>0" class="form-group paddedtop">
        <span><b>{{'uploadedDocuments' | translate}}:&nbsp;</b></span> 
        <table class="table width50" >
            <thead>
                <tr class="graybg">
                    <th>{{'label.heading.name' | translate}}</th>
                    <th>{{'label.heading.filename' | translate}}</th>                 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="document in bankAccountDocuments">
                    <td>{{document.name}}</td>
                    <td><span>{{document.fileName}}&nbsp;
                        <a target="_blank" data-ng-click="viewDocument(document)"><i
                                       class="icon-eye-open text-success"></i></a></span>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
    <form name="reviewbankaccountdetail" novalidate="" class="form-horizontal" >
    <table class="table" >
        <thead>
        <tr class="graybg">
            <th>{{'label.heading.info' | translate}}</th>
            <th>{{'label.heading.makerdata' | translate}}</th>
            <th>{{'label.heading.checkerdata' | translate}}</th>
            <th ng-if="!viewConfig.showSummary">{{'label.heading.review' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="!isElemHidden('bankAccountHolderName')">
            <td>
                {{'label.input.holdername' | translate}}
            </td>
            <td>
                {{bankAccountData.name}}
            </td>
            <td>
                {{checkerBankAccountData.name}}
            </td>
            <td ng-if="!viewConfig.showSummary">
                <input ng-show="checkerBankAccountData.name" name="bankAccountHolderName" id="bankAccountHolderName"
                       type="checkbox" ng-disabled="true"
                       ng-checked="bankAccountData.name.toLowerCase().trim()==checkerBankAccountData.name.toLowerCase().trim()"/>
            </td>
        </tr>
        <tr ng-if="!isElemHidden('bankAccountNumber')" >
            <td>
                {{'label.input.accountnumber' | translate}}
            </td>
            <td>
                {{bankAccountData.accountNumber}}
            </td>
            <td>
                {{checkerBankAccountData.accountNumber}}
            </td>
            <td ng-if="!viewConfig.showSummary">
                <input ng-show="checkerBankAccountData.accountNumber" name="bankAccountNumber" id="bankAccountNumber"
                       type="checkbox"
                       ng-disabled="true"
                       ng-checked="bankAccountData.accountNumber.toLowerCase().trim()==checkerBankAccountData.accountNumber.toLowerCase().trim()"/>
            </td>
        </tr>
        <tr ng-if="!isElemHidden('accountType')">
            <td>
                {{'label.input.accounttype' | translate}}
            </td>
            <td>
                {{bankAccountData.accountType.code | translate}}
            </td>
            <td>
                {{checkerBankAccountData.accountType.code | translate}}
            </td>
            <td ng-if="!viewConfig.showSummary">
                    <input ng-show="checkerBankAccountData.accountType" name="accountType" id="accountType"
                            type="checkbox" ng-disabled="true"
                           ng-checked="bankAccountData.accountType.code.toLowerCase().trim()==checkerBankAccountData.accountType.code.toLowerCase().trim()"/>
            </td>
        </tr>
        <tr ng-if="!isElemHidden('bankIFSCCode')" >
            <td>
                {{'label.input.ifsccode' | translate}}
            </td>
            <td>
                {{bankAccountData.ifscCode}}
            </td>
            <td>
                {{checkerBankAccountData.ifscCode}}
            </td>
            <td ng-if="!viewConfig.showSummary">
                    <input ng-show="checkerBankAccountData.ifscCode" name="bankIFSCCode" id="bankIFSCCode"
                            type="checkbox" ng-disabled="true"
                           ng-checked="bankAccountData.ifscCode.toLowerCase().trim()==checkerBankAccountData.ifscCode.toLowerCase().trim()"/>
            </td>
        </tr>
        <tr ng-if="!isElemHidden('bankName')">
            <td>
                {{'label.input.bankname' | translate}}
            </td>
            <td>
                {{bankAccountData.bankName}}
            </td>
            <td>
                {{checkerBankAccountData.bankName}}
            </td>
            <td ng-if="!viewConfig.showSummary">
                    <input ng-show="checkerBankAccountData.bankName" name="bankName" id="bankName"
                            type="checkbox" ng-disabled="true"
                           ng-checked="bankAccountData.bankName.toLowerCase().trim()==checkerBankAccountData.bankName.toLowerCase().trim()"/>
            </td>
        </tr>
        <tr ng-if="!isElemHidden('branchName')">
            <td>
                {{'label.input.branchName' | translate}}
            </td>
            <td>
                {{bankAccountData.branchName}}
            </td>
            <td>
                {{checkerBankAccountData.branchName}}
            </td>
            <td ng-if="!viewConfig.showSummary">
                    <input ng-show="checkerBankAccountData.branchName" name="branchName" id="branchName"
                           type="checkbox" ng-disabled="true"
                           ng-checked="bankAccountData.branchName.toLowerCase().trim()==checkerBankAccountData.branchName.toLowerCase().trim()"/>
            </td>
        </tr>
        <tr ng-if="!isElemHidden('bankCity')">
            <td>
                {{'label.input.bankcity' | translate}}
            </td>
            <td>
                {{bankAccountData.bankCity}}
            </td>
            <td>
                {{checkerBankAccountData.bankCity}}
            </td>
            <td ng-if="!viewConfig.showSummary">
                <input ng-show="checkerBankAccountData.bankCity" name="bankCity" id="bankCity"
                        type="checkbox" ng-disabled="true"
                       ng-checked="bankAccountData.bankCity.toLowerCase().trim()==checkerBankAccountData.bankCity.toLowerCase().trim()"/>
            </td>
        </tr>
        <tr ng-if="!isElemHidden('mobileNumber')">
            <td>
                {{'label.input.mobileNo' | translate}}
            </td>
            <td>
                {{bankAccountData.mobileNumber}}
            </td>
            <td>
                {{checkerBankAccountData.mobileNumber}}
            </td>
            <td ng-if="!viewConfig.showSummary">
                <input ng-show="checkerBankAccountData.mobileNumber" name="mobileNumber" id="mobileNumber"
                       type="checkbox" ng-disabled="true"
                       ng-checked="bankAccountData.mobileNumber.toLowerCase().trim()==checkerBankAccountData.mobileNumber.toLowerCase().trim()"/>
            </td>
        </tr>
        </tbody>
    </table>
        <div class="col-md-offset-2 paddedleft paddedtop" ng-if="!viewConfig.showSummary">
            <a id="edit" ng-click="submit()" class="btn btn-primary" has-permission="ACTIVATE_BANKACCOUNTDETAIL">{{'label.button.approve' | translate}}</a>
        </div>
    </form>
</div>
