<div ng-controller="ReviewBankAccountCommonController">
    <div>
        <api-validate></api-validate>
    </div>
    <div class="row">
        <div ng-if="bankAccountDocuments.length>0" class="form-group paddedtop col-md-6">
            <span><b>{{'label.input.attachments' | translate}}:&nbsp;</b></span>
            <table class="table">
                <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.name' | translate}}</th>
                        <th>{{'label.heading.filename' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in bankAccountDocuments">
                        <td>{{document.name}}</td>
                        <td><span>{{document.fileName}}&nbsp;
                                <a target="_blank" data-ng-click="viewDocument(document)"><i
                                        class="icon-eye-open text-success"></i></a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <image-viewer image="documentImg"></image-viewer>
        </div>

        <div class="col-md-7">
            <form name="reviewbankaccountdetail" novalidate="" class="form-horizontal">
                <table class="table">
                    <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.info' | translate}}</th>
                            <th>{{'label.heading.makerdata' | translate}}</th>
                            <th ng-if="isMakerTwoStepPresent">{{'label.heading.checkerdata' | translate}}</th>
                            <th ng-if="!viewConfig.showSummary && isMakerTwoStepPresent">
                                {{'label.heading.review' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!isElemHidden('bankAccountHolderName')">
                            <td>
                                {{'label.input.holdername' | translate}}
                            </td>
                            <td>
                                {{bankAccountDetailsData.name}}
                            </td>
                            <td>
                                {{checkerBankAccountDetailsData.name}}
                            </td>
                            <td ng-if="!viewConfig.showSummary">
                                <input ng-show="checkerBankAccountDetailsData.name" name="bankAccountHolderName"
                                    id="bankAccountHolderName" type="checkbox" ng-disabled="true"
                                    ng-checked="bankAccountDetailsData.name.toLowerCase().trim()==checkerBankAccountDetailsData.name.toLowerCase().trim()" />
                            </td>
                        </tr>
                        <tr ng-if="!isElemHidden('bankAccountNumber')">
                            <td>
                                {{'label.input.accountnumber' | translate}}
                            </td>
                            <td>
                                {{bankAccountDetailsData.accountNumber}}
                            </td>
                            <td>
                                {{checkerBankAccountDetailsData.accountNumber}}
                            </td>
                            <td ng-if="!viewConfig.showSummary">
                                <input ng-show="checkerBankAccountDetailsData.accountNumber" name="bankAccountNumber"
                                    id="bankAccountNumber" type="checkbox" ng-disabled="true"
                                    ng-checked="bankAccountDetailsData.accountNumber.toLowerCase().trim()==checkerBankAccountDetailsData.accountNumber.toLowerCase().trim()" />
                            </td>
                        </tr>
                        <tr ng-if="!isElemHidden('accountType')">
                            <td>
                                {{'label.input.accounttype' | translate}}
                            </td>
                            <td>
                                {{bankAccountDetailsData.accountType.code | translate}}
                            </td>
                            <td>
                                {{checkerBankAccountDetailsData.accountType.code | translate}}
                            </td>
                            <td ng-if="!viewConfig.showSummary">
                                <input ng-show="checkerBankAccountDetailsData.accountType" name="accountType"
                                    id="accountType" type="checkbox" ng-disabled="true"
                                    ng-checked="bankAccountDetailsData.accountType.code.toLowerCase().trim()==checkerBankAccountDetailsData.accountType.code.toLowerCase().trim()" />
                            </td>
                        </tr>
                        <tr ng-if="!isElemHidden('bankIFSCCode')">
                            <td>
                                {{'label.input.ifsccode' | translate}}
                            </td>
                            <td>
                                {{bankAccountDetailsData.ifscCode}}
                            </td>
                            <td>
                                {{checkerBankAccountDetailsData.ifscCode}}
                            </td>
                            <td ng-if="!viewConfig.showSummary">
                                <input ng-show="checkerBankAccountDetailsData.ifscCode" name="bankIFSCCode"
                                    id="bankIFSCCode" type="checkbox" ng-disabled="true"
                                    ng-checked="bankAccountDetailsData.ifscCode.toLowerCase().trim()==checkerBankAccountDetailsData.ifscCode.toLowerCase().trim()" />
                            </td>
                        </tr>
                        <tr ng-if="!isElemHidden('bankName')">
                            <td>
                                {{'label.input.bankname' | translate}}
                            </td>
                            <td>
                                {{bankAccountDetailsData.bankName}}
                            </td>
                            <td>
                                {{checkerBankAccountDetailsData.bankName}}
                            </td>
                            <td ng-if="!viewConfig.showSummary">
                                <input ng-show="checkerBankAccountDetailsData.bankName" name="bankName" id="bankName"
                                    type="checkbox" ng-disabled="true"
                                    ng-checked="bankAccountDetailsData.bankName.toLowerCase().trim()==checkerBankAccountDetailsData.bankName.toLowerCase().trim()" />
                            </td>
                        </tr>
                        <tr ng-if="!isElemHidden('branchName')">
                            <td>
                                {{'label.input.branchName' | translate}}
                            </td>
                            <td>
                                {{bankAccountDetailsData.branchName}}
                            </td>
                            <td>
                                {{checkerBankAccountDetailsData.branchName}}
                            </td>
                            <td ng-if="!viewConfig.showSummary">
                                <input ng-show="checkerBankAccountDetailsData.branchName" name="branchName"
                                    id="branchName" type="checkbox" ng-disabled="true"
                                    ng-checked="bankAccountDetailsData.branchName.toLowerCase().trim()==checkerBankAccountDetailsData.branchName.toLowerCase().trim()" />
                            </td>
                        </tr>
                        <tr ng-if="!isElemHidden('bankCity') && isMakerTwoStepPresent">
                            <td>
                                {{'label.input.bankcity' | translate}}
                            </td>
                            <td>
                                {{bankAccountDetailsData.bankCity}}
                            </td>
                            <td>
                                {{checkerBankAccountDetailsData.bankCity}}
                            </td>
                            <td ng-if="!viewConfig.showSummary">
                                <input ng-show="checkerBankAccountDetailsData.bankCity" name="bankCity" id="bankCity"
                                    type="checkbox" ng-disabled="true"
                                    ng-checked="bankAccountDetailsData.bankCity.toLowerCase().trim()==checkerBankAccountDetailsData.bankCity.toLowerCase().trim()" />
                            </td>
                        </tr>
                        <tr ng-if="!isElemHidden('mobileNumber') && isMakerTwoStepPresent">
                            <td>
                                {{'label.input.mobileNo' | translate}}
                            </td>
                            <td>
                                {{bankAccountDetailsData.mobileNumber}}
                            </td>
                            <td>
                                {{checkerBankAccountDetailsData.mobileNumber}}
                            </td>
                            <td ng-if="!viewConfig.showSummary">
                                <input ng-show="checkerBankAccountDetailsData.mobileNumber" name="mobileNumber"
                                    id="mobileNumber" type="checkbox" ng-disabled="true"
                                    ng-checked="bankAccountDetailsData.mobileNumber.toLowerCase().trim()==checkerBankAccountDetailsData.mobileNumber.toLowerCase().trim()" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-offset-2 paddedleft paddedtop" ng-if="!viewConfig.showSummary">

                    <button ng-if="isBankAccountAllowToReject()" id="bankAccountDetailsReject" class="btn btn-danger"
                        ng-click="reject()" has-permission='REJECT_BANKACCOUNTDETAIL'>
                        {{'label.button.reject' | translate}}
                    </button>

                    <a id="activate" ng-if="isBankAccountAllowToActivate()" ng-click="submit()" class="btn btn-primary"
                        has-permission="ACTIVATE_BANKACCOUNTDETAIL">{{'label.button.approve' | translate}}</a>
                </div>
            </form>
        </div>

        <div class="col-md-5" ng-if="bankAccountDetailsData.verificationStatus.id > 2 && bankAccountDetailsData.verificationStatus.id < 6">
            <h3><b>Account Holder Name Verification Status</b></h3>
            <div class="col-sm-4 multiselectmin">
                <button ng-if="bankAccountDetailsData.verificationStatus.id == 3" type="button"
                    class="btn btn-success btn-circle width100 fullscreen default-pointer">
                    <i class="icon-ok icon-white icon-4x"></i>
                </button>

                <button ng-if="bankAccountDetailsData.verificationStatus.id == 4" type="button"
                    class="btn btn-danger btn-circle width100 fullscreen default-pointer">
                    <i class="icon-remove icon-white icon-4x"></i>
                </button>

                <button ng-if="bankAccountDetailsData.verificationStatus.id == 5" type="button"
                    class="btn btn-warning btn-circle width100 fullscreen default-pointer">
                    <i class="icon-eye-open icon-white icon-4x"></i>
                </button>
            </div>

            <div class="col-sm-8">
                <label class="gray-head">As per customer declaration</label>
                <br>
                <label class="paddedbottom"><b>{{bankAccountDetailsData.verifiedByName}}</b></label>
                <br>
                <label class="gray-head">As per bank records</label>
                <br>
                <label class="paddedbottom"><b>{{bankAccountDetailsData.verificationStatus.id == 3 ? 'Matched' : bankAccountDetailsData.verificationStatus.id == 5 ? 'Partially Matched' : 'Not Matched'}}</b></label>
            </div>
        </div>
    </div>
</div>