<div class="col-md-12">
    <api-validate></api-validate>
    <legend>
        {{'label.anchor.bankaccountdetails' | translate}}
    </legend>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group paddedtop">
                <span><b>{{'label.input.holdername' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.name}}</span>
            </div>
            <div class="form-group paddedtop">
                <span><b>{{'label.input.accountnumber' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.accountNumber}}</span>
            </div>
            <div class="form-group paddedtop">
                <span><b>{{'label.input.accounttype' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.accountType.code | translate}}</span>
            </div>
            <div class="form-group paddedtop">
                <span><b>{{'label.heading.status' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.status.value | translate}}</span>
            </div>
            <div class="form-group paddedtop">
                <span><b>{{'label.input.ifsccode' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.ifscCode}}</span>
            </div>
            <div class="form-group paddedtop">
                <span><b>{{'label.input.bankname' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.bankName}}</span>
            </div>
            <div class="form-group paddedtop">
                <span><b>{{'label.input.branchName' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.branchName}}</span>
            </div>
            <div class="form-group paddedtop">
                <span><b>{{'label.input.bankcity' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.bankCity}}</span>
            </div>
            <div class="form-group paddedtop">
                <span><b>{{'label.input.mobilenumber' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.mobileNumber}}</span>
            </div>
            <div class="form-group paddedtop" ng-if="bankAccountDetailsData.email">
                <span><b>{{'label.input.email' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.email}}</span>
            </div>
            <div class="form-group paddedtop" ng-if="bankAccountDetailsData.verificationStatus.id > 0">
                <span><b>{{'label.heading.verified' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.isVerified ? 'Yes' : 'No'}}</span>
            </div>
            <div class="form-group paddedtop" ng-if="bankAccountDetailsData.verificationStatus.id > 0">
                <span><b>{{'label.heading.verified.status' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.verificationStatus.value == 'Invalid' ? 'Not Verified' : bankAccountDetailsData.verificationStatus.value}}</span>
            </div>
            <div class="form-group paddedtop"
                ng-if="bankAccountDetailsData.verificationStatus.id > 2 && bankAccountDetailsData.verifiedOn">
                <span><b>{{'label.button.verified.on' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.verifiedOn | DateTimeFormat}}</span>
            </div>
            <div class="form-group paddedtop" ng-if="bankAccountDetailsData.verifiedComment">
                <span><b>{{'label.button.verified.comment' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.verifiedComment}}</span>
            </div>
            <div class="form-group paddedtop" ng-hide="isElemHidden('lastTransactionDate')">
                <span><b>{{'label.input.last.transaction.date' | translate}}:&nbsp;</b></span>
                <span>{{bankAccountDetailsData.lastTransactionDate | DateFormat}}</span>
            </div>
        </div>

        <div class="col-md-4"
            ng-if="bankAccountDetailsData.verificationStatus.id > 2 && bankAccountDetailsData.verificationStatus.id < 6">
            <h3><b>Account Verification Name Match</b></h3>
            <div class="col-sm-4 multiselectmin">
                <button ng-if="bankAccountDetailsData.verificationStatus.id == 3" type="button"
                    class="btn btn-success btn-circle width100 fullscreen default-pointer">
                    <i class="icon-ok icon-white font-size-14pt"></i>
                </button>

                <button ng-if="bankAccountDetailsData.verificationStatus.id == 4" type="button"
                    class="btn btn-danger btn-circle width100 fullscreen default-pointer">
                    <i class="icon-remove icon-white font-size-14pt"></i>
                </button>

                <button ng-if="bankAccountDetailsData.verificationStatus.id == 5" type="button"
                    class="btn btn-warning btn-circle width100 fullscreen default-pointer">
                    <i class="icon-eye-open icon-white font-size-14pt"></i>
                </button>
            </div>

            <div class="col-sm-8">
                <label class="gray-head">As per customer declaration</label>
                <br>
                <label class="paddedbottom"><b>{{bankAccountDetailsData.name}}</b></label>
                <br>
                <label class="gray-head">As per bank records</label>
                <br>
                <label class="paddedbottom"><b>{{bankAccountDetailsData.verifiedBeneficiaryName}}</b></label>
            </div>
        </div>

        <div class="col-md-6" ng-if="bankAccountDocuments.length>0">
            <span><b>{{'label.input.attachments' | translate}}:&nbsp;</b></span>
            <table class="table">
                <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.name' | translate}}</th>
                        <th>{{'label.heading.filename' | translate}}</th>
                        <th ng-if="isBankAccountAllowToModifyable()">{{'label.heading.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in bankAccountDocuments">
                        <td>{{document.name}}</td>
                        <td>
                            <span>
                                {{document.fileName}}&nbsp;
                                <a target="_blank" data-ng-click="viewDocument(document)"><i
                                        class="icon-eye-open text-success"></i></a>
                            </span>
                        </td>
                        <td ng-if="isBankAccountAllowToModifyable()">
                            <a ng-if="document.id" ng-click="deleteDocument(document)"
                                has-permission='DELETE_BANKACCOUNTDETAILDOCUMENT'><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span ng-if="viewConfig.viewDocument==true">
                <image-viewer image="documentImg"></image-viewer>
            </span>
        </div>
    </div>
</div>

<div class="col-md-offset-0 paddedleft paddedtop paddedbottom">
    <a id="attachDocument" ng-if="isBankAccountAllowToModifyable()" ng-click="uploadDocument()" class="btn btn-primary"
        has-permission='UPDATE_BANKACCOUNTDETAIL'>{{'label.button.upload.image' | translate}}</a>

    <a ng-if="isBankAccountAllowToModifyable()" id="edit" ng-click="edit()" class="btn btn-primary"
        has-permission='UPDATE_BANKACCOUNTDETAIL'>{{'label.button.edit' | translate}}</a>

    <button ng-if="isBankAccountAllowToVerifyable()" id="bankAccountDetailsVerifyable" class="btn btn-warning"
        ng-click="initBankAccountVerification(false)"
        has-permission='VERIFY_BANKACCOUNTDETAIL'>{{'label.button.verify' | translate}}</button>

    <button ng-if="bankAccountDetailsData.verificationStatus.value=='Pending'" id="refresh" class="btn btn-success"
        ng-click="initBankAccountVerification(false)" has-permission='VERIFY_BANKACCOUNTDETAIL'>
        {{'label.button.refresh.verification.status' | translate}}
    </button>

    <button ng-if="isBankAccountAllowToReVerifyable()" id="bankAccountDetailsReVerifyable" class="btn btn-danger"
        ng-click="initBankAccountVerification(true)" has-permission='REVERIFY_BANKACCOUNTDETAIL'>
        {{'label.button.re.verify' | translate}}
    </button>

    <button ng-if="isBankAccountAllowToActivate()" id="activate" class="btn btn-primary" ng-click="activate()"
        has-permission='ACTIVATE_BANKACCOUNTDETAIL'>{{'label.button.activate' | translate}}</button>

    <button ng-if="isBankAccountAllowToDeActivate()" id="deactivate" class="btn btn-primary" ng-click="deActivate()"
        has-permission='DEACTIVATE_BANKACCOUNTDETAIL'>{{'label.button.deactivate' | translate}}</button>

    <button ng-if="isBankAccountAllowToReactivate()" id="reactivate" class="btn btn-primary" ng-click="activate()"
        has-permission='ACTIVATE_BANKACCOUNTDETAIL'>{{'label.button.reactivate' | translate}}</button>
</div>

<div>
    <script type="text/ng-template" id="uploadDocument.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.upload.image' | translate}}</h3>
        </div>
        <div class="modal-body">
        <form name="uploadDocument" novalidate="" class="form-horizontal" autocomplete="off">
            <api-validate></api-validate>
            <br>
            <div ng-if="docformatErr" class="error">
                {{docformatErrMsg | translate}}
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">{{'label.input.name' | translate}}
                <span class="required">*</span></label>
                <div class="col-sm-3">
                    <input ng-autofocus="true" type="text" autocomplete="off" id="name" name="name" ng-model="data.documentName" class="form-control" required late-Validate/>
                    <form-validate valattributeform="uploadDocument" valattribute="name"/>
                </div>
                <input type="file" ng-file-select="onFileSelect($files)" accept="image/*">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="upload()">{{'label.button.upload' | translate}}</button>
        </div>
    </script>

    <script type="text/ng-template" id="delete.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
        </div>
        <div class="modal-body">
            <api-validate></api-validate>
            
            <div ng-show="error != null" class="error">
                {{'label.error' | translate}}: {{error}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancelDelete()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="submitDelete()">{{'label.heading.delete' | translate}}</button>
        </div>
    </script>
</div>

<div class="col-md-12">
    <a class="" ng-click="displayAuditLogs()">{{'label.button.audit.log' | translate}}</a>
</div>
<div ng-if="auditLogs" class="row client">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>{{"label.heading.audit.action" | translate}}</th>
                <th>{{"label.heading.audit.updateDate"| translate}}</th>
                <th>{{"label.heading.audit.updateBy"| translate}}</th>
            </tr>
            <tr ng-repeat="audit in auditLogs">
                <td>{{audit.actionName | translate}}</td>
                <td>{{audit.madeOnDate | DateTimeFormat}}</td>
                <td>{{audit.maker}}</td>
            </tr>
        </table>
    </div>

</div>
</div>