<div ng-controller="MapLoanProductController">
    <div class="modal-header">
        <h3>{{'label.view.map.loanproduct' | translate}}{{categoryId}}</h3>
    </div>
    <br>
    <div>
        <api-validate></api-validate>
        <form name="mapLoanProduct" novalidate="" class="form-horizontal">
            <fieldset>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="productId">{{ 'label.input.product' | translate
                    }}<span class="required">*</span></label>
                    <div class="col-sm-6">
                        <select chosen="loanproducts" id="productId" name="productId" ng-model="formData.productId"
                            class="form-control" ng-options="product.id as product.name for product in loanproducts"
                            value="{{product.id}}" required late-validate="">
                            <option value="">{{'label.menu.selectloanproducts' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <form-validate valattributeform="mapLoanProduct" valattribute="productId" />
                    </div>
                </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
        <button class="btn btn-primary" ng-click="submit()" has-permission='CREATE_CATEGORYTOPRODUCTMAPPING'>{{'label.button.save' | translate}}</button>
    </div>
    </fieldset>
    </form>
</div>
</div>