<div class="col-md-12" ng-controller="ViewProductCategoryController">
    <div class="paddedbottom10">
        <ul class="breadcrumb">
            <li><a href="#/products">{{'label.anchor.products' | translate}}</a></li>
            <li><a href="#/productcategories">{{'label.anchor.productcategories' | translate}}</a></li>
            <li class="active">{{category.displayName}}</li>
        </ul>
    </div>
    <div>
        <legend>
            <h3><b>{{'label.heading.category.details' | translate}}</b></h3>
        </legend>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group paddedtop">
                    <span>{{'label.heading.categoryId' | translate}}&nbsp;</span>
                </div>
                <div class="form-group">
                    <span>{{'label.heading.displayname' | translate}}&nbsp;</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>{{category.categoryId}}&nbsp;&nbsp;</span>
                </div>
                <div class="form-group">
                    <span>{{category.displayName}}</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <th>{{'label.heading.mapped.loanproducts' | translate}} <a ng-click="mapLoanProduct(categoryId)"
                            class="btn btn-primary pull-right" has-permission='CREATE_PRODUCTLIMIT'>
                            <i class="icon-plus icon-white"></i> {{'label.button.add' | translate }}</a></th>

                    <tbody ng-if="!isLoanProductsEmpty">
                        <tr ng-repeat="product in products.loanProducts">
                            <td>{{product.name}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="isLoanProductsEmpty">
                        <tr>
                            <td>
                                {{'label.view.no.product.attached.to.category'|translate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <th>{{'label.heading.mapped.savingsproducts' | translate}}<a
                            ng-click="mapSavingsProduct(categoryId)" class="btn btn-primary pull-right"
                            has-permission='CREATE_PRODUCTLIMIT'>
                            <i class="icon-plus icon-white"></i> {{'label.button.add' | translate }}</a></th>
                    <tbody ng-if="!isSavingsProductsEmpty">
                        <tr ng-repeat="product in products.savingsProducts">
                            <td>{{product.name}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="isSavingsProductsEmpty">
                        <tr>
                            <td>
                                {{'label.view.no.product.attached.to.category'|translate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>