<div>
    <table class="table">
    <tr>
        <th>{{'label.heading.user' |translate}}</th>
        <th>{{'label.heading.branch' | translate}}</th>
        <th>{{'label.device.id' | translate}}</th>
        <th>{{'label.imei.number' | translate }}</th>
        <th>{{'label.device.model' | translate}}</th>
        <th>{{'label.heading.action' | translate}}</th>
    </tr>
    <tr ng-if="registeredUserDevices.currentPageItems.length > 0" ng-repeat="userDevice in registeredUserDevices.currentPageItems">

        <td ng-click="routeToUser(userDevice.appUserData.id)"><a>{{userDevice.appUserData.username}}</a></td>
        <td class=" col-md-2" >{{userDevice.appUserData.officeName}}</td>
        <td ng-click="routeTo(userDevice.registeredDeviceData.id)"><a>{{userDevice.registeredDeviceData.deviceId}}</a></td>
        <td ng-click="routeTo(userDevice.registeredDeviceData.id)"><a>{{userDevice.registeredDeviceData.imeiNumber}}</a></td>
        <td ng-click="routeTo(userDevice.registeredDeviceData.id)"><a>{{userDevice.registeredDeviceData.deviceModel}}</a></td>
        <td>
            <a has-permission='ACTIVATE_REGISTERED_DEVICE' ng-click="userActionOnDevice(userDevice,'activate')">{{'label.button.link' | translate}}</a> |
            <a has-permission='DEACTIVATE_REGISTERED_DEVICE' ng-click="userActionOnDevice(userDevice,'deactivate')">{{'label.button.unlink' | translate}}</a>
        </td>
    </tr>
    </table>
    <ul class="pager">
        <li class="previous">
            <a id="prev" ng-click="registeredUserDevices.previous()" href=""
                ng-hide="!registeredUserDevices.hasPrevious()">&larr; {{'label.button.previous' | translate}}
            </a>
        </li>
        <li class="next">
            <a id="next" ng-click="registeredUserDevices.next()" href=""
                ng-hide="!registeredUserDevices.hasNext()">{{'label.button.next' | translate}} &rarr;
            </a>
        </li>
    </ul>
</div>