<div class="col-md-12" ng-controller="TransferCenterController">
    <script type="text/ng-template" id="submitdetail.html">
        <div class="modal-header silver">
            
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <h3 class="bolder">{{'label.heading.transfer.client.active.loan.update.repayment.schedule' | translate}}</h3>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="confirm()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#/organization">{{'label.anchor.organization' | translate}}</a>
            </li>
            <li>
                <a href="#/transfer">{{'label.anchor.transfer' | translate}}</a>
            </li>
            <li class="active">{{'label.anchor.center.transfer' | translate}}</li>
        </ul>
    </div>
    <api-validate></api-validate>
    <div class="error">
        <div ng-show="sameOfficeError">{{'error.msg.branch.transfer.to.same.office' | translate}}</div>
        <div ng-show="toVillageMandatoryError">{{'error.msg.destination.village.is.mandatory' | translate}}</div>
        <div ng-show="toStaffMandatoryError">{{'error.msg.destination.staff.is.mandatory' | translate}}</div>
        <div ng-show="noCentersSelectedError">{{'error.msg.no.centers.selected' | translate}}</div>
        <div ng-show="toOfficeMandatoryError">{{'error.msg.destination.office.is.mandatory' | translate}}</div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="col-sm-12" style="padding-top:10px">
            <select chosen="offices" id="fromOfficeId" ng-model="fromOfficeId" ng-change="fromOfficeChange()" class="form-control" ng-options="office.id as office.name for office in offices"
                value="{{office.id}}">
                <option value="">{{'label.menu.selectoffice' | translate}}</option>
            </select>
        </div>
        <div class="col-sm-12" style="padding-top:10px" ng-show="!createWithoutVillage">
            <select chosen="fromVillages" id="fromVillageId" name="fromVillageId" ng-model="fromVillageId" ng-options="fromVillage.villageId as fromVillage.villageName for fromVillage in fromVillages"
                value="{{fromVillage.villageId}}" class="form-control">
                <option value="">{{'label.menu.selectvillage' | translate}}</option>
            </select>
        </div>
        <div class="col-sm-12" style="padding-top:10px">
            <select chosen="fromStaffs" id="fromStaffId" name="fromStaffId" ng-model="fromStaffId" ng-options="fromStaff.id as fromStaff.displayName for fromStaff in fromStaffs"
                value="{{fromStaff.id}}" class="form-control">
                <option value="">{{'label.menu.selectstaff' | translate}}</option>
            </select>
        </div>
        <div class="col-sm-12" style="padding-top:10px">
            <button type="button" class="btn btn-primary" data-ng-click="fetchCenters()">{{ 'label.button.fetchcenters' | translate
                }}</button>
        </div>
        <div ng-repeat="center in fromCenters" class="col-sm-12" style="margin-top:10px" ng-init="center.checked=false" ng-show="isCenterSelected(center.id) && !referenceNumber">
            <input type="checkbox" ng-model="center.checked" ng-change="selectCenters(center)"> {{center.name}}-({{center.referenceNumber}})
        </div>
        <div ng-repeat="center in fromCenters" class="col-sm-12" style="margin-top:10px" ng-init="center.checked=false" ng-show="isCenterSelected(center.id) && referenceNumber">
            <input type="checkbox" ng-model="center.checked" ng-change="selectCenters(center)"> {{center.name}}
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="col-sm-12" style="padding-top:10px">
            <select chosen="toOffices" id="toOffice" ng-model="toOffice" class="form-control" ng-change="toOfficeChange()" ng-options="transferToOffice as transferToOffice.name for transferToOffice in toOffices"
                value="{{transferToOffice.id}}">
                <option value="">{{'label.menu.selectoffice' | translate}}</option>
            </select>
        </div>
        <div class="col-sm-12" style="padding-top:10px" ng-show="!createWithoutVillage">
            <select chosen="toVillages" id="toVillageId" name="toVillage" ng-model="toVillage" ng-options="toVillage as toVillage.villageName for toVillage in toVillages"
                value="{{toVillage.villageId}}" class="form-control">
                <option value="">{{'label.menu.selectvillage' | translate}}</option>
            </select>
        </div>
        <div class="col-sm-12" style="padding-top:10px">
            <select chosen="toStaffs" id="toStaff" name="toStaffId" ng-model="toStaff" ng-options="toStaff as toStaff.displayName for toStaff in toStaffs"
                value="{{toStaff.id}}" class="form-control">
                <option value="">{{'label.menu.selectstaff' | translate}}</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12">

        <div class="col-md-offset-5">
            <a id="cancel" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</a>
            <button id="save" type="submit" ng-click="addCentersToTransfer()" class="btn btn-primary">{{'label.button.add' | translate}}</button>
        </div>
    </div>

    <div class="col-sm-12" ng-show="dataList.length>0">
        <table class="table well ">
            <thead>
                <tr class="graybg" style="height:60px;">
                    <th>{{'label.heading.centers' | translate}}</th>
                    <th>{{'label.heading.office' | translate}}</th>
                    <th>{{'label.heading.villagename' | translate}}</th>
                    <th>{{'label.heading.staff' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="($index%2!=0)?'graybg':''" ng-repeat="data in dataList" style="height:60px;cursor: pointer;">
                    <td class="pointer">
                        <div class="col-sm-12" ng-repeat="center in data.centers">
                            <span>{{center.name}}</span>
                        </div>
                    </td>
                    <td class="pointer">{{data.office.name}}</td>
                    <td class="pointer">{{data.village.name}}</td>
                    <td class="pointer">{{data.staff.name}}</td>
                    <td>
                        <button type="button" ng-click="remove($index)" class="btn btn-danger">
                            <i tooltip="Delete" class="icon-trash icon-white"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-offset-5">
            <a id="cancel" class="btn btn-default" ng-click="deleteSubmitDetails()">{{'label.button.cancel' | translate}}</a>
            <button id="submit" type="submit" ng-click="submitDetails()" class="btn btn-primary" has-permission='CREATE_TRANSFER_ENTITY'>{{'label.button.submit' | translate}}</button>
        </div>
    </div>
</div>