<div class="col-md-12" ng-controller="ViewVillageTransferController">
    <ul class="breadcrumb">
        <li>
            <a href="#/organization">{{'label.anchor.organization' | translate}}</a>
        </li>
        <li>
            <a href="#/transfer">{{'label.anchor.transfer' | translate}}</a>
        </li>
        <li class="active">{{'label.anchor.view.village.transfer' | translate}}</li>
    </ul>
    <div class="pull-right btn-group">
        <a has-permission="CREATE_TRANSFER_ENTITY" href="#/transfer/village" class="btn btn-primary">
            <i class="icon-plus icon-white"></i>{{ 'label.button.villagetransfer' | translate }}</a>
    </div>
    <api-validate></api-validate>
    <table class="table well">
        <thead>
            <tr class="graybg">
                <th class="col-md-2">{{'label.heading.status' | translate}}</th>
                <th class="col-md-2">{{'label.heading.villages' | translate}}</th>
                <th class="col-md-2">{{'label.heading.office' | translate}}</th>               
                <th class="col-md-2">{{'label.heading.staff' | translate}}</th>
                <th class="col-md-2">{{'label.heading.action' | translate}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="bulkTransfer in bulkTransfers">
                <td class="col-md-2">{{bulkTransfer.status.value}}</td>
                <td colspan="3" class="col-md-8">
                    <table class="table well">
                        <tbody>
                            <tr ng-class="($index%2!=0)?'graybg':''" ng-repeat="data in bulkTransfer.dataList"
                                style="height:60px;cursor: pointer;">
                                <td class="col-md-2" style="padding-left: 1px;">
                                    <div ng-repeat="village in data.villages"><label>{{village.name}}</label></div>
                                </td>
                                <td class="col-md-2">{{data.office.name}}</td>
                                <td class="col-md-2">{{data.staff.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="col-md-2">
                    <div class="btn-group" ng-show="bulkTransfer.status.id==100">
                        <button type="button" has-permission="REJECT_TRANSFER_ENTITIES" class="btn btn-danger btn-lg" ng-click="submit(bulkTransfer.id,'reject')">
                            <i tooltip="{{'label.tooltip.reject' | translate}}" class="icon-remove icon-white"></i>
                        </button>
                        <button type="button" has-permission="APPROVE_TRANSFER_ENTITIES" class="btn btn-info btn-lg" ng-click="submit(bulkTransfer.id,'approve')">
                            <i tooltip="{{'label.tooltip.approve' | translate}}" class="icon-ok icon-white"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/ng-template" id="villagetransferaction.html">
    <div class="modal-header silver">
        <h3 class="bolder" ng-show="isApproveAction">{{'label.heading.approve' | translate}}</h3>
        <h3 class="bolder" ng-hide="isApproveAction">{{'label.heading.reject' | translate}}</h3>
    </div>
    <div class="modal-body ">
        <api-validate></api-validate>
        <br>
        <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
        <button class="btn btn-primary" ng-click="confirm()">{{'label.button.confirm' | translate}}</button>
    </div>
</script>
</div>