<div ng-controller="ViewCreditBureauReportController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/viewclient/{{clientId}}">{{creditBureauEnquiry.client.displayName}}</a></li>
            <li class="active">{{'label.anchor.creditbureauteport' | translate}}</li>
        </ul>
    </div>
    <api-validate></api-validate>
    <div class="col-md-12 col-sm-12">
        <div class="row client">
            <form class="well form-inline">
                <div class="span gray-head">
                    <span class="boldlabel">
                          <strong>{{'label.anchor.creditbureauteport' | translate}}</strong>
                    </span>
                    <div class="pull-right" 
                        ng-if="creditBureauEnquiry.status.value == 'SUCCESS'">
                        <button type="button" class="btn btn-primary" 
                            ng-click="creditBureauReportView();"
                                has-permission='READ_CREDIT_BUREAU_REPORT'>{{'label.button.view.report.file' |
                            translate}}
                        </button>
                    </div>
                </div>
                <br>
                <div ng-if="creditBureauEnquiries && creditBureauEnquiries.length > 0">
                     <div class ="col-md-12">
                         <div class ="col-md-6">
                             <table class="table table-striped">
                                <tr>
                                    <td>{{'label.heading.clientname' | translate}}</td>
                                    <td>{{creditBureauEnquiry.client.displayName}}</td>
                                </tr>
                                <tr>
                                    <td>{{'label.heading.creditbureau' | translate}}</td>
                                    <td>{{creditBureauEnquiry.creditBureauProduct.name}}</td>
                                </tr>
                                <tr>
                                    <td>{{'label.heading.initiatedon' | translate}}</td>
                                    <td>{{creditBureauEnquiry.createdDate| DateFormat}}</td>
                                </tr>
                                <tr>
                                    <td>{{'label.heading.loanproduct' | translate}}</td>
                                    <td>{{creditBureauEnquiry.loanProduct.name}}</td>
                                </tr>
                                <tr>
                                    <td>{{'label.heading.amount' | translate}}</td>
                                    <td>{{creditBureauEnquiry.enquiryLoanAmount| number}}</td>
                                </tr>
                             </table> 
                         </div>
                         <div class ="col-md-6">
                             <table class="table table-striped">
                                <tr>
                                    <td>{{'label.heading.status' | translate}}</td>
                                    <td>{{creditBureauEnquiry.status.value}}</td>
                                </tr>
                                <tr>
                                    <td>{{'label.heading.referenceNumber' | translate}}</td>
                                    <td>{{creditBureauEnquiry.referenceNumber}}</td>
                                </tr>
                                <tr>
                                    <td>{{'label.heading.enquiry.id' | translate}}</td>
                                    <td>{{creditBureauEnquiry.id}}</td>
                                </tr>
                                <tr>
                                    <td>{{'label.heading.loanpurpose' | translate}}</td>
                                    <td>{{creditBureauEnquiry.loanPurpose.name}}</td>
                                </tr>
                             </table> 
                         </div> 
                     </div>         
                </div>
                <div class="col-md-12">               
                    <div ng-if="isResponPresent === true">
                        <div class="col-md-12" ng-if="errorMessage">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td colspan="2">
                                        <span class="boldlabel"><strong>{{'label.heading.error.details' | translate}}</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="error">
                                        <table>
                                            <tbody>
                                            <tr ng-repeat="error in errorMessage">
                                                <td>{{error.description}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-12" ng-if="cBStatus() === 'SUCCESS'">
                            <table class="table table-bordered table-striped" ng-if="activeLoan.summaries.length > 0">
                                <tr>
                                    <td colspan="2">
                                        <span class="boldlabel"><strong>{{'label.heading.cb.report.active.loans.summary' | translate}}</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.no.of.active.loans' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{activeLoan.totalSummary.noOfActiveLoans}}</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.total.outstanding.amount' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{activeLoan.totalSummary.totalOutstandingAmount | number:0}}</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.total.emi.amount' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{activeLoan.totalSummary.totalEMIAmount | number:0}}</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.overdue.amount' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{activeLoan.totalSummary.totalOverDueAmount | number}}</strong></span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-12" ng-if="cBStatus() === 'SUCCESS'">
                            <table class="table table-bordered table-striped" ng-if="closedLoan.summaries.length > 0">
                                <tr>
                                    <td colspan="2">
                                        <span class="boldlabel"><strong>Closed Loans Summary</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.no.of,closed.loans' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{closedLoan.totalSummary.noOfClosedLoans}}</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.total.disbursal.amount' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{closedLoan.totalSummary.totalDisbursalAmount | number}}</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.write.off.amount' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>{{closedLoan.totalSummary.totalWriteOffAmount | number}}</strong></span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-12" ng-if="cBStatus() === 'SUCCESS'">
                            <table class="table table-bordered table-striped" 
                               ng-if="errorMessage == undefined && activeLoan == undefined && closedLoan == undefined">
                                <tr>
                                    <td colspan="2">
                                        <span class="boldlabel"><strong>{{'label.heading.summarydetails' | translate}}
                                        </strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.no.of.active.loans' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>0</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><strong>{{'label.heading.no.of,closed.loans' | translate}}</strong></span>
                                    </td>
                                    <td>
                                        <span><strong>0</strong></span>
                                    </td>
                                </tr>       
                            </table>
                        </div>

                    </div>
                </div>
                <div class='wrapper text-center'>
                    <div class="btn-group">
                        <button type="button" data-ng-click="cancel()" class="btn btn-default">  {{'label.button.back' | translate}}</button>
                        <button type="button" class="btn btn-primary" 
                               ng-if="cBStatus() == 'PENDING'"
                                   ng-click="refreshCreditBureauReport()"
                                    has-permission='READ_INITIATE_CREDIT_BUREAU_ENQUIRY'>{{'label.button.fetch.creditbureaureport' | translate}}
                        </button>
                    </div>
                </div>           
            </form>
        </div>
    </div>
</div>